{!--
/************************************************************/
/*	BrilliantRetail 										*/
/*															*/
/*	@package	BrilliantRetail								*/
/*	@Author		David Dexter  								*/
/* 	@copyright	Copyright (c) 2010-2012						*/
/* 	@license	http://brilliantretail.com/license.html		*/
/* 	@link		http://brilliantretail.com 					*/
/*															*/
/************************************************************/
/* NOTICE													*/
/*															*/
/* THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF 	*/
/* ANY KIND, EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED	*/
/* TO THE WARRANTIES OF MERCHANTABILITY, FITNESS FOR A 		*/
/* PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT 		*/
/* SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY */
/* CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION	*/
/* OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR 	*/
/* IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER 		*/
/* DEALINGS IN THE SOFTWARE. 								*/	
/************************************************************/
!--}
<div id="sidebar">
	<h1>Account</h1>
    <ul id="submenu"> 
    	<li {if '{segment_2}' == ''}class="active"{/if}><a href="{exp:brilliant_retail:path src='customer'}">Overview</a></li>
        <li {if '{segment_2}' == 'profile'}class="active"{/if}><a href="{exp:brilliant_retail:path src='customer/profile'}">Profile</a></li>
        <li {if '{segment_2}' == 'orders' || '{segment_2}' == 'order_detail'}class="active"{/if}><a href="{exp:brilliant_retail:path src='customer/orders'}">Orders</a></li>
        <li {if '{segment_2}' == 'downloads'}class="active"{/if}><a href="{exp:brilliant_retail:path src='customer/downloads'}">Downloads</a></li>
		<li {if '{segment_2}' == 'wishlist' OR '{segment_2}' == 'wishlist_manage'}class="active"{/if}><a href="{exp:brilliant_retail:path src='customer/wishlist'}">Wishlist</a></li>
    </ul>
</div> <!-- sidebar -->