{html_head}

{metatags}

{exp:seo_lite use_last_segment="yes"}

{stylesheets}
{js_head}
{html_head_end}

{embed="global/header"
  entry_id="{last_segment_absolute_id}"
  url_title="{last_segment_absolute}"
  template="index"
  template_group="home"
}

<div id="content">
  
  <!-- Begin Page Content -->











{if logged_out}
{redirect='customer/login'}
{/if}



<body>

<!-- Header -->
<header>
    <div class="wrapper">

			{embed='_assets/topbar'}    
        
        <div id="main_menu">
            
            {embed="_assets/menu"}
		
        </div> <!-- main_menu -->
        <div class="clearboth"><!-- --></div>
    
    </div>
</header> <!-- header -->
<!-- end of Header -->

<!-- Account -->
<div id="account" class="page">
	<div class="wrapper">
    
    	{embed='customer/_sidebar'}

    	<div id="subject">
			
			{exp:brilliant_retail:show_message}
			
			<h4 id="orders_heading">Downloads</h4>
            
			<table id="orders" cellspacing="0">
            	<thead>
                	<tr>
                    	<th>Order</th>
                    	<th>Item</th>
                    	<th>Status</th>
                    	<th>Remaining</th>
                    </tr>
                </thead>
                <tbody>
                	{exp:brilliant_retail:customer_downloads}
						{downloads}
							<tr>
		                    	<td class="col1">
		                        	{order_id}</td>
		                    	<td class="col3">
		                        	<h4>{title}</h4>
		                        	<b>Notes:</b> <br />
	                        		<form action="{download_note_action}" method="post">
	                        			<textarea name="note" class="download_note">{download_note}</textarea>
	                        			<div class="btn">
					                    	<input class="inpbtn" name="" type="submit" value="save">
					                    </div>
	                        		</form>
	                        		<br />
		                        	<b>License:</b> {license}<br />
		                        	{if {download_status_id} == 1}
		                        		<a href="{download_link}" target="_blank">Download File</a>
		                        		{!--
			                        		{exp:br_upgrades:check order_download_id="{order_download_id}"}
			                        			<br />
			                        			<a hrev="{link}">Upgrade now!</a>
			                        		{/exp:br_upgrades:check}
										!--}
		                        	{if:else}
		                        		- 
		                        	{/if}</td>
		                        <td class="col5">
		                        	{download_status}</td>
		                        <td class="col5">
		                        	{download_remaining}</td>
		                    </tr>
	                    {/downloads}
                    {/exp:brilliant_retail:customer_downloads}
                </tbody>
            </table> <!-- orders -->
			
			</div> <!-- subject -->
        <div class="clearboth"><!-- --></div>
    </div>
</div> 
<!-- account -->
<!-- end of Account Page -->

{embed="_assets/footer"}













  <!-- End Page Content -->

</div>
{embed="global/footer"}
{js_foot}
{countdownjs}
{body_html_end}