{html_head}

{metatags}

{exp:seo_lite use_last_segment="yes"}

{stylesheets}
{js_head}
{html_head_end}

{embed="global/header"
  entry_id="{last_segment_absolute_id}"
  url_title="{last_segment_absolute}"
  template="index"
  template_group="home"
}

<div id="content">
  
  <!-- Begin Page Content -->











{if logged_in}
{redirect='customer'}
{/if}



<body>
<!-- Header -->
<header>
    <div class="wrapper">

			{embed='_assets/topbar'}    
        
        <div id="main_menu">
            
            {embed="_assets/menu"}
		
        </div> <!-- main_menu -->
        <div class="clearboth"><!-- --></div>
    
    </div>
</header> <!-- header -->
<!-- end of Header -->

<!-- login -->
<div id="login" class="page">
	<div class="wrapper">
    	
    	
    
    </div>
</div> <!-- login -->
<!-- end of login Page -->

{!-- push the validation into the body close with the js method. !--}

{exp:brilliant_retail:js}
	$(function(){
		$('#login_form').validate();
		$('#register_form').validate({
										rules: {
												password: {minlength : 7},
												confirm_password : { equalTo: "#password" }
										}
									});
	});
{/exp:brilliant_retail:js}

{embed="_assets/footer"}













  <!-- End Page Content -->

</div>
{embed="global/footer"}
{js_foot}
{countdownjs}
{body_html_end}