{html_head}

{metatags}

{exp:seo_lite use_last_segment="yes"}

{stylesheets}
{js_head}
{html_head_end}

{embed="global/header"
  entry_id="{last_segment_absolute_id}"
  url_title="{last_segment_absolute}"
  template="index"
  template_group="home"
}

<div id="content">
  
  <!-- Begin Page Content -->











{if logged_out}
{redirect='customer/login'}
{/if}



<body>

<!-- Header -->
<header>
    <div class="wrapper">

			{embed='_assets/topbar'}    
        
        <div id="main_menu">
            
            {embed="_assets/menu"}
		
        </div> <!-- main_menu -->
        <div class="clearboth"><!-- --></div>
    
    </div>
</header> <!-- header -->
<!-- end of Header -->

<!-- Account -->
<div id="account" class="page">
	<div class="wrapper">
    
    	{embed='customer/_sidebar'}

    	<div id="subject">
			
			{exp:brilliant_retail:show_message}
			
    		{exp:brilliant_retail:customer_profile}
	        
	        {form_open}
	   		<table id="profile">
            	<thead>
                	<tr>
                    	<th colspan="3">Profile</th>
                    </tr>
                </thead>
                <tbody>
	                <tr>
	                   	<td class="col1">
	                       	<img src="{theme}/images/profile-pic.jpg" alt="" /></td>
	     				<td valign="top">
	                 		<strong>General Info</strong><br />
	                 		<label>First Name*<br /><input class="txtinp required" name="br_fname" value="{br_fname}" type="text" /></label>
				            <label>Last Name*<br /><input class="txtinp required" name="br_lname" value="{br_lname}" type="text" /></label>
				        </td>
				        <td valign="top">
				        	<strong>&nbsp;</strong><br />
				        	<label>
				        		Email<br />{email}<br />
				        	</label>
				        	<br />
				            <label>Phone<br /><input class="txtinp" name="br_phone" value="{br_phone}" type="text" /></label></td>
					</tr>
					<tr>
						<td>&nbsp;</td>
					    <td valign="top">
								<p>&nbsp;</p>
								<strong>Billing Address</strong><br />
	                            <label>First Name*<br /><input class="txtinp required" name="br_billing_fname" value="{br_billing_fname}" type="text" /></label>
					            <label>Last Name*<br /><input class="txtinp required" name="br_billing_lname" value="{br_billing_lname}" type="text" /></label>
					            <label>Company<br /><input class="txtinp" name="br_billing_company" value="{br_billing_company}" type="text" /></label>
					            <label>Country<br />
					            	{exp:brilliant_retail:countries name="br_billing_country" id="br_billing_country" class="listinp required" value="{br_billing_country}"}
					            </label>
					            <label>Address<br /><input class="txtinp txtinp_nospace" name="br_billing_address1" value="{br_billing_address1}" type="text" /></label><input class="txtinp" name="br_billing_address2" value="{br_billing_address2}" type="text" />
					            <label>City<br /><input class="txtinp" name="br_billing_city" value="{br_billing_city}" type="text" /></label>
					            <label>State<br />
					            	{exp:brilliant_retail:states name="br_billing_state" id="br_billing_state" class="listinp required" value="{br_billing_state}" country_select="br_billing_country"}
					            </label>
					            <label>Zip/Postal Code<br /><input class="txtinp" name="br_billing_zip" value="{br_billing_zip}" type="text" /></label>
						</td>
					    <td valign="top">
					            <p>&nbsp;</p>
								<strong>Shipping Address</strong><br />
	                            <label>First Name*<br /><input class="txtinp required" name="br_shipping_fname" value="{br_shipping_fname}" type="text" /></label>
					            <label>Last Name*<br /><input class="txtinp required" name="br_shipping_lname" value="{br_shipping_lname}" type="text" /></label>
					            <label>Company<br /><input class="txtinp" name="br_shipping_company" value="{br_shipping_company}" type="text" /></label>
					            <label>Country<br />
					            	{exp:brilliant_retail:countries name="br_shipping_country" id="br_shipping_country" class="listinp required" value="{br_shipping_country}"}
					            </label>
					            <label>Address<br /><input class="txtinp txtinp_nospace" name="br_shipping_address1" value="{br_shipping_address1}" type="text" /></label><input class="txtinp" name="br_shipping_address2" value="{br_shipping_address2}" type="text" />
					            <label>City<br /><input class="txtinp" name="br_shipping_city" value="{br_shipping_city}" type="text" /></label>
					            <label>State<br />
					            	{exp:brilliant_retail:states name="br_shipping_state" id="br_shipping_state" class="listinp required" value="{br_shipping_state}" country_select="br_shipping_country"}
					            </label>
					            <label>Zip/Postal Code<br /><input class="txtinp" name="br_shipping_zip" value="{br_shipping_zip}" type="text" /></label></td>
	             	</tr>
					<tr>
						<td>&nbsp;</td>
					    <td valign="top">
	                    		<strong>Additional Info</strong><br />
                            	<label>Bio<br /><textarea class="txtarea" name="bio">{bio}</textarea></label>
            					<label>Interests<br /><textarea class="txtarea" name="interests">{interests}</textarea></label>
						</td>
					    <td valign="top">
					            <strong>Chat</strong><br />
                            	<label>AIM<br /><input class="txtinp" name="aol_im" value="{aol_im}" type="text" /></label>
					            <label>Yahoo<br /><input class="txtinp" name="yahoo_im" value="{yahoo_im}" type="text" /></label>
					            <label>MSN<br /><input class="txtinp" name="msn_im" value="{msn_im}" type="text" /></label>
					            <label>icq<br /><input class="txtinp" name="icq" value="{icq}" type="text" /></label></td>
	                </tr>
	                <tr>
	                	<td>
	                		&nbsp;</td>
	                	<td colspan="2">
							<div class="btn">
								<input class="inpbtn" name="" type="submit" value="Submit" />
							</div></td>
	                </tr>
                </tbody>
            </table> <!-- profile -->
            {form_close}
		{/exp:brilliant_retail:customer_profile}
        </div> <!-- subject -->
        <div class="clearboth"><!-- --></div>
    </div>
</div> 
<!-- account -->
<!-- end of Account Page -->
{embed="_assets/footer"}













  <!-- End Page Content -->

</div>
{embed="global/footer"}
{js_foot}
{countdownjs}
{body_html_end}