{html_head}

{metatags}

{exp:seo_lite use_last_segment="yes"}

{stylesheets}
{js_head}
{html_head_end}

{embed="global/header"
  entry_id="{last_segment_absolute_id}"
  url_title="{last_segment_absolute}"
  template="index"
  template_group="home"
}

<div id="content">
  
  <!-- Begin Page Content -->











{if logged_out}
{redirect='customer/login'}
{/if}



<body>

<!-- Header -->
<header>
    <div class="wrapper">

			{embed='_assets/topbar'}    
        
        <div id="main_menu">
            
            {embed="_assets/menu"}
		
        </div> <!-- main_menu -->
        <div class="clearboth"><!-- --></div>
    
    </div>
</header> <!-- header -->
<!-- end of Header -->

<!-- Account -->
<div id="account" class="page">
	<div class="wrapper">
    
    	{embed='customer/_sidebar'}

    	<div id="subject">
			
			{exp:brilliant_retail:show_message}
			
            {exp:brilliant_retail:wishlist}
				
				{no_results}			
					<h4 id="wishlist_heading">Wishlist</h4>
					<div id="wishlist_noresult">There are no items in your wishlist</div>
				{/no_results}

				<div id="wishlist_share">
		    		<a href="{path='wishlist/{share_hash}'}" target="_blank">Share your wishlist</a> | <a href="{path='customer/wishlist_manage'}">Manage your wishlist</a>
		    	</div>
		    	<h4 id="wishlist_heading">Wishlist</h4>
		    		<table id="wishlist" cellspacing="0">
		            	<thead>
		                	<tr>
		                    	<th class="col1">Image</th>
		                    	<th class="col2">Product</th>
		                    	<th class="col3">Public</th>
		                    </tr>
		                </thead>
		                <tbody>
							{results}
								<tr>
									<td>
										<input type="hidden" name="product_id[]" value="{product_id}" />
										<a href="/product/{url_title}">{exp:brilliant_retail:image src="{image_thumb}" width="144" height="120"}</a></td>
									<td>
										<a href="/product/{url_title}">{title}</a><br />
										{notes}<br />
										{form_open}
											<input type="hidden" name="product_id" value="{product_id}" />
											<div class="btn">
												<input type="submit" value="add to cart" class="inpbtn" />
											</div>
										{form_close}
										</td>
									<td class="col3">
										{if {is_public}}
											Yes
										{if:else}
											No
										{/if}</td>
								</tr>			
							{/results}
						</tbody>
					</table>
			{/exp:brilliant_retail:wishlist}
        </div> <!-- subject -->
        <div class="clearboth"><!-- --></div>
    </div>
</div> 
<!-- account -->
<!-- end of Account Page -->

{embed="_assets/footer"}













  <!-- End Page Content -->

</div>
{embed="global/footer"}
{js_foot}
{countdownjs}
{body_html_end}