<div class="top-counter pull-left">
  <div id="countdownLabel">Watch Videos at </div>
  <a class="btn" href="http://www.rubitv.tv">Rubi TV</a>
  {!--<div id="countdownWrapper">
    <div id="countdown"></div>
    <div id="countdownlayout">
      <div class="countdownBlock countdownDays"><span>{d1}</span> Days</div>
      <div class="countdownBlock countdownHours"><span>{h10}{h1}</span>Hrs</div>
      <div class="countdownBlock countdownMinutes"><span>{m10}{m1}</span> Min</div>
      <div class="countdownBlock countdownSeconds"><span>{s10}{s1}</span> Sec</div>
    </div>
  </div>--}
  <div id="counter">
    
  </div>
</div>