<section id="media-category-archive" class="row page-content">
  {exp:gwcode_categories channel="sermons" depth="2" show_empty="no" cat_url_title="{segment_2}" style="linear" parse="inward"}
  <div class="item span3">
    <div class="promo_thumb">
      <a href="/media/{cat_url_title}">
        {if cat_image}
          {!-- normal version --}{exp:ce_img:single src="{cat_image}" width="300" height="300" crop="yes" allow_scale_larger="yes" filename="{cat_url_title}_300_300" unique="none"}
          {!-- retina version --}{exp:ce_img:single src="{cat_image}" filename_suffix="@2x" width="600" height="600" output=" " crop="yes" allow_scale_larger="yes" filename="{cat_url_title}_300_300" unique="none"}
        {if:else}
          {!-- normal version --}{exp:ce_img:single src="/assets/img/media_square_no_image.png" width="300" height="300" crop="yes" allow_scale_larger="yes" filename="{cat_url_title}_300_300" unique="none"}
          {!-- retina version --}{exp:ce_img:single src="/assets/img/media_square_no_image.png" filename_suffix="@2x" width="600" height="600" output=" " crop="yes" allow_scale_larger="yes" filename="{cat_url_title}_300_300" unique="none"}
        {/if}
      </a>
    </div>
    <div class="promo_words">
      <h3 class="promo_words_title">
        <a href="/media/{cat_url_title}">{cat_name}</a>
      </h3>
      <ul class="promo_words_meta">
        <li class="promo_words_meta_date">{exp:channel:entries channel="sermons" limit="1" dynamic="no" category="{cat_id}" orderby="sermon_date" sort="asc"}{exp:stash:set name="cat_{cat_id}_date_first"}{sermon_date format="%M %Y"}{/exp:stash:set}{sermon_date format="%M %Y"}{/exp:channel:entries}{exp:channel:entries channel="sermons" limit="1" dynamic="no" category="{cat_id}" orderby="sermon_date" sort="desc" parse="inward"}{if "{exp:stash:get name='cat_{cat_id}_date_first'}" != "{sermon_date format='%M %Y'}"} &ndash; {sermon_date format="%M %Y"}{/if}{/exp:channel:entries}</li>
      </ul>
    </div>
  </div>
  {/exp:gwcode_categories}
</section>