<section id="media-speaker-archive" class="row page-content">
  <div class="span12">
    <div class="row">
      <header class="category-header span12">
        <div class="row">
          {exp:channel:entries channel="people" url_title="{segment_3}" limit="1"}
          <div class="category-description span12">
            {embed="global/social_buttons"}
            <h1>Sermons by {title}</h1>
          </div>
          {/exp:channel:entries}
        </div>
      </header>
    </div>
    <div id="media-archive" class="row">
      {exp:channel:entries channel="sermons" dynamic="no" orderby="sermon_date" sort="asc" search:sermon_meta="{segment_3}"}
      <div class="sermon-item promo span3" data-series-title="{categories limit="1" show_group="1" show="not 1|2"}{category_url_title}{/categories}" data-series-id="{categories limit="1" show_group="1" show="not 1|2"}{category_id}{/categories}">
        <div class ="promo_thumb">
          <a href="/media/{categories limit="1" show_group="1" show="not 1|2"}{category_url_title}{/categories}/{url_title}">
            {if sermon_external_video}
              {!-- normal version --}{exp:ce_img:single src="{sermon_external_video:thumbnail}" width="220" height="130" crop="yes" allow_scale_larger="yes" filename="{url_title}_thumb_220_130" unique="none"}
              {!-- retina version --}{exp:ce_img:single src="{sermon_external_video:thumbnail}" filename_suffix="@2x" width="440" height="260" output=" " crop="yes" allow_scale_larger="yes" filename="{url_title}_thumb_220_130" unique="none"}
            {if:else}
              {sermon_meta}
                {speaker show_expired="yes" limit="1"}
                  {if staff_photo}
                    {!-- normal version --}{exp:ce_img:single src="{staff_photo}" width="220" height="130" crop="yes" allow_scale_larger="yes" filename="{url_title}_220_130" unique="none"}
                    {!-- retina version --}{exp:ce_img:single src="{staff_photo}" filename_suffix="@2x" width="440" height="260" output=" " crop="yes" allow_scale_larger="yes" filename="{url_title}_220_130" unique="none"}
                  {if:else}
                    {!-- normal version --}{exp:ce_img:single src="/assets/img/staff_no_photo.png" width="220" height="130" crop="yes" allow_scale_larger="yes" filename="{url_title}_220_130" unique="none"}
                    {!-- retina version --}{exp:ce_img:single src="/assets/img/staff_no_photo.png" filename_suffix="@2x" width="440" height="260" output=" " crop="yes" allow_scale_larger="yes" filename="{url_title}_220_130" unique="none"}
                  {/if}
                {/speaker}
              {/sermon_meta}
            {/if}
          </a>
        </div>
        <div class="promo_words">
          <h3 class="promo_words_title">
            <a href="#">{title}</a>
          </h3>
          <ul class="promo_words_meta">
            {if sermon_date}<li class="promo_words_meta_date">{sermon_date format="%M %j, %Y"}</li>{/if}
          </ul>
        </div>
      </div>
      {/exp:channel:entries}
    </div>
  </div>
</section>
