{exp:channel:entries channel="sermons" limit="1" url_title="{segment_3}" track_views="one" dynamic="no"}
<section class="row page-content" id="{categories show='{segment_2_category_id}'}{if parent_id == '1'}sermons-view{if:else}media-view{/if}{/categories}">
  <div class="span12">
    <div class="row">   
      <div class="span8">
        <div class="row">
          <div class="span8 {if sermon_external_video}{sermon_external_video:type}{if:else}threesixteen-networks{/if}" id="player">
            {if sermon_external_video}
              {sermon_external_video:embed youtube:showinfo="0" youtube:rel="0" youtube:modestbranding="1" vimeo:title="0" vimeo:byline="0" vimeo:badge="0" vimeo:color="69259c"}
            {if:else}
              {embed="media/_player" videoid="{sermon_video_id}" videowidth="100%" videoheight="349"}
            {/if}
          </div>
        </div>
        <div class="row">
          {categories show="{segment_2_category_id}"}{if parent_id == "1"}
          {embed="media/_media_parts"}
          {/if}{/categories}
          <div class="{categories show='{segment_2_category_id}'}{if parent_id == '1'}span7{if:else}span8{/if}{/categories}">
            <div class="sermon-info">
              <div class="sermon-info-head">
                <h2 class="series-title"><a href="/media/{segment_2}">{segment_2_category_name}</a></h2>
                <h1 class="sermon-title">{title}</h1>
                <p class="sermon-meta">
                  {if sermon_date}<span class="sermon_meta_date"><time datetime="{sermon_date format="%Y-%m-%d"}">{sermon_date format="%M %j, %Y"}</time></span>{/if}
                  {if sermon_run_time}<span class="sermon_meta_length">{sermon_run_time}</span>{/if}
                </p>
              </div>
              {if sermon_summary}
              <div class="sermon-info-body">
                <h4>Synopsis:</h4>
                {sermon_summary}
              </div>
              {/if}
              <div class="sermon-info-meta">
                <ul>{sermon_meta}
                  <li><span class="sermon-meta-label">Speaker:</span><span class="sermon-meta-content">{speaker show_expired="yes" backspace="2"}<a href="/pastors/{url_title}">{title}</a>, {/speaker}</span></li>
                  {if worship}<li><span class="sermon-meta-label">Praise and Worship by:</span><span class="sermon-meta-content">{worship show_expired="yes" backspace="2"}{title}, {/worship}</span></li>{/if}
                  {if special_music}<li><span class="sermon-meta-label">Special Music by:</span><span class="sermon-meta-content">{special_music show_expired="yes" backspace="2"}{title}, {/special_music}</span></li>{/if}
                {/sermon_meta}</ul>
                
                
								{exp:channel:categories id="{segment_2_category_id}"}
                  {if cat_purchasable == "Yes"}
                  <div class="purchase">
                    
                    <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
                      <input type="hidden" name="business" value="mtrubisda@gmail.com">
                      <input type="hidden" name="lc" value="US">
                      <input type="hidden" name="currency_code" value="USD">
                      <input type="hidden" name="no_note" value="0">
                      
                      <input type="hidden" name="item_name" value="{segment_2_category_name}">
                      <input type="hidden" name="cmd" value="_xclick">
                      <input type="hidden" name="button_subtype" value="services">
                      <input type="hidden" name="bn" value="PP-BuyNowBF:btn_buynowCC_LG.gif:NonHostedGuest">
                      <input type="hidden" name="amount" value="{cat_purchasable_price}">
                      {if cat_shipping}<input type="hidden" name="shipping" value="{shipping}">{/if}
                      
                      <h4>Like this sermon? Want to purchase it?</h4>
                      
                      <p><strong>Price:</strong> ${cat_purchasable_price}
                      <div class="product-info-buttons">
                        <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_buynowCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
                        <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
                      </div>
                      
                    </form>
                    
                    
                  </div>
                  {if:elseif sermon_purchase == "yes"}
									 <div class="purchase">			
										<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
											<input type="hidden" name="business" value="mtrubisda@gmail.com">
											<input type="hidden" name="lc" value="US">
											<input type="hidden" name="currency_code" value="USD">
											<input type="hidden" name="no_note" value="0">
											
											<input type="hidden" name="item_name" value="{segment_2_category_name}{if segment_3}/{segment_3}{/if}">
											<input type="hidden" name="cmd" value="_xclick">
											<input type="hidden" name="button_subtype" value="services">
											<input type="hidden" name="bn" value="PP-BuyNowBF:btn_buynowCC_LG.gif:NonHostedGuest">
											<input type="hidden" name="amount" value="{sermon_purchase_price}">
											{if sermon_shipping}<input type="hidden" name="shipping" value="{shipping}">{/if}
											
											<h4>Like this individual sermon? Want to purchase it?</h4>
											
											<p><strong>Price:</strong> ${sermon_purchase_price}
											<div class="product-info-buttons">
												<input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_buynowCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
												<img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
											</div>				
										</form>
									</div>
								{/if}
								{/exp:channel:categories}
              </div>
              {if sermon_downloads}
              <div class="sermon-info-downloads">
                <h4>Downloads:</h4>
                <ul>
                {sermon_downloads}
                  <li><a href="{sermon_download_file}">{sermon_download_label}</a></li>
                {/sermon_downloads}
                </ul>
              </div>
              {/if}
            </div><!-- end .sermon-info -->
          </div><!-- end .span8 or span9 -->
        </div><!-- end .row -->
      </div><!-- end .span9 -->
      {exp:ce_cache:escape}{embed="media/_sidebar" show_facebook="false" show_twitter="false" default="connect"}{/exp:ce_cache:escape}
    </div>
  </div>
</section>
{/exp:channel:entries}
