<ul class='sermons-slider sermons-all '>{exp:channel:entries channel="sermons" dynamic="no" category="{embed:cat_id}" orderby="sermon_date" sort="desc"}
  <li class="sermon-item{if total_results <= 5}{if count == '5'} last{/if}{/if}" data-sermon-title="{url_title}">
    <a href="{title_permalink='media/{embed:cat_title}'}">
      <div class="cover-art">
        {if sermon_image_cover}
          {!-- normal version --}{exp:ce_img:single src="{sermon_image_cover}" width="176" height="264" crop="yes" allow_scale_larger="yes" filename="{url_title}_176" unique="none"}
          {!-- retina version --}{exp:ce_img:single src="{sermon_image_cover}" filename_suffix="@2x" width="352" height="528" output=" " crop="yes" allow_scale_larger="yes" filename="{url_title}_176" unique="none"}
        {if:else}
          {if embed:cat_image}
            {!-- normal version --}{exp:ce_img:single src="{embed:cat_image}" width="176" height="264" crop="yes" allow_scale_larger="yes" filename="{url_title}_176" unique="none"}
            {!-- retina version --}{exp:ce_img:single src="{embed:cat_image}" filename_suffix="@2x" width="352" height="528" output=" " crop="yes" allow_scale_larger="yes" filename="{url_title}_176" unique="none"}
          {if:else}
            {!-- normal version --}{exp:ce_img:single src="/assets/img/media_cover_no_image.png" width="176" height="264" crop="yes" allow_scale_larger="yes" filename="{url_title}_176" unique="none"}
            {!-- retina version --}{exp:ce_img:single src="/assets/img/media_cover_no_image.png" filename_suffix="@2x" width="352" height="528" output=" " crop="yes" allow_scale_larger="yes" filename="{url_title}_176" unique="none"}
          {/if}
        {/if}
      </div>
      <div class="info">
        <h3>{title}</h3>
        {sermon_meta}
          {if speaker}
            <p class="speaker">
            {speaker show_expired="yes" backspace="2" limit="2"}{title}, {/speaker}
            </p>
          {/if}
        {/sermon_meta}
        {if sermon_date}<p class="date">{sermon_date format="%M %j, %Y"}</p>{/if}
      </div>
    </a>
  </li>
{/exp:channel:entries}</ul>
{exp:channel:entries channel="sermons" dynamic="no" category="{embed:cat_id}"}
{if total_results > 5}{if count == total_results}
<a class="carousel-control left" href="#sermons-{embed:cat_title}" data-slide="prev">&lsaquo;</a>
<a class="carousel-control right" href="sermons-{embed:cat_title}" data-slide="next">&rsaquo;</a>
{/if}{/if}
{/exp:channel:entries}
