<div class="span1">
  <nav class="sermon-series-nav">
    <h3>Part</h3>
    <ul>
      {exp:channel:entries channel="sermons" dynamic="no" category="{segment_2_category_id}" orderby="sermon_date" sort="asc"}
      <li{if segment_3 == url_title} class="current"{/if}>
        <a href="/media/{segment_2}/{url_title}">{count}</a>
      </li>
      {/exp:channel:entries}
    </ul>
  </nav>
</div>