<script type="text/javascript" src="http://www.appstudio.piksel.com/kickFlash/scripts/swfobject2.js?2"></script>
<script type="text/javascript">
  (function(){
    var width = "{embed:videowidth}";
    var height = "{embed:videoheight}";
    var uuid = "dab9zex1";
    var swfURL = "http%3A//appasset.appstudio.piksel.com/compiled/mediasuite_STATIC_0/AppShell_dab9zex1.swf?timestamp=1348000956180";
    var jsonURL = "http%3A//player.multicastmedia.com/templates/AppStudio/CustomPlayer/0/0/dab9zex1/dab9zex1.json";
    var autoPlay = "false";
    var deliveryType = "protocol_rtmp";
    var htmlvars = 'mediaSuiteURL=http://player.multicastmedia.com/ws/get_asset_project/asset/{embed:videoid}/'+deliveryType+'/api_f4d84551-2e85-103a-a1ba-00e08655b9fc/apiv_3.5/gft_0/{embed:videoid}.xml&autoPlay='+autoPlay+'&revision=1&scaleMODE=letterbox&width='+width+'&height='+height+'&getEmbed=http%3A//player.multicastmedia.com/ws/get_single_asset_embed/a_{embed:videoid}/p_'+uuid+'/h_'+height+'/w_'+width+'/ap_'+autoPlay+'/dt_'+deliveryType+'&src='+swfURL;
    var flashvars ={
      mediaSuiteURL:"http%3A//player.multicastmedia.com/ws/get_asset_project/asset/{embed:videoid}/"+deliveryType+"/api_f4d84551-2e85-103a-a1ba-00e08655b9fc/apiv_3.5/gft_0/{embed:videoid}.xml",
      autoPlay:autoPlay,
      revision:"1",
      scaleMODE:"letterbox",
      width:width,
      height:height,
      getEmbed:"http%3A//player.multicastmedia.com/ws/get_single_asset_embed/a_{embed:videoid}/p_"+uuid+"/h_"+height+"/w_"+width+"/ap_"+autoPlay+"/dt_"+deliveryType,
      src:swfURL,
      analyticsConfigURL:"http%3A//player.multicastmedia.com/templates/MediaAnalytics/MediaSuiteProdOnDemand.xml",
      akamaiConfigData:"" 
    },
    params ={movie:'"'+swfURL+'"',pluginspage:"http%3A//www.adobe.com/go/getflashplayer",align:"middle",allowscriptAccess:"always",quality:"high",allowFullScreen:"true",wmode:"transparent",bgcolor:"#FFFFFF",menu:"false" },
    expressInstallURL = "http://www.appstudio.piksel.com/kickFlash/scripts/expressInstall2.swf?2",
    swfURL = "http://appasset.appstudio.piksel.com/compiled/mediasuite_STATIC_0/AppShell_dab9zex1.swf?timestamp=1348000956180",
    attributes={id :"kickWidget_mediasuite_"+uuid, name:"kickWidget_mediasuite_"+uuid},
    callback = function(e){ if (e.success==false){ document.getElementById("altContentDiv_eke4oo79").innerHTML ='<iframe src="http://www.appstudio.piksel.com/kickFlash/js/compiler/v2/iframe.html?affiliateSiteId=mediasuite_73&'+htmlvars+'&widgetId='+uuid+'&widgetHost=http%3A//www.appstudio.piksel.com&src=http%3A//player.multicastmedia.com/ws/get_appstudio_player_json/callback/KickUtils.scriptLoadCallbacks%5b0%5d/'+uuid+'.json&referralUrl='+escape(window.location.href)+'height="'+height+'" width="'+width+'" frameborder="0" scrolling="no" style="border:none;overflow:hidden;width:'+width+'px;height:'+height+'px"></iframe>' } };
    swfobject.embedSWF(swfURL, "altContentDiv_eke4oo79", width, height, "10", expressInstallURL, flashvars, params, attributes, callback);
  })();
</script>
<div id="altContentDiv_eke4oo79"></div>
