<section id="media-category-archive" class="row page-content">
  <div class="category-image span3">
    {if segment_2_category_image}
      {!-- normal version --}{exp:ce_img:single src="{segment_2_category_image}" width="500" height="710" crop="yes" allow_scale_larger="yes" filename="{segment_2}_500_710" unique="none"}
      {!-- retina version --}{exp:ce_img:single src="{segment_2_category_image}" filename_suffix="@2x" width="1000" height="1420" output=" " crop="yes" allow_scale_larger="yes" filename="{segment_2}_500_710" unique="none"}
    {if:else}
      {!-- normal version --}{exp:ce_img:single src="/assets/img/media_cover_no_image.png" width="500" height="710" crop="yes" allow_scale_larger="yes" filename="{segment_2}_500_710" unique="none"}
      {!-- retina version --}{exp:ce_img:single src="/assets/img/media_cover_no_image.png" filename_suffix="@2x" width="1000" height="1420" output=" " crop="yes" allow_scale_larger="yes" filename="{segment_2}_500_710" unique="none"}
    {/if}
    <a href="https://squareup.com/market/mt-rubidoux-sda-church"><h5>Purchase Series Now</h5></a>
    {exp:channel:categories id="{segment_2_category_id}"}
      {if cat_purchasable == "Yes"}
      <div class="purchase">
        
        <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
          <input type="hidden" name="business" value="mtrubisda@gmail.com">
          <input type="hidden" name="lc" value="US">
          <input type="hidden" name="currency_code" value="USD">
          <input type="hidden" name="no_note" value="0">
          
          <input type="hidden" name="item_name" value="{segment_2_category_name}">
          <input type="hidden" name="cmd" value="_xclick">
          <input type="hidden" name="button_subtype" value="services">
          <input type="hidden" name="bn" value="PP-BuyNowBF:btn_buynowCC_LG.gif:NonHostedGuest">
          <input type="hidden" name="amount" value="{cat_purchasable_price}">
          {if cat_shipping}<input type="hidden" name="shipping" value="{shipping}">{/if}
  				
          <h4>Like this sermon? Want to purchase it?</h4>
          
          <p><strong>Price:</strong> ${cat_purchasable_price}
          <div class="product-info-buttons">
            <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_buynowCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
            <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
        	</div>
          
        </form>
        
        
      </div>
      {/if}
    {/exp:channel:categories}

  </div>
  <div class="span9">
    <div class="row">
      <header class="category-header span9">
        <div class="category-description">
          <div class="grid_right">
            {embed="global/social_buttons"}
          </div>
          <h1>{segment_2_category_name}</h1>
          <h4 class="clearfix">Synopsis <span class="total-results grid_right hide">{exp:channel:entries channel="sermons" category="{segment_2_category_id}" orderby="sermon_date" sort="asc"}{if count == total_results}{total_results} Sermons{/if}{/exp:channel:entries}</span></h4>
          <p>{segment_2_category_description}</p>
        </div>
      </header>
    </div>
    <div id="media-archive" class="row">
      {exp:zeebra interval="3" intervalclass="nth-%"}
      {exp:channel:entries channel="sermons" category="{segment_2_category_id}" orderby="sermon_date" sort="asc" dynamic="no"}
      <div class="sermon-item promo span3 {zeebra}" data-series-title="{segment_2}" data-series-id="{segment_2_category_id}" data-speaker="{sermon_meta}{speaker show_expired="yes" limit="1"}{url_title}{/speaker}{/sermon_meta}">
        <div class ="promo_thumb">
          <a href="/media/{segment_2}/{url_title}">
            {sermon_meta}
              {speaker show_expired="yes"}
                {if staff_photo}
                  {!-- normal version --}{exp:ce_img:single src="{staff_photo}" width="220" height="130" crop="yes" allow_scale_larger="yes" filename="{url_title}_220_130" unique="none"}
                  {!-- retina version --}{exp:ce_img:single src="{staff_photo}" filename_suffix="@2x" width="440" height="260" output=" " crop="yes" allow_scale_larger="yes" filename="{url_title}_220_130" unique="none"}
                {if:else}
                  {!-- normal version --}{exp:ce_img:single src="/assets/img/staff_no_photo.png" width="220" height="130" crop="yes" allow_scale_larger="yes" filename="{url_title}_220_130" unique="none"}
                  {!-- retina version --}{exp:ce_img:single src="/assets/img/staff_no_photo.png" filename_suffix="@2x" width="440" height="260" output=" " crop="yes" allow_scale_larger="yes" filename="{url_title}_220_130" unique="none"}
                {/if}
              {/speaker}
            {/sermon_meta}
          </a>
        </div>
        <div class="promo_words">
          <h3 class="promo_words_title">
            <a href="#">{title}</a>
          </h3>
          <ul class="promo_words_meta">
            {if sermon_date}<li class="promo_words_meta_date">{sermon_date format="%M %j, %Y"}</li>{/if}
          </ul>
        </div>
      </div>
      {/exp:channel:entries}
      {/exp:zeebra}
    </div>
  </div>
</section>