<section id="sermons-archive" class="row page-content">
  <section id="sermons-series" class="sermons-section span12">
    <h2>Sermons By Series</h2>
    <ul class='sermons-slider sermons-all '>{exp:gwcode_categories channel="sermons" cat_id="1" output_depth="1" incl_self="no" show_empty="no" group_id="1" style="linear" parse="inward"}
      <li class="sermon-item{if total_results <= 5}{if count == '5'} last{/if}{/if}" data-series-title="{cat_url_title}" data-series-id="{cat_id}">
        <a href="/media/{cat_url_title}">
          <div class="cover-art">
            {if cat_image}
              {!-- normal version --}{exp:ce_img:single src="{cat_image}" width="176" height="264" crop="yes" allow_scale_larger="yes" filename="{cat_url_title}_176_264" unique="none"}
              {!-- retina version --}{exp:ce_img:single src="{cat_image}" filename_suffix="@2x" width="352" height="528" output=" " crop="yes" allow_scale_larger="yes" filename="{cat_url_title}_176_264" unique="none"}
            {if:else}
              {!-- normal version --}{exp:ce_img:single src="/assets/img/media_cover_no_image.png" width="176" height="264" crop="yes" filename="{cat_url_title}_176_264" unique="none"}
              {!-- retina version --}{exp:ce_img:single src="/assets/img/media_cover_no_image.png" filename_suffix="@2x" width="352" height="528" output=" " allow_scale_larger="yes" filename="{cat_url_title}_176_264" unique="none"}
            {/if}
          </div>
          <div class="info">
            <h3>{cat_name}</h3>
            <p class="date">{exp:channel:entries channel="sermons" limit="1" dynamic="no" category="{cat_id}" orderby="sermon_date" sort="asc"}{exp:stash:set name="cat_{cat_id}_date_first"}{sermon_date format="%M %Y"}{/exp:stash:set}{sermon_date format="%M %Y"}{/exp:channel:entries}{exp:channel:entries channel="sermons" limit="1" dynamic="no" category="{cat_id}" orderby="sermon_date" sort="desc" parse="inward"}{if "{exp:stash:get name='cat_{cat_id}_date_first'}" != "{sermon_date format='%M %Y'}"} &ndash; {sermon_date format="%M %Y"}{/if}{/exp:channel:entries}</p>
          </div>
        </a>
      </li>
    {/exp:gwcode_categories}</ul>
      {exp:gwcode_categories channel="sermons" cat_id="1" output_depth="1" incl_self="no" show_empty="no" group_id="1" style="linear" parse="inward"}
    {if results_total > 5}
    {if results_total == count}
    <a class="carousel-control left" href="#sermons-series">&lsaquo;</a>
    <a class="carousel-control right" href="#sermons-series">&rsaquo;</a>
    {/if}
    {/if}
    {/exp:gwcode_categories}
  </section>
  
  <section id="sermons-speaker" class="sermons-section span12">
    <h2>Sermons By Speaker</h2>
    <ul class='sermons-slider sermons-all '>{exp:low_reorder:entries set="sermons-speaker" disable="member_data|category_fields" entry_id="not 135"}
      <li class="sermon-item{if total_results <= 4} {if count == '4'} last{/if}{/if}" data-speaker-name="{url_title}">
        <a href="/media/speaker/{url_title}">
          <div class="cover-art">
            {if staff_photo}
              {!-- normal version --}{exp:ce_img:single src="{staff_photo}" width="224" height="132" crop="yes" allow_scale_larger="yes" filename="{url_title}_224_132" unique="none"}
              {!-- retina version --}{exp:ce_img:single src="{staff_photo}" filename_suffix="@2x" width="448" height="264" output=" " crop="yes" allow_scale_larger="yes" filename="{url_title}_224_132" unique="none"}
            {if:else}
              {!-- normal version --}{exp:ce_img:single src="/assets/img/staff_no_photo.png" width="224" height="132" crop="yes" allow_scale_larger="yes" filename="{url_title}_224_132" unique="none"}
              {!-- retina version --}{exp:ce_img:single src="/assets/img/staff_no_photo.png" filename_suffix="@2x" width="448" height="264" output=" " crop="yes" allow_scale_larger="yes" filename="{url_title}_224_132" unique="none"}
            {/if}
          </div>
          <div class="info">
            <h3>{title}</h3>
          </div>
        </a>
      </li>
    {/exp:low_reorder:entries}</ul>
      {exp:low_reorder:entries set="sermons-speaker" disable="member_data|category_fields"}
    {if total_results > 4}
    {if total_results == count}
    <a class="carousel-control left" href="#sermons-speaker">&lsaquo;</a>
    <a class="carousel-control right" href="#sermons-speaker">&rsaquo;</a>
    {/if}
    {/if}
    {/exp:low_reorder:entries}
  </section>
  
  {exp:gwcode_categories channel="sermons" cat_id="2" output_depth="1" incl_self="no" group_id="1" show_empty="no" style="linear" switch="odd| even" parse="inward" excl_cat_id="39"}
  <section id="sermons-{cat_url_title}" class="sermons-section span12 carousel slide {switch}" data-interval="false">
    <h2><a href="/media/{cat_url_title}">{cat_name} <span>View All <i class="icon-chevron-right"></i></span></a></h2>
    {embed="media/_media_cat_slider" cat_id="{cat_id}" cat_title="{cat_url_title}" cat_image="{cat_image}"}
  </section>
  {/exp:gwcode_categories}
</section>


































{!--<section id="sermons-archive" class="row page-content">
  <section id="sermons-all" class="sermons-section span12 carousel slide" data-interval="false">
    <h2>Sermons</h2>
    <div class="sermons-slider sermons-all carousel-inner">{exp:gwcode_categories channel="sermons" cat_id="1" output_depth="1" incl_self="no" show_empty="no" group_id="1" style="linear" parse="inward"}
      {exp:grouper:start groupby="5" count="{cat_count_in_group}" total="{results}" last_class="last"}<!-- row -->
      <div class="item{if count < 5} active{/if} {last_class}">
        <ul class='block-grid five-up'>{/exp:grouper:start}
          <li class="sermon-item {exp:grouper:nth n='5' count='{cat_count_in_group}'}last-item{/exp:grouper:nth}" data-series-title="{cat_url_title}" data-series-id="{cat_id}">
            <a href="/media/{cat_url_title}">
              <div class="cover-art">
                {if cat_image}{exp:ce_img:single src="{cat_image}" width="166" height="236" crop="yes"}{if:else}<img src="/assets/img/media_cover_no_image.png" width="166" height="236">{/if}
              </div>
              <div class="info">
                <h3>{cat_name}</h3>
                <p class="date">{exp:channel:entries channel="sermons" limit="1" dynamic="no" category="{cat_id}" orderby="sermon_date" sort="asc"}{exp:stash:set name="cat_{cat_id}_date_first"}{sermon_date format="%M %Y"}{/exp:stash:set}{sermon_date format="%M %Y"}{/exp:channel:entries}{exp:channel:entries channel="sermons" limit="1" dynamic="no" category="{cat_id}" orderby="sermon_date" sort="desc" parse="inward"}{if "{exp:stash:get name='cat_{cat_id}_date_first'}" != "{sermon_date format='%M %Y'}"} &ndash; {sermon_date format="%M %Y"}{/if}{/exp:channel:entries}</p>
              </div>
            </a>
          </li>{exp:grouper:end groupby="5" count="{cat_count_in_group}" total="{results}"}
        </ul>
      </div>
      <!-- / item -->{/exp:grouper:end}
    {/exp:gwcode_categories}
    </div><!-- / slider.sermons-all -->
    {exp:gwcode_categories channel="sermons" cat_id="1" output_depth="1" incl_self="no" show_empty="no" group_id="1" style="linear" parse="inward"}
    {if results_total > 5}
    {if results_total == count}
    <a class="carousel-control left" href="#sermons-all" data-slide="prev">&lsaquo;</a>
    <a class="carousel-control right" href="#sermons-all" data-slide="next">&rsaquo;</a>
    {/if}
    {/if}
    {/exp:gwcode_categories}
  </section>
  
  {exp:gwcode_categories channel="sermons" cat_id="2" output_depth="1" incl_self="no" group_id="1" show_empty="no" style="linear" switch="odd| even" parse="inward"}
  <section id="sermons-{cat_url_title}" class="sermons-section span12 carousel slide {switch}" data-interval="false">
    <h2><a href="/media/{cat_url_title}">{cat_name}</a></h2>
    {embed="media/_media_cat_slider" cat_id="{cat_id}" cat_title="{cat_url_title}" cat_image="{cat_image}"}
  </section>
  {/exp:gwcode_categories}
</section>--}
