<aside id="sermon-sidebar" class="{if segment_2 != 'live'}span4{/if}">
  <div id="media-witness">
    {embed="global/social_buttons" title="I'm watching {title}"}
    {!--<h4>Witness:</h4>
    <p class="sub">Tell others about this message!</p>--}
  </div>
  {if "{embed:show_buttons}" != "false"}<div class="sidebar-buttons">
	<!-- <a href="https://www.surveymonkey.com/s/NNH3T2V" class="btn btn-custom" target="_blank">Take Survey</a> -->
    <a href="#decision-lightbox" class="btn btn-custom lightbox">Decision</a>
    <a href="#prayer-lightbox" class="btn btn-custom lightbox">Prayer</a>
    <a href="/giving" class="btn btn-custom">Give</a>
    <div class="hide">
      <div id="decision-lightbox">{embed="pages/form_decision-for-christ"}</div>
      <div id="prayer-lightbox">{embed="pages/form_prayer"}</div>
    </div>
  </div>{/if}
  
  <ul class="nav nav-tabs" id="liveTabs">
    {if "{embed:show_facebook}" != "false"}<li{if "{embed:default}" == "facebook"} class="active"{/if}><a href="#facebook" data-toggle="tab">Facebook</a></li>{/if}
    {if "{embed:show_twitter}" != "false"}<li{if "{embed:default}" == "twitter"} class="active"{/if}><a href="#twitter" data-toggle="tab">Twitter</a></li>{/if}
    {if "{embed:show_bible}" != "false"}<li{if "{embed:default}" == "bible"} class="active"{/if}><a href="#bible" data-toggle="tab">Bible</a></li>{/if}
    {if "{embed:show_notes}" != "false"}<li{if "{embed:default}" == "notes"} class="active"{/if}><a href="#notes" data-toggle="tab">Notes</a></li>{/if}
    {if "{embed:show_connect}" != "false"}<li{if "{embed:default}" == "connect"} class="active"{/if}><a href="#connect" data-toggle="tab">Connect</a></li>{/if}
  </ul>
 
  <div class="tab-content">
    {if "{embed:show_facebook}" != "false"}<div class="tab-pane{if "{embed:default}" == "facebook"} active{/if}" id="facebook">
      <div class="fb-comments" data-href="{site_url}{freeway_1}{if freeway_2}/{freeway_2}{/if}{if freeway_3}/{freeway_3}{/if}{if freeway_4}/{freeway_4}{/if}" data-width="300" data-num-posts="4"></div>
    </div>{/if}
    {if "{embed:show_twitter}" != "false"}<div class="tab-pane{if "{embed:default}" == "twitter"} active{/if}" id="twitter">
      <script src="http://widgets.twimg.com/j/2/widget.js" type="text/javascript"></script>
      <script type="text/javascript">
        new TWTR.Widget({
          version: 2,
          type: 'search',
          search: ' mtrubidoux',
          interval: 6000,
          //title: '',
          subject: 'Mt. Rubidoux SDA Church',
          width: '300',
          height: '305',
          theme: {
            shell: {
              background: '#',
              color: '#'
            },
            tweets: {
              background: '#',
              color: '#',
              links: '#'
            }
          },
          features: {
            scrollbar: true,
            loop: false,
            live: true,
            hashtags: true,
            timestamp: true,
            avatars: true,
            toptweets: false,
            behavior: 'default'
          }
        }).render().start();
      </script>
    </div>{/if}
    {if "{embed:show_bible}" != "false"}<div class="tab-pane{if "{embed:default}" == "bible"} active{/if}" id="bible">
      <iframe height="389" frameborder="0"  src="http://m.youversion.com/bible/nasb/gen//"></iframe>
    </div>{/if}
    {if "{embed:show_notes}" != "false"}<div class="tab-pane{if "{embed:default}" == "notes"} active{/if}" id="notes">
          
      {exp:email:contact_form charset="utf-8" form_id="notesEmailerForm" user_recipients="yes" allow_html='no' form_target="emailFrame" return="{site_url}live/confirmation|Close this window"}
      <div class="hide">
        <input type="hidden" id="from" name="from" value="info@mtrubidouxsda.org" />
        <input type="hidden" id="name" name="name" value="Mt. Rubidoux SDA Church" />
        <input type="hidden" id="subject" name="subject" value="Your Sermon Notes" />
      </div>
          
      <div id="notesContainer2" class="notesContainer2">
        <div class="notesPadding2">
          <div class="notesTabInner">
            <textarea id="message" name="message"></textarea>
            <div class="noteLinks">
              <a href="javascript:void(emailNotes2());" class="btn btn-small btn-secondary">Email Notes ›</a>
            </div><!-- End .noteLinks" -->                           
          </div><!-- End .notesTabInner" -->
        </div><!-- End .notesPadding" -->
      </div><!-- End #notesContainer2 -->
          
      <div id="notesEmailer2" class="notesContainer2" style="display: none;">
        <div class="notesPadding2">
          <div class="notesTabInner">
            <h2 class="notesHeader">Email Notes</h2>                           
            <div class="emailDetails">
              <p>Enter your email address below and click <strong>send</strong> to send your notes to your inbox.</p>
            </div><!-- End DIV "emailDetails" -->

            <div class="formField">
              Email Address: &nbsp;
              <input type="text" id="to" name="to" size="40" maxlength="35" value="{member_email}" /><br>

              <input name="submit" type='submit' value='Send' class="btn btn-small btn-custom" />
            </div><!-- End DIV "formField" -->
                            
            <div class="noteLinks">
              <a href="javascript:void(emailSent2());">‹ Return to Notes</a>
            </div><!-- End DIV "noteLinks" -->
          </div><!-- End DIV "notesTabInner" -->
        </div><!-- End DIV "notesPadding" -->
      </div><!-- End DIV "notesContainer" -->  
      {/exp:email:contact_form}
      <script type="text/javascript">
      var notesForm = document.getElementById('notesEmailerForm');
      notesForm.onsubmit = function() {
          var w = window.open('about:blank','Popup_Window','toolbar=0,scrollbars=0,location=0,statusbar=0,menubar=0,resizable=0,width=400,height=300,left = 312,top = 234');
          this.target = 'Popup_Window';
      };
      </script>
    </div>{/if}
    {if "{embed:show_connect}" != "false"}<div class="tab-pane{if "{embed:default}" == "connect"} active{/if}" id="connect">
      <header id="connectHeader" class="info">
        <h2>Online Campus Connect Form - Connect with us today!</h2>
      </header>
      
      {exp:freeform:form
          form_name="connect_widget"
          return="contact/thank-you/blank"
          form:class="" 
          form:id="connectForm"
      }
      
      <div class="control-group">
        <label class="control-label" for="inputFirstName">Name</label>
        <div class="controls">
          {freeform:field:first_name attr:id="first_name" attr:class="span1 required" attr:placeholder="Johnny"}
          {freeform:field:last_name attr:id="last_name" attr:class="span2 required" attr:placeholder="Appleseed"}
        </div>
      </div>
      
      <div class="control-group checkboxes">
        <label class="control-label" for="i_am_a[]">I Am A...</label>
        <div class="controls">
          <label class="checkbox">
            <input type="checkbox" name="i_am_a[]" value="1st Time Viewer"> 1st Time Viewer
          </label>
          <label class="checkbox">
            <input type="checkbox" name="i_am_a[]" value="2nd Time Viewer"> 2nd Time Viewer
          </label>
          <label class="checkbox">
            <input type="checkbox" name="i_am_a[]" value="3rd Time Viewer"> 3rd Time Viewer
          </label>
          <label class="checkbox">
            <input type="checkbox" name="i_am_a[]" value="Member"> Member
          </label>
          <label class="checkbox">
            <input type="checkbox" name="i_am_a[]" value="Other"> Other (explain below):
          </label>
          {freeform:field:i_am_a_other_explaination attr:type="text" attr:id="i_am_a_other_explaination" attr:class=""}
        </div>
      </div>
      
      <div class="control-group">
        <label class="control-label" for="inputEmail">Email</label>
        <div class="controls">
          {freeform:field:email attr:type="email" attr:id="email" attr:class="span3 email required" attr:placeholder="johnny.appleseed@mtrubidouxsda.org"}
        </div>
      </div>
      
      <div class="control-group">
        <label class="control-label" for="phone_number">Phone Number</label>
        <div class="controls">
          {freeform:field:phone_number attr:type="tel" attr:id="phone_number" attr:class="span3" attr:placeholder="(555) 555-1234"}
        </div>
      </div>
      
      <div class="control-group">
        <label class="control-label" for="viewing_from">I am viewing from (City, State, Country)</label>
        <div class="controls">
          {freeform:field:viewing_from attr:type="text" attr:id="viewing_from" attr:class="span3"}
        </div>
      </div>
      
      <div class="control-group checkboxes">
        <label class="control-label" for="decision_type[]">My Decision Today...</label>
        <div class="controls">
          <label class="checkbox">
            <input type="checkbox" name="decision_type[]" value="I want to build a personal relationship with God"> I want to build a personal relationship with God
          </label>
          <label class="checkbox">
            <input type="checkbox" name="decision_type[]" value="I want to become a member of this church family today"> I want to become a member of this church family today
          </label>
          <label class="checkbox">
            <input type="checkbox" name="decision_type[]" value="I want to be baptized"> I want to be baptized
          </label>
          <label class="checkbox">
            <input type="checkbox" name="decision_type[]" value="I want to renew my commitment to Christ"> I want to renew my commitment to Christ
          </label>
          <label class="checkbox">
            <input type="checkbox" name="decision_type[]" value="I would like to be a Kingdom Builder"> I would like to be a Kingdom Builder
          </label>
          <label class="checkbox">
            <input type="checkbox" name="decision_type[]" value="I would like to volunteer and serve to help make God's vision possible"> I would like to volunteer and serve to help make God's vision possible
          </label>
          <label class="checkbox">
            <input type="checkbox" name="decision_type[]" value="I would like to talk to a minister"> I would like to talk to a minister
          </label>
        </div>
      </div>
      
      <div class="control-group">
        <label class="control-label" for="user_message">Please pray for:</label>
        <div class="controls">
          {freeform:field:prayer_request attr:id="prayer_request" attr:class="span3" attr:placeholder="Tell us your prayer request here..."}
        </div>
      </div>
      
      <div class="control-group checkboxes">
        <label class="control-label" for="info_request[]">I would like more information about:</label>
        <div class="controls">
          <label class="checkbox">
            <input type="checkbox" name="info_request[]" value="Children"> Children
          </label>
          <label class="checkbox">
            <input type="checkbox" name="info_request[]" value="Collegiate"> Collegiate
          </label>
          <label class="checkbox">
            <input type="checkbox" name="info_request[]" value="Marriage"> Marriage
          </label>
          <label class="checkbox">
            <input type="checkbox" name="info_request[]" value="Men"> Men
          </label>
          <label class="checkbox">
            <input type="checkbox" name="info_request[]" value="Seniors"> Seniors
          </label>
          <label class="checkbox">
            <input type="checkbox" name="info_request[]" value="Singles"> Singles
          </label>
          <label class="checkbox">
            <input type="checkbox" name="info_request[]" value="Women"> Women
          </label>
          <label class="checkbox">
            <input type="checkbox" name="info_request[]" value="Youth"> Youth
          </label>
          <label class="checkbox">
            <input type="checkbox" name="info_request[]" value="Baptism"> Baptism
          </label>
          <label class="checkbox">
            <input type="checkbox" name="info_request[]" value="Baby Dedications"> Baby Dedications
          </label>
          <label class="checkbox">
            <input type="checkbox" name="info_request[]" value="Biblical Institute"> Biblical Institute
          </label>
          <label class="checkbox">
            <input type="checkbox" name="info_request[]" value="Celebrate Recovery"> Celebrate Recovery
          </label>
          <label class="checkbox">
            <input type="checkbox" name="info_request[]" value="Counseling"> Counseling
          </label>
          <label class="checkbox">
            <input type="checkbox" name="info_request[]" value="Evangelism"> Evangelism
          </label>
          <label class="checkbox">
            <input type="checkbox" name="info_request[]" value="International Exposure"> International Exposure
          </label>
          <label class="checkbox">
            <input type="checkbox" name="info_request[]" value="Membership"> Membership
          </label>
          <label class="checkbox">
            <input type="checkbox" name="info_request[]" value="Prison Ministry"> Prison Ministry
          </label>
          <label class="checkbox">
            <input type="checkbox" name="info_request[]" value="Volunteering"> Volunteering
          </label>
          <label class="checkbox">
            <input type="checkbox" name="info_request[]" value="Worship &amp; Arts"> Worship &amp; Arts
          </label>
        </div>
      </div>
      
      <div class="form-actions">
        <button type="submit" class="btn btn-custom">Submit</button>
      </div>
      
      {/exp:freeform:form}
    </div>{/if}
  </div>
</aside>