{exp:ce_cache:it id="page"}
{html_head}

{metatags}

{if segment_1 == "media" AND segment_2 == ""}
  {exp:seo_lite title_override="Media |&nbsp;{site_name}"}
{if:elseif segment_2 == "sermons"}
  {exp:seo_lite title_override="Sermons |&nbsp;{site_name}"}
{if:elseif segment_2 != "sermons" AND segment_2 != "" AND segment_3 == ""}
  {exp:seo_lite title_override="{last_segment_category_name} |&nbsp;{site_name}"}
{if:elseif segment_2 != "sermons" AND segment_2 != "" AND segment_3 != ""}
  {exp:seo_lite use_last_segment="yes"}
{if:else}
  {exp:seo_lite use_last_segment="yes"}
{/if}

{stylesheets}
{js_head}
{html_head_end}

{embed="global/header"
  entry_id="{last_segment_absolute_id}"
  url_title="{last_segment_absolute}"
  template="index"
  template_group="media"
}
<div id="content" class="container">
  {embed="global/breadcrumbs" entry_id="{last_segment_absolute_id}" url_title="{last_segment_absolute}"}
  
  <!-- Begin Page Content -->
  {if segment_2 == ""}
    {embed="media/_media_index"}
  {/if}
  {if segment_2 != "" AND segment_3 == ""}
    {if segment_2 == "sermons"}
      {embed="media/_sermons_index"}
    {if:elseif segment_2 == "other"}
      {embed="media/_media_category"}
    {if:elseif segment_2 == "speaker"}
      {redirect="/media/sermons"}
    {if:else}
      {embed="media/_sermons_series"}
    {/if}
  {/if}
  {if segment_2 != "" AND segment_3 != ""}
    {if segment_2 == "speaker"}
      {embed="media/_media_speaker"}
    {if:else}
      {embed="media/_media_view"}
    {/if}
  {/if}
  <!-- End Page Content -->

</div>
{embed="global/footer"}
{js_foot}
{countdownjs}
{if segment_2 == "sermons" AND segment_3 == ""}
<script>
$(window).load(function() {
  
  $("#sermons-series .sermons-slider").carouFredSel({
    circular:false,
    infinite:false,
    align:"left",
    width:940,
    items: {
      visible:5
    },
    scroll:1,
    auto:false,
    prev: {
      button:"#sermons-series .left",
      key:65
    },
    next: {
      button:"#sermons-series .right",
      key:83
    },
    swipe:5,
    mousewheel:5,
    responsive:true
  });
  
  $("#sermons-speaker .sermons-slider").carouFredSel({circular:false,infinite:false,align:"left",width:940,items:{visible:4},scroll:1,auto:false,prev:{button:"#sermons-speaker .left",key:65},next:{button:"#sermons-speaker .right",key:83},swipe:4,mousewheel:4,responsive:true});
  {exp:gwcode_categories channel="sermons" cat_id="2" output_depth="1" incl_self="no" group_id="1" show_empty="no" style="linear"}
  $("#sermons-{cat_url_title} .sermons-slider").carouFredSel({circular:true,infinite:false,align: "left",items:{visible:5},scroll:1,auto:false,prev:{button:"#sermons-{cat_url_title} .left",key:65},next:{button: "#sermons-{cat_url_title} .right",key:83},swipe:5,mousewheel:5,responsive:true});{/exp:gwcode_categories}
});
</script>
{/if}
{body_html_end}
{/exp:ce_cache:it}
