{exp:ce_cache:it id="page"}
{html_head}

{metatags}

{exp:seo_lite use_last_segment="yes"}

{stylesheets}
{js_head}
{html_head_end}

{embed="global/header"
  entry_id="{last_segment_absolute_id}"
  url_title="{last_segment_absolute}"
  template="index"
  template_group="pages"
  channel_name=""
}
<div id="content" class="container">
  <!-- Begin Page Content -->
  <section id="live" class="row page-content">
    
    <div class="alert alert-block alert-info">
      <p>If you're encountering problems with the live feed on this page please go to <a href="http://RubiTV.tv">RubiTV.tv</a></p>
    </div>
    
    {!--<div id="video-wrap">
      <div id="video">
        <iframe id="playerIFrame" frameborder="0" scrolling="no" align="middle" src="http://player.piksel.com/playerlive.php?s=uxl918u6&doResize=false" height="360" width="640" allowtransparency="true" allowfullscreen></iframe>
      </div>
    </div>--}
    
    <iframe frameborder="0" width="375" height="150" src="http://www.yourstreamlive.com/embed/iframe/countdown/2496?countdown_text_color=black" marginheight="0" marginwidth="0" scrolling="auto" allowtransparency="yes" name="countdown" id="countdown"></iframe>
    
    <iframe frameborder="0" width="525" height="475" src="http://www.yourstreamlive.com/embed/iframe/live/2496?width=500&height=425&upcoming_events=true&autostart=yes&show_live_event_schedule_link=yes&show_powered_by=no&include_countdown=no&skin=six" marginheight="0" marginwidth="0" scrolling="auto" allowtransparency="yes" name="live" id="live"></iframe>
    
    <iframe frameborder="0" width="525" height="450" src="http://www.yourstreamlive.com/embed/iframe/chatbox/2496?width=500&height=425" marginheight="0" marginwidth="0" scrolling="auto" allowtransparency="yes" name="chatbox" id="chatbox"></iframe>
    
    {!--{embed="media/_sidebar" default="connect"}--}
    
    
    
    {!--
    <div id="slider"></div>

    <!-- Past Messages Player -->
    <div id="video" style="display:none"></div>
	           
    <div id="player" class="live-player threesixteen-networks">
      <div id="playerWindow">
        <div class="loading middle" style="display: block;"></div>
      </div>
      <div id="playerControls">
        <div id="leftControls">
        </div>
        <div id="rightControls">
          <a class="quality" href="javascript:" id="auto">AUTO</a><span class="quality"> &middot; </span>
          <a class="quality" href="javascript:" id="high">HI</a><span class="quality"> &middot; </span>
          <a class="quality" href="javascript:" id="med">MED</a><span class="quality"> &middot; </span>
          <a class="quality" href="javascript:" id="low">LOW</a>				
        </div>
      </div>
    </div>
    --}
    
  </section>
  <!-- End Page Content -->

</div>
{embed="global/footer"}
{js_foot}
{countdownjs}
{!--
  <script type="text/javascript" src="http://player.multicastmedia.com/templates/js/swfobject.js"></script>
  <script type="text/javascript" src="http://player.multicastmedia.com/jsapi/commonFunctions.js"></script>
  <script type="text/javascript" src="http://player.multicastmedia.com/player.live.js.php?s=o6blf4o0&target=video&wmode=transparent"></script>
--}
{body_html_end}
{/exp:ce_cache:it}
