
		<div>
			<div id="slides">
				<div class="slides_container">
											<div class="slide">
															<img src="http://media.northpointministries.org/nponline/v3/images/banners/Owned_NPOweb2.jpg" 
									width="660" height="370" alt="slide OWNED">
													</div>
											<div class="slide">
															<iframe id="player_13" src="http://player.vimeo.com/video/10987760?byline=0&amp;autoplay=1" width="660" height="371" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
													</div>
											<div class="slide">
															<a href="http://marriedlifeonline.com/" target="_blank">
									<img src="http://media.northpointministries.org/nponline/v3/images/banners/marriedlife.jpg" 
									width="660" height="370" alt="slide Married Life">
								</a>
													</div>
											<div class="slide">
															<a href="http://itunes.apple.com/us/album/kings-queens/id546922698" target="_blank">
									<img src="http://media.northpointministries.org/nponline/v3/images/banners/NPOnline_Text_Slide.jpg" 
									width="660" height="370" alt="slide Kings and Queens">
								</a>
													</div>
											<div class="slide">
															<iframe id="player_13" src="http://player.vimeo.com/video/10987760?byline=0&amp;autoplay=1" width="100%" height="371" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
													</div>
									</div>
				
				<img id="arrow-prev" src='/images/arrow-prev.png' class="arrow" />  
				<div id="pagination_container" class="pagination_container">

					<ul id="thumbnail-tray" class="pagination">
													<li><a href="#">
								<img src="http://media.northpointministries.org/nponline/v3/images/banners/Owned_NPOweb2.jpg" 
									width="112" height="66" alt="slide OWNED"></a>
							</li>
													<li><a href="#">
								<img src="http://media.northpointministries.org/nponline/v3/images/banners/NPOnline_Slide.jpg" 
									width="112" height="66" alt="slide Have Your Way"></a>
							</li>
													<li><a href="#">
								<img src="http://media.northpointministries.org/nponline/v3/images/banners/marriedlife.jpg" 
									width="112" height="66" alt="slide Married Life"></a>
							</li>
													<li><a href="#">
								<img src="http://media.northpointministries.org/nponline/v3/images/banners/NPOnline_Text_Slide.jpg" 
									width="112" height="66" alt="slide Kings and Queens"></a>
							</li>
													<li><a href="#">
								<img src="http://media.northpointministries.org/nponline/v3/images/banners/BeTheChurch_1080p.jpg" 
									width="112" height="66" alt="slide Be The Church"></a>
							</li>
											</ul>
									
				</div>	
				<img id="arrow-next" src='/images/arrow-next.png' class="arrow" />	
							
			</div>
		</div>

		<script type="text/javascript">
		/* <![CDATA[ */
		var leftWall = 0 - (($('#thumbnail-tray').children("li").length - 5) * 116);
		var rightWall = (($('#thumbnail-tray').children("li").length - 5) * 116);
		
		$(function() {
			// Scroll Left
			$('img#arrow-prev').click(function () { 

				// Keep moving until you hit the wall				
				if (parseInt($('#thumbnail-tray').css('left')) > leftWall) {
        			$('#thumbnail-tray').animate({"left": "-=116px"}, "medium"); 
				}
				// Bounce back from the wall
				else
				{
					$('#thumbnail-tray').animate({"left": "-=58px"}, "fast"); 
					$('#thumbnail-tray').animate({"left": "+=58px"}, "fast"); 
				}
			});	
			
			// Scroll Right
			$('img#arrow-next').click(function () { 
			
				// Keep moving until you hit the wall
				console.log('LEFT: ' + $('#thumbnail-tray').css('left'));				
								
				if (parseInt($('#thumbnail-tray').css('left')) <= -116) {
        			$('#thumbnail-tray').animate({"left": "+=116px"}, "medium"); 
				}
				// Bounce back from the wall
				else
				{
					$('#thumbnail-tray').animate({"left": "+=58px"}, "fast"); 
					$('#thumbnail-tray').animate({"left": "-=58px"}, "fast"); 
				}
			});		
		});
		/* ]]> */
		</script>		
		
		