<section id="pastors" class="row">
  <div class="span9">
  {exp:low_reorder:entries set="pastors" disable="member_data|category_fields"} 
    <section id="pastor_{url_title}" class="pastor">
      <div class="row">
        <div class="photo span3">
          {if staff_photo}{exp:ce_img:single src="{staff_photo}" width="220" height="130" crop="yes"}{/if}{if staff_photo == ""}<img src="/assets/img/staff_no_photo.png" />{/if}
        </div>
        <div class="info span6">
          <h3>{title}</h3>
          {if staff_title}<h4>{staff_title}</h4>{/if}
          {if staff_bio}
          <div class="bio">
            <a href="#{entry_id}BioModal" role="button" data-toggle="modal" class="btn btn-custom btn-small full-bio">Read Full Bio</a>
            
            <div id="{entry_id}BioModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="{url_title}BioModalLabel" aria-hidden="true">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h3 id="myModalLabel">{title}</h3>
              </div>
              <div class="modal-body">
                {staff_bio}
              </div>
              <div class="modal-footer">
                <button class="btn" data-dismiss="modal" aria-hidden="true">OK</button>
              </div>
            </div>
          </div>
          {/if}
          <ul class="icons-social">
            {staff_social_media}
            {if facebook}<li class="facebook"><a href="http://facebook.com/{facebook}" target="_blank" title="{title} on Facebook"><i class="icon-facebook"></i></a></li>{/if}
            {if twitter}<li class="twitter"><a href="http://twitter.com/{twitter}" target="_blank"><i class="icon-twitter"></i></a></li>{/if}
            {if tumblr}<li class="tumblr"><a href="{tumblr}" target="_blank"><i class="icon-tumblr"></i></a></li>{/if}
            {/staff_social_media}
          </ul>
          {if staff_availability}
          <div class="availability">
            <p>Hours of Availability</p>
            <ul>
              {staff_availability}<li>{day}: {time_start} &mdash; {time_end}</li>{/staff_availability}
            </ul>
          </div>
          {/if}
          {!-- {if staff_bio_pdf}<a href="{staff_bio_pdf}" class="btn btn-custom btn-small full-bio">Read Full Bio</a>{/if} --}
        </div>
      </div>
    </section>
  {/exp:low_reorder:entries}
  </div>
</section>
