<aside id="section-nav" class="span3">
  <div id="section-nav-inside">
    {embed="pages/_page_subnav"}
    
    {if segment_1 == "about" OR segment_1 == "contact"}
    <div class="widget location visible-desktop" itemscope itemtype="http://data-vocabulary.org/Organization"> 
      <h3 class="name" itemprop="name">Mt. Rubidoux SDA Church</h3>
      <div class="address" itemprop="address" itemscope itemtype="http://data-vocabulary.org/Address">
        <p><span itemprop="street-address">5320 Victoria Avenue</span></p>
        <p><span itemprop="locality">Riverside</span>, 
        <span itemprop="region">CA</span> 
        <span itemprop="postal-code">92506</span></p>
      </div>
      <span itemprop="geo" itemscope itemtype="http://www.data-vocabulary.org/Geo/" class="hide"><!—Don’t display in UI-->
        <span itemprop="latitude">33.911215 N</span>  
        <span itemprop="longitude">117.422778 W</span>  
      </span>  
      <p class="phone">Office: <span itemprop="tel">951-276-8374</span></p>
      <p class="phone">Fax: <span itemprop="tel">951-274-2514</span></p>
      <div class="web">
        <a href="http://www.mtrubidouxsda.org" itemprop="url">www.mtrubidouxsda.org</a>
      </div>
      <a target="_blank" href="http://maps.google.com/maps?hl=en&amp;gs_rn=7&amp;gs_ri=psy-ab&amp;pq=mt+rubidoux+sda&amp;cp=14&amp;gs_id=ba&amp;xhr=t&amp;gl=us&amp;bav=on.2,or.r_qf.&amp;bvm=bv.44342787,d.cGE&amp;biw=1440&amp;bih=738&amp;um=1&amp;ie=UTF-8&amp;q=mt.+rubidoux+sda+church&amp;fb=1&amp;gl=us&amp;hq=mt.+rubidoux+sda+church&amp;cid=0,0,14106795816465807691&amp;sa=X&amp;ei=iw1SUcS2LJDZigL_0oGwDw&amp;sqi=2&amp;ved=0CGwQ_BIwAA"><img src="/assets/img/static-map@2x.png"></a>
    </div><!-- / .location -->
    <div class="widget hours">
      <h3>Church Office Hours</h3>
      <p>Mon-Thurs: <span class="open">9am&ndash;5:00pm</span></p>
      <p>Friday: <span class="open">9am&ndash;3:30pm</span></p>
      <p>Sabbath &amp; Sunday: <span class="closed">Closed</span></p>
    </div>
    {/if}
    
  </div>
</aside>
