<nav>
  {exp:channel:entries channel="pages" url_title="{segment_1}" dynamic="no"}<h3{if segment_1 != "" AND segment_2 == ""} class="current"{/if}><a href="/{segment_1}" title="{title}">
{title}</a></h3>{/exp:channel:entries}
  {exp:structure:nav start_from="/{segment_1}" max_depth="2" css_class="side-nav" current_class="current" {if segment_1 != "ministry-forms"} show_overview="no" rename_overview="title" {/if}}
</nav>