<hr>
{if segment_2 == ""}

<div class="row">

  {exp:structure:entries parent_id="19"}
    {if count % 4 == 1}
      <div class="span4 {if count != 1}offset1{/if}">
    {/if}
        <a href="{page_uri}" title="{title}" class="btn btn-large btn-custom" style="display:block; margin-bottom: 10px">{title}</a>
    {if count % 4 == 0 OR count == total_results}
      </div>
    {/if}
  {/exp:structure:entries}
  {!--
  <div class="span4">
    <a href="/contact/general" title="General Information" class="btn btn-large btn-custom" style="display:block; margin-bottom: 10px">General Information</a>
    <a href="/contact/transportation-request" title="Transportation Request" class="btn btn-large btn-custom" style="display:block; margin-bottom: 10px">Transportation Request</a>
    <a href="/contact/prayer-request" title="Prayer Request" class="btn btn-large btn-custom" style="display:block; margin-bottom: 10px">Prayer Request</a>
  </div>
  <div class="span4 offset1">
    <a href="/contact/decision-for-christ" title="Decision for Christ" class="btn btn-large btn-custom" style="display:block; margin-bottom: 10px">Decision for Christ</a>
    <a href="/contact/get-involved" title="Get Involved at Mt. Rubidoux" class="btn btn-large btn-custom" style="display:block; margin-bottom: 10px">Get Involved</a>
    <a href="/contact/transfer-membership" title="Transfer Membership" class="btn btn-large btn-custom" style="display:block; margin-bottom: 10px">Transfer Membership</a>
    
  </div> --}
</div>

{/if}

<div class="row">
  <div class="span9">
    {if segment_1 == "contact" AND segment_2 == "general"}{embed="pages/form_contact"}{!--{quick-contact-form}--}{/if}
    {if segment_1 == "contact" AND segment_2 == "general2"}{embed="pages/form_contact2"}{!--{quick-contact-form}--}{/if}
    {if segment_1 == "contact" AND segment_2 == "transportation-request"}{embed="pages/form_transportation"}{/if}
    {if segment_1 == "contact" AND segment_2 == "prayer-request"}{embed="pages/form_prayer"}{/if}
    {if segment_1 == "contact" AND segment_2 == "transfer-membership"}{embed="pages/form_transfer-membership"}{/if}
    {if segment_1 == "contact" AND segment_2 == "get-involved"}{embed="pages/form_get-involved"}{/if}
    {if segment_1 == "contact" AND segment_2 == "decision-for-christ"}{embed="pages/form_decision-for-christ"}{/if}
    {if segment_1 == "contact" AND segment_2 == "pledge"}{embed="pages/form_pledge"}{/if}		
  </div>
</div>