{exp:freeform:form
    form_name="transfer_membership"
    return="contact/thank-you"
    form:class="form-horizontal" 
}
<!--  <div class="control-group mutliple-rows">
    <label class="control-label" for="transfer_direction">Please transfer my membership</label>
    <div class="controls controls-row">
      <label class="radio">
        <input type="radio" name="transfer_direction" id="transfer_directionTO" value="TO" required>
        <strong>To</strong> Mt Rubidoux
      </label>
      <label class="radio">
        <input type="radio" name="transfer_direction" id="transfer_directionFROM" value="FROM">
        <strong>From</strong> Mt. Rubidoux
      </label>
    </div>
  </div> -->
  <div class="control-group">
    <label class="control-label" for="church_transferring_to_or_from">Church Transferring To</label>
    <div class="control-label" style="width:200px;">
      Mt. Rubidoux SDA Church
    </div>
  </div>
  <div class="control-group mutliple-rows">
    <label class="control-label" for="transfer_name">Church Transferring From</label>
    <div class="controls">
      {freeform:field:transfer_name attr:id="transfer_name" attr:class="span5 fluid-margin-sm" attr:placeholder="Church Name"}
	</div>
	<div class="controls controls-row">     
	 {freeform:field:transfer_city attr:id="transfer_city" attr:class="span3 fluid-margin-sm" attr:placeholder="City"}
	  <select name="transfer_state" class="span2 fluid-margin-sm"> 
        <option value="" selected="selected">Select a State</option>
        <option value="AL">Alabama</option> 
        <option value="AK">Alaska</option> 
        <option value="AZ">Arizona</option> 
        <option value="AR">Arkansas</option> 
        <option value="CA" >California</option> 
        <option value="CO">Colorado</option> 
        <option value="CT">Connecticut</option> 
        <option value="DE">Delaware</option> 
        <option value="DC">District Of Columbia</option> 
        <option value="FL">Florida</option> 
        <option value="GA">Georgia</option> 
        <option value="HI">Hawaii</option> 
        <option value="ID">Idaho</option> 
        <option value="IL">Illinois</option> 
        <option value="IN">Indiana</option> 
        <option value="IA">Iowa</option> 
        <option value="KS">Kansas</option> 
        <option value="KY">Kentucky</option> 
        <option value="LA">Louisiana</option> 
        <option value="ME">Maine</option> 
        <option value="MD">Maryland</option> 
        <option value="MA">Massachusetts</option> 
        <option value="MI">Michigan</option> 
        <option value="MN">Minnesota</option> 
        <option value="MS">Mississippi</option> 
        <option value="MO">Missouri</option> 
        <option value="MT">Montana</option> 
        <option value="NE">Nebraska</option> 
        <option value="NV">Nevada</option> 
        <option value="NH">New Hampshire</option> 
        <option value="NJ">New Jersey</option> 
        <option value="NM">New Mexico</option> 
        <option value="NY">New York</option> 
        <option value="NC">North Carolina</option> 
        <option value="ND">North Dakota</option> 
        <option value="OH">Ohio</option> 
        <option value="OK">Oklahoma</option> 
        <option value="OR">Oregon</option> 
        <option value="PA">Pennsylvania</option> 
        <option value="RI">Rhode Island</option> 
        <option value="SC">South Carolina</option> 
        <option value="SD">South Dakota</option> 
        <option value="TN">Tennessee</option> 
        <option value="TX">Texas</option> 
        <option value="UT">Utah</option> 
        <option value="VT">Vermont</option> 
        <option value="VA">Virginia</option> 
        <option value="WA">Washington</option> 
        <option value="WV">West Virginia</option> 
        <option value="WI">Wisconsin</option> 
        <option value="WY">Wyoming</option>
      </select>
	</div>
  </div>
  <div class="control-group">
    <label class="control-label" for="first_name">Your Name</label>
    <div class="controls controls-row">
      {freeform:field:first_name attr:id="first_name" attr:class="span2 required" attr:placeholder="Johnny" attr:data-placement="bottom"}
      {freeform:field:last_name attr:id="last_name" attr:class="span3 required" attr:placeholder="Appleseed" attr:data-placement="bottom"}
    </div>
  </div>
  <div class="control-group">
    <label class="control-label" for="phone_number">Phone Number</label>
    <div class="controls">
      {freeform:field:phone_number attr:type="tel" attr:id="phone_number" attr:class="span5" attr:placeholder="(555) 555-1234"}
    </div>
  </div>
  <div class="control-group">
    <label class="control-label" for="email">Email</label>
    <div class="controls">
      {freeform:field:email attr:type="email" attr:id="email" attr:class="span5 email required" attr:placeholder="johnny.appleseed@mtrubidouxsda.org" attr:data-placement="bottom"}
    </div>
  </div>
  <div class="control-group mutliple-rows">
    <label class="control-label" for="address1">Address</label>
    <div class="controls">
      {freeform:field:address1 attr:id="address1" attr:class="span5" attr:placeholder="123 Anystreet Rd."}
    </div>
    <div class="controls">
      {freeform:field:address2 attr:id="address2" attr:class="span5" attr:placeholder="Apt. 1A"}
    </div>
    <div class="controls controls-row">
      {freeform:field:city attr:id="city" attr:class="span2 fluid-margin-sm" attr:placeholder="Riverside"}
      <select name="transfer_state" class="span2"> 
        <option value="">Select a State</option>
        <option value="AL">Alabama</option> 
        <option value="AK">Alaska</option> 
        <option value="AZ">Arizona</option> 
        <option value="AR">Arkansas</option> 
        <option value="CA" selected="selected">California</option> 
        <option value="CO">Colorado</option> 
        <option value="CT">Connecticut</option> 
        <option value="DE">Delaware</option> 
        <option value="DC">District Of Columbia</option> 
        <option value="FL">Florida</option> 
        <option value="GA">Georgia</option> 
        <option value="HI">Hawaii</option> 
        <option value="ID">Idaho</option> 
        <option value="IL">Illinois</option> 
        <option value="IN">Indiana</option> 
        <option value="IA">Iowa</option> 
        <option value="KS">Kansas</option> 
        <option value="KY">Kentucky</option> 
        <option value="LA">Louisiana</option> 
        <option value="ME">Maine</option> 
        <option value="MD">Maryland</option> 
        <option value="MA">Massachusetts</option> 
        <option value="MI">Michigan</option> 
        <option value="MN">Minnesota</option> 
        <option value="MS">Mississippi</option> 
        <option value="MO">Missouri</option> 
        <option value="MT">Montana</option> 
        <option value="NE">Nebraska</option> 
        <option value="NV">Nevada</option> 
        <option value="NH">New Hampshire</option> 
        <option value="NJ">New Jersey</option> 
        <option value="NM">New Mexico</option> 
        <option value="NY">New York</option> 
        <option value="NC">North Carolina</option> 
        <option value="ND">North Dakota</option> 
        <option value="OH">Ohio</option> 
        <option value="OK">Oklahoma</option> 
        <option value="OR">Oregon</option> 
        <option value="PA">Pennsylvania</option> 
        <option value="RI">Rhode Island</option> 
        <option value="SC">South Carolina</option> 
        <option value="SD">South Dakota</option> 
        <option value="TN">Tennessee</option> 
        <option value="TX">Texas</option> 
        <option value="UT">Utah</option> 
        <option value="VT">Vermont</option> 
        <option value="VA">Virginia</option> 
        <option value="WA">Washington</option> 
        <option value="WV">West Virginia</option> 
        <option value="WI">Wisconsin</option> 
        <option value="WY">Wyoming</option>
      </select>
      {freeform:field:postal_code attr:id="postal_code" attr:class="span1" attr:placeholder="92506"}
    </div>
    
  </div>
  <div class="control-group">
    <label class="control-label" for="birthday">Birthday</label>
    <div class="controls">
      {freeform:field:birthday attr:id="birthday" attr:class="span5" attr:placeholder="12/19/1978"}
    </div>
  </div>
  <div class="form-actions">
    <button type="submit" class="btn btn-custom">Submit Transfer Request</button>
    <button type="button" class="btn">Cancel</button>
  </div>
{/exp:freeform:form}