{exp:freeform:form
    form_name="prayer_request"
    return="contact/thank-you"
    form:class="form-horizontal" 
}
  <div class="control-group">
    <label class="control-label" for="first_name">Name</label>
    <div class="controls controls-row">
      {freeform:field:first_name attr:id="first_name" attr:class="span2 required fluid-margin-sm" attr:placeholder="Johnny" attr:data-placement="bottom"}
      {freeform:field:last_name attr:id="last_name" attr:class="span2 required" attr:placeholder="Appleseed" attr:data-placement="bottom"}
    </div>
  </div>
  <div class="control-group">
    <label class="control-label" for="phone_number">Phone Number</label>
    <div class="controls">
      {freeform:field:phone_number attr:type="tel" attr:id="phone_number" attr:class="span4" attr:placeholder="(555) 555-1234"}
    </div>
  </div>
  <div class="control-group">
    <label class="control-label" for="email">Email</label>
    <div class="controls">
      {freeform:field:email attr:type="email" attr:id="email" attr:class="span4 email required" attr:placeholder="johnny.appleseed@mtrubidouxsda.org" attr:data-placement="bottom"}
    </div>
  </div>
  <div class="control-group">
    <label class="control-label" for="user_message">Prayer Request</label>
    <div class="controls">
      {freeform:field:user_message attr:id="user_message" attr:class="span4" attr:placeholder="Tell us your prayer request here..."}
    </div>
  </div>
  <div class="form-actions">
    <button type="submit" class="btn btn-custom">Submit Prayer Request</button>
    <button type="button" class="btn">Cancel</button>
  </div>
{/exp:freeform:form}