<!-- {exp:freeform:form form_name="quick-contact" return="contact/thank-you" form:class="form-horizontal"}
		<div class="control-group">
      <label class="control-label">Your Name:</label>
  		<div class="controls controls-row">
  			{freeform:field:first_name attr:id="quick-contact_first_name" attr:class="span2 required fluid-margin-sm" attr:placeholder="Johnny" attr:data-placement="bottom"}
  			{freeform:field:last_name attr:id="quick-contact_last_name" attr:class="span2 required fluid-margin-sm" attr:placeholder="Appleseed" attr:data-placement="bottom"}
  		</div>
    </div>
    <div class="control-group">
		  <label class="control-label">Email Address:</label>
		  <div class="controls">
        {freeform:field:email attr:id="quick-contact_email" attr:class="span4 email required fluid-margin-sm" attr:placeholder="johnny.appleseed@apple.com" attr:data-placement="bottom"}
      </div>
    </div>
    <div class="control-group">
      <label class="control-label">Your Message:</label>
      <div class="controls">
		    {freeform:field:user_message attr:id="quick-contact_user_message" attr:class="span4 fluid-margin-sm" attr:rows="2" attr:cols="20" attr:wrap="soft" attr:placeholder="What's your question?"}
      </div>
    </div>
    <div class="control-group">
      <div class="controls">
        <button type="submit" class="btn btn-custom">Submit</button>
      </div>
    </div>
{/exp:freeform:form} -->

<iframe src='https://mtrubidouxsda.ccbchurch.com/form_response.php?id=13' style='width:900px; height:700px; border:0px; overflow:hidden;' scrolling="no" >


</iframe>