{exp:freeform:form
    form_name="transportation_request"
    return="contact/thank-you"
    form:class="form-horizontal" 
}
  <div class="control-group">
    <label class="control-label" for="first_name">Name</label>
    <div class="controls controls-row">
      {freeform:field:first_name attr:id="first_name" attr:class="span2 required" attr:placeholder="Johnny" attr:data-placement="bottom"}
      {freeform:field:last_name attr:id="last_name" attr:class="span2 required" attr:placeholder="Appleseed" attr:data-placement="bottom"}
    </div>
  </div>
  <div class="control-group">
    <label class="control-label" for="phone_number">Phone Number</label>
    <div class="controls">
      {freeform:field:phone_number attr:type="tel" attr:id="phone_number" attr:class="span4" attr:placeholder="(555) 555-1234"}
    </div>
  </div>
  <div class="control-group">
    <label class="control-label" for="email">Email</label>
    <div class="controls">
      {freeform:field:email attr:type="email" attr:id="email" attr:class="span4 email required" attr:placeholder="johnny.appleseed@mtrubidouxsda.org" attr:data-placement="bottom"}
    </div>
  </div>
  <div class="control-group">
    <label class="control-label" for="address1">Street Address</label>
    <div class="controls">
      <input class="span4 required" type="text" id="address1" name="address1" placeholder="123 Anystreet Rd." data-placement="bottom">
    </div>
  </div>
  <div class="control-group">
    <label class="control-label" for="pick_up_time">Pick Me Up For</label>
    <div class="controls">
      <label class="radio">
        <input type="radio" name="pick_up_time" id="pick-up-time1" value="Sabbath School 9am" checked>
        Sabbath School: 9am
      </label>
      <label class="radio">
        <input type="radio" name="pick_up_time" id="pick-up-time2" value="More Divine Worship 10:15am">
        More Divine Worship: 10:15am
      </label>
    </div>
  </div>
  <div class="control-group">
    <label class="control-label" for="user_message">Special Directions?</label>
    <div class="controls">
      {freeform:field:user_message attr:id="user_message" attr:class="span4" attr:placeholder="Is there a gate code or anything special we need to know?"}
    </div>
  </div>
  <div class="form-actions">
    <button type="submit" class="btn btn-custom">Send Request</button>
    <button type="button" class="btn">Cancel</button>
  </div>
{/exp:freeform:form}