<section id="gnav" class="visible-desktop">
	<ul>
		<li><a href="#giving" class="smoothScroll">Give</a></li>
		<li><a href="#causes" class="smoothScroll">Our Causes</a></li>
		<li><a href="#serve" class="smoothScroll">Serve</a></li>
		<li><a href="#faq" class="smoothScroll">FAQ</a></li>
	</ul>
</section>
{exp:channel:entries entry_id="243"}
<div id="givingWrap">
	{if giving_content}
		<a name="giving"></a>
		<section id="giving">
			<div id="content" class="container">
				<span class="ch1">{giving_headline}</span>
				<div class="text-wrap">
					<p>{giving_content}</p>
				</div>
					<div class="row">
						<div class="span12">		
							<a href="{giving_money_link}"><button type="button" class="btn btn-5 btn-primary btn-lg">Give Money</button></a>
							{!--<a href="#giving_message" class="lightbox2"><button type="button" class="btn btn-5 btn-primary btn-lg">Give Money</button></a>--}
							&nbsp;&nbsp;
							<a href="{giving_time_link}"><button type="button" class="btn btn-5 btn-primary btn-lg">Give Time</button></a>
						</div>
					</div>
			</div>
		</section>
		<aside id="giving_message" style="display:none;">
			<div class="header">
				{exp:ce_img:single src="/assets/img/mt-rubidoux_logo.png" max_width="200"}
			</div>
			<p class="center">
				<span class="bigger"><b>Below are two options for you to give:</b><br />one you're familiar with and one we're introducing to you. </span>
			</p>
			<p>
				After much thought and deliberation the Finance Team of Mt. Rubidoux has made the decision to discontinue our online giving service with ACS and transfer to Adventist Giving. Adventist giving is safe, secure, and used by thousands of Adventist Churches around the world.  Feel free to try it out now by setting up an account to make your first contribution through this system. However, if you'd like to use ACS one last time for old time sake, go right ahead. It's last day with us will be Sept 1st. But don't worry, all your giving records will still be available to you through your member portal. 

				Again, thanks so much for your contribution to the ministry of Mt. Rubidoux!
			</p>
			<div class="button_links">
				<a href="http://secure.accessacs.com/access/oglogin.aspx?sn=155104">
					<button type="button" class="btn btn-5 btn-primary btn-lg">
						Give via ACS					
					</button>
				</a>
				<a href="https://www.adventistgiving.org/?OrgID=ANPMMC">
					<button type="button" class="btn btn-5 btn-primary btn-lg" id="adventistGiving">
						Give via Adventist Giving
					</button>
				</a>
			</div>
		</aside>
	{/if}	
	{if video_url}
		<section id="video">
			<a name="video"></a>
			<div id="content" class="container">
				<div class="row">
					<div class="span12">

						<iframe src="//player.vimeo.com/video/{video_url}?title=0&amp;byline=0&amp;portrait=0"  frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
					</div>
				</div>
			</div>
		</section>
	{/if}
	<section id="causes-wrapper">
		<a name="causes"></a>			
		<h3 class="ch1">{causes_headline}</h3>
		{causes}
		<div class="row">
			<div class="causes">
				<div class="container">
					<div class="span4">
						{if img != ""}<img src="{img}">{/if}
					</div>
					<div class="clear-all"></div>
					<div class="span7 pull-right">
						{content}<br>
						{if goal != ""}<div class="pull-left"><h2>Goal: <span class="money">{goal}</span></h2></div>{/if}
						{if raised !=""}<div class="pull-right"><h2>Raised: <span class="money">{raised}</span></h2></div>{/if}
						<a href="{link}"><button type="button" class="btn btn-5 btn-primary btn-lg">Give</button></a>
					</div>
					
				</div>
				<hr>
			</div>
		</div>
		{/causes}
	</section>
	{if serve}  
		<a name="serve"></a>
		{serve}
		<section id="serve" style="background:url('{bg}');background-size:cover;">
<!--			<div id="full-width-slider" class="royalSlider heroSlider rsDefault">
			{!serve}
				<div class="rsContent" id="slide1">
					<img class="rsImg" src="{bg}" alt="" />
					<div class="infoBlock rsABlock text-center" data-fade-effect="" data-move-offset="30" data-move-effect="left" data-speed="800">
						<h1>{headline}</h1>
						<hr>
						<p>{content}</p>

					</div>
				</div>
			{!/serve}
			</div>
-->			
			<div class="container" id="outer">
				<div id="inner">
					<section class="row text-center">
						<h1>{headline}</h1>
						<hr>
						<p>{content}</p>
					</section>
					<section class="row">
						<div class="btn-center">
							{if btn1_text}
							<div class="span4"><a href="{btn1_link}"><button type="button" class="btn btn-5 btn-primary btn-lg btn-serve">{btn1_text}</button></a></div>
							{/if}
							
							{if btn2_text}
							<div class="span4"><a href="{btn2_link}"><button type="button" class="btn btn-5 btn-primary btn-lg btn-serve">
								<div class="visible-desktop">{btn2_text}</div>
								<div class="hidden-desktop ">Assessment</div>
							</button></a></div>
							{/if}
							
							{if btn3_text}
							<div class="span4"><a href="{btn3_link}"><button type="button" class="btn btn-5 btn-primary btn-lg btn-serve">{btn3_text}</button></a></div>
							{/if}
						</div>
					</section>		
				</div>	
			</div>
		</section>
		{/serve}
	{/if}
		<section id="faq">
			<div id="content" class="container">
				<span class="ch1">FAQ</span>
				<div class="row">
				{faq}
					<div id="faq-content">
						<div class="span6">
							{faq_1}
						</div>
						<div class="span6">
							{faq_2}
						</div>
					</div>	
				{/faq}	
				</div>
				<hr>
				<div class="ch1">Ways To Send Your Donation</div>
				<section id="mainwrapper" class="row-fluid">
				{mail_button}
					<div class="span4">
						<a type="button" class="btn-5 btn-donate">
							<div id="box-2" class="box fluid-margin-md">
								<div id="image-2">
									<img src="/assets/img/mail.png">
									<br>
									{text}
								</div>
								<span class="caption full-caption">
									<div class="btn-box">
										<p class="address">Drop off or mail a check to:</p>
										<hr>
										<address>{address}</address>
									</div>
								</span>
							</div>		
						</a>
					</div>
				{/mail_button}	
				{phone_button}
					<div class="span4">
						<a href="{link}" class="btn-5 btn-donate">
							<div id="box-2" class="box fluid-margin-md">
								<div id="image-2">
									<img src="/assets/img/phone.png">
									<br>
									{text}
								</div>
								<span class="caption full-caption">
									<div class="btn-box">
										<img src="/assets/img/phone.png"><br>
										<span id="questions-btn">{text_back}</span>
									</div>
								</span>
							</div>
						</a>
					</div>
				{/phone_button}	
				{questions_button}
					<div class="span4">
						<a class="btn-5 btn-donate">
							<div id="box-2" class="box fluid-margin-md">
								<div id="image-2">
									<img src="/assets/img/splat.png">
									<br>
									{text}
								</div>
								<span class="caption full-caption">
									<div class="btn-box">
										<span id="questions-btn">{text_back}</span>
									</div>
								</span>
							</div>		
						</a>
					</div>
				{/questions_button}	
				</section>

			</div>
		</section>	
</div>
{/exp:channel:entries}
