{html_head}
{if segment_1 == "giving"}{embed="/pages/_head_giving"}{/if}
{metatags}

{exp:seo_lite use_last_segment="yes"}

{stylesheets}
{js_head}

{html_head_end}


{if segment_1 == "contact" AND segment_2 == "thank-you" AND segment_3 == "blank"}
  <style type="text/css">body{background-image:none; padding: 20px;}</style>
  {exp:channel:entries channel="pages"}
  <section id="static-page-content">
    {page_body}
    <a href="javascript:window.close()">Close this Window</a>
  </section>
  {/exp:channel:entries}
{if:else}

  {embed="global/header"
    entry_id="{last_segment_absolute_id}"
    url_title="{last_segment_absolute}"
    template="index"
    template_group="pages"
    channel_name=""
  }


  {if segment_1 == "giving"}
    <div id="giving-container">
    	{embed="pages/giving"}
    </div>
  {if:else}
    <div class="wrap-body">
    	<div id="content" class="container">
    	{embed="global/breadcrumbs"}
    		<section id="static-page" class="row">
    			{if structure:child_ids != '' OR segment_2 != ''}
    			  {embed="pages/_page_sidebar"}
          {/if}
    			<div id="static-page-content" {if structure:child_ids != '' OR segment_2 != ''}class="span9"{if:else}class="span12"{/if}>
    				{exp:channel:entries channel="pages"}

      				{if header_image}
      				<div class="header-image">{!-- normal version --}{exp:ce_img:single src="{header_image}" filename_suffix="_960_200" width="960" height="200" crop="yes" allow_scale_larger="yes" unique="none"}{!-- retina version --}{exp:ce_img:single src="{header_image}" filename_suffix="_960_200@2x" width="1920" height="400" output=" " crop="yes" allow_scale_larger="yes" unique="none"}</div>
      				{if:else}
      				<h1>{title}</h1>
      				{/if}
      				{page_body}

              {!-- pulls in the custom form --}
              {!-- "16|contact/thank-you" --}
              <div id="custom_form">
              {exp:ce_cache:escape}
                {if custom_form}
                  {custom_form}
                {/if}
              {/exp:ce_cache:escape}                
              </div>

            {/exp:channel:entries}

            {if segment_1 == "about" AND segment_2 == "pastoral-team"}
    				{embed="pages/_page_about_pastors"}
    				{/if}

            {if segment_1 == "contact"}
    				{exp:ce_cache:escape}{embed="pages/contact"}{/exp:ce_cache:escape}
    				{/if}

    			</div>
    		</section><!-- End Page Content -->
    	</div>
    </div>
  {/if}

  {embed="global/footer"}
{/if}
{js_foot}
{countdownjs}
{body_html_end}
