{html_head}
{if segment_1 == "giving"}{embed="/pages/_head_giving"}{/if}
{metatags}

{exp:seo_lite use_last_segment="yes"}

{stylesheets}
{js_head}

{html_head_end}


  {embed="global/header"
    entry_id="{last_segment_absolute_id}"
    url_title="{last_segment_absolute}"
    template="index"
    template_group="pages"
    channel_name=""
  }
  <div id="reports-content">
    
    <section id="heading">
      
      <!-- Single button -->
      <div class="btn-group">
        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
          Archive <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" role="menu">
          {exp:low_yearly_archives channel="reports" sort="desc"}
            <li><a href="{structure:page:uri}{year}">{year}</a></li>
          {/exp:low_yearly_archives}
          {!-- <li class="divider"></li> --}
        </ul>
      </div>
     
      <h2>2014 Church Reports</h2>

    </section> {!-- heading --}


    <section id="agenda_minutes">
      <div id="agenda_minutes_container">
        <div class="column">
          <h3>Board Meeting Docs</h3>
          
          <div class="inner_container">
            {exp:channel:entries
              channel="reports"
              disable="categories|member_data|trackbacks"
              dynamic="no"
              require_entry="yes"
              search:report_type="agenda"
              {if freebie_2} year="{freebie_2}" {/if}
              {if freebie_2 == ""} year='{current_time format="%Y"}' {/if}
            }
              {if no_results}No agendas for the current year.{/if}
              <a href="{report_file}">
                <button class="btn btn-primary items">
                  {entry_date format="%F %d, %Y"}
                </button>
              </a>
            {/exp:channel:entries}

          </div>
        </div>
        <div class="column">
          <h3>Business Meeting Docs</h3>

          <div class="inner_container">
            {exp:channel:entries
              channel="reports"
              disable="categories|member_data|trackbacks"
              dynamic="no"
              require_entry="yes"
              search:report_type="minutes"
              {if freebie_2} year="{freebie_2}" {/if}
              {if freebie_2 == ""} year='{current_time format="%Y"}' {/if}
            }
              {if no_results}No minutes for the current year.{/if}

              <a href="{report_file}">
                <button class="btn btn-primary items">
                  {entry_date format="%F %d, %Y"}
                </button>
              </a>
          {/exp:channel:entries}
          
          </div>
        </div>
      </div>

    </section> {!-- agenda_minutes --}


    <section id="documents">
      <h3>Church Documents</h3>

      <div id="document_container">
        <ul>
            {exp:channel:entries
            channel="reports"
            disable="categories|member_data|trackbacks"
            dynamic="no"
            require_entry="yes"
            search:report_type="documents"
            {if freebie_2} year="{freebie_2}" {/if}
            {if freebie_2 == ""} year='{current_time format="%Y"}' {/if}
          }
            {if no_results}<li>No documents for the current year.</li>{/if}

            <li>
              <a href="{report_file}">
                <button class="btn btn-primary items documents">
                  {title}
                {!-- {report_file:name} --}
                </button>
              </a>
            </li>
          {/exp:channel:entries}
        </ul>
      </div>
    </section> {!-- documents --}

  </div>
  
  {embed="global/footer"}

{js_foot}
{countdownjs}
{body_html_end}