{exp:ce_cache:it id="page"}
{html_head}

{metatags}

{exp:seo_lite use_last_segment="yes"}

{stylesheets}
{js_head}
{html_head_end}

{embed="global/header"
  entry_id="{last_segment_absolute_id}"
  url_title="{last_segment_absolute}"
  template="index"
  template_group="pages"
  channel_name=""
}
<div id="content" class="">
  {embed="global/breadcrumbs"}
  
  <!-- Begin Page Content -->
  <section id="static-page" class="row page-content">
    <section id="static-page-content">
      <div id="rubiSplash">
        <div class="rubiSplashImg" id="rubiSplashBuildings"></div>
        <div class="rubiSplashImg" id="rubiSplashGrass"></div>
        <div id="rubiSplashTop" class="container">
          <div class="row">

              <div class="visible-desktop">
                <div class="rubiSplashImg" id="rubiSplashScreen"></div>
                <div class="rubiSplashImg" id="rubiSplashHydrant"></div>
                <div class="rubiSplashImg" id="rubiSplashMailbox"></div>
                <div class="rubiSplashImg" id="rubiSplashSign"></div>
                <div class="clearfix rubiSplashImg" id="rubiSplashScreenContent">
                  {rubivideo}
                  <div class="rubiSplashImg rubiSplashLight" id="rubiSplashLight1"></div>
                  <div class="rubiSplashImg rubiSplashLight" id="rubiSplashLight2"></div>
                  <div class="rubiSplashImg rubiSplashLight" id="rubiSplashLight3"></div>
                  <div class="rubiSplashImg rubiSplashLight" id="rubiSplashLight4"></div>
                 </div>                 
              </div>
              <div class="hidden-desktop full-width">
               {rubivideo}
              </div> 

          </div>
        </div>
        <div id="rubiSplashContent">
          <div class="container">
            <hr class="dotted">
            <div class="row">
              {!--
              <div id="announcements" class="span6">
                <h3>Announcements</h3>
                <ul>
                {exp:channel:entries channel="news" limit="2" dynamic="no"}
                  <li>
                    <a href="{title_permalink='channel/archives'}">
                      <span class="info"><span class="date">{entry_date format="%M %j, %Y"}</span> - <span class="category">{categories backspace="2" show="not 24" limit="2"}{category_name}, {/categories}</span></span>
                      {title}
                    </a>
                  </li>
                  {if no_results}<li class="no-results">There are no announcements at this time</li>{/if}
                  {if count == total_results}<li class="read-more"><a href="{site_url}whats-new/rubitown">Read more &raquo;</a></li>{/if}
                {/exp:channel:entries}
                </ul>
              </div>
              --}
              <div id="announcements" class="span6">
                <h3>Upcoming Events</h3>
                <ul>
                  {exp:calendar:events
                      calendar_name="kids"
                      orderby="title"
                      sort="asc"
                      date_range_start="today"
                      show_months="3"
                      dynamic="off"
                  }

                      {if calendar_no_results}
                          <li>No Results</li>
                      {/if}
                      <li>
                          <a href="{path='events/event'}/{event_id}/">
                              <b>{event_title}</b>
                          </a>
                      </li>
                      {if count == total_results}<li class="read-more"><a href="{site_url}events/calendars/kids">View all &raquo;</a></li>{/if}
                  {/exp:calendar:events}
                </ul>
              </div>
              
              <div class="span6">
                <div class="row">
                  <div id="calendarPromo" class="span3 promoLink">
                    <a href="{site_url}events/calendars/kids">
                      <img src="/assets/img/rubitown/rubitown_btnbg_calendar.jpg" alt="Give" width="212" height="84">
                      <span><strong>Calendar</strong></span>
                    </a>
                  </div>
                  <div id="watchPromo" class="span3 promoLink">
                    <a href="{site_url}media/rubitown">
                      <img src="/assets/img/rubitown/rubitown_btnbg_watch.jpg" alt="Give" width="212" height="84">
                      <span><strong>Watch</strong></span>
                    </a>
                 </div>
                </div>
                <div class="row">
                  <div id="songsPromo" class="span3 promoLink visible-desktop">
                    <a href="#rubiSongsModal" role="button" data-toggle="modal">
                      <img src="/assets/img/rubitown/rubitown_btnbg_songs.jpg" alt="Give" width="212" height="84">
                      <span><strong>Songs</strong></span>
                    </a>
                 </div>
                  <div id="givePromo" class="span3 promoLink">
                    <a href="/giving">
                      <img src="/assets/img/rubitown/rubitown_btnbg_give.jpg" alt="Give" width="212" height="84">
                      <span><strong>Give</strong></span>
                    </a>
                 </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </section>
  
  <!-- Songs Modal -->
  <div id="rubiSongsModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="rubiSongsModalLabel" aria-hidden="true">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
      <h3 id="rubiSongsModalLabel">RubiTown Songs</h3>
    </div>
    <div class="modal-body">
      <h3>Coming soon!</h3>
      {!--
      <div id="rubiSongsPlayer"></div>
      <ul class="controls">
          <li>
            <span class="track">1</span>
            <span class="title">Song Title Number One</span>
            <span class="controls">
              <a class="audioButton" href="/media/rubitown/song.mp3">Play Song 1</a>
              <a class="download" href="/media/rubitown/song.mp3">Download Song 1</a>
            </span>
          </li>
          <li>
            <span class="track">2</span>
            <span class="title">Song Title Number Two</span>
            <span class="controls">
              <a class="audioButton" href="/media/rubitown/song.mp3">Play Song 2</a>
              <a class="download" href="/media/rubitown/song.mp3">Download Song 2</a>
            </span>
          </li>
          <li>
            <span class="track">3</span>
            <span class="title">Song Title Number Three</span>
            <span class="controls">
              <a class="audioButton" href="/media/rubitown/song.mp3">Play Song 3</a>
              <a class="download" href="/media/rubitown/song.mp3">Download Song 3</a>
            </span>
          </li>
          <li>
            <span class="track">4</span>
            <span class="title">Song Title Number Four</span>
            <span class="controls">
              <a class="audioButton" href="/media/rubitown/song.mp3">Play Song 4</a>
              <a class="download" href="/media/rubitown/song.mp3">Download Song 4</a>
            </span>
          </li>
          <li>
            <span class="track">5</span>
            <span class="title">Song Title Number Five</span>
            <span class="controls">
              <a class="audioButton" href="/media/rubitown/song.mp3">Play Song 5</a>
              <a class="download" href="/media/rubitown/song.mp3">Download Song 5</a>
            </span>
          </li>
          <li>
            <span class="track">6</span>
            <span class="title">Song Title Number Six</span>
            <span class="controls">
              <a class="audioButton" href="/media/rubitown/song.mp3">Play Song 6</a>
              <a class="download" href="/media/rubitown/song.mp3">Download Song 6</a>
            </span>
          </li>
      </ul>
      --}
    </div>
  </div>
  
  <!-- End Page Content -->

</div>
{embed="global/footer"}
{js_foot}
{countdownjs}

<script src="/assets/js/vendor/ubaplayer/jquery.ubaplayer.min.js"></script>
<script>
  $(function(){
    $("#rubiSongsPlayer").ubaPlayer();
  });
</script>

{body_html_end}
{/exp:ce_cache:it}