section#events {
  background: url("/assets/img/content_column_bg.png") repeat-y scroll 0 0 #F7F7F7;
  border: 1px solid #DEDEDE;
  border-radius: 6px 6px 6px 6px;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  margin: 0 auto 13px;
  
  #section-nav {
    float: left;
    margin-right: 1px;
    min-height: 80px;
    padding: 20px 14px 40px;
    vertical-align: top;
//    width: 159px;
    margin-left: 0;
    
    nav {
      margin-left: -15px;
      width: 188px;
      
      ul {
        background: none repeat scroll 0 0 #FFFFFF;
        border: 1px solid #DEDEDE;
        margin-left: 7px;
        padding: 12px;
        width: 149px;
        
        li {
          height: 22px;
          line-height: 22px;
          margin-left: 20px;
          overflow: hidden;
          font-size: 12px;
          line-height: 16px;
          
          &.divider {height:1px;margin:9px 1px;}
          
          a {
            &:hover {background-color: transparent;}
          }
          
          &.active {
            background: none repeat scroll 0 0 #EDEDED;
            border-radius: 3px 3px 3px 3px;
            margin: 0;
            padding-left: 20px;
            a {
              color: #666666;
              background-color: transparent;
              text-shadow: none;
            }
          }
          &.nav-header {
            color: #404040;
            font-size: 12px;
            font-weight: 500;
            margin-bottom: 7px;
            text-transform: none;
            margin: 0;
            padding-left: 0;
            padding-right: 0;
            text-shadow: none;
          }
        }
        
      }
    }
    
  }
  #events-listing {
    float: left;
    padding: 30px;
    position: relative;
    width: 700px;
    margin-left: 0;
  }
  
}


/* ARCHIVE DAILY VIEW */
.calendar-event-list {
  .calendar-day-wrap {
    position:relative;
    padding-bottom: 20px;
    margin-bottom:20px;
    //border-bottom: 1px solid $grayLight;
  }
  .calendar-day-header-wrap {
    text-align:center;
    
    &, .calendar-day-header-inside {
      position: absolute; right: 0;
    }
    .calendar-day-header-inside {
      width:100%;
      background-color:$grayLighter;
    }
    
    h3 {font-style: normal;text-transform: none;}
    span {
      display:block;
      &.month-header {font-size:16px;}
      &.day-header {font-size:40px;}
      &.year-header {font-size:14px;}
      &.weekday-header {font-size:14px;}
    }
  }
  .calendar-day-event {
    border-bottom: 1px solid $grayLighter;
    margin-bottom:10px; padding-bottom:10px;
    @include clearfix;
    
    &:last-child { border-bottom:0 none; margin-bottom: 0; padding-bottom: 0; }
    
    .event-promo-image {
      float: left;
      width: 208px;
      padding: 5px;
      border: 1px solid $grayLighter;
      a {display:block;}
    }
    .event-content {
      float: left;
      margin-left: 20px;
      width: 380px;
    }
    
    h2.event-title {
      font-size: 17px;
      line-height: 20px;
      font-weight: bold;
      text-transform: none;
    }
    h3.event-category {
      font-size:12px;font-weight:normal;
      margin:-2px 0 3px;
      line-height: 20px;
      a {color:$gray;}
    }
    .label-group {
      font-size:13px;
      line-height: 18px;
      margin-bottom:0;
      @include clearfix;
      .label-label {text-align:left;width:auto;color:$gray;font-weight:bold;margin-right: 10px;}
      .label-content {float:left;margin-left: auto;}
    }
  }
}

.calendar-page-head {
  border-bottom: 1px solid $grayLight;
  padding-bottom:13px;
  margin-bottom:20px;
  @include clearfix;
  
  h4 {
    margin: 0; font-size: 17px; line-height: 20px;
    
    .subscribe { text-transform: none; font-size: 11px; margin-top: 6px; }
  }
}

/* EVENT DETAIL VIEW */
#calendar-event {
  #calendar-event-promo-header {
    border-bottom: 1px dotted #D5D5D3;
    margin-bottom: 18px;
    padding-bottom: 14px;
    position: relative;
    
    h1 {
      font-size: 26px;
      line-height: 28px;
      font-weight: normal;
      margin: 0 130px 10px 0;
      text-transform: none;
    }
    h2 {
      font-size: 14px;
      color: #333;
      text-align: left;
      line-height: 24px;
      margin: 0;
      padding: 0;
      font-weight: 300;
      text-transform: uppercase;
    }
    p.add-to-calendar {
      font-size: 11px;
      position: absolute;
      right: 0;
      top: 0;
    }
  }
  
  .calendar-event-section {
    margin-top: 20px;
    padding-top: 20px;
    border-top: 1px dotted #d5d5d3; 
        
    h4 {
      font-size: 14px;
      color: #333;
    }
    
    .calendar-event-section-content {
      
    }
        
  }
  
  #calendar-event-promo-image {margin-bottom:20px;}
  #calendar-event-downloads {margin-bottom:20px;}
  #calendar-event-map { height: 240px; width: 100%; margin-bottom: 15px; }
  
  #media-witness {
    @include clearfix;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 0;
    
    h4 { float: none; margin: 0 0 6px 0; }
    .social_buttons { float: left; }
  }
  
  #calendar-event-details {
    h2.event-title {font-size:21px;font-weight:bold;margin-bottom:20px;text-transform:none;}
    h3.event-category {
      font-size:16px;font-weight:normal;
      a {color:$grayLight;}
    }
    h4.event-description-title {margin-top:10px;}
    p.event-description {}
    .label-group {
      padding-bottom:10px;
      border-bottom: 1px solid $grayLight2;
      .label-label {text-align:left;width:80px;color:$grayLight;}
      .label-content {margin-left: 100px;}
    }
    .event-occurrences {
      
      h5 {
        
      }
      
      .calendar-event-section-content {
        padding: 6px 11px 7px 14px;
        border: 1px solid #d5d5d3;
        @include border-radius(5px);
      }
      
     ul {
        margin:0;
        li {font-size:11px;}
      }
    }
  }
  .btn-map { margin-left: 10px; font-size: 11px; padding: 1px 6px; }
}

#campusMapModal {
  .modal-body img {
    margin: -15px;
  }
}