.label-group {
  margin-bottom: 10px;
  @include clearfix;
  .label-label {
    float: left;
    width: 160px;
    text-align: right;
  }
  .label-content {
    *display: inline-block;
    *padding-left: 20px;
    margin-left: 180px;
    *margin-left: 0;
    &:first-child {
      *padding-left: 180px;
    }
  }
}

.form-horizontal .mutliple-rows input {
  margin-bottom: 9px;
}

.form-horizontal {
  input.error {
    margin-bottom: 0;
    color: $errorText;
    background-color: $errorBackground;
    border-color: $errorBorder;
  }
  label.error {
    color: $errorText;
  }
}

// This is for the custom form here http://local.mtrubidouxsda.org/ministry-forms/test-admin-form-2
#static-page #static-page-content #custom_form .ff_composer {
  input[type="text"]{
    height:30px;
  }
  input[type="checkbox"],
  input[type="radio"]{
    margin:0;
  }
  ul li{
    list-style-type: none;
    padding-left: 0;
  }
  label{
    display: inline;
  }
}