#gnav-spacing {margin-top: 26px;}
#gnav {	//Sticky Menu
	z-index: 100;	
	height: 40px;
	font-size: 28px;
	font-family: Palatino;
	padding: 5px;
//	width: 100%;
	overflow:hidden;
	float:inline;
	text-align:center;
	background: $churchPurple;    
	opacity:0.9;
	filter:alpha(opacity=90); /* For IE8 and earlier */
	box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.9);
	ul {
		margin-left: 0;
	}
	& li {
		display:inline-block;
		float: none; 
		margin: 3px 18px;
		color: #FFF;
		line-height:35px;
		list-style-type: none;
		& a {
			color: #FFFFFF;  
			text-decoration: none;    
			&:hover {
				text-decoration: underline;   
			}
		}
	}
	br.clearLeft {
		clear: left;        
	}
}
body.eut-giving{
	.fancybox-skin{
		padding: 0 !important;
		border-radius: 0 !important;
	}
	.fancybox-inner{
		width: 100% !important;
	}
}
#giving_message{
	@extend #givingWrap;

	#adventistGiving{
		min-width: 400px;
		margin-left: 15px;
	}
	a:hover{
		text-decoration: none;
	}
	p{
		font-size: 1em;
		color: #68578e;
		line-height: 1.2;
		margin: 0 10%;
		&.center{
			text-align: center;
			margin: 1.5em inherit; 
		}
	}
	.bigger{
		font-size: 1.5em;
	}
	.button_links{
		text-align: center;
		margin-top: 2em;
	}
	.header{
		background-color: #68578e;
		img{
			display: block;
			margin: 0 auto;
			padding: 40px;
		}
	}
}
#givingWrap {
	hr {
//		width: 960px;
		margin-left: auto;
		margin-right: auto;
		border: 1px solid #cfcfcf;
	}
	width: 100%;
	#faq, #giving{ 			//General Act Styles
		h3{
			font-size: 50px;
		}
		p {
			font-size: 29px;
			font-weight:500;
			color: #68578e;
			line-height: 1.2;
		}
		min-height:100vh;
		padding:50px 0 50px 0;	

		overflow: hidden;
	}
	#giving {
		min-height:50vh;
		text-align:center;
		background-color: #FFF;
		color:$purple;
		font-family: Palatino, "Palatino Linotype";
	}
	#video {
		position: relative;
		//height: 90vh;
		padding-bottom: 56.25%;
		padding-top: 30px;
		height: 0;
		overflow: hidden;
		iframe{
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
		}
	}
	.causes {
//		padding:1em 0 1em 0;
		min-height:120px;
		width:100%;
//		margin-top:1em;
		color:#525252;
		font-size: 18px;
		color: #525252;
		& h1, h2 {
			font-size:30px;
			color:#68578e;
			text-transform:none;
			line-height: 1.1;
		}
		h1 {
			//font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
		}
		.money { font-size: 24px !important; font-weight: 500px; color: #525252;}
		p {
			font-size: 18px !important;
			color: #525252 !important;
		}
		img {
			border: 5px solid #FFF;
			max-width: 70%;
			@include box-shadow (0 0 5px 1px #DDD);
		}
		hr {
//			margin-top: 38px;
			margin-bottom: 38px;
		}
		li {
			line-height: 1.5em;
			margin-left: 1.5em;
		}
	}
	#serve, 
	#faq {
		text-align:center;
		background: #FFF url("/assets/img/bg-center.jpg") no-repeat;
		background-attachment: fixed;
		background-size: 100% 100%;		
		color:$purple;
		hr {
			margin: 60px auto 60px auto;
		}
	}
	#faq {
		font-size: 16px;
		color: #FFFFFF;
		h1 {
			font-size: 24px;
			color: #68578e;
			text-transform: none;
			margin-top: 1.5em;
		} 
		#faq-content, #faq-content p {
			font-size: 16px;
			color: #525252;
			line-height: 1.1;
			text-align: left;
		}
		.address, address p{
			margin-top: 40px;
			color: #FFF;
		}
		.row {
			min-height: 300px;
			margin-bottom: 20px;
		}
		p {
			font-size: 17px;
			
		}
	}
	#serve {
		min-height: 100vh;
		@include clearfix();
		color: #FFF;
		font-family: palatino;
		.infoBlock {		
			margin-left: auto;
			margin-right: auto;
			overflow: hidden;
			padding: 14vh 200px 0 200px;
			text-align: center;
		}
		.infoBlockLeftBlack {		//For Semi-transparent background. Disabled for now
		  color: #FFF;
		  width: 700px;
		  padding-top: 10px;
		  padding-bottom: 10px;
		  margin-left: auto;
		  margin-right: auto;
		}
		h1 {
			font-size: 75px;
			color: #FFF;
			// @include text-shadow(1px 1.732px 0px rgb( 0, 0, 0 ));
			text-shadow: 1px 1.732px 0px rgb( 0, 0, 0 );
		}
		p {
			font-size: 30px;
			line-height: 1.5;
			font-weight: 500;
			// @include text-shadow(1px 1.732px 0px rgb( 0, 0, 0 ));
			text-shadow: 1px 1.732px 0px rgb( 0, 0, 0 );
		}
		hr {
			border: 1px solid #68578e;
			margin: 21px auto;
			@include box-shadow(0px 1px 1px 1px rgba(0, 0, 0, 0.3));
		}
		#outer {   
			padding: 25vh 0 25vh 0;
		}
	}
}
.text-wrap{
	width: 800px;
	margin-left: auto;
	margin-right: auto;
	padding: 20px 0 20px 0;
	text-align: center;
	
}
#causes-wrapper {
	background: #FFF url("/assets/img/bg-center.jpg") no-repeat;
	background-attachment: fixed;
	background-size: 100% 100%;
	padding:10px 0 10px 0;	
}
.ch1 {
	font-weight: bold;
	font-family: "Palatino Linotype", Palatino, Palladio, "URW Palladio L", "Book Antiqua", Baskerville, "Bookman Old Style", "Bitstream Charter", "Nimbus Roman No9 L", Garamond, "Apple Garamond", "ITC Garamond Narrow", "New Century Schoolbook", "Century Schoolbook", "Century Schoolbook L", Georgia, serif;
	font-size: 50px;
	color: rgb( 79, 64, 105 );
	text-align: center;
	margin: 15px 0 15px 0;
	text-shadow: 1px 1.732px 0px rgb( 255, 255, 255 );
	line-height: 1em;
}
#donate-buttons, #donate-buttons p {
	font-size: 14px !important;
	line-height: 1.5;
	width: 200px;
	color: #FFF;
	text-align: center;
	:hover {
		color: #FFF !important;
	}
}
#questions-btn, #questions-btn p {
	font-size: 17px;
	font-style: italic;
	hr {
		width: 100%;
		margin: 5px auto !important;
		border-top: 1px solid #68578e;
		border-bottom: 0;
	}
}
#mainwrapper .box {
	background-image: -moz-linear-gradient( 90deg, rgb(79,64,105) 0%, rgb(98,81,135) 100%);
	background-image: -webkit-linear-gradient( 90deg, rgb(79,64,105) 0%, rgb(98,81,135) 100%);
	background-image: -ms-linear-gradient( 90deg, rgb(79,64,105) 0%, rgb(98,81,135) 100%);
}
/* General button style (reset) */
#givingWrap {
	.btn-lg {
		width: 314px;
		line-height: 1.2px;
	}
	.btn-donate {
		width: 290px !important;
		height: 290px !important;
		text-align: center;
		line-height: 1.2;
		padding: 0 !important;
	}
	.btn-serve {
		padding: 25px 0 !important;
	//	width: 190px !important;
	//	height: 190px !important;
		text-align: center;
		min-width: 300px;	
	}
	.btn-center {
		margin-top: 30px;
	}
	.btn {

		border: none;
		font-family: inherit;
		font-size: inherit;
		color: inherit;
		background: none;
		cursor: pointer;
		padding: 25px 30px;
		display: inline-block;
		margin: 15px 30px;
		
		font-weight: 600;
		outline: none;
		position: relative;
		-webkit-transition: all 0.3s;
		-moz-transition: all 0.3s;
		transition: all 0.3s;
		img {
			overflow: hidden;
			padding: 0;
			margin-bottom: 10px;
		}
	}

	.btn:after {
		content: '';
		position: absolute;
		z-index: -1;
		-webkit-transition: all 0.3s;
		-moz-transition: all 0.3s;
		transition: all 0.3s;
	}

	/* Pseudo elements for icons */
	.btn:before,
	.icon-heart:after,
	.icon-star:after,
	.icon-plus:after,
	.icon-file:before {
		font-family: 'icomoon';
		speak: none;
		font-style: normal;
		font-weight: normal;
		font-variant: normal;
		text-transform: none;
		line-height: 1;
		position: relative;
		-webkit-font-smoothing: antialiased;
	}

	.icon-envelope:before {
		content: "\e000";
	}

	.icon-cart:before {
		content: "\e007";
	}

	.icon-cart-2:before {
		content: "\e008";
	}

	.icon-heart:before {
		content: "\e009";
	}

	/* Filled heart */
	.icon-heart:after,
	.icon-heart-2:before {
		content: "\e00a";
	}

	.icon-star:before {
		content: "\e00b";
	}

	/* Filled star */
	.icon-star:after,
	.icon-star-2:before {
		content: "\e00c";
	}

	.icon-arrow-right:before {
		content: "\e00d";
	}

	.icon-arrow-left:before {
		content: "\e003";
	}

	.icon-truck:before {
		content: "\e00e";
	}

	.icon-remove:before {
		content: "\e00f";
	}

	.icon-cog:before {
		content: "\e010";
	}

	.icon-plus:before,
	.icon-plus:after {
		content: "\e011";
	}

	.icon-minus:before {
		content: "\e012";
	}

	.bh-icon-smiley:before {
		content: "\e001";
	}

	.bh-icon-sad:before {
		content: "\e002";
	}

	.icon-file:before {
		content: "\e004";
	}

	.icon-remove-2:before {
		content: "\e005";
	}


	/* Button 5 */
	.btn-5 {
		font-family: Palatino, "Palatino Linotype";
		border-radius: 6px;
		background-image: -moz-linear-gradient( 90deg, rgb(79,64,105) 0%, rgb(98,81,135) 100%);
		background-image: -webkit-linear-gradient( 90deg, rgb(79,64,105) 0%, rgb(98,81,135) 100%);
		background-image: -ms-linear-gradient( 90deg, rgb(79,64,105) 0%, rgb(98,81,135) 100%);
		@include box-shadow( 0 2px rgba( 0, 0, 0, 0.2 ));
		@include box-shadow(inset 0px 2px rgba(255,255,255,0.2));
		color: #fff;
		height: 60px;
		min-width: 160px;
		margin: 0 auto;
		padding: 0 auto;
		overflow: hidden;
		-webkit-backface-visibility: hidden;
		-moz-backface-visibility: hidden;
		backface-visibility: hidden;
		font-size: 26px;
		color: rgb( 255, 255, 255 );
		font-weight: bold;
		text-align: center;
		text-shadow: 0.5px 0.866px 0px rgb( 0, 0, 0 );
	}
	.btn-5:hover {
		background: darken($churchPurple2, 20%);
		opacity:0.8;
		filter:alpha(opacity=80); /* For IE8 and earlier */
	}
	.btn-5:active {
		background: #9053a9;
		top: 2px;
	}

	.btn-5 span {
		font-family: Palatino;

		width: 100%;
		height: 100%;
		-webkit-transition: all 0.3s;
		-webkit-backface-visibility: hidden;
		-moz-transition: all 0.3s;
		-moz-backface-visibility: hidden;
		transition: all 0.3s;
		backface-visibility: hidden;
	}

	.btn-5:before {
		position: absolute;
		height: 100%;
		width: 100%;
		line-height: 2.5;
		font-size: 180%;
		-webkit-transition: all 0.3s;
		-moz-transition: all 0.3s;
		transition: all 0.3s;
	}

	.btn-5:active:before {
		color: #703b87;
	}

	/* Button 5a */
	.btn-5a:hover span {
		-webkit-transform: translateY(300%);
		-moz-transform: translateY(300%);
		-ms-transform: translateY(300%);
		transform: translateY(300%);
	}

	.btn-5a:before {
		left: 0;
		top: -100%;
	}

	.btn-5a:hover:before {
		top: 0;
	}

	/* Button 5b */
	.btn-5b:hover span {
		-webkit-transform: translateX(200%);
		-moz-transform: translateX(200%);
		-ms-transform: translateX(200%);
		transform: translateX(200%);
	}

	.btn-5b:before {
		left: -100%;
		top: 0;
	}

	.btn-5b:hover:before {
		left: 0;
	}

	/* Button 6 */
	.btn-6 {
		border-radius: 6px;
		background-image: -moz-linear-gradient( 90deg, rgb(79,64,105) 0%, rgb(98,81,135) 100%) !important;
		background-image: -webkit-linear-gradient( 90deg, rgb(79,64,105) 0%, rgb(98,81,135) 100%) !important;
		background-image: -ms-linear-gradient( 90deg, rgb(79,64,105) 0%, rgb(98,81,135) 100%) !important;
		box-shadow: 0.5px 0.866px 0px 0px rgb( 0, 0, 0 );
		color: #fff;
		-webkit-transition: none;
		-moz-transition: none;
		transition: none;
	}

	.btn-6:active {
		top: 2px;
	}

	/* Button 6a */
	.btn-6a {
		border: 4px solid #226fbe;
	}

	.btn-6a:hover {
		background: transparent;
		color: #226fbe;
	}

	/* Button 6b */
	.btn-6b {
		border: 4px solid #226fbe;
		border-radius: 15px;
	}

	.btn-6b:hover {
		background: transparent;
		color: #226fbe;
	}

	/* Button 6c */
	.btn-6c {
		border: 4px solid #226fbe;
		border-radius: 60px;
	}

	.btn-6c:hover {
		background: transparent;
		color: #226fbe;
	}

	/* Button 6d */
	.btn-6d {
		border: 2px dashed #226fbe;
	}

	.btn-6d:hover {
		background: transparent;
		color: #226fbe;
	}

	/* Button 6e */
	.btn-6e {
		border: 2px dashed #226fbe;
		border-radius: 15px;
	}

	.btn-6e:hover {
		background: transparent;
		color: #226fbe;
	}

	/* Button 6f */
	.btn-6f {
		border: 2px dashed #226fbe;
		border-radius: 60px;
	}

	.btn-6f:hover {
		background: transparent;
		color: #226fbe;
	}

	/* Button 6g */
	.btn-6g {
		border: 2px dotted #226fbe;
	}

	.btn-6g:hover {
		background: transparent;
		color: #226fbe;
	}

	/* Button 6h */
	.btn-6h {
		border: 2px dotted #226fbe;
		border-radius: 15px;
	}

	.btn-6h:hover {
		background: transparent;
		color: #226fbe;
	}

	/* Button 6i */
	.btn-6i {
		border: 2px dotted #226fbe;
		border-radius: 60px;
	}

	.btn-6i:hover {
		background: transparent;
		color: #226fbe;
	}

	/* Button 6j */
	.btn-6j {
		border: 4px double #226fbe;
	}

	.btn-6j:hover {
		background: transparent;
		color: #226fbe;
	}

	/* Button 6k */
	.btn-6k {
		border: 4px double #226fbe;
		border-radius: 15px;
	}

	.btn-6k:hover {
		background: transparent;
		color: #226fbe;
	}

	/* Button 6l */
	.btn-6l {
		border: 4px double #226fbe;
		border-radius: 60px;
	}

	.btn-6l:hover {
		background: transparent;
		color: #226fbe;
	}

	/* Button 7 */
	.btn-7 {
		background: #17aa56;
		color: #fff;
		border-radius: 7px;
		box-shadow: 0 5px #119e4d;
		padding: 25px 60px 25px 90px;
	}

	/* Button 7a */
	.btn-7a {
		overflow: hidden;
	}

	.btn-7a:before {
		position: absolute;
		left: 0;
		width: 40%;
		font-size: 160%;
		line-height: 0.8;
		color: #0a833d;
	}

	.btn-7a.btn-activated {
		-webkit-animation: fadeOutText 0.5s;
		-moz-animation: fadeOutText 0.5s;
		animation: fadeOutText 0.5s;
	}

	.btn-7a.btn-activated:before {
		-webkit-animation: moveToRight 0.5s;
		-moz-animation: moveToRight 0.5s;
		animation: moveToRight 0.5s;
	}

	@-webkit-keyframes fadeOutText {
		0% { color: transparent; }
		80% { color: transparent; }
		100% { color: #fff; }
	}

	@-moz-keyframes fadeOutText {
		0% { color: transparent; }
		80% { color: transparent; }
		100% { color: #fff; }
	}

	@keyframes fadeOutText {
		0% { color: transparent; }
		80% { color: transparent; }
		100% { color: #fff; }
	}

	@-webkit-keyframes moveToRight {
		80% { -webkit-transform: translateX(250%); }
		81% { opacity: 1; -webkit-transform: translateX(250%); }
		82% { opacity: 0; -webkit-transform: translateX(250%); }
		83% { opacity: 0; -webkit-transform: translateX(-50%); }
		84% { opacity: 1; -webkit-transform: translateX(-50%);  }
		100% { -webkit-transform: translateX(0%); }
	}

	@-moz-keyframes moveToRight {
		80% { -moz-transform: translateX(250%); }
		81% { opacity: 1; -moz-transform: translateX(250%); }
		82% { opacity: 0; -moz-transform: translateX(250%); }
		83% { opacity: 0; -moz-transform: translateX(-50%); }
		84% { opacity: 1; -moz-transform: translateX(-50%);  }
		100% { -moz-transform: translateX(0%); }
	}

	@keyframes moveToRight {
		80% { transform: translateX(250%); }
		81% { opacity: 1; transform: translateX(250%); }
		82% { opacity: 0; transform: translateX(250%); }
		83% { opacity: 0; transform: translateX(-50%); }
		84% { opacity: 1; transform: translateX(-50%);  }
		100% { transform: translateX(0%); }
	}

	/* Button 7b */
	.btn-7b {
		overflow: hidden;
	}

	.btn-7b:before {
		position: absolute;
		left: 0;
		width: 40%;
		font-size: 160%;
		line-height: 0.8;
		color: #0a833d;
	}

	.btn-7b.btn-activated:before {
		-webkit-animation: scaleUp 0.5s;
		-moz-animation: scaleUp 0.5s;
		animation: scaleUp 0.5s;
	}

	@-webkit-keyframes scaleUp {
		80% {
			opacity: 0;
			-webkit-transform: scale(2);
		}
		100% {
			opacity: 0;
			-webkit-transform: scale(2);
		}
	}

	@-moz-keyframes scaleUp {
		80% {
			opacity: 0;
			-moz-transform: scale(2);
		}
		100% {
			opacity: 0;
			-moz-transform: scale(2);
		}
	}

	@keyframes scaleUp {
		80% {
			opacity: 0;
			transform: scale(2);
		}
		100% {
			opacity: 0;
			transform: scale(2);
		}
	}

	/* Icon only style */
	.btn-icon-only {
		font-size: 0;
		padding: 25px 30px;
	}

	.btn-icon-only:before {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		font-size: 26px;
		line-height: 54px;
		-webkit-backface-visibility: hidden;
		-moz-backface-visibility: hidden;
		backface-visibility: hidden;
	}

	/* Button 7c */
	.btn-7c {
		overflow: hidden;
	}

	.btn-7c:before {
		color: #fff;
		z-index: 1;
	}

	.btn-7c:after {
		position: absolute;
		top: 0;
		left: 0;
		height: 100%;
		z-index: 0;
		width: 0;
		background: #0a833d;
		-webkit-transition: none;
		-moz-transition: none;
		transition: none;
	}

	.btn-7c.btn-activated:after {
		-webkit-animation: fillToRight 0.7s forwards;
		-moz-animation: fillToRight 0.7s forwards;
		animation: fillToRight 0.7s forwards;
	}

	@-webkit-keyframes fillToRight {
		to { 
			width: 100%;
		}
	}

	@-moz-keyframes fillToRight {
		to { 
			width: 100%;
		}
	}

	@keyframes fillToRight {
		to { 
			width: 100%;
		}
	}

	/* Button 7d */
	.btn-7d {
		overflow: hidden;
	}

	.btn-7d:before {
		color: #fff;
		z-index: 1;
	}

	.btn-7d:after {
		position: absolute;
		top: 0;
		left: 0;
		height: 0;
		width: 100%;
		z-index: 0;
		background: #21bb63;
		-webkit-transition: none;
		-moz-transition: none;
		transition: none;
	}

	.btn-7d.btn-activated:after {
		-webkit-animation: emptyBottom 0.7s forwards;
		-moz-animation: emptyBottom 0.7s forwards;
		animation: emptyBottom 0.7s forwards;
	}

	@-webkit-keyframes emptyBottom {
		to { 
			height: 100%;
		}
	}

	@-moz-keyframes emptyBottom {
		to { 
			height: 100%;
		}
	}

	@keyframes emptyBottom {
		to { 
			height: 100%;
		}
	}

	/* Button 7e */
	.btn-7e:after {
		position: absolute;
		width: 100%;
		height: 100%;
		left: 0;
		top: 0;
		z-index: 1;
		font-size: 26px;
		line-height: 54px;
		color: #ea515e;
		-webkit-transform: scale(0);
		-moz-transform: scale(0);
		-ms-transform: scale(0);
		transform: scale(0);
		opacity: 0;
		-webkit-transition: none;
		-moz-transition: none;
		transition: none;
	}

	.btn-7e.btn-activated:after {
		-webkit-animation: scaleFade 0.5s forwards;
		-moz-animation: scaleFade 0.5s forwards;
		animation: scaleFade 0.5s forwards;
	} 

	@-webkit-keyframes scaleFade {
		50% { 
			opacity: 1;
			-webkit-transform: scale(1);
		}
		100% {
			opacity: 0;
			-webkit-transform: scale(2.5);
		}
	}

	@-moz-keyframes scaleFade {
		50% { 
			opacity: 1;
			-moz-transform: scale(1);
		}
		100% {
			opacity: 0;
			-moz-transform: scale(2.5);
		}
	}

	@keyframes scaleFade {
		50% { 
			opacity: 1;
			transform: scale(1);
		}
		100% {
			opacity: 0;
			transform: scale(2.5);
		}
	}

	/* Button 7f */
	.btn-7f:before {
		-webkit-text-stroke-width: 1px;
		-webkit-text-stroke-color: #fff;
	}
	.btn-7f:after {
		position: absolute;
		width: 100%;
		height: 100%;
		left: 0;
		top: 0;
		z-index: 1;
		font-size: 26px;
		line-height: 54px;
		color: #ffe44d;
		visibility: hidden;
		-webkit-text-stroke-width: 1px;
		-webkit-text-stroke-color: #ffe44d;
		-webkit-transform: scale(4);
		-moz-transform: scale(4);
		-ms-transform: scale(4);
		transform: scale(4);
		opacity: 0;
		-webkit-transition: none;
		-moz-transition: none;
		transition: none;
	}

	.btn-7f.btn-activated:after {
		visibility: visible;
		-webkit-animation: dropDown 0.3s forwards;
		-moz-animation: dropDown 0.3s forwards;
		animation: dropDown 0.3s forwards;
	} 

	@-webkit-keyframes dropDown {
		to { 
			opacity: 1;
			-webkit-transform: scale(1);
		}
	}

	@-moz-keyframes dropDown {
		to { 
			opacity: 1;
			-moz-transform: scale(1);
		}
	}

	@keyframes dropDown {
		to { 
			opacity: 1;
			transform: scale(1);
		}
	}

	/* Button 7g */
	.btn-7g:after {
		position: absolute;
		width: 100%;
		height: 100%;
		left: 0;
		top: 0;
		z-index: 1;
		font-size: 26px;
		line-height: 54px;
		color: #0a833d;
		visibility: hidden;
		-webkit-transform: scale(2);
		-moz-transform: scale(2);
		-ms-transform: scale(2);
		transform: scale(2);
		opacity: 0;
		-webkit-transition: none;
		-moz-transition: none;
		transition: none;
	}

	.btn-7g.btn-activated:after {
		visibility: visible;
		-webkit-animation: dropDownFade 0.5s forwards;
		-moz-animation: dropDownFade 0.5s forwards;
		animation: dropDownFade 0.5s forwards;
	} 

	@-webkit-keyframes dropDownFade {
		50% { 
			opacity: 1;
			-webkit-transform: scale(1);
		}
		100% { 
			opacity: 0;
			-webkit-transform: scale(1.5);
		}
	}

	@-moz-keyframes dropDownFade {
		50% { 
			opacity: 1;
			-moz-transform: scale(1);
		}
		100% { 
			opacity: 0;
			-moz-transform: scale(1.5);
		}
	}

	@keyframes dropDownFade {
		50% { 
			opacity: 1;
			transform: scale(1);
		}
		100% { 
			opacity: 0;
			transform: scale(1.5);
		}
	}

	/* Button 7h */
	.btn-7h {
		overflow: hidden;
	}

	.btn-7h span {
		display: inline-block;
		width: 100%;
	}

	.btn-7h:before {
		position: absolute;
		left: 0;
		width: 40%;
		font-size: 160%;
		line-height: 0.8;
		color: #0a833d;
	}

	/* Success and error */

	.btn-success,
	.btn-error {
		color: transparent;
	}

	.btn-success:after,
	.btn-error:after {
		z-index: 1;
		color: #fff;
		left: 40%;
	}

	.btn-success:before {
		content: "\e001";
	}

	.btn-success:after {
		content: "Success!";
		-webkit-animation: moveUp 0.5s;
		-moz-animation: moveUp 0.5s;
		animation: moveUp 0.5s;
	}

	@-webkit-keyframes moveUp {
		0% {
			-webkit-transform: translateY(50%);
			opacity: 0;
		}
		100% { 
			opacity: 1;
			-webkit-transform: translateY(0);
		}
	}

	@-moz-keyframes moveUp {
		0% {
			-moz-transform: translateY(50%);
			opacity: 0;
		}
		100% { 
			opacity: 1;
			-moz-transform: translateY(0);
		}
	}

	@keyframes moveUp {
		0% {
			transform: translateY(50%);
			opacity: 0;
		}
		100% { 
			opacity: 1;
			transform: translateY(0);
		}
	}

	.btn-error {
		-webkit-animation: shake 0.5s;
		-moz-animation: shake 0.5s;
		animation: shake 0.5s;
	}

	/* From Dan Eden's animate.css: http://daneden.me/animate/ */
	@-webkit-keyframes shake {
		0%, 100% {-webkit-transform: translateX(0);}
		10%, 30%, 50%, 70%, 90% {-webkit-transform: translateX(-10px);}
		20%, 40%, 60%, 80% {-webkit-transform: translateX(10px);}
	}

	@-moz-keyframes shake {
		0%, 100% {-moz-transform: translateX(0);}
		10%, 30%, 50%, 70%, 90% {-moz-transform: translateX(-10px);}
		20%, 40%, 60%, 80% {-moz-transform: translateX(10px);}
	}

	@keyframes shake {
		0%, 100% {transform: translateX(0);}
		10%, 30%, 50%, 70%, 90% {transform: translateX(-10px);}
		20%, 40%, 60%, 80% {transform: translateX(10px);}
	}

	.btn-error:before {
		content: "\e002";
	}

	.btn-error:after {
		content: "Error!";
		-webkit-animation: scaleFromUp 0.5s;
		-moz-animation: scaleFromUp 0.5s;
		animation: scaleFromUp 0.5s;
	}

	@-webkit-keyframes scaleFromUp {
		0% {
			-webkit-transform: scale(0);
			opacity: 0;
		}
		100% { 
			opacity: 1;
			-webkit-transform: scale(1);
		}
	}

	@-moz-keyframes scaleFromUp {
		0% {
			-moz-transform: scale(0);
			opacity: 0;
		}
		100% { 
			opacity: 1;
			-moz-transform: scale(1);
		}
	}

	@keyframes scaleFromUp {
		0% {
			transform: scale(0);
			opacity: 0;
		}
		100% { 
			opacity: 1;
			transform: scale(1);
		}
	}

	/* Special trash effect */
	.trash-effect {
		position: relative;
		max-width: 320px;
		margin: 60px auto 0;
	} 

	.trash-effect .icon-file {
		font-size: 30px;
		position: absolute;
		width: 50px;
		height: 50px;
		left: 50%;
		top: 50%;
		margin: -45px 0 0 -25px;
		-webkit-transition: all 0.3s ease-out;
		-moz-transition: all 0.3s ease-out;
		transition: all 0.3s ease-out;
		-webkit-transform: translateX(90px) translateY(20px) scale(1);
		-moz-transform: translateX(90px) translateY(20px) scale(1);
		-ms-transform: translateX(90px) translateY(20px) scale(1);
		transform: translateX(90px) translateY(20px) scale(1);
	}

	.trash-effect .icon-file:nth-child(2) {
		-webkit-transform: translateX(140px) translateY(-10px) scale(1);
		-moz-transform: translateX(140px) translateY(-10px) scale(1);
		-ms-transform: translateX(140px) translateY(-10px) scale(1);
		transform: translateX(140px) translateY(-10px) scale(1);
		-webkit-transition-delay: 0.1s;
		-moz-transition-delay: 0.1s;
		transition-delay: 0.1s;
	}

	.trash-effect .icon-file:nth-child(3) {
		-webkit-transform: translateX(140px) translateY(50px) scale(1);
		-moz-transform: translateX(140px) translateY(50px) scale(1);
		-ms-transform: translateX(140px) translateY(50px) scale(1);
		transform: translateX(140px) translateY(50px) scale(1);
		-webkit-transition-delay: 0.2s;
		-moz-transition-delay: 0.2s;
		transition-delay: 0.2s;
	}

	.trash-effect.trash-effect-active .icon-file {
		-webkit-transform: translateX(-100px) translateY(-10px) scale(0);
		-moz-transform: translateX(-100px) translateY(-10px) scale(0);
		-ms-transform: translateX(-100px) translateY(-10px) scale(0);
		transform: translateX(-100px) translateY(-10px) scale(0);
	}

	/* Button 7i */
	.btn-7i {
		box-shadow: none;
		border-radius: 0 0 7px 7px;
		padding: 27px 33px;
		-webkit-transform: translateX(-100px);
		-moz-transform: translateX(-100px);
		-ms-transform: translateX(-100px);
		transform: translateX(-100px);
	}

	.btn-7i:before {
		line-height: 45px;
	}

	.btn-7i:after {
		height: 10px;
		width: 100%;
		background: #17aa56;
		border-radius: 7px 7px 0 0;
		left: 0;
		top: -10px;
		z-index: 1;
		-webkit-transform-origin: 0 100%;
		-moz-transform-origin: 0 100%;
		-ms-transform-origin: 0 100%;
		transform-origin: 0 100%;
	}

	.trash-effect-active .btn-7i:after {
		-webkit-animation: openTrash 0.5s;
		-moz-animation: openTrash 0.5s;
		animation: openTrash 0.5s;
	}

	@-webkit-keyframes openTrash {
		50% {
			-webkit-transform: rotate(-35deg);
		}
		100% { 
			-webkit-transform: rotate(0deg);
		}
	}

	@-moz-keyframes openTrash {
		50% {
			-moz-transform: rotate(-35deg);
		}
		100% { 
			-moz-transform: rotate(0deg);
		}
	}

	@keyframes openTrash {
		50% {
			transform: rotate(-35deg);
		}
		100% { 
			transform: rotate(0deg);
		}
	}

	/* Button 8 */
	.perspective {
		-webkit-perspective: 800px;
		-moz-perspective: 800px;
		perspective: 800px;
		display: inline-block;
	}

	.btn-8 {
		display: block;
		background: #5cbcf6;
		-webkit-transform-style: preserve-3d;
		-moz-transform-style: preserve-3d;
		transform-style: preserve-3d;
	}

	.btn-8:active {
		background: #55b7f3;
	}

	/* Button 8a */
	.btn-8a:after {
		width: 100%;
		height: 40%;
		left: 0;
		top: -40%;
		background: #49a7df;
		-webkit-transform-origin: 0% 100%;
		-webkit-transform: rotateX(90deg);
		-moz-transform-origin: 0% 100%;
		-moz-transform: rotateX(90deg);
		transform-origin: 0% 100%;
		transform: rotateX(90deg);
	}

	.btn-8a:hover {
		-webkit-transform: rotateX(-15deg);
		-moz-transform: rotateX(-15deg);
		-ms-transform: rotateX(-15deg);
		transform: rotateX(-15deg);
	}
	.happy{
	position: relative;
		margin: 0;
		padding: 1em;
		z-index: 1;
			background: #0e83cd;
			}
	/* Button 8b */
	.btn-8b:after {
		width: 100%;
		height: 40%;
		left: 0;
		top: 100%;
		background: #49a7df;
		-webkit-transform-origin: 0% 0%;
		-webkit-transform: rotateX(-90deg);
		-moz-transform-origin: 0% 0%;
		-moz-transform: rotateX(-90deg);
		-ms-transform-origin: 0% 0%;
		-ms-transform: rotateX(-90deg);
		transform-origin: 0% 0%;
		transform: rotateX(-90deg);
	}

	.btn-8b:hover {
		-webkit-transform: rotateX(15deg);
		-moz-transform: rotateX(15deg);
		-ms-transform: rotateX(15deg);
		transform: rotateX(15deg);
	}

	/* Button 8c */
	.btn-8c:after {
		width: 20%;
		height: 100%;
		left: -20%;
		top: 0;
		background: #49a7df;
		-webkit-transform-origin: 100% 0%;
		-webkit-transform: rotateY(-90deg);
		-moz-transform-origin: 100% 0%;
		-moz-transform: rotateY(-90deg);
		-ms-transform-origin: 100% 0%;
		-ms-transform: rotateY(-90deg);
		transform-origin: 100% 0%;
		transform: rotateY(-90deg);
	}

	.btn-8c:hover {
		-webkit-transform: rotateY(15deg);
		-moz-transform: rotateY(15deg);
		-ms-transform: rotateY(15deg);
		transform: rotateY(15deg);
	}

	/* Button 8d */
	.btn-8d:after {
		width: 20%;
		height: 100%;
		left: 100%;
		top: 0;
		background: #49a7df;
		-webkit-transform-origin: 0% 0%;
		-webkit-transform: rotateY(90deg);
		-moz-transform-origin: 0% 0%;
		-moz-transform: rotateY(90deg);
		-ms-transform-origin: 0% 0%;
		-ms-transform: rotateY(90deg);
		transform-origin: 0% 0%;
		transform: rotateY(90deg);
	}

	.btn-8d:hover {
		-webkit-transform: rotateY(-15deg);
		-moz-transform: rotateY(-15deg);
		-ms-transform: rotateY(-15deg);
		transform: rotateY(-15deg);
	}

	/* Button 8e */
	.btn-8e {
		-webkit-transform: rotateX(-15deg);
		-moz-transform: rotateX(-15deg);
		-ms-transform: rotateX(-15deg);
		transform: rotateX(-15deg);
	}

	.btn-8e:after {
		width: 100%;
		height: 40%;
		left: 0;
		top: -40%;
		background: #49a7df;
		-webkit-transform-origin: 0% 100%;
		-webkit-transform: rotateX(90deg);
		-moz-transform-origin: 0% 100%;
		-moz-transform: rotateX(90deg);
		-ms-transform-origin: 0% 100%;
		-ms-transform: rotateX(90deg);
		transform-origin: 0% 100%;
		transform: rotateX(90deg);
	}

	.btn-8e:active {
		-webkit-transform: rotateX(0deg);
		-moz-transform: rotateX(0deg);
		-ms-transform: rotateX(0deg);
		transform: rotateX(0deg);
	}

	/* Button 8f */
	.btn-8f {
		-webkit-transform: rotateX(15deg);
		-moz-transform: rotateX(15deg);
		-ms-transform: rotateX(15deg);
		transform: rotateX(15deg);
	}

	.btn-8f:after {
		width: 100%;
		height: 40%;
		left: 0;
		top: 100%;
		background: #49a7df;
		-webkit-transform-origin: 0% 0%;
		-webkit-transform: rotateX(-90deg);
		-moz-transform-origin: 0% 0%;
		-moz-transform: rotateX(-90deg);
		-ms-transform-origin: 0% 0%;
		-ms-transform: rotateX(-90deg);
		transform-origin: 0% 0%;
		transform: rotateX(-90deg);
	}

	.btn-8f:active {
		-webkit-transform: rotateX(0deg);
		-moz-transform: rotateX(0deg);
		-ms-transform: rotateX(0deg);
		transform: rotateX(0deg);
	}

	/* Button 8g */
	.btn-8g {
		background: #fff;
		color: #999;
	}

	.btn-8g:active {
		background: #fff;
	}

	.btn-8g:after,
	.btn-8g:before {
		text-transform: uppercase;
		width: 100%;
		height: 100%;
		position: absolute;
		left: 0;
		line-height: 70px;
	}

	.btn-8g:after {
		top: -100%;
		background: #7aca7c;
		color: #358337;
		content: 'It worked!';
		-webkit-transform-origin: 0% 100%;
		-webkit-transform: rotateX(90deg);
		-moz-transform-origin: 0% 100%;
		-moz-transform: rotateX(90deg);
		-ms-transform-origin: 0% 100%;
		-ms-transform: rotateX(90deg);
		transform-origin: 0% 100%;
		transform: rotateX(90deg);
	}

	.btn-8g:before {
		top: 100%;
		background: #e96a6a;
		color: #a33a3a;
		content: 'Error!';
		font-weight: 700;
		-webkit-transform-origin: 0% 0%;
		-webkit-transform: rotateX(-90deg);
		-moz-transform-origin: 0% 0%;
		-moz-transform: rotateX(-90deg);
		-ms-transform-origin: 0% 0%;
		-ms-transform: rotateX(-90deg);
		transform-origin: 0% 0%;
		transform: rotateX(-90deg);
	}

	.btn-8g.btn-success3d {
		background: #aaa;
		-webkit-transform-origin: 50% 100%;
		-webkit-transform: rotateX(-90deg) translateY(100%);
		-moz-transform-origin: 50% 100%;
		-moz-transform: rotateX(-90deg) translateY(100%);
		-ms-transform-origin: 50% 100%;
		-ms-transform: rotateX(-90deg) translateY(100%);
		transform-origin: 50% 100%;
		transform: rotateX(-90deg) translateY(100%);
	}

	.btn-8g.btn-error3d  {
		background: #aaa;
		-webkit-transform-origin: 50% 0%;
		-webkit-transform: rotateX(90deg) translateY(-100%);
		-moz-transform-origin: 50% 0%;
		-moz-transform: rotateX(90deg) translateY(-100%);
		-ms-transform-origin: 50% 0%;
		-ms-transform: rotateX(90deg) translateY(-100%);
		transform-origin: 50% 0%;
		transform: rotateX(90deg) translateY(-100%);
	}
}
