footer {
	margin-top: 44px;
	
	div.row { padding-top: 30px; border-top:1px solid $grayLighter; }
}

#copyright {
  background: url("/assets/img/responsive-header.jpg");
  background-size: 100% 100%;
  border-top: 1px solid #292138;
  color: #fff;
  padding: 11px 0;
  margin-top: 44px;
  font-size: 11px;
  
  p, ul.link-list { margin-bottom: 0; }
  a {
    color: #fff;
    &:hover { color: $churchGold; text-decoration: none; }
  }
  
  nav ul.link-list {
    margin-top: 10px;
    margin-left: -10px;
    margin-bottom: 10px;
    li {
      border-right: 1px solid rgba(255,255,255,0.75);
      margin-left: 10px;
      padding-right: 11px;
      line-height: 15px;
    }
  }
  
  .right h6 { font-family: $sansFontFamily; font-size: 12px; color: $white; margin-bottom: 6px; }
  .social a {
    color: $white;
    &:hover { color: $churchGold; }
  }
  span.glyph { font-size: 24px; }
}

p.disclaimer { color: #999; }