.wrap-head {
	background: url("/assets/img/responsive-header.jpg");
	background-size: 100% 100%;
}
#masthead {
	padding-top: 54px;
	.logo {
		@include hide-text;
		@include background-image-retina('/assets/img/mt-rubidoux_logo', 'png', 328px, 96px);
    background-position: left top;
    background-repeat: no-repeat;
		width:328px; height: 96px;
		display:block;
    float: left;
	}
	
	.row {
		overflow:visible;position:relative;
		.span7 {position:absolute;bottom:0;right:0;}
	}
	
	nav {
    margin-top: 40px;
		float:right;
    font-family: $serifFontFamily;
    font-size: 12px;
    text-transform: uppercase;
    background-color: rgba($churchPurple, .5) ;
    border: 1px solid rgba(255,255,255,.5);
    @include border-radius(10px);
    
		ul {
		    float: right;
		    margin: 0;
		    overflow: hidden;
		    padding: 0;
			
			li {
			    display: block;
			    float: left;
			    margin: 0;
			    padding: 10px 0;
          
          a {
            color: $grayLighter;
            padding: 15px 8px;
            &:hover { color: $white; text-decoration:none; background-color: $churchPurple; }
          }
          
          
          
          &.current {
            a { color: $white; background-color: $churchPurple; }
          }
          
			}
		}
	}
}

#top {
  //background: url(/assets/img/bg_top.png) repeat-x left -20px transparent;
  background-color: $black;
//  position: absolute;
	margin: 0;
  width: 100%; min-height: 40px;
  
  .inner {
    position: relative;
    height: 40px;
  }
  &.navbar {
    font-size: 10px;
    
    .nav > li > a {
      padding: 8px 4px;
    }
    .divider-vertical {
      height: 38px;
    }
  }
  
  .dropdown-menu {
    padding: 0;
    
    li {
      &:first-child {
        @include border-radius(6px 6px 0 0);
        
        a {
          @include border-radius(5px 5px 0 0);
        }
      }
      &:last-child {
        @include border-radius(0 0 6px 6px);
        
        a {
          @include border-radius(0 0 5px 5px);
        }
      }
    }
    
    a {
      font-size: 13px;
      padding: 5px 12px;
    }
    
    .divider {
      margin: 0;
    }
    
  }
}

.navbar {
  
  .nav > li > a {padding:20px 15px;}
  .navbar-inner {overflow:inherit;}
  .dropdown-menu a.btn {color:$white;}
}

.navbar-inverse .navbar-inner {
  background:url(../img/counter/noise-diagonal.png) #100c08;
  position:relative;
}
.gradient-over{
  opacity:.6;
  width:100%;height:100%;
  float:left;
  background-repeat:repeat-x!important;
  background:url(../img/counter/gradient-black.png);
  position:absolute;top:0;left:0;
  /* z-index:100 */
}


#countdownWrapper {
	display: inline-block;
	margin: 2px 0 0 0; /* add right gutter back for this element */
}

#countdownLabel {
	font-weight: 300;
	display: inline-block;
	vertical-align: bottom;
	margin: 0.4em 10px 0 10px; /* add right gutter back for this element */
  font-family: 'OpenSans', sans-serif;
  font-size: 10px;
  text-align:right;
  line-height: 30px;
}

#countdownlayout {@include hidden;}
#counter {
  display:none;
  text-indent: -9999px;
}

.countdownBlock, #watch_link a {
  color: $white;
  background-color: #484848;
  padding: 4px 10px;
  @include border-radius(5px);
  display: inline-block;
}

.countdownBlock {
  color: $white;
  font-size: 10px;
  text-transform: uppercase;
  
  span {
    font-size: 14px;
    font-weight: bold;
  }
    
}

#watch_box {
  
}
#watch_link {
	margin-top: 0.6em;
  margin-left: 10px;
  a {
    font-size: 14px;
    font-weight: bold;
    &:hover { text-decoration: underline;	}
  }
}

#top .social-icons {
  @include clearfix;
  text-align: right;
  
  h6 {
    display: inline-block;
    color: $grayLight;
    margin-top: 0.8em;
    margin-right: 20px;
    line-height: 20px;
  }
  
  ul.social {
    margin-top: 0.6em;
    float: right;
    display: inline-block;
    @include clearfix;
    
    a {
      color: $grayLight;
      &:hover {color: $churchGold; text-decoration: none;}
    }
  }
}