body {
	position: relative;
//  background: url(/assets/img/sub-page-bkg-center.jpg) repeat-x center -30px $white;
  background-size: 1500px 1500px;
//  min-width: 960px;

  &#home {
    background: url(/assets/img/homepage-bkg-center.jpg) repeat-x center top $white;
  }
}
  //Add spacing at bottom between spans
.fluid-margin-md {
  margin-bottom: 20px !important;
}
.fluid-margin-sm {
  margin-bottom: 10px !important;
}
.fluid-margin-sx {
  margin-bottom: 5px !important;
}
.full-width {
  width: 100%;
}
#content {padding-top:35px;}

a { @include transition(all 0.3s ease-in-out); }
h1, h2, h3, h4, h5, h6 {
    color: $churchPurple2;
    font-family: $serifFontFamily;
    font-weight: bold;
    line-height: 1.2;
    margin-bottom: 0.2em;
    margin-top: 0.4em;
    text-transform: uppercase;
}
h3 {text-transform: none;}

ol, ul { list-style: none; }

.left {float:left;}
.right {float:right;}

span.glyph { font-family: "FoundationIconsGeneralEnclosed"; }
span.glyph.social { font-family: "FoundationIconsSocial"; }
footer span.glyph { font-size: 23px; }

#copyright { background: #3f3f3f; color: #fff; padding: 11px 0; margin-top: 44px; }
#copyright p, #copyright ul.link-list { margin-bottom: 0; }
#copyright a { color: #fff; }

p.disclaimer { color: #999; }

/* Fonts */
@font-face { font-family: 'OpenSans'; src: url('#{$baseCSSFolder}/fonts/OpenSans-Light-webfont.eot'); src: url('#{$baseCSSFolder}/fonts/OpenSans-Light-webfont.eot?#iefix') format("embedded-opentype"), url('#{$baseCSSFolder}/fonts/OpenSans-Light-webfont.woff') format("woff"), url('#{$baseCSSFolder}/fonts/OpenSans-Light-webfont.ttf') format("truetype"), url('#{$baseCSSFolder}/fonts/OpenSans-Light-webfont.svg#OpenSansLight') format("svg"); font-weight: light; font-weight: 300; font-style: normal; }
@font-face { font-family: 'OpenSans'; src: url('#{$baseCSSFolder}/fonts/OpenSans-LightItalic-webfont.eot'); src: url('#{$baseCSSFolder}/fonts/OpenSans-LightItalic-webfont.eot?#iefix') format("embedded-opentype"), url('#{$baseCSSFolder}/fonts/OpenSans-LightItalic-webfont.woff') format("woff"), url('#{$baseCSSFolder}/fonts/OpenSans-LightItalic-webfont.ttf') format("truetype"), url('#{$baseCSSFolder}/fonts/OpenSans-LightItalic-webfont.svg#OpenSansLightItalic') format("svg"); font-weight: light; font-weight: 300; font-style: italic; }
@font-face { font-family: 'OpenSans'; src: url('#{$baseCSSFolder}/fonts/OpenSans-Regular-webfont.eot'); src: url('#{$baseCSSFolder}/fonts/OpenSans-Regular-webfont.eot?#iefix') format("embedded-opentype"), url('#{$baseCSSFolder}/fonts/OpenSans-Regular-webfont.woff') format("woff"), url('#{$baseCSSFolder}/fonts/OpenSans-Regular-webfont.ttf') format("truetype"), url('#{$baseCSSFolder}/fonts/OpenSans-Regular-webfont.svg#OpenSansRegular') format("svg"); font-weight: normal; font-weight: 500; font-style: normal; }
@font-face { font-family: 'OpenSans'; src: url('#{$baseCSSFolder}/fonts/OpenSans-Italic-webfont.eot'); src: url('#{$baseCSSFolder}/fonts/OpenSans-Italic-webfont.eot?#iefix') format("embedded-opentype"), url('#{$baseCSSFolder}/fonts/OpenSans-Italic-webfont.woff') format("woff"), url('#{$baseCSSFolder}/fonts/OpenSans-Italic-webfont.ttf') format("truetype"), url('#{$baseCSSFolder}/fonts/OpenSans-Italic-webfont.svg#OpenSansItalic') format("svg"); font-weight: normal; font-weight: 500; font-style: italic; }
@font-face { font-family: 'OpenSans'; src: url('#{$baseCSSFolder}/fonts/OpenSans-Semibold-webfont.eot'); src: url('#{$baseCSSFolder}/fonts/OpenSans-Semibold-webfont.eot?#iefix') format("embedded-opentype"), url('#{$baseCSSFolder}/fonts/OpenSans-Semibold-webfont.woff') format("woff"), url('#{$baseCSSFolder}/fonts/OpenSans-Semibold-webfont.ttf') format("truetype"), url('#{$baseCSSFolder}/fonts/OpenSans-Semibold-webfont.svg#OpenSansSemibold') format("svg"); font-weight: bold; font-weight: 600; font-style: normal; }
@font-face { font-family: 'OpenSans'; src: url('#{$baseCSSFolder}/fonts/OpenSans-SemiboldItalic-webfont.eot'); src: url('#{$baseCSSFolder}/fonts/OpenSans-SemiboldItalic-webfont.eot?#iefix') format("embedded-opentype"), url('#{$baseCSSFolder}/fonts/OpenSans-SemiboldItalic-webfont.woff') format("woff"), url('#{$baseCSSFolder}/fonts/OpenSans-SemiboldItalic-webfont.ttf') format("truetype"), url('#{$baseCSSFolder}/fonts/OpenSans-SemiboldItalic-webfont.svg#OpenSansSemiboldItalic') format("svg"); font-weight: bold; font-weight: 600; font-style: italic; }
@font-face { font-family: 'OpenSans'; src: url('#{$baseCSSFolder}/fonts/OpenSans-Bold-webfont.eot'); src: url('#{$baseCSSFolder}/fonts/OpenSans-Bold-webfont.eot?#iefix') format("embedded-opentype"), url('#{$baseCSSFolder}/fonts/OpenSans-Bold-webfont.woff') format("woff"), url('#{$baseCSSFolder}/fonts/OpenSans-Bold-webfont.ttf') format("truetype"), url('#{$baseCSSFolder}/fonts/OpenSans-Bold-webfont.svg#OpenSansBold') format("svg"); font-weight: bold; font-weight: 700; font-style: normal; }
@font-face { font-family: 'OpenSans'; src: url('#{$baseCSSFolder}/fonts/OpenSans-BoldItalic-webfont.eot'); src: url('#{$baseCSSFolder}/fonts/OpenSans-BoldItalic-webfont.eot?#iefix') format("embedded-opentype"), url('#{$baseCSSFolder}/fonts/OpenSans-BoldItalic-webfont.woff') format("woff"), url('#{$baseCSSFolder}/fonts/OpenSans-BoldItalic-webfont.ttf') format("truetype"), url('#{$baseCSSFolder}/fonts/OpenSans-BoldItalic-webfont.svg#OpenSansBoldItalic') format("svg"); font-weight: bold; font-weight: 700; font-style: italic; }
@font-face { font-family: 'OpenSans'; src: url('#{$baseCSSFolder}/fonts/OpenSans-ExtraBold-webfont.eot'); src: url('#{$baseCSSFolder}/fonts/OpenSans-ExtraBold-webfont.eot?#iefix') format("embedded-opentype"), url('#{$baseCSSFolder}/fonts/OpenSans-ExtraBold-webfont.woff') format("woff"), url('#{$baseCSSFolder}/fonts/OpenSans-ExtraBold-webfont.ttf') format("truetype"), url('#{$baseCSSFolder}/fonts/OpenSans-ExtraBold-webfont.svg#OpenSansExtrabold') format("svg"); font-weight: bold; font-weight: 900; font-style: normal; }
@font-face { font-family: 'OpenSans'; src: url('#{$baseCSSFolder}/fonts/OpenSans-ExtraBoldItalic-webfont.eot'); src: url('#{$baseCSSFolder}/fonts/OpenSans-ExtraBoldItalic-webfont.eot?#iefix') format("embedded-opentype"), url('#{$baseCSSFolder}/fonts/OpenSans-ExtraBoldItalic-webfont.woff') format("woff"), url('#{$baseCSSFolder}/fonts/OpenSans-ExtraBoldItalic-webfont.ttf') format("truetype"), url('#{$baseCSSFolder}/fonts/OpenSans-ExtraBoldItalic-webfont.svg#OpenSansExtraboldItalic') format("svg"); font-weight: bold; font-weight: 900; font-style: italic; }
@font-face { font-family: 'Droid Sans Mono'; src: url('#{$baseCSSFolder}/fonts/DroidSansMono-webfont.eot'); src: url('#{$baseCSSFolder}/fonts/DroidSansMono-webfont.eot?#iefix') format('embedded-opentype'), url('#{$baseCSSFolder}/fonts/DroidSansMono-webfont.woff') format('woff'), url('#{$baseCSSFolder}/fonts/DroidSansMono-webfont.ttf') format('truetype'), url('#{$baseCSSFolder}/fonts/DroidSansMono-webfont.svg#DroidSansMonoRegular') format('svg'); font-weight: normal; font-style: normal; }

@font-face { font-family: 'Obelix'; src: url('#{$baseCSSFolder}/fonts/obelixpro-cyr-webfont.eot'); src: url('#{$baseCSSFolder}/fonts/obelixpro-cyr-webfont.eot?#iefix') format("embedded-opentype"), url('#{$baseCSSFolder}/fonts/obelixpro-cyr-webfont.woff') format("woff"), url('#{$baseCSSFolder}/fonts/obelixpro-cyr-webfont.ttf') format("truetype"), url('#{$baseCSSFolder}/fonts/obelixpro-cyr-webfont.svg#obelixproregular') format("svg"); font-weight: normal; font-weight: normal; font-style: normal; }
@font-face { font-family: 'Obelix'; src: url('#{$baseCSSFolder}/fonts/obelixproit-cyr-webfont.eot'); src: url('#{$baseCSSFolder}/fonts/obelixproit-cyr-webfont.eot?#iefix') format("embedded-opentype"), url('#{$baseCSSFolder}/fonts/obelixproit-cyr-webfont.woff') format("woff"), url('#{$baseCSSFolder}/fonts/obelixproit-cyr-webfont.ttf') format("truetype"), url('#{$baseCSSFolder}/fonts/obelixproit-cyr-webfont.svg#obelixproitalic') format("svg"); font-weight: normal; font-weight: normal; font-style: italic; }
@font-face { font-family: 'Obelix'; src: url('#{$baseCSSFolder}/fonts/obelixprob-cyr-webfont.eot'); src: url('#{$baseCSSFolder}/fonts/obelixprob-cyr-webfont.eot?#iefix') format("embedded-opentype"), url('#{$baseCSSFolder}/fonts/obelixprob-cyr-webfont.woff') format("woff"), url('#{$baseCSSFolder}/fonts/obelixprob-cyr-webfont.ttf') format("truetype"), url('#{$baseCSSFolder}/fonts/obelixprob-cyr-webfont.svg#obelixprobold') format("svg"); font-weight: bold; font-weight: bold; font-style: normal; }
@font-face { font-family: 'Obelix'; src: url('#{$baseCSSFolder}/fonts/obelixprobit-cyr-webfont.eot'); src: url('#{$baseCSSFolder}/fonts/obelixprobit-cyr-webfont.eot?#iefix') format("embedded-opentype"), url('#{$baseCSSFolder}/fonts/obelixprobit-cyr-webfont.woff') format("woff"), url('#{$baseCSSFolder}/fonts/obelixprobit-cyr-webfont.ttf') format("truetype"), url('#{$baseCSSFolder}/fonts/obelixprobit-cyr-webfont.svg#obelixprobold_italic') format("svg"); font-weight: bold; font-weight: bold; font-style: italic; }

/* Foundation Icons */
@font-face { font-family: 'FoundationIconsGeneral'; src: url('#{$baseCSSFolder}/fonts/foundation-icons-general.eot'); src: url('#{$baseCSSFolder}/fonts/foundation-icons-general.eot?#iefix') format("embedded-opentype"), url('#{$baseCSSFolder}/fonts/foundation-icons-general.woff') format("woff"), url('#{$baseCSSFolder}/fonts/foundation-icons-general.ttf') format("truetype"), url('#{$baseCSSFolder}/fonts/foundation-icons-general.svg#FoundationIconsGeneral') format("svg"); font-weight: normal; font-style: normal; }
@font-face { font-family: 'FoundationIconsGeneralEnclosed'; src: url('#{$baseCSSFolder}/fonts/foundation-icons-general-enclosed.eot'); src: url('#{$baseCSSFolder}/fonts/foundation-icons-general-enclosed.eot?#iefix') format("embedded-opentype"), url('#{$baseCSSFolder}/fonts/foundation-icons-general-enclosed.woff') format("woff"), url('#{$baseCSSFolder}/fonts/foundation-icons-general-enclosed.ttf') format("truetype"), url('#{$baseCSSFolder}/fonts/foundation-icons-general-enclosed.svg#FoundationIconsGeneralEnclosed') format("svg"); font-weight: normal; font-style: normal; }
@font-face { font-family: 'FoundationIconsSocial'; src: url('#{$baseCSSFolder}/fonts/foundation-icons-social.eot'); src: url('#{$baseCSSFolder}/fonts/foundation-icons-social.eot?#iefix') format("embedded-opentype"), url('#{$baseCSSFolder}/fonts/foundation-icons-social.woff') format("woff"), url('#{$baseCSSFolder}/fonts/foundation-icons-social.ttf') format("truetype"), url('#{$baseCSSFolder}/fonts/foundation-icons-social.svg#FoundationIconsGeneralEnclosed') format("svg"); font-weight: normal; font-style: normal; }
@font-face { font-family: 'FoundationIconsAccessibility'; src: url('#{$baseCSSFolder}/fonts/foundation-icons-accessibility.eot'); src: url('#{$baseCSSFolder}/fonts/foundation-icons-accessibility.eot?#iefix') format("embedded-opentype"), url('#{$baseCSSFolder}/fonts/foundation-icons-accessibility.woff') format("woff"), url('#{$baseCSSFolder}/fonts/foundation-icons-accessibility.ttf') format("truetype"), url('#{$baseCSSFolder}/fonts/foundation-icons-accessibility.svg#FoundationIconsAccessibility') format("svg"); font-weight: normal; font-style: normal; }

/* Pictos */
@font-face { font-family: 'Pictos'; src: url('#{$baseCSSFolder}/fonts/pictos-web.eot'); src: local('☺'), url('#{$baseCSSFolder}/fonts/pictos-web.woff') format('woff'), url('#{$baseCSSFolder}/fonts/pictos-web.ttf') format('truetype'), url('#{$baseCSSFolder}/fonts/pictos-web.svg#webfontphKv1xv9') format('svg'); font-weight: normal; font-style: normal; }
.pictos { font-weight: normal; font-style: normal; line-height: normal; font-family: 'Pictos', sans-serif; }
a.pictos:hover { cursor: pointer; }

.container { padding:0 20px; }

#wrap {
  margin: 0 auto;
  padding: 0 0;
  // background-color: $white;
  // @include box-shadow(0 0 10px 3px rgba(0,0,0,0.25));
}

@import "global_head";
@import "global_foot";

.breadcrumb {
  font-size: 11px;
  background-color: transparent;
  padding: 0 5px;
  margin: 20px 0;
  
  
  a {
    color:$grayDark;
    &:hover {color: $grayDarker;}
  }
  
  li {
    text-shadow: none;
  }
  .divider {
    padding: 0 5px;
    color:$gray;
  }
	.nopad { padding-left: 0; }
  .active {
    color: $black;
    a {color:$grayDark;font-weight:bold;}
  }
}


.pager.small {
  a, span {font-size:12px;}
  &.right .previous {margin-right:5px;}
}
.calendar-page-head .pager {margin:0;}

#map-sidebar img, #calendar-event-map img {max-width:none;}



aside#section-nav {
  
  nav.well {
    padding: 8px 0;
  }
  
  .widget {
    border-top:1px solid $grayLight;
    padding:15px 0;
    
    h3 {font-size:1em;font-weight:bold;margin-bottom:5px;}
    p {font-size:.8em;font-style:normal;margin-bottom:0;}
    
    &#mini-calendar {
      border-top: 0 none;
      margin: 0 -8px;
      
      table {font-size: 11px; background-color: $white;}
      
      .table-condensed th, .table-condensed td {
        padding:0;
        a, span.day {padding:4px 5px;}
        a span.day {padding:0;}
      }
      td {text-align:center;}
    }
    select {
      font-size: 12px;
      width: 160px;
    }
  }
}

.block-grid { display: block; overflow: hidden; padding: 0; }
.block-grid > li { display: block; height: auto; float: left; }
.block-grid.one-up { margin: 0; }
.block-grid.one-up > li { width: 100%; padding: 0 0 15px; }
.block-grid.two-up { margin: 0 -15px; }
.block-grid.two-up > li { width: 50%; padding: 0 15px 15px; }
.block-grid.two-up > li:nth-child(2n+1) { clear: both; }
.block-grid.three-up { margin: 0 -12px; }
.block-grid.three-up > li { width: 33.33%; padding: 0 12px 12px; }
.block-grid.three-up > li:nth-child(3n+1) { clear: both; }
.block-grid.four-up { margin: 0 -10px; }
.block-grid.four-up > li { width: 25%; padding: 0 10px 10px; }
.block-grid.four-up > li:nth-child(4n+1) { clear: both; }
.block-grid.five-up { margin: 0 -8px; }
.block-grid.five-up > li { width: 20%; padding: 0 8px 8px; }
.block-grid.five-up > li:nth-child(5n+1) { clear: both; }

/* Mobile Block Grids */
@media only screen and (max-width: 767px) { .block-grid.mobile > li { float: none; width: 100%; margin-left: 0; }
  .block-grid > li { clear: none !important; }
  .block-grid.mobile-two-up > li { width: 50%; }
  .block-grid.mobile-two-up > li:nth-child(2n+1) { clear: both; }
  .block-grid.mobile-three-up > li { width: 33.33%; }
  .block-grid.mobile-three-up > li:nth-child(3n+1) { clear: both !important; }
  .block-grid.mobile-four-up > li { width: 25%; }
  .block-grid.mobile-four-up > li:nth-child(4n+1) { clear: both; }
  .block-grid.mobile-five-up > li:nth-child(5n+1) { clear: both; } }


ul.link-list {
  margin: 0 0 17px -22px;
  padding: 0;
  list-style: none;
  overflow: hidden;
  
  li {
    list-style: none;
    float: left;
    margin-left: 22px;
    display: block;
  }
}



.btn.btn-custom {
  $customColor1: #534678;
  $customColor2: #8872b1;
  $customColor1Hover: darken($customColor1, 5%);
  $customColor2Hover: darken($customColor2, 5%);
  $customColor1Active: darken($customColor1, 10%);
  $customColor2Active: darken($customColor2, 10%);
  
  color: $white;
  font-weight: bold;
  text-shadow: 0 1px 0 darken($customColor1, 10%);
  
  background-color: mix($customColor1, $customColor2, 62.5%);
  background-image: url("/assets/img/bg_light-noise.png"), -moz-linear-gradient(left, $customColor1 0%, $customColor2 50%, $customColor1 100%); // FF 3.6+
  background-image: url("/assets/img/bg_light-noise.png"), -webkit-gradient(linear, left bottom, right bottom, color-stop(0%, $customColor1), color-stop(50%, $customColor2), color-stop(100%, $customColor1)); // Safari 4+, Chrome 2+
  background-image: url("/assets/img/bg_light-noise.png"), -webkit-linear-gradient(left, $customColor1 0%, $customColor2 50%, $customColor1 100%); // Safari 5.1+, Chrome 10+
  background-image: url("/assets/img/bg_light-noise.png"), -o-linear-gradient(left, $customColor1 0%, $customColor2 50%, $customColor1 100%); // Opera 11.10
  background-image: url("/assets/img/bg_light-noise.png"), -ms-linear-gradient(left, $customColor1 0%, $customColor2 50%,$customColor1 100%);
  background-image: url("/assets/img/bg_light-noise.png"), linear-gradient(left, $customColor1 0%, $customColor2 50%, $customColor1 100%); // Standard, IE10
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#{ie-hex-str($customColor1)}', endColorstr='#{ie-hex-str($customColor2)}', GradientType=1); // IE9 and down
  
  border-color: #2f273f #2f273f darken(#2f273f, 15%);
  border-color: rgba(0,0,0,.1) rgba(0,0,0,.1) fade-in(rgba(0,0,0,.1), 0.15);
  @include box-shadow(0 2px 2px rgba(0,0,0,0.75));
  
  *background-color: $customColor1; /* Darken IE7 buttons by default so they stand out more given they won't have borders */
  @include gradient-reset-filter();
  @include transition(background-position .5s linear, background-image .5s linear);
  
  &:hover {
    background-position: 0 0;
    background-image: url("/assets/img/bg_light-noise.png"), -moz-linear-gradient(left, $customColor1Hover 0%, $customColor2Hover 50%, $customColor1Hover 100%); // FF 3.6+
    background-image: url("/assets/img/bg_light-noise.png"), -webkit-gradient(linear, left bottom, right bottom, color-stop(0%, $customColor1Hover), color-stop(50%, $customColor2Hover), color-stop(100%, $customColor1Hover)); // Safari 4+, Chrome 2+
    background-image: url("/assets/img/bg_light-noise.png"), -webkit-linear-gradient(left, $customColor1Hover 0%, $customColor2Hover 50%, $customColor1Hover 100%); // Safari 5.1+, Chrome 10+
    background-image: url("/assets/img/bg_light-noise.png"), -o-linear-gradient(left, $customColor1Hover 0%, $customColor2Hover 50%, $customColor1Hover 100%); // Opera 11.10
    background-image: url("/assets/img/bg_light-noise.png"), -ms-linear-gradient(left, $customColor1Hover 0%, $customColor2Hover 50%,$customColor1Hover 100%);
    background-image: url("/assets/img/bg_light-noise.png"), linear-gradient(left, $customColor1Hover 0%, $customColor2Hover 50%, $customColor1Hover 100%); // Standard, IE10
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#{ie-hex-str($customColor1Hover)}', endColorstr='#{ie-hex-str($customColor2Hover)}', GradientType=1); // IE9 and down
    @include transition(background-position .5s linear, background-image .5s linear);
  }
  
  // in these cases the gradient won't cover the background, so we override
  &:hover, &:active, &.active, &.disabled, &[disabled] {
    color: $white;
    background-color: $customColor1;
    *background-color: darken($customColor1, 5%);
  }

  // IE 7 + 8 can't handle box-shadow to show active, so we darken a bit ourselves
  &:active,
  &.active {
    position: relative;
    top: 2px;
    @include box-shadow(0 0 2px rgba(0,0,0,0.75));

    background-image: url("/assets/img/bg_light-noise.png"), -moz-linear-gradient(left, $customColor1Active 0%, $customColor2Active 50%, $customColor1Active 100%); // FF 3.6+
    background-image: url("/assets/img/bg_light-noise.png"), -webkit-gradient(linear, left bottom, right bottom, color-stop(0%, $customColor1Active), color-stop(50%, $customColor2Active), color-stop(100%, $customColor1Active)); // Safari 4+, Chrome 2+
    background-image: url("/assets/img/bg_light-noise.png"), -webkit-linear-gradient(left, $customColor1Active 0%, $customColor2Active 50%, $customColor1Active 100%); // Safari 5.1+, Chrome 10+
    background-image: url("/assets/img/bg_light-noise.png"), -o-linear-gradient(left, $customColor1Active 0%, $customColor2Active 50%, $customColor1Active 100%); // Opera 11.10
    background-image: url("/assets/img/bg_light-noise.png"), -ms-linear-gradient(left, $customColor1Active 0%, $customColor2Active 50%,$customColor1Active 100%);
    background-image: url("/assets/img/bg_light-noise.png"), linear-gradient(left, $customColor1Active 0%, $customColor2Active 50%, $customColor1Active 100%); // Standard, IE10
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#{ie-hex-str($customColor1Active)}', endColorstr='#{ie-hex-str($customColor2Active)}', GradientType=1); // IE9 and down
    
  }

}

ul.social, .hj_social_bookmarks {
  list-style: none;
  li {
    display: inline-block;
  }
}

ul.icons-social {
  margin: 0.6em 0 0 0 !important;
  padding: 0;
  list-style: none;
  
  li {
    margin: 0 0.1em 0.4em 0 !important;
    padding: 0 !important;
    list-style: none;
    display: inline-block;
    
    a {
      color: #fff;
      font-size: emCalc(14px);
      padding: 2px;
      @include border-radius(4px);
      &, &:hover {
        text-decoration: none;
      }
      &:hover {
        background-color: #bcbcbc;
      }
    }
    
    
  }
  .facebook a {background-color: #3b5998;}
  .twitter a {background-color: #00a0d1;}
  .tumblr a {background-color: #34526f;}
  .github a {background-color: #4183c4;}
  .gplus a {background-color: #e33e32;}
  .linkedin a {background-color: #1473a6;}
  .dribbble a {background-color: #eb4d8a;}
}