.eut-kids.tg-pages.t-index {
  .breadcrumb {@include hidden;}
  #static-page {margin-top:0;}
  #copyright {margin-top:0;}
}

#rubiSplash {
	@include linear-gradient(#d0e4f0, #fff);
  position:relative;
  padding-top: 10px;
}
#rubiSplashTop
{
	z-index: 5;
	height: 364px;
  position:relative;
  overflow: hidden;
  
  .span12 {position:relative;}
}
.rubiSplashImg { position: absolute; background-repeat: no-repeat; }

#rubiSplashBuildings {
	z-index: 2;
	width: 100%; height: 360px;
  @include background-image-retina('/assets/img/rubitown/rubitown_splash_buildings', 'png', 940px, 387px);
  background-position: center top;
  background-repeat: repeat-x;
}

#rubiSplashScreen {
	z-index: 5;
	width: 562px; height: 422px;
	top: 14px; left: 209px;
  @include background-image-retina('/assets/img/rubitown/rubitown_splash_screen', 'png', 562px, 422px);
}

#rubiSplashHydrant {
	z-index: 5;
	width: 79px; height: 143px;
	top: 232px; left: 122px;
  @include background-image-retina('/assets/img/rubitown/rubitown_splash_hydrant', 'png', 79px, 143px);
}

#rubiSplashMailbox {
	z-index: 5;
	width: 106px; height: 140px;
	top: 232px; left: 792px;
  @include background-image-retina('/assets/img/rubitown/rubitown_splash_mailbox', 'png', 106px, 140px);
}

#rubiSplashSign {
	z-index: 5;
	width: 115px; height: 349px;
	top: 22px; left: 67px;
  @include background-image-retina('/assets/img/rubitown/rubitown_splash_sign', 'png', 115px, 349px);
}

#rubiSplashGrass {
	z-index: 10;
	width: 100%; height: 49px;
	top: 326px; left: 0;
  @include background-image-retina('/assets/img/rubitown/rubitown_splash_grass', 'png', 940px, 49px);
  background-repeat: repeat-x;
}

#rubiSplashScreenContent {
	z-index: 15;
	width: 546px;
	background-color: $black;
	height: 272px;
	top: 50px; left: 217px;
  overflow: visible;
}

.rubiSplashLight {
  z-index: 20;
  width: 61px; height: 66px;
  position: absolute;
  top: -23px;
  @include background-image-retina('/assets/img/rubitown/rubitown_splash_light', 'png', 61px, 66px);
}

#rubiSplashLight1 {left: 54px;}
#rubiSplashLight2 { left: 178px; }
#rubiSplashLight3 { left: 301px; }
#rubiSplashLight4 { left: 432px; }


#rubiSplashContent {
  background-color: #AACF38;
  padding-top:10px;
  
  a { color: #067938; text-decoration: none; }
  
  hr.dotted {
    border: 0 none;
    color: $white;
    font-size: 20px;
    height: 24px;
    margin: 0 auto 15px;
    overflow: hidden;
    &:after {
      content:"...................................................................................................................................................................................................................";
      letter-spacing: 4px; /* Use letter-spacing to increase space between dots*/
    }
  }
  
  
  h3 {
    font-family: $sansFontFamilyCondensed;
    font-weight:400;
    font-stretch:condensed;
    font-style: normal;
    color: $black;
    font-size: 28px;
    border-bottom:1px solid $white;
  }
  
  #announcements ul {
    list-style: none;
    margin: 0; padding: 0;
    li {
      list-style: none !important;
      margin: 0 0 5px 0;
      padding: 0 0 5px 0;
      border-bottom: 1px solid $white;
      
      span.info {
        font-size: 12px;
        color: $grayDarker;
        display: block;
      }
      
      a {
        &:hover {
          text-decoration: underline;
          span.info { text-decoration: none !important; }
        }
      }
      
      &.read-more {
        border: 0 none;
        font-size: 11px;
        margin: -5px 0 0;
        padding: 0;
        text-align: right;
        a, a:hover { color: $black; text-decoration: none; }
      }
      
    }
  }
  
  .promoLink {
    background-color: $white;
    margin-bottom: 20px;
    @include box-shadow(2px 2px 5px rgba(0,0,0,0.5));
    
    span {
      background: rgba(175,34,29,0.9);
      left: 7px; bottom: 6px;
      display: block;
      position: absolute;
      width: 200px;
      padding: 4px;
    }
    
    a {
      padding: 6px; display: block;
      position: relative;
      min-height:82px;
      img {border: 1px solid $grayLighter;} 
    }

    strong {
      font-family: Obelix;
      font-size: 22px;
      color: $white;
      line-height: 30px;
    }
  }
  
}

#rubiSongsModal {
  background-color: #ae2820;
  border: 4px solid $white;
  overflow: visible;
  
  .modal-header {
    border-bottom: 0 none;
    position: relative;
    overflow: visible;
    
    .close {
      border: 4px solid $white;
      color: $white;
      background-color: #ae2820;
      
      display:block;
      position: absolute;
      top: -16px; right: -16px;
      width:32px; height:32px;
      border-radius:32px;
      font-size:16px;
      line-height:14px;
      
      text-align:center;
      text-decoration:none;
      text-shadow:none;
      
      
    }
  }
  
  
  h3 {
    font-family: Obelix;
    font-size: 22px;
    color: $white;
    line-height: 30px;
  }
  
  ul.controls {
    margin: 0;
    
    li { margin-bottom: 15px; }
    
    span {
      display:inline-block;
      background: #ddd;
      padding: 4px 6px;
      font-size: 14px;
      font-weight: bold;
      margin-right:10px;
      line-height: 26px;
      
      &.track { width: 20px; text-align: center; }
      &.title { width: 380px; }
      &.controls { width: 60px; margin-right:0; }
    }
  }
  
  
  // Player
  #fallback {
  	display: none;
  }
  
  .audioButton, .download {
    width:24px; height:24px;
    text-indent: -9999px;
    display: inline-block;
    line-height: 24px;
  	cursor: pointer;
  	margin: 0;
  	padding: 0;
      
    @include transition(none);
  }
  
  .download {
    background-position: -24px 0;
    background-repeat: no-repeat;
    @include background-image-retina('/assets/img/rubitown/rubiPlayer_btns', 'png', 48px, 96px);
    &:hover {
      background-position: -24px -24px;
    }
  }
  
  .audioButton {
  	background-position: 0 0;
    background-repeat: no-repeat;
    @include background-image-retina('/assets/img/rubitown/rubiPlayer_btns', 'png', 48px, 96px);
    margin-right: 4px;
    &:hover {
      background-position: 0 -24px;
    }
    &.playing {
      background-position: 0 -48px;
    }
    &.playing:hover {
      background-position: 0 -72px;
    }
    &.loading, &.loading:hover {
      background: url("/assets/img/vendor/ubaplayer/loading.gif") no-repeat 0 0;
    }
  }

  #player {
  	display: none;
  }
  
  
}