#static-page {
	margin-top: 30px;
	
  .header-image {
    border: 2px solid #fff;
    margin-bottom: 20px;
  }
	
	aside#section-nav {
    
    #section-nav-inside { padding: 0 10px 0 0; }
		
		nav {
      margin: 0 -10px 0 0;
			text-align: left;
			@include border-radius(3px);
			
      a {
        display:block;
        padding: 10px;
				font-size: 14px;
        line-height: 14px;
        text-decoration: none;
        
        &:hover { color: $churchPurple2; }
        
        
      }
      
			h3 {
				text-transform: normal;
        font-family: $sansFontFamily;
				font-weight: normal;
        font-style: normal;
				margin: 0;
        a { 
          &, &:hover { color: $black; }
          font-size: 21px;
          line-height: 28px;
          padding: 0 0 10px;
          margin-right: 10px;
          text-shadow: 1px 1px $white;
          border-bottom: 1px solid $grayLight;
        }
			}
			
			.side-nav {
        margin: 10px 0;
				padding: 0;
				li {
					margin-bottom: 0;
          &.current {
            a {
              background: $churchPurple2; color: $white;
            }
          }
          
          a {
            &:before {
              content: "» ";
            }
          }
          
          &:hover {
						@mixin transparent($color, $alpha) {
							$rgba: rgba($color, $alpha);
							$ie-hex-str: ie-hex-str($rgba);
							@extend .transparent-background;
							background-color: $rgba;
							filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#{$ie-hex-str},endColorstr=#{$ie-hex-str});
						}
            @include transparent($churchPurple2, .1)
          }
				}
			}
		}
    
	}
  
  h1 {
    font-size: 24px;
    line-height: 32px;
    text-transform: none;
    
    &:first-child {margin-top: 0}
  }
  
  #static-page-content {
    
    ul { 
      margin-left:1em; 
      padding-left:0; 
      margin-bottom:1em;
      
      li { 
        padding-left: 0.4em; 
        list-style: disc; 
      }
      ul li { list-style: circle; }
      
      
      &.plain {
        margin-left: 0;
        
        li {
          list-style: none;
          padding-left: 0;
          margin-bottom: 1.5em;
        }
      }
      
    }
    
 
    ol, ul {
      li { margin-bottom:0.5em; }
      ol li { 
        list-style:decimal; 
        padding-left:0em; 
      }
    }
 
    ol { 
      margin-left:1.5em; 
      padding-left:0px; 
    }
		
		iframe {
			max-width: 100%;
		}
    
  }
  
}

aside#section-nav, .tab-content .sidebar {
	.location, .hours {
		.web {font-size:.8em;font-style:normal;margin-bottom:0;}
		.address {margin-bottom:10px;}
		.web {margin-top:10px;margin-bottom:15px;}
	}
	.hours {
		margin-top:17px;
		h3 {text-transform:uppercase;font-size:.9em;}
		span.closed {color:$grayLight;}
		span.open {font-weight:700;}
	}
		
	#map-sidebar {
		border: 1px solid #DDDDDD;
		height: 140px !important;
	}
}

#static-page-content.span9 {
  margin-left: 0;
  padding-left: 19px;
  border-left: 1px solid $grayLight;
}
.wrap-body {
	background: url("/assets/img/responsive-body.jpg");
	background-size: cover;
}

#homepage {
  #jumbotron {
    background-color: #C7C7C7;
    padding: 6px;
    position:relative;
    @include box-shadow(0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset);
    
    &:before, &:after {
      content:"";
      position:absolute; 
      z-index:-1;
      @include box-shadow(0 0 30px 5px rgba(0,0,0,0.8));
      top:50%;
      bottom:0;
      left:25px;
      right:25px;
      border-radius: 100px / 10px;
    } 
    &:after {
      right:10px;
      left:auto;
      @include transform(skew(8deg) rotate(3deg));
    }
    
    
    
    
    
    .carousel-caption {
      padding: 15px 20px;
      bottom: 20px;
      right: auto;
      
      h4 {
        font-family: $sansFontFamilyCondensed;
        font-weight:400;
        font-stretch:condensed;
        font-style: normal;
        font-size: 24px;
        line-height: 30px;
        margin: 0;
        text-transform: none;
      }
    }
    
    .carousel-control { opacity: 0.5; }
    &:hover .carousel-control { opacity: 1; }
    
    
  }
  
  .thumbnail {
    position: relative;
    background-color: #C7C7C7;
    padding: 6px;
    border: 0 none;
    @include border-radius(0);
    
    h4 {
      position: absolute;
      left: 6px; right: 6px;
      bottom: 6px;
      padding: 6px 10px 4px;
      margin: 0;
      background: #0a64be;
      background: rgba(00, 0, 0, 0.6);
      color: $white;
      font-size: 20px;
    }
    
    
    &:before, &:after {
      content:"";
      position:absolute; 
      z-index:-1;
      @include box-shadow(0 0 20px rgba(0,0,0,0.8));
      top:50%;
      bottom:0;
      left:10px;
      right:10px;
      border-radius: 100px / 10px;
    } 
    &:after {
      right:10px;
      left:auto;
      @include transform(skew(8deg) rotate(3deg));
    }
    
    
  }
  
   #homepage-bottom {
     #homepage-tabs {
       margin-top: 30px;
       
       .nav-tabs {
         min-width: 220px;
         margin-right:0;
         border: 0 none;
         overflow: visible;
         
         
         & > li {
           & > a {
             border-right: 1px solid #ddd;
             font-family: $sansFontFamilyCondensed;
             font-weight:300;
             font-stretch:condensed;
             font-style: normal;
             font-size: 20px;
             line-height: 30px;
             text-align: left;
             &:hover {cursor: pointer;}
           }
           
           &.active > a {
             position: relative;
             background-color: $churchPurple; background-image: none; color: $white;
             text-shadow: none;
             
             .icon-chevron-right {opacity: 1;}
             
             &:after {
               content: " ";
               font-size: 0;
               height: 0;
               line-height: 0;
               border-style: solid;
               border-color: transparent;
               /* chevron color */
               border-left-color: $churchPurple;
               /* for left pointers, right border is 0 */
               border-width: 24px 0 24px 25px;
               position: absolute;
               right: -24px; top: 0; bottom: 0;
             }
             
           }
           
         }
         .icon-chevron-right {
           float: right;
           margin-top: 4px;
           margin-right: -6px;
           opacity: .25;
         }
       }
       
       .tab-content {
         border: 1px solid #ddd;
         padding: 9px 14px 9px 34px;
         font-size: 12px;
         min-height: 420px;
         overflow-y:hidden !important;
         
         h3 {
           color: $churchBlue1;
           font-family: $sansFontFamily;
           font-size: 15px;
         }
         
         .ministry {
           padding: 10px;
           margin-bottom: 10px;
           background-color: #f2f2f2;
           h3 {margin-top: 0;}
           p:last-child {margin-bottom: 0;}
         }
         
         .sidebar {
           width: 200px;
           float: right;
           margin-left: 10px;
           margin-bottom: 10px;
           padding: 10px;
           font-size: .8em;
           line-height: 1.4em;
           background-color: #f2f2f2;
           @include border-radius(5px);
           
           h3.hours{
            margin-bottom: 10px;
           }
           h3.name { font-size: 14px; margin-top: 0;}
           p { margin: 0; }
           .widget.hours p{
            font-size: 175%;
            &.time{
              font-size: 200%;
              margin: 4px 0 20px 0;
            }
           }
         }
       }
       
       
     }
   }
}



#quick-contact-inside {
	background-color: $grayLighter;
	@include border-radius(5px);

  width:660px;
  padding:10px 20px;
  input.span4, textarea.span4, .uneditable-input.span4 { width: 306px; }
  input.span8, textarea.span8, .uneditable-input.span8 { width: 646px; }
  .span3.offset5 { width:230px; margin-left:430px; }
}


#pastors {
  .pastor {
    
    padding: 15px 0;
    border-top: 1px solid $grayLighter;

    &:last-child { border-bottom: 1px solid $grayLighter; }
    
    .photo {
      position: relative;
    }
    .info {
      position: relative;
      
      h3 { font-size: 13px; font-style: normal; }
      h4 { font-size: 13px; font-style: italic; color: $grayLight; text-transform: none; }
      
      div.availability { 
        font-size: 11px;
        margin-top: 15px;
        p { color: $gray; margin: 0; text-transform: uppercase; }
        ul {
          margin: 0 !important;
          list-style: none !important;
          
          li {
            color: $grayLight;
            list-style: none !important;
            padding: 0 !important;
            margin: 0 !important;
          }
        }
        
      }
      
      div.bio {
        position: absolute; top: 10px; right: 0;
        
        &:active, &.active {
          top: 12px;
        }
      }
      
    }
  }
}

#subscribe {
  .sign-up {
    font-weight: bold;
    font-size: 14px;
    margin-top: 7px;
  } 
  .btn {
    font-size: 12px;
    font-weight: bold;

  }
  input {
    height: 20px !important;
    border: 1px solid #d4d4d4;
    @include border-radius(0);
    @include box-shadow(inset -1 1px 3px 0 #939393);
  }
  .span3 {
    overflow: hidden;
  }
}

#reports-content{
  @extend .container-fluid;

  *{font-family: "Palatino Linotype",Palatino,Palladio,"URW Palladio L","Book Antiqua",Baskerville,"Bookman Old Style","Bitstream Charter","Nimbus Roman No9 L",Garamond,"Apple Garamond","ITC Garamond Narrow","New Century Schoolbook","Century Schoolbook","Century Schoolbook L",Georgia,serif;}
  h2,h3{
    color: #533A6B;
  }
  h3{font-weight:normal;}

  #heading h2,
  #documents h3,
  #agenda_minutes h3{
    margin: 0 auto 25px;
    padding-bottom: 10px;
    border-bottom: 2px solid #DDDDDD;
  }

  #heading{
    @extend .container;
    margin-top: 4em;
    text-align: center;
    position: relative;

    .caret{border-top: 4px solid #fff;}
    .btn-group{
      position: absolute;
      right: 20px;
    }
    h2{padding-bottom: 20px;}
  }
  #agenda_minutes{
     @extend .container;

    #agenda_minutes_container{
      @include makeRow();
      padding: 3em 0;
      
      .column{
        @include makeColumn(6);
      }
      h3{
        width: 250px;
        text-align: center;
      }
    }
  }

  #documents{
    background-color: #ededed;
    margin: 0 -20px;
    padding: 4em 0;
    h3{width: 220px;}
  }
  #document_container{
    @extend .container;
    
    ul{
      @include makeRow();

      li{
        @include box-sizing(border-box);
        @include makeColumn(4);
        padding: 0 10px;
      }
    }
  }

  .inner_container{
    margin: 0 15%;
  }
  .btn{
    // background-image: -webkit-linear-gradient(90deg, $btnPurpleBackground 0%, $btnPurpleHighlight 100%);
    @include background-image(linear-gradient(90deg, $btnPurpleBackground 0%, $btnPurpleHighlight 100%));
    width: 100%;
    color: white;
    text-shadow: 0 1px 1px rgb(90, 62, 126);
    &.items{
      padding: 12px 20px;
      font-size: 1.2em;
      margin-bottom: 5px;
    }
    &.documents{
      margin-bottom: 15px;
    }
    a{
      color: white;
      &:hover{
        text-decoration: none;
        color: #fff;
        text-shadow: 2px 2px #2D2B2E;
      }
    }
  }
  .dropdown-menu li>a:hover{
    background-color: $btnPurpleBackground;
    background-image: linear-gradient(to bottom, $btnPurpleHighlight,$btnPurpleBackground);
  }
}

body.eut-reports #copyright{
  margin-top: 0;
}
