#purchase {
  margin-top: 30px;
}
#live {
  
  margin-top: 30px;
  
  embed, iframe {width: 100%;}
  
  #player, #gallery {
    display: none;
  }
  
  #slides {
  	background-color: rgba(0, 0, 0, .5);
  	background: url('../../images/background-tray.png');
  	height: 444px;
  	overflow: hidden;
  	width: 660px;
  	}
	
  .slides_container {
      width:660px;
      height:370px;
      background-color: rgba(0, 0, 0, .5);
  }

  .slides_container div {
      width:660px;
      height:370px;
      display:block;
  	}
  
 

  .arrow {
  	float: left;
  	width: 24px;
  	height: 43px;
  	display: block;
  	padding-top: 16px;
  	cursor: pointer;
  	}
	
  .pagination_container {
  	height: 70px;
  	width: 612px;
  	overflow: hidden;
  	float: left;
  	position: relative;
  	}
		
  .pagination {
  	padding: 4px;
  	width: 880px;
  	height: 66px;
  	overflow: hidden;
  	float: left;
  	margin: 0 0 0 10px;
  	}
	
  .pagination li {
  	float:left;
  	margin:0 4px 0 0;
  	list-style:none;
  	opacity: .3;
  	}
	
  .pagination a {
  	border-style: none;
  	padding: 0;
  }		
	
  .pagination li a {
  	display:block;
  	width:112px;
  	height:66px;
  	padding-top:0;
  	float:left;
  	overflow:hidden;
  	}

  .pagination li.current {
  	opacity: 1;
  	}

  .pagination li.current a {
  	background-position:0 -4px;
  	}

  .pagination a {
  	border-style: none;
  	padding: 0;
  }
	
  #thumbnail-tray {
  	width: 100%;
  	height: 66px;
  	position: relative;
  	overflow: hidden;
  	left: 0;
  	}
		
  /*
   * video player
   */
  #video-wrap {
    width: 640px;
    height: 390px;
    border: 1px solid $grayDark;
    background-color: $grayLight;
  }
  #video-wrap, #sermon-sidebar {
    float: left;
    min-height: 1px;
  }
  #video {
   display: block !important;
   width: 640px;
   height: 390px;
  }
  #sermon-sidebar {
   margin-left: 20px;
   width: 298px;
  }
}



#sermon-sidebar {
  .sidebar-buttons {
    margin-bottom: 20px;
    
    .btn {
      display: block;
      margin-bottom: 15px;
    }
  }
  
  
  .nav-tabs > li > a {
    font-size: 12px;
    padding: 5px 7px 4px;
    border-bottom: 0 none;
    background-color: rgba(255,255,255,.35);
    color: $grayDark;
  }
  
  .nav-tabs > .active > a,
  .nav-tabs > .active > a:hover {
    background-color: $churchPurple2;
    color: $white;
  }
  
  .pill-content {
  	height: 405px;
  	width: 252px;
  	overflow-y: auto;
  	}

  .pill-content a {
  	color: #508699;
  	font-size: 12px;
  	}

  .pill-content a:hover {
  	color: #508699;
  	font-size: 12px;
  	text-decoration: underline;
  	}


  .tab-content > .active, .pill-content > .active {
  	display: block;
  	padding: 0 16px 16px 16px;
  	background-color: #dedddb;
  	color: #1b1b1b;
  	height: 389px;
  	}

  .tabs, .nav-tabs {
  	margin: 0;
  	}
    
  #facebook.tab-pane, #twitter.tab-pane, #bible.tab-pane, #connect.tab-pane {
    padding:0;
    border-left: 1px solid #dedddb;
    border-right: 1px solid #dedddb;
    border-bottom: 1px solid #dedddb;
    overflow:hidden;
    background-color: $white;
  }
  
  #notes.tab-pane {
    padding-top:15px;
    
    form { margin: 0; }
    
    textarea {
      color: #444;
      width: 100%;
      height: 354px;
      margin: -6px -6px 10px;
    }
    .noteLinks {
      text-align: right;
      font-size: .9em;
      
    }
  }
  #connect.tab-pane {
    padding:0;
    font-size: 11px;
    
    #connectHeader {
      margin: 0 0 10px;
      h2 {
        @include ir;
        background: url("/assets/img/media_tab_connect_head.jpg") no-repeat 0 0 transparent;
        width: 300px;
        height: 101px;
        margin:0;
      }
    }
    
    form { margin: 0; height: 268px; overflow-y:scroll; padding: 0 10px 10px; }
    label, input, button,
    select, textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input {
      font-size: 11px;
    }
    label.control-label {
      font-weight: bold;
    }
    .checkboxes label.control-label {
      margin-bottom: 0;
    }
    label.checkbox {
      line-height: 14px;
      input[type="checkbox"] { margin-top: 1px; }
    }
    .form-actions {
      margin: 10px -10px 0 -10px;
    }
    
  }
}











#sermons-archive, #sermons-view, #media-category-archive {margin-top: 15px;}

#sermons-archive {
  a, a:hover { text-decoration: none; }
}

.caroufredsel_wrapper {
  margin: 0 !important;
}

.sermons-section {
	//background-image: url(../img/spinner.gif);
	//background-position: center center;
	position: relative;
  margin-bottom: 20px;
	padding:0;
	
	h2 {
    font-size: 18px;
    font-family: $sansFontFamily;
    line-height: 18px;
    text-transform: none;
    padding: 5px 0 4px;
    height: 25px;
    
    &, & a {
      color: #232323;
    }
    
    span {
      margin-left: 10px;
      font-size: 12px;
      font-weight: normal;
      i { font-size: 10px; margin-left: 2px; }
    }
    
	}
	
	.item {padding:0 20px}
  
  .sermons-slider {
    text-align: left;
    float: none;
    position: relative;
    width: 100%; height: 331px;
    margin: 0;
    overflow: hidden;
  }
  
	.carousel-control {margin-top:0;}
	.block-grid.five-up > li { width: 18.25%; }
	
  .sermon-item {
    width: 176px;
		// max-height: 310px;
    margin: 0 11px 0 0;
    display: inline-block;
    vertical-align: top;
    
		.cover-art {
      border: 1px solid #a4a4a4;
			img {}
		}
		.info {
			text-align:center;
      margin-top: 12px;
			
			h3 {margin:0; font-size: 1.2em; font-weight:bold; color:$grayDark;}
			p {margin:0; font-size: 0.8em; line-height: 1.4em; color:$gray;}
		}
    &.last {
      margin-right: 0;
    }
	}
	
  
  .carousel-control {
    height:260px;
    top:46px;
    display:block;
    background-repeat:no-repeat;
    border: 0 none;
    @include hide-text;
    background-color: transparent;
    @include border-radius(0);
    &.left {
      background-position:-1px 6px;
      left: 0;
    }
    &.right {
      background-position:1px -252px;
      right: 0;
    }
  }
}


#sermons-speaker {
  .sermons-slider {
    height: 190px;
  }
  .sermon-item {
    width: 224px;
  }
  .carousel-control {
    height:120px;
    top:52px;
    &.left {
      background-position:-1px 0;
    }
    &.right {
      background-position:0 -130px;
    }
  }
}

.no-touch {
  .sermons-section {
    &:hover {
      .carousel-control {
        background-image:url(/assets/img/scroll_arrows.png);
        width:75px;
        background-repeat:no-repeat;

        &.disabled {
          @include hidden;
        }
      }
    }
  }
  #sermons-speaker {
    &:hover {
      .carousel-control {
        background-image:url(/assets/img/scroll_arrows_120.png);
        width:36px;
      }
    }
  }
}







#media-witness {
  @include clearfix;
  
  overflow:hidden;
  padding:6px 10px 7px 0;
  margin-bottom:0;
  
  h4, p {float:left;}
  h4 {margin:4px 20px 0 0;font-size:11px;color:#555;float:left;}
  p {margin:0;font-size:0.8em;font-style:italic;float:left;}
  
  .social_buttons {
    float:right;
    @include clearfix;
    .social_button {
        display: block;
        float: left;
        margin-right: 8px;
        //min-width: 110px;
    }
  }
}

#media-category-archive, #media-speaker-archive {
  .grid_right {float:right;}
  .social_buttons {
    @include clearfix;
    .social_button {
        display: block;
        float: left;
        margin-right: 8px;
        min-height: 69px;
    }
  }
  
  h1 {
    font-family: $sansFontFamily;
    color: $black;
    font-size: 24px;
    text-transform: none;
    margin-top: 0; margin-bottom: 15px;
  }
  
  .category-header {
    position: relative;
    .grid_right {
      float: right;
      @include clearfix;
      .social_buttons {float:right; position: absolute; right: 0;}
    }
  }
  
  h3 {
    font-size: 16px;
  }
  
  ul, li {margin:0;}
  
  .item {
    .promo_words_meta { font-size: 13px; }
  }
  
  .category-image img {max-height: 330px; width: auto;}
  .category-description {
    position: relative;
    padding-bottom: 10px;
    border-bottom: 1px solid $gray;
    
    h4 {
      font-size: 12px;
      font-family: $sansFontFamily;
      padding-bottom: 10px;
      margin-bottom: 10px;
      border-bottom: 1px solid $gray;
      text-transform: none;
    }
    .total-results {
      color: $grayLight;
      font-style: italic;
      font-weight: normal;
    }
    
    p { font-size: 12px; }
  }
  
  #media-archive {margin-top:1%;min-height: 380px;}
  .promo {
    display: block;
    margin-bottom: 2%;
    @include clearfix;
    
    .promo_thumb {
      margin-right: 0;
      padding: 1px;
      border: 1px solid #9a9a9a;
      a { display: block; }
    }
    .promo_words {
      margin-top: 8px;
      padding-left: 0;
      width: auto;
      
      .promo_words_title {
        margin-bottom: 0;
        margin-top: 0;
        font-size: 0.9899em;
        a {
          color: #222222;
          text-decoration: none;
        }
      }
      .promo_words_meta {
        list-style-type: none;
        margin-left: 0;
        margin-top: 0;
        padding-left: 0;
        li {
          font-size: 0.813em;
          display: block;
        }
      }
    }
    
  }
}

#media-category-archive {
  .promo {
    &:nth-child(3n+1) {clear:left}
    &.nth-1{clear:left}
  }
}
#media-speaker-archive {
  .category-description {
    @include clearfix;
    .social_buttons {float: right;}
    h1 {
      margin: 40px 200px 0 0;
    }
  }
  
  .promo {
    &:nth-child(4n+1) {clear:left}
    &.nth-1{clear:left}
  }
}

#player {
  position: relative;
  margin-bottom:2%;
  
  &.threesixteen-networks {
    min-height:349px;
    object, embed {
      width: 100%;
      min-height:349px;
      @include box-shadow(0 5px 15px 5px #999999);
      background-color: $black;
    }
  }
  
  &.vimeo, &.youtube {
    height: 0;
    overflow: hidden;
    max-width: 100%;
    padding-bottom: 56.25%;
    
    iframe, object, embed { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }
  }
  
}

.sermon-info {
  padding: 15px;
  border: 1px solid #9a9a9a;
  @include box-shadow(0 0 6px rgba(0,0,0,.15));
  
  &, h1, h2, h3, h4, h5, h6 { font-family: $sansFontFamily; }
}

.sermon-info-head {
  margin: -14px;
  padding: 14px 14px 10px 14px;
  background-color: #323232;
  
  &, h1, h2, h3, h4, h5, h6, a { color: $white; }
  
  .series-title { font-size:1.1em; margin:0; text-transform:uppercase; }
  .sermon-title { margin:0; text-transform: none; }
  .sermon-meta {
    font-size: 0.875em;
    margin: 0;
    span:before {
        content: " / ";
    }
    span:first-child:before {
        content: "";
    }
  }
}
.sermon-info-body, .sermon-info-meta, .sermon-info-downloads {
  margin-top: 13px;
  padding-top: 15px;
  border-top: 1px solid #323232;
  
  h4 {font-size: 13px; line-height: 18px; text-transform: none;} 
  p, li {font-size: 11px; line-height: 15px;}
}

.sermon-info-body {
  
}
.sermon-info-meta {
  ul {list-style:none;margin:0;}
  span {display: inline-block;}
  .sermon-meta-label {width: 160px;}
  .sermon-meta-content {width: 400px;}
}
.sermon-info-downloads {
  ul {list-style:disc;margin-left:15px;}
}
.sermon-series-nav {
  h3 {
    font: 0.8em $sansFontFamily normal;
    color: #868686;
    margin: 0 0 0.2em;
    text-transform: uppercase;
    text-align: center;
  }
  ul {
    margin-left: 0;
    li {
      text-align:center;
      margin-bottom:10px;
      a {
        color:$gray;
        display:block;
        width:60%;
        border:1px solid $grayLight;
        margin: 0 auto;
        position: relative;
      }
      
      &.current {
        a {
          color:$white;
          background-color:$grayDark;
          
          &:after { 
          	content: " "; 
          	display: block; 
          	width: 0; 
          	height: 0;
          	border-top: 20px solid transparent;
          	border-bottom: 20px solid transparent;
          	border-right: 30px solid $white;
          	position: absolute;
          	top: 50%;
          	margin-top: -20px; 
            margin-left: 4px;
          	left: 100%;
          	z-index: 2;
            
            -webkit-transform: rotate(0.05deg);
            -moz-transform: scale(1.1);
            -o-transform: rotate(0.05deg); /* Didn't check Opera yet */
            transform: rotate(0.05deg);
          }
          &:before { 
            content: " "; 
            display: block; 
            width: 0; 
            height: 0;
            border-top: 20px solid transparent;       
            border-bottom: 20px solid transparent;
            border-right: 30px solid #9a9a9a;
            position: absolute;
            top: 50%;
            margin-top: -20px;
            margin-left: 3px;
            left: 100%;
            z-index: 1;
            
            -webkit-transform: rotate(0.05deg);
            -moz-transform: scale(1.1);
            -o-transform: rotate(0.05deg); /* Didn't check Opera yet */
            transform: rotate(0.05deg);
          }
          
        }
      }
    }
  }
}


  
#sermons-view {
  .side-nav {
    margin-left:0;
    
    li {
      margin-bottom:15px;
    }
    
    .btn-primary {display:block;}
  }
}
