@charset "utf-8";

/* CSS Document */

/* Global */

@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: bold;
  src: local('PT Sans Bold'), local('PTSans-Bold'), url('http://themes.googleusercontent.com/font?kit=F51BEgHuR0tYHxF0bD4vwvesZW2xOQ-xsNqO47m55DA') format('truetype');
}
@font-face {
  font-family: 'PT Sans';
  font-style: italic;
  font-weight: bold;
  src: local('PT Sans Bold Italic'), local('PTSans-BoldItalic'), url('http://themes.googleusercontent.com/font?kit=lILlYDvubYemzYzN7GbLkC3USBnSvpkopQaUR-2r7iU') format('truetype');
}
@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: normal;
  src: local('PT Sans'), local('PTSans-Regular'), url('http://themes.googleusercontent.com/font?kit=UFoEz2uiuMypUGZL1NKoeg') format('truetype');
}
@font-face {
  font-family: 'PT Sans';
  font-style: italic;
  font-weight: normal;
  src: local('PT Sans Italic'), local('PTSans-Italic'), url('http://themes.googleusercontent.com/font?kit=yls9EYWOd496wiu7qzfgNg') format('truetype');
}

#demo {
	text-align:center;
	font-size: 12px;
	padding: 4px;
	border: 1px #BBE0D2 solid;
	background-color: #ECF8EF;
	color: #1892BF;
	margin-top: 4px;
}


.clearboth {
	clear: both;
	height: 1%; }

.clearleft {
	clear: left;
	height: 1%; }

.clearright {
	clear: right;
	height: 1%; }


.wrapper {
	margin: 0 auto;
	width: 960px; }
	
/* Alerts & Messages */
	#br_alert {
		background-color: #ffe5e5;
		border: 1px #FF0000 solid;
		margin: 10px 0;
		padding: 10px;
		color: #FF0000;
	}

	#br_message {
		border: 1px #BBE0D2 solid;
		background-color: #ECF8EF;
		margin: 10px 0;
		padding: 10px;
		color: #1892BF;
	}
	
	#br_alert p,
	#br_message p {
		font-size: 16px;
	}
	
/* End Alerts & Messages */


header .wrapper {
	padding: 1px 0 0; }
	

header #topbar {
	padding: 1px 0 0; }

header #topbar table {
	width: 100%;
	border-collapse: collapse;
	border-spacing: 0; }

header #topbar table td {
	vertical-align: middle; }

header #topbar table td.col_left {
	width: 50%;
	height: 60px;
	text-align: left; }

header #topbar table td.col_right {
	padding: 10px 0 0;
	width: 50%;
	font-size: 14px;
	color: #666;
	text-align: right; }

header #topbar table td.col_right span.cart_total {
	font-size:12px;
}

header #topbar table td p {
	font-size: 14px;
	color: #666;
	text-align: right;
	line-height: 24px; }

header #topbar table td.col_right img {
	vertical-align: middle;  }

header #topbar table td.col_right a {
	color: #666; }

header #topbar table td.col_right span.logout a {
	color: #1165cc; }

header #topbar table td.col_right a:hover, 
header #topbar table td.col_right a.active {
	color: #1165cc; 
}

header #main_menu {
	float: left;
	display: inline;
	padding: 2px 0 0;
	height: 35px; }

header #main_menu #nav, 
header #main_menu #nav ul {
	list-style: none; }

header #main_menu #nav a {
	display: block;
	color: #666; }

header #main_menu #nav a:hover {
	color: #1165cc; }

header #main_menu #nav li {
	float: left;
	margin: 0 3px 0 0;
	padding: 4px 10px 0;
	height: 31px;
	font-size: 18px;
	color: #666;
	font-weight: bold;
	line-height: 1.25em; }

header #main_menu #nav li.active {
	color: #1165cc; }

header #main_menu #nav li.active a {
	color: #1165cc; }

header #main_menu #nav li.active li a {
	color: #1165cc; }

header #main_menu #nav li li {
	float: none;
	margin: 0;
	padding: 5px 0;
	width: 10em;
	height: auto;
	font-size: 14px;
	color: #666;
	font-weight: normal;
	line-height: 1; }

header #main_menu #nav li li a {
	width: 10em;
	color: #666; }

header #main_menu #nav li li a:hover {
	color: #1165cc;
	text-decoration: underline; }


header #main_menu #nav li ul {
    position: absolute;
	z-index: 9999;
	padding: 5px 10px;
    left: -999em;
	background: #fff;
	border-top: 1px solid #cdcdcd;
	border-right: 1px solid #cdcdcd;
	border-bottom: 2px solid #9b9b9b;
	border-left: 1px solid #cdcdcd; }
	
header #main_menu #nav li:hover ul {
	left: auto;
	margin: 5px 0 0 -10px; }

header #main_menu #nav li:hover ul, header #main_menu #nav li.sfhover ul {
    left: auto;
	margin: 5px 0 0 -10px; }


header #main_menu #nav li:hover ul ul {
	margin: -1.6em 0 0 10em; }

header #main_menu #nav li:hover ul ul, header #main_menu #nav li.sfhover ul ul {
    margin: -1.6em 0 0 10em; }


header #main_menu #nav li ul ul {
    margin: -1.6em 0 0 10em; }

header #main_menu #nav, header #main_menu #nav ul {
    list-style: none; 
    line-height: 1; }

header #main_menu #nav li:hover ul ul, header #main_menu #nav li.sfhover ul ul {
    left: -999em; }

header #main_menu #nav li:hover ul,
header #main_menu #nav li li:hover ul,
header #main_menu #nav li.sfhover ul,
header #main_menu #nav li li.sfhover ul {
    left: auto; }


header #main_menu #nav li:hover ul ul,
header #main_menu #nav li:hover ul ul ul,
header #main_menu #nav li.sfhover ul ul,
header #main_menu #nav li.sfhover ul ul ul {
    left: -999em; }
	
header #main_menu #nav li:hover ul,
header #main_menu #nav li li:hover ul,
header #main_menu #nav li li li:hover ul,
header #main_menu #nav li.sfhover ul,
header #main_menu #nav li li.sfhover ul,
header #main_menu #nav li li li.sfhover ul {
    left: auto; }

	

header #main_search {
	float: right;
	display: inline;
	margin: 3px 0 0;
	padding: 2px 9px 0 14px;
	/*width: 195px;*/
	width: 213px;
	height: 23px;
	overflow: hidden;
	background: url(../images/main_search.jpg) 0 0 no-repeat; }

header #main_search .search_txt {
	float: left;
	margin: 3px 0 0;
	padding: 0;
	width: 192px;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 13px;
	color: #999;
	font-style: italic;
	line-height: 16px;
	background: none;
	border: none; }

header #main_search .search_btn {
	float: right;
	padding: 1px 0 0;
	width: 17px;
	height: 17px; }
	
	
.page .wrapper {
	padding: 7px 0 14px;
	min-height: 500px; }

.page .wrapper #sidebar {
	float: left;
	display: inline;
	padding: 1px 0 0;
	width: 250px; }

.page .wrapper #subject {
	float: right;
	display: inline;
	padding: 1px 0 0;
	width: 690px; }

#footer .wrapper {
	padding: 0 15px;
	width: 930px;
	height: 100px;
	overflow: hidden;
	border-top: 1px solid #e2e2e2; }

#footer .logo {
	float: left;
	display: inline;
	padding: 15px 0 0;
	width: 80px;
	overflow: hidden; }

#footer .left {
	float: left;
	display: inline;
	padding: 20px 0 0;
	width: 800px;
	overflow: hidden; }

#footer .txt ul li {
	margin-right: 15px;
	float:left;
	list-style-type: none;
	font-size: 14px;
	color: #6e6e6e;
	line-height: 1.5em; }
	
#footer .txt p {
	font-size: 14px;
	color: #6e6e6e;
	line-height: 1.5em; }

#footer .txt a {
	color: #6e6e6e; }

#footer .txt a:hover {
	color: #1165cc; }

#footer .txt p.legal {
	margin: 8px 0 0;
	font-size: 10px; }
	
/* end of Global */






/* Home */

#home #promos {
	position: relative;
	margin: 15px auto;
	width: 960px;
	height: 300px;
	overflow: hidden; }

#home #promos p.ctrl {
	position: absolute;
	top: 280px;
	right: 15px;
	z-index: 9999;
	text-align: right;
	line-height: 11px; }

#home #promos p.ctrl img {
	margin: 0 3px;
	width: 11px;
	height: 11px;
	background: url(../images/promo_nav.png) 0 0 no-repeat;
	border: none; }

#home #promos p.ctrl img.active, #home #promos p.ctrl a:hover img {
	background: url(../images/promo_nav_active.png) 0 0 no-repeat; }
	

#home #left {
	float: left;
	display: inline;
	margin: 0 0 0 10px;
	padding: 10px 0 0;
	width: 620px; }

#home #left h2 {
	margin: 15px 0 0;
	font-size: 18px;
	color: #666;
	font-weight: bold; }

#home #left h5 {
	margin: 0 0 15px;
	font-size: 13px;
	color: #333;
	font-weight: normal;
	line-height: 1.75em; }

#home #left p {
	margin: 5px 0 15px;
	font-size: 13px;
	color: #333; }

#home #left #benefits ul {
	padding: 0 0 5px 11px;
	list-style: none; }

#home #left #benefits ul li {
	padding: 8px 0 0 15px;
	font-size: 13px;
	color: #333;
	line-height: 1.25em;
	background: url(../images/bullet01.jpg) 0 14px no-repeat; }

#home #left a {
	color: #1165cc; }

#home #left #products {
	float: left;
	display: inline;
	padding: 1px 0 0;
}

#home #left #products h2 {
	margin-top: 0;
}

#home #left #products div.img {
	text-align: center;
}

#home #left #products img {
	border: 1px #e2e2e2 solid;
	margin: 0 auto;
}
#home #left #products p,
#home #left #products h6 {
	padding: 0 25px;
	margin: 2px 0;
	font-size: 12px;
	color: #333;
	font-weight: bold;
}

#home #left #products .btn {
	position: relative;
	margin: 4px 25px;
	padding: 0;
	width: 40px;
	height: 18px;
	overflow: hidden;
	font-size: 12px;
	color: #0066cc;
	text-align: center;
	background: url(../images/bg_btn02.jpg) 0 0 repeat-x;
	border: 1px solid #ccc; }

#home #left #products .inpbtn {
	background: transparent;
	color: #0066CC;
	text-align: center;
	border: 0;
	position: absolute;
	top: 0;
	left: 0;
	font-size: 12px;
	width: 40px;
	height: 18px;
	cursor: pointer; 
}

#home #left #products ul {
	padding: 0px;
	list-style: none;}

#home #left #products ul li {
	list-style: none;
	float:left;
	padding: 10px 0 0;
	font-size: 14px;
	color: #333;
	line-height: 1.25em; 
	width: 150px;
}

#home #left #products ul li p.price {
	font-size: 12px;
}

#home #left #products ul li p.price span.original {
	font-weight: bold;
	text-decoration: line-through;
}

#home #left #products ul li p.price span.sale {
	margin-left: 5px;
	color: #a32d2c; 
}

#home #left #products a {
	color: #0066cc; 
}


#home #left #benefits {
	float: left;
	display: inline;
	padding: 1px 0 0;
	width: 285px; 
}
	

#home #left #email_updates {
	float: right;
	display: inline;
	margin: 25px 0 0;
	padding: 1px 0 15px;
	width: 298px;
	border: 1px solid #e2e2e2; 
}

#home #left #email_updates h4 {
	padding: 0 11px;
	font-size: 14px;
	color: #333;
	font-weight: normal;
	line-height: 22px;
	border-bottom: 1px solid #e2e2e2; }

#home #left #email_updates label {
	display: block;
	margin: 11px 11px 0;
	font-size: 14px;
	color: #333; }

#home #left #email_updates .inptxt {
	background:none repeat scroll 0 0 #FAFCFC;
	border:1px solid #E2E2E2;
	color:#666666;
	display:block;
	font-size:14px;
	height:17px;
	margin:5px 0 0 11px;
	padding:5px 4px 3px;
	width:265px;
}

#home #left #email_updates .btn {
	position: relative;
	display: block;
	margin: 10px 11px 0;
	width: 65px;
	height: 21px;
	font-size: 14px;
	color: #333;
	text-align: center;
	line-height: 21px;
	background: url(../images/bg_btn01.jpg) 0 0 repeat-x;
	border: 1px solid #e2e2e2; }

#home #left #email_updates .btn input {
	position: absolute;
	top: 0;
	left: 0;
	width: 65px;
	height: 21px; }
	

#home #right {
	float: right;
	display: inline;
	margin: 0 0 0 10px;
	padding: 10px 0 0;
	width: 310px; }

#home #right h2 {
	margin: 15px 0 0;
	font-size: 18px;
	color: #666;
	font-weight: bold; }

#home #right h3 {
	font-size: 16px;
	color: #666;
	font-weight: bold; }

#home #right p {
	margin: 0 0 15px;
	font-size: 14px;
	color: #333;
	line-height: 1.35em; }

#home #right p.author {
	margin: 0 0 15px;
	font-size: 12px;
	color: #666;
}

#home #right a {
	color: #1165cc; }

#home #right ul {
	list-style: none; }

#home #right ul li {
	padding: 5px 0 0; }

#home #right ul li .pic {
	float: left;
	display: inline;
	padding: 4px 0 0;
	width: 45px;
	overflow: hidden; }

#home #right ul li .txt {
	float: left;
	display: inline;
	margin: 0 0 0 5px;
	padding: 1px 0 0;
	width: 255px;
	overflow: hidden; }

/* end of Home */



/* Blog Summary */

#blog_summary {
	padding: 1px 0 35px; }
	

#blog_summary #subject {
	float: left;
	display: inline;
	padding: 1px 0 0;
	width: 685px;
	overflow: hidden; }

#blog_summary #subject ul {
	list-style: none; }

#blog_summary #subject ul li {
	padding: 20px 0 0; }

#blog_summary #subject .logo {
	float: left;
	display: inline;
	width: 90px;
	overflow: hidden; }

#blog_summary #subject .pic {
	float: left;
	display: inline;
	width: 170px;
	overflow: hidden; }

#blog_summary #subject .txt {
	float: left;
	display: inline;
	width: 425px;
	overflow: hidden; }
	

#blog_summary #subject h2 {
	font-size: 20px;
	color: #666;
	font-weight: bold; }

#blog_summary #subject h5 {
	font-size: 12px;
	color: #666;
	font-weight: normal; }

#blog_summary #subject p {
	margin: 8px 0 15px;
	font-size: 12px;
	color: #333;
	line-height: 1.5em; }

#blog_summary #subject a {
	color: #0066cc; }


#blog_summary #categories {
	position: relative;
	float: right;
	display: inline;
	margin: 25px 0 0;
	padding: 1px 0 25px;
	width: 248px;
	overflow: hidden;
	border: 1px solid #e2e2e2; }

#blog_summary #categories h5 {
	padding: 0 10px;
	font-size: 14px;
	color: #333;
	font-weight: normal;
	line-height: 22px;
	border-bottom: 1px solid #e2e2e2; }

#blog_summary #categories ul {
	padding: 0 10px;
	list-style: none;}

#blog_summary #categories ul li {
	padding: 10px 0 0;
	font-size: 14px;
	color: #333;
	line-height: 1.25em; }

#blog_summary #categories a {
	color: #0066cc; }

#blog_summary #categories p.rss {
	position: absolute;
	top: 4px;
	right: 4px;
	width: 60px;
	font-size: 12px;
	color: #333;
	text-align: right; }

#blog_summary #categories p.rss img {
	vertical-align: middle;
	border: none; }
	

#blog_summary p.pagi {
	margin: 30px 0 0;
	padding: 8px 0 0 90px;
	font-size: 12px;
	color: #666;
}

#blog_summary p.pagi a {
	color: #0066cc; 
}
	
/* end of Blog Summary */



/* Blog */

#blog {
	padding: 1px 0 35px; }

#blog #pic {
	float: left;
	display: inline;
	padding: 18px 0 0;
	width: 75px;
	overflow: hidden; }


#blog #subject {
	float: left;
	display: inline;
	margin: 0 0 0 15px;
	padding: 15px 0 0;
	width: 525px;
	overflow: hidden; }

#blog #subject h1 {
	font-size: 18px;
	color: #666;
	font-weight: bold; }

#blog #subject p {
	margin: 10px 0 15px;
	font-size: 13px;
	color: #333;
	line-height: 1.5em; }

#blog #subject a {
	color: #0066cc; }


#blog #subject p.bloginfo {
	margin: 0;
	font-size: 11px;
	color: #666;
	line-height: 1.5em; }

#blog #subject p.pagi {
	margin: 0;
	padding: 3px 10px;
	font-size: 14px;
	color: #666; }


#blog #subject .box {
	margin: 3px 0 0;
	padding: 2px 2px 2px 9px;
	border: 1px solid #e2e2e2; }

#blog #subject .box h3 {
	float: left;
	font-size: 14px;
	color: #333;
	font-weight: normal;
	line-height: 19px; }

#blog #subject .box p.btn {
	float: right;
	margin: 0;
	font-size: 14px;
	line-height: 17px; }

#blog #subject .box p.btn a {
	display: inline-block;
	padding: 0 10px;
	height: 17px;
	line-height: 17px;
	background: url(../images/bg_btn01.jpg) 0 0 repeat-x;
	border: 1px solid #e2e2e2;
}


#blog #subject ul#comments {
	padding: 5px 10px 0;
	list-style: none; 
}

#blog #subject ul#comments li {
	padding: 5px;
	border-bottom: 1px solid #e2e2e2;
}

#blog #subject ul#comments li p {
	margin: 5px 0;
	font-size: 14px;
	color: #333;
	line-height: 1.35em; }

#blog #subject ul#comments li p small {
	font-size: 10px; }


#blog #add_comment {
	margin: 20px 0 0;
	padding: 8px 0 20px;
	background: #f6f6f6;
	border: 1px solid #e2e2e2; }

#blog #add_comment h4 {
	margin: 10px 0 0 2px;
	padding: 0 15px;
	font-size: 14px;
	color: #333;
	font-weight: normal; }

#blog #add_comment label {
	display: block;
	margin: 10px 15px 0;
	font-size: 14px;
	color: #333; }

#blog #add_comment label.error {
	color:#FF0000;
	display:block;
	font-size:12px;
	margin-top:0;
	padding:2px 4px 0 2px;
}

#blog #add_comment .inptxt {
	display: block;
	margin: 5px 0 0 15px;
	padding: 5px;
	width: 465px;
	overflow: auto;
	font-size: 14px;
	color: #333;
	background: #fafcfc;
	border: 1px solid #e2e2e2;
	border-top: 2px solid #d8d8d8; 
}

#blog #add_comment .inparea {
	display: block;
	margin: 5px 0 0 15px;
	padding: 5px;
	width: 465px;
	height: 70px;
	overflow: auto;
	font-size: 14px;
	color: #333;
	background: #fafcfc;
	border: 1px solid #e2e2e2;
	border-top: 2px solid #d8d8d8; 
}

#blog #add_comment .inpchk {
	margin: 0 0 0 15px;
}

#blog #add_comment .btn {
	position: relative;
	display: block;
	margin: 15px 15px 0;
	width: 65px;
	height: 21px;
	font-size: 14px;
	color: #0066cc;
	text-align: center;
	line-height: 21px;
	background: url(../images/bg_btn01.jpg) 0 0 repeat-x;
	border: 1px solid #e2e2e2; }

#blog #add_comment .btn input {
	position: absolute;
	top: 0;
	left: 0;
	width: 65px;
	height: 21px; }

#blog #blog_products,
#blog #categories {
	position: relative;
	float: right;
	display: inline;
	margin: 20px 0 0;
	padding: 1px 0 25px;
	width: 248px;
	overflow: hidden;
	border: 1px solid #e2e2e2; }

#blog #blog_products h5,
#blog #categories h5 {
	padding: 0 10px;
	font-size: 14px;
	color: #333;
	font-weight: normal;
	line-height: 22px;
	border-bottom: 1px solid #e2e2e2; }

#blog #blog_products img {
	float:left;
	border: 1px #e2e2e2 solid;
	margin-right: 10px;
}
#blog #blog_products h6 {
	padding: 0 10px;
	font-size: 12px;
	color: #333;
	font-weight: bold;
}

#blog #blog_products .btn {
	position: relative;
	margin: 6px 0 0;
    padding: 0;
	width: 40px;
	height: 18px;
	overflow: hidden;
	font-size: 12px;
	color: #0066cc;
	text-align: center;
	background: url(../images/bg_btn02.jpg) 0 0 repeat-x;
	border: 1px solid #ccc; }

#blog #blog_products .inpbtn {
	background: transparent;
	color: #0066CC;
	text-align: center;
	border: 0;
	position: absolute;
	top: 0;
	left: 0;
	font-size: 12px;
	width: 40px;
	height: 18px;
	cursor: pointer; 
}

#blog #blog_products ul,
#blog #categories ul {
	padding: 0 10px;
	list-style: none;}

#blog #blog_products ul li,
#blog #categories ul li {
	padding: 10px 0 0;
	font-size: 14px;
	color: #333;
	line-height: 1.25em; }

#blog #blog_products ul li p.price {
	font-size: 12px;
}

#blog #blog_products ul li p.price span.original {
	font-weight: bold;
	text-decoration: line-through;
}

#blog #blog_products ul li p.price span.sale {
	margin-left: 5px;
	color: #a32d2c; 
}

#blog #blog_products a,
#blog #categories a {
	color: #0066cc; }


#blog #categories p.rss {
	position: absolute;
	top: 4px;
	right: 4px;
	width: 60px;
	font-size: 14px;
	color: #333;
	text-align: right; }

#blog #categories p.rss img {
	vertical-align: middle;
	border: none; }
	
/* end of Blog */






/* Shopping Cart */

#cart {
	padding: 7px 0 30px; }

#cart #top h1 {
	float: left;
	margin: 0 0 0 14px;
	font-family: 'Droid Serif', Arial, Helvetica, Sans Serif;
	font-size: 20px;
	color: #333;
	font-weight: normal;
	line-height: 28px; }

#cart #top p {
	float: right;
	font-size: 14px;
	color: #7b7b7b;
	text-align: right;
	line-height: 28px; }

#cart #top a {
	color: #1165cc; }


#cart table.cart {
	margin: 10px 0 0;
	width: 100%;
	border-collapse: collapse;
	border-spacing: 0; }

#cart table.cart th {
	padding: 5px 14px;
	font-size: 14px;
	color: #505757;
	font-weight: bold;
	text-transform: uppercase;
	text-align: center;
	vertical-align: middle;
	background: #ebebeb; }

#cart table.cart th.col1 {
	text-align: left; }

#cart table.cart th.col5 {
	text-align: right; }

#cart table.cart td {
	padding: 10px;
	text-align: center;
	vertical-align: top;
	border-bottom: 2px solid #ebebeb; }

#cart table.cart td.col1 {
	width: 5%; }

#cart table.cart td.col2 {
	width: 12%; }

#cart table.cart td.col3 {
	width: 58%;
	text-align: left; }

#cart table.cart td.col4 {
	width: 10%; }

#cart table.cart td.col4 form {
	width: 29px;
	margin: 0 auto;
}

#cart table.cart td.col5 {
	width: 15%;
	font-size: 14px;
	color: #505757;
	text-align: right;
	line-height: 1.5em; }

#cart table.cart td.col5 p.price {
	text-align: right;
}

#cart table.cart td.col5 p.price span.original{
	text-decoration: line-through;
	display: block;
	text-align: right;
}

#cart table.cart td.col5 p.price span.sale{
	padding-left:10px;
	display: block;
	text-align: right;
}

#cart table.cart td.col2 table {
	margin: 0;
	width: 100%; }

#cart table.cart td.col2 table td {
	padding: 7px 0 0 0;
	width: 100%;
	height: 100px;
	text-align: center;
	vertical-align: middle;
	background: #ebebeb; }

#cart table.cart td.col3 h5 {
	font-size: 15px;
	color: #505757;
	font-weight: normal; }

#cart table.cart td.col3 p {
	margin: 4px 0 0;
	font-size: 14px;
	color: #505757; }

#cart table.cart td.col3 a {
	color: #1165cc; }

#cart table.cart td.col4 input {
	padding: 4px 0 0;
	width: 27px;
	height: 19px;
	font-size: 14px;
	color: #505757;
	text-align: center;
	background: #fff;
	border: 1px solid #a7abab; }

#cart table.cart td.col5 span.sale {
	color: #a32d2c; }

#cart table.cart tr.update td .btn {
	position: relative;
	float: right;
	display: inline;
	margin: 0;
	width: 100px;
	height: 23px;
	overflow: hidden;
	text-align: center;
	background: url(../images/bg_btn02.jpg) 0 0 repeat-x;
	border: 1px solid #ccc; 
}

#cart table.cart tr.update td .btn p {
	font-size: 14px;
	color: #1165CC;
	text-align: center;
	line-height: 23px; 
}

#cart table.cart tr.update td .btn input {
	position: absolute;
	top: 0;
	left: 0;
	width: 100px;
	height: 23px; }
	
#cart table.cart tr.discount td {
	padding: 10px 10px 0;
	border-bottom: none; }

#cart table.cart tr.discount td label {
	float: left;
	font-size: 14px; 
	color: #505757;
	line-height: 25px; }

#cart table.cart tr.discount td .code {
	float: left;
	margin: 0 0 0 10px;
	width: 280px;
	height: 23px;
	background: #fff;
	border: 1px solid #e2e2e2; }

#cart table.cart tr.discount td .txtinp {
	float: left;
	margin: 3px 0 0 5px;
	width: 180px;
	font-size: 14px;
	color: #505757;
	background: none;
	border: none; }

#cart table.cart tr.discount td .btn {
	position: relative;
	float: right;
	width: 75px;
	height: 23px;
	overflow: hidden;
	background: #e8e8e8; }

#cart table.cart tr.discount td .btn p {
	font-size: 14px;
	color: #505757;
	text-align: center;
	line-height: 23px; }

#cart table.cart tr.discount td .btn input {
	position: absolute;
	top: 0;
	left: 0;
	width: 175px;
	height: 23px; }

#cart table.cart tr.total td {
	padding: 10px 10px 25px; }

#cart table.cart tr.total td.ads {
	text-align: left; 
	width: 675px;
}

#cart table.cart tr.total td.summary {
	text-align: right; }

#cart table.cart tr.total td.summary p {
	margin: 4px 0 0;
	font-size: 14px;
	color: #505757;
	text-align: right;
	line-height: 1.25em; }

#cart table.cart tr.total td.summary p small {
	font-size: 10px; }

#cart table.cart tr.total td.summary p span.discount {
	color: #991111; }

#cart table.cart tr.total td.summary p a {
	color: #505757;
	text-decoration: underline; }

#cart table.cart tr.total td.summary .checkout {
	position: relative;
	float: right;
	display: inline;
	margin: 15px 0 0;
	width: 125px;
	height: 23px;
	overflow: hidden;
	text-align: center;
	background: url(../images/bg_btn02.jpg) 0 0 repeat-x;
	border: 1px solid #ccc; }

#cart table.cart tr.total td.summary .checkout a {
	display: block;
	font-size: 15px;
	color: #1165cc;
	font-weight: bold;
	line-height: 24px;
	width: 125px;
	text-align: center;
}

#cart table.cart tr.total td.summary p.continue {
	margin: 15px 0 0;
	color: #7b7b7b; }

#cart table.cart tr.total td.summary p.continue a {
	color: #7b7b7b;
	text-decoration: none; }

#cart table.cart tr.total td.summary .other {
	float: right;
	display: inline;
	margin: 15px 0 0;
	text-align: right; }

#cart table.cart tr.total td.summary div.remove .btn {
	position: relative;
	float: right;
	display: inline;
	margin: 2px 5px;
	width: 16px;
	height: 16px;
	border: 1px solid #ccc; 
}

#cart table.cart tr.total td.summary div.remove p.discount {
	color:#A32D2C;
	display: inline;
	position: relative;
	float: right;
	white-space:nowrap;
}

#cart #selected_items {
	padding: 10px 0 0 10px; }

#cart #selected_items h2 {
	font-size: 14px;
	color: #505757;
	font-weight: bold;
	text-transform: uppercase; }

#cart #selected_items ul {
	list-style: none; }

#cart #selected_items ul li {
	float: left;
	margin: 10px 50px 0 0;
	padding: 15px 10px 20px;
	width: 220px;
	border: 1px solid #e9e9e9; }

#cart #selected_items ul li h3 {
	font-size: 13px;
	color: #000;
	font-weight: normal; }

#cart #selected_items ul li h3 a {
	color: #000; }

#cart #selected_items ul li table {
	float: left;
	display: inline;
	margin: 5px 0 0;
	width: 100px;
	border-collapse: collapse;
	border-spacing: 0; }

#cart #selected_items ul li table td {
	width: 100px;
	height: 125px;
	text-align: center;
	vertical-align: middle;
	background: #ebebeb; }

#cart #selected_items ul li .desc {
	float: left;
	display: inline;
	padding: 5px 0 0 14px;
	width: 105px;
	overflow: hidden; }

#cart #selected_items ul li .desc p.price {
	margin: 4px 0 0;
	font-size: 14px;
	color: #991111; }

#cart #selected_items ul li .desc p.dtl {
	margin: 4px 0 0;
	height: 35px;
	font-size: 14px;
	color: #505757; }

#cart #selected_items ul li .desc p.add {
	font-size: 14px;
	color: #1165cc; }

#cart #selected_items ul li .desc p.add a {
	color: #1165cc; }

	/* Buttons */

	#google_checkout {
		margin: 15px 0 0;
		float: right;
	}
	#paypal_express_checkout {
		margin: 10px 0 0;
		float: right;
	}
#cart .subscription_options h4 {
	font-size: 16px;
}

#cart .subscription_options {
	font-size: 12px;
	color:#505757;
}	
#cart .subscription_options label {
	font-weight: bold;
	display: block;
}
/* end of Shopping Cart */






/* Checkout */

#checkout {
	padding: 1px 0 0;
}
#checkout_wrapper {
	padding: 7px 0 30px; 
	background: url(../images/checkout_box.jpg) 0 0 repeat-y; 
}

#checkout h1 { 
	padding: 0 0 3px;
	font-family: 'Droid Serif', Arial, Helvetica, Sans Serif;
	font-size: 20px;
	color: #333;
	font-weight: normal;
	border-bottom: 1px solid #e2e2e2; }

#checkout h3 {
	margin: 10px 0 0;
	font-size: 16px;
	color: #666;
	font-weight: bold; }

#checkout label {
	margin: 0 0 0 2px;
	font-size: 14px;
	color: #505757; }

#checkout label.error {
	display: block;
	font-size: 12px;
	color: #FF0000;
}

#checkout .txtinp {
	margin: 3px 0 0;
	padding: 4px 5px 0;
	height: 19px;
	font-size: 14px;
	color: #505757;
	background: #fff;
	border: 1px solid #d3d3d3; }

#checkout .txtarea {
	margin: 3px 0 0;
	padding: 3px 5px;
	height: 30px;
	overflow: auto;
	font-size: 14px;
	color: #505757;
	background: #fff;
	border: 1px solid #d3d3d3; }

#checkout select {
	margin: 3px 0 0;
	font-size: 14px;
	color: #505757;
	background: #fff;
	border: 1px solid #d3d3d3; }
	

#checkout .col1 {
	float: left;
	display: inline;
	margin: 0 0 0 10px;
	padding: 1px 0 0;
	width: 279px;
	overflow: hidden; }

#checkout .col1 .customer_type {
	padding: 8px 0 0; }

#checkout .col1 .customer_type select {
	width: 255px; }

#checkout .col1 .username {
	padding: 10px 0 0; }

#checkout .col1 .username .txtinp {
	width: 245px;
	background: #fafafa; }

#checkout .col1 .username p {
	margin: 3px 30px 0 0;
	font-size: 10px;
	color: #505757;
	text-align: right; }

#checkout .col1 .username p a {
	color: #1165cc; }

#checkout .col1 p.login {
	float: left;
	margin: 5px 0 15px;
	font-size: 14px;
	border: 1px solid #d3d3d3; }

#checkout .col1 p.login a {
	float: left;
	display: block;
	padding: 0 15px;
	height: 23px;
	color: #1165cc;
	line-height: 23px;
	background: url(../images/bg_btn02.jpg) 0 0 repeat-x; }


#checkout .col1 .name {
	float: left;
	display: inline;
	padding: 10px 0 0;
	width: 139px; }

#checkout .col1 .name .txtinp {
	width: 100px; }


#checkout .col1 .address {
	padding: 10px 0 0; }

#checkout .col1 .address .txtinp {
	margin: 3px 0 5px;
	width: 245px; }


#checkout .col1 .country {
	padding: 15px 0 0; 
}

#checkout .col1 .country select {
	margin: 3px 0 0;
	width: 255px; }

#checkout .col1 .city {
	padding: 10px 0 0; }

#checkout .col1 .city .txtinp {
	width: 245px; }

#checkout .col1 .zip {
	float: left;
	display: inline;
	padding: 10px 0 0 10px;
	width: 90px; }

#checkout .col1 .zip .txtinp {
	width: 65px; }

#checkout .col1 .state {
	float: left;
	display: inline;
	padding: 10px 0 0;
	width: 168px; }

#checkout .col1 .state select {
	width: 166px; }

#checkout .col1 .option {
	padding: 15px 0 0; }

#checkout .option {
	font-size: 14px;
	color: #666666;
}

#checkout .option a {
	color: #666666;
	font-weight: bold;
}

#checkout .option label.error {
	padding-top: 4px;
	display: block;
	font-size: 14px;
	color: #FF0000;
	text-align: right;
}

#checkout .col1 #shipping_address {
	display:none;
}

#checkout .col2 {
	float: left;
	display: inline;
	margin: 0 0 0 11px;
	padding: 1px 0 0;
	width: 279px;
	overflow: hidden; }

#checkout .col2 .btn {
	position: relative;
	padding: 0;
	width: 125px;
	height: 20px;
	overflow: hidden;
	font-size: 12px;
	color: #0066cc;
	text-align: center;
	background: url(../images/bg_btn02.jpg) 0 0 repeat-x;
	border: 1px solid #ccc; 
}
#checkout .col2 .inpbtn {
	background: transparent;
	color: #0066CC;
	text-align: center;
	border: 0;
	position: absolute;
	top: 0;
	left: 0;
	font-size: 12px;
	width: 125px;
	height: 20px;
	cursor: pointer; 
}

#checkout .col2 #get_shipping_rates {
	line-height: 21px;
	cursor: pointer;
}

#checkout .col2 #get_shipping_container {
	float:right;
	margin:12px 18px 0 0;
}

#checkout .col2 #options {
}

#checkout .col2 #shipping_options, 
#checkout .col2 p.shipping {
	font-size: 14px;
	color: #505757;
	margin: 10px 5px 0;
	line-height: 1.5em;}

#checkout .col2 p.shipping label{
	font-weight: bold;
}

#checkout .col3 .ship_instr {
	padding: 10px 0 20px; }

#checkout .col3 .ship_instr .txtarea {
	width: 350px;
	height: 80px;
	background: #fafafa; }


#checkout .col2 .gateways {
	line-height:1.5em;
	margin:10px 0 0 10px;
}

#checkout .col2 .general {
	padding: 5px 0 0 5px;
	width: 240px; }

#checkout .col2 .payment_form {
	display:none;
	padding: 0 0 10px 0;
}

#checkout .col2 .general .txtinp {
	width: 228px; }

#checkout .col2 .general select {
	margin: 3px 0 0;
	width: 238px; }

#checkout .col2 .expdate_month {
	float: left;
	display: inline;
	padding: 5px 0 0 5px;
	width: 160px; }

#checkout .col2 .expdate_month select {
	width: 148px; }

#checkout .col2 .expdate_year {
	float: left;
	display: inline;
	padding: 5px 0 0;
	width: 80px; }

#checkout .col2 .expdate_year select {
	width: 78px; }
	
#checkout .col2 .card_code {
	padding: 5px 0 0 5px;
	width: 240px; 
}

#checkout .col2 .card_code .txtinp{
	width: 50px;
}

	

#checkout .col3 {
	float: right;
	display: inline;
	padding: 1px 0 0;
	width: 364px;
	overflow: hidden; }


#checkout .col3 table {
	margin: 10px 0 0;
	width: 364px;
	border-collapse: collapse; 
	border-spacing: 0; }

#checkout .col3 table th {
	margin: 0;
	padding: 5px 15px;
	font-size: 14px;
	color: #666;
	font-weight: bold;
	text-align: left;
	text-transform: uppercase;
	vertical-align: top;
	background: #ebebeb; }

#checkout .col3 table th.col1 {
	float: none;
	display: table-cell;
	width: 150px; }

#checkout .col3 table th.col2 {
	float: none;
	display: table-cell;
	width: 62px;
	text-align: center; }

#checkout .col3 table th.col3 {
	float: none;
	display: table-cell;
	width: 62px;
	text-align: right; }

#checkout .col3 table td {
	margin: 0;
	padding: 5px 15px;
	font-size: 14px;
	color: #666;
	text-align: left;
	vertical-align: top;
	border-bottom: 1px solid #ebebeb; }

#checkout .col3 table td.col1 {
	float: none;
	display: table-cell;
	width: 150px; }

#checkout .col3 table td.col2 {
	float: none;
	display: table-cell;
	width: 62px;
	text-align: center; }

#checkout .col3 table td.col3 {
	float: none;
	display: table-cell;
	width: 62px;
	text-align: right; }

#checkout .col3 table tfoot td {
	line-height: 1.5em;
	text-align: right;
	border: none; }
	
#checkout .col3 #subtotal_container, 
#checkout .col3 #discount_container,
#checkout .col3 #tax_container,
#checkout .col3 #shipping_container,
#checkout .col3 #total_container {
float: right;
min-width: 70px;
text-align: right;
}

#checkout .col3 table tfoot td span.discount {
	color: #991111; }


#checkout .col3 .option {
	padding: 15px 15px 0 0;
	text-align: right; }


#checkout .col3 #checkout_btn {
	display: none;
	position: relative;
	float: right;
	margin: 25px 15px 0 0;
	width: 125px;
	height: 25px; }

#checkout .col3 .btn p {
	font-size: 15px;
	color: #1165cc;
	font-weight: bold;
	text-align: center;
	line-height: 23px;
	background: url(../images/bg_btn02.jpg) 0 0 repeat-x;
	border: 1px solid #e2e2e2; }

#checkout .col3 .btn input{
	position: absolute;
	top: 0;
	left: 0;
	width: 125px;
	height: 23px; }
	
/* end of Checkout */







/* Account */

#account {
	padding: 7px 0 30px; }
	

#account #sidebar h1 {
	font-family: 'Droid Serif', Arial, Helvetica, Sans Serif;
	font-size: 20px;
	color: #333;
	font-weight: normal; }

#account #sidebar ul#submenu {
	margin: 10px 0 0;
	padding: 0 5px 10px;
	list-style: none;
	border: 1px solid #d1d1d1; }

#account #sidebar ul#submenu li {
	padding: 5px 0 0;
	font-size: 14px;
	color: #000;
	line-height: 1.25em; }

#account #sidebar ul#submenu li a {
	display: block;
	padding: 3px 9px;
	font-size: 14px;
	color: #0066cc; }
	
#account #sidebar ul#submenu li a:hover, #account #sidebar ul#submenu li.active a {
	color: #000;
	background: #ebebeb; }


#account #sidebar #questions {
	padding: 30px 5px 0; }

#account #sidebar #questions h5 {
	font-size: 14px;
	color: #666;
	font-weight: bold; }

#account #sidebar #questions ul {
	list-style: none; }

#account #sidebar #questions ul li {
	padding: 8px 0 0;
	font-size: 14px;
	color: #666;
	line-height: 1.25em; }

#account #sidebar #questions ul li a {
	color: #666; }

#account #sidebar #questions ul li a:hover {
	text-decoration: underline; }

#account #sidebar #questions p {
	padding: 8px 0 0;
	font-size: 14px;
	color: #666; }

#account #sidebar #questions p a {
	color: #0066cc; }


#account #subject {
	position: relative; }

#account #subject #change_pw {
	display: none;
	padding: 10px 0 15px;
}

#account #subject #profile_edit label.error {
	display: block;
	color: #FF0000;
}

#account #subject #change_pw #profile_edit {
	padding:0;
}

#account #subject #change_pw #profile_edit .txtinp {
	width: 150px;
}

#account #subject .checkout {
	position: absolute;
	top: -32px;
	right: 85px;
	width: 125px;
	height: 23px;
	font-size: 15px;
	font-weight: bold;
	border: 1px solid #d3d3d3; }

#account #subject .checkout a {
	display: block;
	width: 125px;
	height: 23px;
	color: #1165cc;
	text-align: center;
	line-height: 23px;
	background: url(../images/bg_btn02.jpg) 0 0 repeat-x; }


#account #subject table#profile {
	margin: 10px 0 0;
	width: 100%;
	border-collapse: collapse;
	border-spacing: 0; }

#account #subject table#profile th {
	padding: 0 0 3px;
	font-size: 14px;
	color: #666;
	font-weight: bold;
	text-align: left;
	vertical-align: top;
	border-bottom: 1px solid #e2e2e2; }

#account #subject table#profile th small {
	font-size: 14px;
	font-weight: normal; }

#account #subject table#profile td {
	padding: 8px 0;
	font-size: 14px;
	color: #666;
	text-align: left;
	vertical-align: top; }

#account #subject table#profile td.col1 {
	width: 15%; }

#account #subject table#profile td.col2 {
	width: 28%; }

#account #subject table#profile td.col3 {
	width: 28%; }

#account #subject table#profile td.col4 {
	width: 29%; }

#account #subject table#profile a {
	color: #1165cc; }


#account #subject table#orders {
	margin: 0;
	width: 690px;
}

#account #subject #orders_heading {
	padding: 10px 0 3px;
	font-size: 14px;
	color: #666;
	font-weight: bold;
	text-align: left;
	vertical-align: top;
}
	
#account #subject table#orders th {
	padding: 2px 5px; 
	background: #f1f1f1;
	font-size: 14px;
	font-weight: bold;
	color: #999;
}

#account #subject table#orders th small {
	font-size: 14px;
	font-weight: normal; }

#account #subject table#orders td {
	padding: 8px 5px;
	font-size: 14px;
	color: #666;
	text-align: left;
	vertical-align: top;
	border-collapse: collapse;
	border-spacing: 0;
	border-bottom: 1px solid #e2e2e2; 
}

#account #subject table#orders td.col1 {
	width: 10%; }

#account #subject table#orders td.col2 {
	width: 15%; }

#account #subject table#orders td.col3 {
	width: 35%; }

#account #subject table#orders td.col4 {
	width: 20%; }

#account #subject table#orders td.col5 {
	width: 10%; }

#account #subject table#orders td.col6 {
	width: 10%;
	text-align: right; }

#account #subject table#orders td.col3 .download_note {
	width: 		400px;
	height: 	40px;
	display: 	block;
}

#account #subject table#orders td table {
	margin: 0;
	width: 690px;
	border-collapse: collapse;
	border-spacing: 0;
	border-bottom: 1px solid #e2e2e2; }

#account #subject table#orders td table th {
	padding: 5px 0;
	font-size: 14px;
	color: #666;
	font-weight: bold;
	text-align: left;
	vertical-align: top;
	background: #ebebeb; }

#account #subject table#orders td table td {
	padding: 5px 0;
	font-size: 14px;
	color: #666;
	text-align: left;
	vertical-align: top; }

#account #subject table#orders td table th.col1b, 
#account #subject table#orders td table td.col1b {
	padding-left: 14px;
	width: 15%; }

#account #subject table#orders td table th.col2b, 
#account #subject table#orders td table td.col2b {
	width: 56%; }

#account #subject table#orders td table th.col3b, 
#account #subject table#orders td table td.col3b {
	width: 15%;
	text-align: center; }

#account #subject table#orders td table th.col4b, 
#account #subject table#orders td table td.col4b {
	width: 10%;
	text-align: right; }

#account #subject table#orders td table th.col5b, 
#account #subject table#orders td table td.col5b {
	width: 4%; }

#account #subject table#orders td table tfoot td {
	text-align: right;
	line-height: 1.75em;
	border-top: 1px solid #e2e2e2;
	border-bottom: 1px solid #e2e2e2; }
	

#account #subject table#orders a {
	color: #1165cc; }

#account #subject table#order_detail {
	margin: 0;
	width: 690px;
}

#account #subject table#order_detail h1{
	margin-top: 20px;
	font-size: 18px;
}

#account #subject table#order_detail h2 { 
	float:right;
	font-size:14px;
	font-weight:normal;
	margin:26px 0 0;
}

#account #subject table#order_detail th {
	padding: 2px 5px; 
	background: #f1f1f1;
	font-size: 14px;
	font-weight: bold;
	color: #999;
}

#account #subject table#order_detail td {
	padding: 8px 5px;
	font-size: 14px;
	color: #666;
	text-align: left;
	vertical-align: top;
}

#account #subject table#order_detail td table {
	margin: 0;
	border-collapse: collapse;
	border-spacing: 0;
	border: 1px solid #e2e2e2; }

#account #subject table#order_detail a {
	color: #1165cc; }
	
#account #subject table#order_detail #payment_info td, 
#account #subject table#order_detail #order_totals td{
	height: 120px;
}

#profile_edit {
	position: relative;
	float: left;
	display: inline;
	padding: 15px 0 0;
	width: 100%;
	overflow: hidden; }

#profile_edit p.req{
	position: absolute;
	top: 5px;
	right: 67px;
	font-size: 10px;
	color: #666;
	text-align: right; }

#profile_edit label {
	font-size: 12px;
	color: #666; }

#profile_edit .txtinp {
	display: block;
	margin: 0 0 7px;
	padding: 5px 7px 0;
	width: 250px;
	height: 20px;
	font-size: 12px;
	color: #666;
	border: 1px solid #cecece; }

#profile_edit .txtinp_nospace {
	margin: 0; 
	border-bottom:none;  
}

#profile_edit .txtinp:focus {
	background: #eef5fd; }

#profile_edit .listinp {
	display: block;
	margin: 0 0 7px;
	width: 250px;
	height: 25px;
	font-size: 12px;
	color: #666;
	border: 1px solid #cecece; }

#profile_edit .listinp:focus {
	background: #eef5fd; }

#profile_edit .txtarea {
	display: block;
	margin: 0 0 7px;
	padding: 5px 7px;
	width: 250px;
	height: 75px;
	overflow: auto;
	font-size: 12px;
	color: #666;
	border: 1px solid #cecece; }

#profile_edit .txtarea:focus {
	background: #eef5fd; }

#profile_edit .check {
	margin: 10px 0 0; }

#profile_edit .btn {
	position: relative;
	margin: 20px 0 0;
    padding: 0;
	width: 100px;
	height: 23px;
	overflow: hidden;
	font-size: 15px;
	color: #0066cc;
	text-align: center;
	background: url(../images/bg_btn02.jpg) 0 0 repeat-x;
	border: 1px solid #ccc; }

#profile_edit .inpbtn {
	background: transparent;
	color: #0066CC;
	text-align: center;
	border: 0;
	position: absolute;
	top: 0;
	left: 0;
	font-size: 16px;
	width: 100px;
	height: 23px;
    cursor: pointer; }

#account #subject table#wishlist {
	margin: 0;
	width: 690px;
}

#account #subject #wishlist_heading {
	padding: 10px 0 3px;
	font-size: 14px;
	color: #666;
	font-weight: bold;
	text-align: left;
	vertical-align: top;
}

#account #subject #wishlist_share {
	margin-top: 10px;
	float: right;
	font-size: 14px;
}

#account #subject #wishlist_share a {
	color: #1165CC;
}

#account #subject table#wishlist th {
	padding: 2px 5px; 
	background: #f1f1f1;
	font-size: 14px;
	font-weight: bold;
	color: #999;
}

#account #subject table#wishlist th small {
	font-size: 14px;
	font-weight: normal; }

#account #subject table#wishlist td {
	padding: 8px 5px;
	font-size: 14px;
	color: #666;
	text-align: left;
	vertical-align: top;
	border-collapse: collapse;
	border-spacing: 0;
	border-bottom: 1px solid #e2e2e2; 
}

#account #subject table#wishlist th.col1 {
	width: 25%; }

#account #subject table#wishlist th.col2 {
	width: 60%; }

#account #subject table#wishlist th.col3 {
	text-align: center;
	width: 10%; }

#account #subject table#wishlist td.col3,
#account #subject table#wishlist td.col4 {
	text-align: center;
}

#account #subject table#wishlist th.col4 {
	text-align: center;
	width: 5%; }

#account #subject table#wishlist textarea {
	width: 90%;
	border: 1px #ccc solid;
	padding: 5px;
	color: #666;
	min-height: 80px;
}

#account #subject table#wishlist td table {
	margin: 0;
	width: 690px;
	border-collapse: collapse;
	border-spacing: 0;
	border-bottom: 1px solid #e2e2e2; }

#account #subject table#wishlist td table th {
	padding: 5px 0;
	font-size: 14px;
	color: #666;
	font-weight: bold;
	text-align: left;
	vertical-align: top;
	background: #ebebeb; }

#account #subject table#wishlist td table td {
	padding: 5px 0;
	font-size: 14px;
	color: #666;
	text-align: left;
	vertical-align: top; }

#account #subject table#wishlist td a.remove{
	font-size: 10px;
	background-color: #CCC;
	color: #333;
	padding: 3px 4px 1px;
	width: 10px;
	text-align: center;
}

#account #subject table#wishlist tfoot td {
	text-align: right;
} 

#account #subject table#wishlist td input.update {
	border: 1px #ccc solid;
	background-color: #E7E7E7;
	padding: 5px 10px 3px;
	color: #666;
}

#account #subject table#wishlist td table th.col1b, 
#account #subject table#wishlist td table td.col1b {
	padding-left: 14px;
	width: 15%; }

#account #subject table#wishlist td table th.col2b, 
#account #subject table#wishlist td table td.col2b {
	width: 56%; }

#account #subject table#wishlist td table th.col3b, 
#account #subject table#wishlist td table td.col3b {
	width: 15%;
	text-align: center; }

#account #subject table#wishlist td table th.col4b, 
#account #subject table#wishlist td table td.col4b {
	width: 10%;
	text-align: right; }

#account #subject table#wishlist td table th.col5b, 
#account #subject table#wishlist td table td.col5b {
	width: 4%; }

#account #subject table#wishlist td table tfoot td {
	text-align: right;
	line-height: 1.75em;
	border-top: 1px solid #e2e2e2;
	border-bottom: 1px solid #e2e2e2; }
	

#account #subject table#wishlist a {
	color: #1165cc; }

#account #subject #subscription_heading {
	padding: 10px 0 3px;
	font-size: 14px;
	color: #666;
	font-weight: bold;
	text-align: left;
	vertical-align: top;
}

#account #subject table#subscription {
	margin: 0;
	width: 690px;
}

#account #subject #subscriptions_heading {
	padding: 10px 0 3px;
	font-size: 14px;
	color: #666;
	font-weight: bold;
	text-align: left;
	vertical-align: top;
}
	
#account #subject table#subscription th {
	padding: 2px 5px; 
	background: #f1f1f1;
	font-size: 14px;
	font-weight: bold;
	color: #999;
}

#account #subject table#subscription th small {
	font-size: 14px;
	font-weight: normal; }

#account #subject table#subscription td {
	padding: 8px 5px;
	font-size: 14px;
	color: #666;
	text-align: left;
	vertical-align: top;
	border-collapse: collapse;
	border-spacing: 0;
	border-bottom: 1px solid #e2e2e2; 
}

#account #subject table#subscription th.col1,
#account #subject table#subscription td.col1 {
	width: 35%; }

#account #subject table#subscription th.col2,
#account #subject table#subscription td.col2 {
	width: 15%; }

#account #subject table#subscription th.col3,
#account #subject table#subscription td.col3 {
	width: 15%; }

#account #subject table#subscription th.col4,
#account #subject table#subscription td.col4 {
	width: 15%; }

#account #subject table#subscription th.col5,
#account #subject table#subscription td.col5 {
	width: 10%; }

#account #subject table#subscription th.col6,
#account #subject table#subscription td.col6 {
	width: 10%;
	text-align: center;
}

#account #subject table#subscription a {
	color: #1165cc; }
	
/* end of Account */





/* Catalog */

#catalog {
	padding: 1px 0 10px; }
	

#catalog p#crumbs {
	font-size: 14px;
	color: #666; }

#catalog p#crumbs a {
	color: #666; }

#catalog p#crumbs a.remove_filter {
	font-size: 10px;
	background-color: #666;
	color: #fff;
	padding: 3px 2px 1px;
	width: 10px;
	text-align: center;
}
#catalog p#crumbs a.remove_filter:hover {
	color: #fff;
}

#catalog p#crumbs a:hover {
	color: #1165cc; 
}


#catalog #no_results {
	margin: 2px 0 0;
	padding: 15px 0;
	border-top: 1px solid #e2e2e2; 
}
#catalog #no_results h3 {
	color: #666;
	font-weight: normal;
}
#catalog #no_results span{
	color: #000;
	font-style: italic;
}

#catalog #sidebar {
	float: left;
	display: inline;
	margin: 2px 0 0;
	padding: 0 15px 0 0;
	width: 155px;
	overflow: hidden;
	border-top: 1px solid #e2e2e2; 
}

#catalog #sidebar h3 {
	margin: 20px 0 0;
	font-size: 13px;
	color: #666;
	font-weight: bold;
	text-decoration: underline; }

#catalog #sidebar h4 {
	margin: 8px 0 0;
	font-size: 13px;
	color: #333;
	font-weight: bold; }

#catalog #sidebar ul.shopby {
	list-style: none; }

#catalog #sidebar ul.shopby li {
	padding: 2px 0 0;
	font-size: 14px;
	color: #666;
	line-height: 1.25em; }

#catalog #sidebar ul.shopby li a {
	color: #666; }

#catalog #sidebar ul.shopby li a:hover, #catalog #sidebar ul.shopby li.active a {
	color: #1165cc; }


#catalog #subject {
	float: right;
	display: inline;
	margin: 2px 0 0;
	width: 790px;
	overflow: hidden;
	border-top: 1px solid #e2e2e2; }

#catalog #subject h3 {
	color: #666;
	padding: 15px 0 0 5px;
}

#catalog #subject #banner {
	padding: 1px 0 0;
	width: 788px;
	overflow: hidden;
	border-right: 1px solid #e2e2e2;
	border-bottom: 1px solid #e2e2e2;
	border-left: 1px solid #e2e2e2; }
	

#catalog #subject .items {
	float: left;
	display: inline;
	padding: 10px 0 0 5px;
	width: 380px;
	font-size: 14px;
	color: #666; }

#catalog #subject .items a {
	color: #666; }

#catalog #subject .items a.active {
	color: #1165cc; }


#catalog #subject .sort {
	float: right;
	display: inline;
	padding: 10px 5px 0 0;
	width: 380px;
	font-size: 14px;
	color: #666;
	text-align: right; }

#catalog #subject .sort a {
	color: #666; }

#catalog #subject .sort a.active {
	color: #1165cc; }


#catalog #subject #grid {
	padding: 5px 1px 10px;
	border-bottom: 1px solid #e2e2e2; }

#catalog #subject #grid ul {
	list-style: none; }

#catalog #subject #grid ul li {
	position: relative;
	float: left;
	padding: 10px 10px 0;
	width: 175px;
	height: 280px;
	overflow: hidden;
	border: 1px solid #fff; }

#catalog #subject #grid ul li:hover {
	border: 1px solid #ebebeb; }

#catalog #subject #grid ul li img {
	display: block;
	margin: 0 auto; }

#catalog #subject #grid ul li div {
	height:215px;
	overflow:hidden;
}
#catalog #subject #grid ul li p {
	margin: 5px 0 0;
	font-size: 13px;
	color: #505757;
	line-height: 1.35em; }

#catalog #subject #grid ul li p.price {}

#catalog #subject #grid ul li p.price span.original{
	text-decoration: line-through;
	font-weight: bold;
}
#catalog #subject #grid ul li p.price span.sale{
	padding-left: 5px;
	color: #FF0000;
}

#catalog #subject #grid ul li p a {
	color: #1165cc; }

#catalog #subject #grid ul li img.overlay {
	position: absolute;
	z-index: 1;
	top: 0;
	left: 0;
	width: 195px;
	height: 270px; }


#catalog #subject #list {
	padding: 5px 1px 10px;
	border-bottom: 1px solid #e2e2e2; }

#catalog #subject #list ul {
	padding: 10px 0 0;
	list-style: none; }

#catalog #subject #list ul li {
	padding: 14px 15px;
	border-top: 1px solid #e2e2e2; }

#catalog #subject #list ul li a {
	color: #1165cc; }

#catalog #subject #list ul li .pic {
	float: left;
	display: inline;
	padding: 1px 0 0;
	width: 95px;
	overflow: hidden; }

#catalog #subject #list ul li .desc {
	float: left;
	display: inline;
	padding: 1px 0 0;
	width: 550px;
	overflow: hidden; }

#catalog #subject #list ul li .desc h5 {
	font-size: 15px;
	color: #505757;
	font-weight: normal; }

#catalog #subject #list ul li .desc p {
	margin: 5px 0 0;
	font-size: 14px;
	color: #505757; }

#catalog #subject #list ul li .price {
	float: right;
	padding: 1px 0 0;
	width: 100px;
	overflow: hidden;
}

#catalog #subject #list ul li .price p {
	font-size: 14px;
	color: #505757;
	text-align: right; 
}

#catalog #subject #list ul li p.price span.original{
	text-decoration: line-through;
	font-weight: bold;
	display: block;
	text-align: right;
}

#catalog #subject #list ul li p.price span.sale{
	padding-left: 5px;
	color: #FF0000;
	display: block;
	text-align: right;
}

/* end of Catalog */







/* Product */

#product {
	padding: 1px 0 10px; }
	

#product p#crumbs {
	padding: 0 0 2px;
	font-size: 14px;
	color: #666;
	border-bottom: 1px solid #e2e2e2; }

#product p#crumbs a {
	color: #666; }

#product p#crumbs a:hover {
	color: #1165cc; }


#product h1 {
	margin: 15px 0 0;
	font-size: 20px;
	color: #000;
	font-weight: normal; }


#product .left {
	float: left;
	display: inline;
	padding: 5px 0 0;
	width: 490px;
	overflow: hidden; }

#product .left h3 {
	margin: 30px 0 0;
	font-size: 14px;
	color: #666;
	font-weight: bold; }

#product .left p {
	margin: 5px 0 15px 3px;
	width: 392px;
	font-size: 14px;
	color: #666; 
	line-height: 1.5em; }

#product .left a {
	color: #1165cc; }

#product .left #photos {
	padding: 1px 0 0;
	width: 490px; }

#product .left #photos .large {
	float: left;
	display: inline;
	padding: 2px;
	width: 392px;
	overflow: hidden;
	border: 1px solid #e2e2e2; }

#product .left #photos .large img {
	display: block;
	margin: 0 auto; }

#product .left #photos .thumbs {
	float: left;
	display: inline;
	margin: 0 0 0 7px;
	width: 81px;
	overflow: hidden; }

#product .left #photos .thumbs ul {
	list-style: none; }

#product .left #photos .thumbs ul li {
	margin: 0 0 7px;
	padding: 1px;
	width: 77px;
	overflow: hidden;
	border: 1px solid #e2e2e2; }

#product .left #photos ul li img {
	display: block;
	margin: 0 auto; }


#product .right {
	float: right;
	display: inline;
	padding: 5px 0 0;
	width: 432px;
	overflow: hidden; }

#product .right a {
	color: #1165cc; }


#product .right #details {
	float: left;
	display: inline;
	padding: 1px 0 0;
	width: 230px;
	overflow: hidden; }


#product .right #details form {
	padding: 0 0 20px;
	border-bottom: 1px solid #e2e2e2; }

#product .right #details .price {
	margin: 0 0 14px;
	font-size: 16px;
	color: #666;
	line-height: 1.5em; }

#product .right #details p.price span.original{
	color: #000;
	text-decoration: line-through;
	display: block;
}
#product .right #details p.price span.sale{
	display: block;
	color: #FF0000;
}

#product .right #details p b {
	color: #000;
	font-weight: normal; }

#product .right #details label.error{
	color:#FF0000;
	display:block;
	font-weight:normal;
	margin:0;
	padding:0 0 0 56px;
	width:200px;
}

#product .right #details label {
	float: left;
	margin: 3px 0 0;
	width: 55px;
	overflow: hidden;
	font-size: 13px;
	color: #666;
	font-weight: bold;
	line-height: 19px;}

#product .right #details form .inptxt {
	float: left;
	margin: 3px 0 0;
	padding: 2px 3px 0;
	width: 19px;
	height: 15px;
	overflow: hidden;
	font-size: 14px;
	color: #505757;
	text-align: center;
	background: #fff;
	border: 1px solid #d6d6d6; }

#product .right #details select {
	min-width: 100px;
	float: left;
	margin: 3px 0 5px;
	height: 20px;
	font-size: 14px;
	color: #505757;
	text-align: left;
	background: #fff;
	border: 1px solid #d6d6d6; }

#product .right #details .btn {
	position: relative;
	margin: 15px 0 0;
        padding: 0;
	width: 115px;
	height: 23px;
	overflow: hidden;
	font-size: 15px;
	color: #0066cc;
	text-align: center;
	background: url(../images/bg_btn02.jpg) 0 0 repeat-x;
	border: 1px solid #ccc; }

#product .right #details .wishlist {
	padding-top: 15px;
	font-size: 12px;
}

#product .right #details .inpbtn {
	background: transparent;
	color: #0066CC;
	text-align: center;
	border: 0;
	position: absolute;
	top: 0;
	left: 0;
	font-size: 16px;
	width: 115px;
	height: 23px;
	cursor: pointer; 
}


#product .right #details #shipping {
	padding: 0 0 20px;
	border-bottom: 1px solid #e2e2e2; }

#product .right #details #shipping p {
	margin: 20px 0 0;
	font-size: 14px;
	color: #666;
	line-height: 1.35em; }


#product .right #details #features {
	padding: 0 0 20px;
	border-bottom: 1px solid #e2e2e2; }

#product .right #details #features h3 {
	margin: 20px 0 0;
	font-size: 14px;
	color: #666;
	font-weight: bold; }

#product .right #details #features p {
	margin: 14px 0 0;
	font-size: 14px;
	color: #666;
	line-height: 1.35em; }

#product .right #details #features ul {
	padding: 1px 0 0 4px;
	list-style: none; }

#product .right #details #features ul li {
	padding: 10px 0 0 16px;
	font-size: 14px;
	color: #666;
	line-height: 1.35em;
	background: url(../images/bullet02.jpg) 0 15px no-repeat; }


#product .right #adv {
	float: right;
	display: inline;
	padding: 1px 0 0;
	width: 180px;
	overflow: hidden; }

#product .right #adv ul {
	list-style: none; }

#product .right #adv ul li {
	padding: 15px 0 0; }


#product .right #related {
	padding: 20px 0 0; }

#product .right #related h3 {
	padding: 0 0 10px;
	font-size: 14px;
	color: #666;
	font-weight: bold; }

#product .right #related ul {
	list-style: none; }

#product .right #related ul li {
	float: left;
	display: inline;
	width: 180px;
	height: 245px;
	overflow: hidden; }

#product .right #related ul li.even {
	float: right; }

#product .right #related ul li .pic {
	width: 180px;
	height: 150px;
	overflow: hidden; }

#product .right #related ul li h5 {
	margin: 10px 5px 0;
	font-size: 14px;
	color: #666;
	font-weight: bold; }

#product .right #related ul li p {
	margin: 5px 5px 0;
	font-size: 11px;
	color: #666; }

#donation_options {
	font-size: 14px;
	margin-left: 2px;
}

#donation_options li {
	padding: 3px 0;
}

#donation_options em {
	font-size: 12px;
	color: #666;
}

#donation_other {
    width: 70px;
    margin: 3px 0 0;
    padding: 4px 5px 0;
    height: 19px;
    font-size: 14px;
    color: #505757;
    background: #fff;
    border: 1px solid #d3d3d3; }

#donation_recurring {
	border-top: 1px #ccc solid;
	margin-top: 10px;
	padding-top: 10px;
	font-size: 14px;
}

/* end of Product */







/* General */

#general {
	padding: 1px 0 50px; }
	

#general p#crumbs {
	padding: 0 0 2px;
	font-size: 14px;
	color: #666;
	border-bottom: 1px solid #e2e2e2; }

#general p#crumbs a {
	color: #666; }

#general p#crumbs a:hover {
	color: #1165cc; }


#general #main {
	margin: 25px auto 0;
	padding: 1px 0 0;
	width: 820px; }
	
#general #main a {
	color: #1165cc; }

#general #main h1 {
	margin: 15px 0;
	font-size: 20px;
	color: #000;
	font-weight: normal; }

#general #main h3 {
	margin: 20px 0 5px;
	font-size: 14px;
	color: #666;
	font-weight: bold; }

#general #main p {
	margin: 5px 0 20px;
	font-size: 14px;
	color: #333;
	line-height: 1.75em;
	text-align: justify; }

#general #main ul {
	margin: 5px 0 0 4px;
	list-style: none; }

#general #main ul li {
	padding: 0 0 10px 16px;
	font-size: 14px;
	color: #333;
	line-height: 1.35em;
	background: url(../images/bullet02.jpg) 0 5px no-repeat; }

/* end of General */

/* Contact */

#contact {
	padding: 1px 0 35px; }

#contact h1 {
	margin: 10px 0;
	font-size: 20px;
	color: #000;
	font-weight: normal; }

#contact h5 {
	width: 400px;
	font-size: 12px;
	color: #666;
	font-weight: normal;
	line-height: 1.75em; }

#contact a {
	color: #1165cc; }
	

#contact form {
	position: relative;
	float: left;
	display: inline;
	padding: 15px 0 0;
	width: 400px;
	overflow: hidden; }

#contact form p.req{
	position: absolute;
	top: 5px;
	right: 67px;
	font-size: 10px;
	color: #666;
	text-align: right; }

#contact form label {
	font-size: 12px;
	color: #666; }

#contact form .txtinp {
	display: block;
	margin: 0 0 7px;
	padding: 5px 7px 0;
	width: 318px;
	height: 20px;
	font-size: 12px;
	color: #666;
	border: 1px solid #cecece; }

#contact form .txtinp_nospace {
	margin: 0; 
	border-bottom:none;  
}

#contact form .txtinp:focus {
	background: #eef5fd; }

#contact form .listinp {
	display: block;
	margin: 0 0 7px;
	width: 334px;
	height: 25px;
	font-size: 12px;
	color: #666;
	border: 1px solid #cecece; }

#contact form .listinp:focus {
	background: #eef5fd; }

#contact form .txtarea {
	display: block;
	margin: 0 0 7px;
	padding: 5px 7px;
	width: 318px;
	height: 75px;
	overflow: auto;
	font-size: 12px;
	color: #666;
	border: 1px solid #cecece; }

#contact form .txtarea:focus {
	background: #eef5fd; }

#contact form .check {
	margin: 10px 0 0; }

#contact form .btn {
	position: relative;
	margin: 20px 0 0;
    padding: 0;
	width: 100px;
	height: 23px;
	overflow: hidden;
	font-size: 15px;
	color: #0066cc;
	text-align: center;
	background: url(../images/bg_btn02.jpg) 0 0 repeat-x;
	border: 1px solid #ccc; }

#contact form .inpbtn {
	background: transparent;
	color: #0066CC;
	text-align: center;
	border: 0;
	position: absolute;
	top: 0;
	left: 0;
	font-size: 16px;
	width: 100px;
	height: 23px;
    cursor: pointer; }


#contact #info {
	float: left;
	display: inline;
	margin: 0 0 0 10px;
	padding: 1px 0 0;
	width: 185px;
	overflow: hidden; }

#contact #info p {
	margin: 15px 0 0;
	font-size: 12px;
	color: #666; }

#contact #info ul {
	list-style: none; }

#contact #info ul li {
	padding: 3px 0 0 9px;
	font-size: 12px;
	color: #666;
	line-height: 1.25em;
	background: url(../images/bullet02.jpg) 0 7px no-repeat; }

#contact #info ul li ul li {
	background: url(../images/bullet03.jpg) 0 9px no-repeat; }
	

#contact #directions {
	float: right;
	display: inline;
	padding: 15px 0 0;
	width: 305px;
	overflow: hidden; }

#contact #directions p {
	margin: 5px 35px 15px 0;
	font-size: 12px;
	color: #666;
	line-height: 1.35em; }

/* end of Contact */


/* Login */

#login {
	padding: 1px 0 150px; }


#login #main {
	margin: 25px auto 0;
	padding: 1px 0 0;
	width: 880px; }

#login #main h3 {
	margin: 0 0 20px;
	font-size: 18px;
	color: #666;
	font-weight: bold; }

#login #main p {
	font-size: 10px;
	color: #666; }
	
#login #main a {
	color: #1165cc; }


#login #main form {
	width: 359px;
	min-height: 450px;
	padding: 29px 0 29px 29px;
	overflow: hidden;
	background: #fff;
	border: 1px solid #d4d4d4; }

#login #main form label {
	font-size: 12px;
	display: block;
	color: #505757;
	padding-top:10px;
}
#login #main form label.error { 
	padding-top:2px;
	color:#FF0000;
	display:block;
	font-size:12px;
}

#login #main form .txtinp {
	margin: 2px 30px 2px 0;
	padding: 5px 7px 0;
	height: 20px;
	font-size: 12px;
	color: #666;
	background: #fafafa;
	border: 1px solid #d4d4d4; }

#login #main form .txtinp2 {
	display: inline;
	float: left;
	margin: 2px 0 2px;
	padding: 5px 7px 0;
	width: 238px;
	height: 20px;
	font-size: 12px;
	color: #666;
	background: #fafafa;
	border: 1px solid #d4d4d4; }

#login #main form .btn {
	position: relative;
	margin: 15px 0 0;
    padding: 0;
	width: 100px;
	height: 23px;
	overflow: hidden;
	font-size: 15px;
	color: #0066cc;
	text-align: center;
	background: url(../images/bg_btn02.jpg) 0 0 repeat-x;
	border: 1px solid #ccc; }

#login #main form .inpbtn {
	background: transparent;
	color: #0066CC;
	text-align: center;
	border: 0;
	position: absolute;
	top: 0;
	left: 0;
	font-size: 16px;
	width: 100px;
	height: 23px;
    cursor: pointer; }


#login #main #login_form {
	float: left;
	display: inline; }

#login #main #login_form p {
	margin: 0;
	width: 253px;
	text-align: right; }

#login #main #login_form .txtinp,
#login #main #password_form .txtinp {
	display: block;
	width: 239px; }
	

#login #main #register_form {
	float: right;
	display: inline; }

#login #main #register_form .txtinp {
	float: left;
	display: inline;
	width: 96px; }

#login #main #register_form label {
	float: left;
	display: inline;
	margin: 0 20px 0 0;
	width: 130px; }

#login #main #password_form p {
	font-size: 14px;
	width: 260px;
}

/* end of Login */

/* Public Wishlist */ 
#wishlist div#wishlist_left {
	float: left;
}
#wishlist div#wishlist_customer {
	width: 200px;
	background: #F1F1F1;
	margin-top: 33px;	
	border: 1px #CCC solid;
	color: #999;
	min-height: 100px;
	padding: 20px;
}
#wishlist #wishlist_ad {
	float:	left;
	width: 	240px;
	border: 1px #CCC solid;
	margin-top: 80px;
}
#wishlist div#wishlist_customer img {
	float: left;
}
#wishlist div#wishlist_customer div {
	float: left;
	margin-left: 10px;
	width: 110px;
	font-size: 13px;
}

#wishlist #subject table {
	margin: 0;
}

#wishlist #subject #wishlist_heading {
	padding: 10px 0 3px;
	font-size: 14px;
	color: #666;
	font-weight: bold;
	text-align: left;
	vertical-align: top;
}

#wishlist #subject #wishlist_share {
	margin-top: 10px;
	float: right;
	font-size: 14px;
}

#wishlist #subject #wishlist_share a {
	color: #1165CC;
}

#wishlist #subject table th {
	padding: 2px 5px; 
	background: #f1f1f1;
	font-size: 14px;
	font-weight: bold;
	color: #999;
}

#wishlist #subject table th small {
	font-size: 14px;
	font-weight: normal; }

#wishlist #subject table td {
	padding: 8px 5px;
	font-size: 14px;
	color: #666;
	text-align: left;
	vertical-align: top;
	border-collapse: collapse;
	border-spacing: 0;
	border-bottom: 1px solid #e2e2e2; 
}

#wishlist #subject table th.col1 {
	width: 25%; }

#wishlist #subject table th.col2 {
	width: 60%; }

#wishlist #subject table th.col3 {
	text-align: center;
	width: 10%; }

#wishlist #subject table td.col3,
#wishlist #subject table td.col4 {
	text-align: center;
}

#wishlist #subject table th.col4 {
	text-align: center;
	width: 5%; }

#wishlist #subject table textarea {
	width: 90%;
	border: 1px #ccc solid;
	padding: 5px;
	color: #666;
	min-height: 80px;
}

#wishlist #subject table td table {
	margin: 0;
	width: 690px;
	border-collapse: collapse;
	border-spacing: 0;
	border-bottom: 1px solid #e2e2e2; }

#wishlist #subject table td table th {
	padding: 5px 0;
	font-size: 14px;
	color: #666;
	font-weight: bold;
	text-align: left;
	vertical-align: top;
	background: #ebebeb; }

#wishlist #subject table td table td {
	padding: 5px 0;
	font-size: 14px;
	color: #666;
	text-align: left;
	vertical-align: top; }

#wishlist #subject table td a.remove{
	font-size: 10px;
	background-color: #CCC;
	color: #333;
	padding: 3px 4px 1px;
	width: 10px;
	text-align: center;
}

#wishlist #subject table tfoot td {
	text-align: right;
} 

#wishlist #subject table td input.update {
	border: 1px #ccc solid;
	background-color: #E7E7E7;
	padding: 5px 10px 3px;
	color: #666;
}

#wishlist #subject table td table th.col1b, 
#wishlist #subject table td table td.col1b {
	padding-left: 14px;
	width: 15%; }

#wishlist #subject table td table th.col2b, 
#wishlist #subject table td table td.col2b {
	width: 85%; }

#wishlist #subject table td table tfoot td {
	text-align: right;
	line-height: 1.75em;
	border-top: 1px solid #e2e2e2;
	border-bottom: 1px solid #e2e2e2; }
	

#wishlist #subject table a {
	color: #1165cc; }
	
#wishlist .btn {
	position: relative;
	margin: 4px 0;
	padding: 0;
	width: 80px;
	height: 18px;
	overflow: hidden;
	font-size: 12px;
	color: #0066cc;
	text-align: center;
	background: url(../images/bg_btn02.jpg) 0 0 repeat-x;
	border: 1px solid #ccc; }

#wishlist .inpbtn {
	background: transparent;
	color: #0066CC;
	text-align: center;
	border: 0;
	position: absolute;
	top: 0;
	left: 0;
	font-size: 12px;
	width: 80px;
	height: 18px;
	cursor: pointer; 
}
