/*! fancyBox v2.1.0 fancyapps.com | fancyapps.com/fancybox/#license */
.fancybox-wrap,
.fancybox-skin,
.fancybox-outer,
.fancybox-inner,
.fancybox-image,
.fancybox-wrap iframe,
.fancybox-wrap object,
.fancybox-nav,
.fancybox-nav span,
.fancybox-tmp
{
	padding: 0;
	margin: 0;
	border: 0;
	outline: none;
	vertical-align: top;
}

.fancybox-wrap {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 8020;
}

.fancybox-skin {
	position: relative;
	background: #f9f9f9;
	color: #444;
	text-shadow: none;
	@include border-radius(4px);
}

.fancybox-opened {
	z-index: 8030;
  .fancybox-skin {
  	@include box-shadow(0 10px 25px rgba(0, 0, 0, 0.5));
  }
}

.fancybox-outer, .fancybox-inner {
	position: relative;
}

.fancybox-inner {
	overflow: hidden;
}

.fancybox-type-iframe .fancybox-inner {
	-webkit-overflow-scrolling: touch;
}

.fancybox-error {
	color: #444;
	font: 14px/20px "Helvetica Neue",Helvetica,Arial,sans-serif;
	margin: 0;
	padding: 15px;
	white-space: nowrap;
}

.fancybox-image, .fancybox-iframe {
	display: block;
	width: 100%;
	height: 100%;
}

.fancybox-image {
	max-width: 100%;
	max-height: 100%;
}

#fancybox-loading, .fancybox-close, .fancybox-prev span, .fancybox-next span {
	background-image: url('#{$baseImageFolder}/vendor/fancybox/fancybox_sprite.png');
}

#fancybox-loading {
	position: fixed;
	top: 50%;
	left: 50%;
	margin-top: -22px;
	margin-left: -22px;
	background-position: 0 -108px;
	opacity: 0.8;
	cursor: pointer;
	z-index: 8060;
  div {
  	width: 44px;
  	height: 44px;
  	background: url('#{$baseImageFolder}/vendor/fancybox/fancybox_loading.gif') center center no-repeat;
  }
}

.fancybox-close {
	position: absolute;
	top: -18px;
	right: -18px;
	width: 36px;
	height: 36px;
	cursor: pointer;
	z-index: 8040;
}

.fancybox-nav {
	position: absolute;
	top: 0;
	width: 40%;
	height: 100%;
	cursor: pointer;
	text-decoration: none;
	background: transparent url('#{$baseImageFolder}/vendor/fancybox/blank.gif'); /* helps IE */
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	z-index: 8040;
  span {
  	position: absolute;
  	top: 50%;
  	width: 36px;
  	height: 34px;
  	margin-top: -18px;
  	cursor: pointer;
  	z-index: 8040;
  	visibility: hidden;
  }
  &:hover span {
	  visibility: visible;
  }
}

.fancybox-prev {
	left: 0;
  span {
  	left: 10px;
  	background-position: 0 -36px;
  }
}

.fancybox-next {
	right: 0;
  span {
  	right: 10px;
  	background-position: 0 -72px;
  }
}


.fancybox-tmp {
	position: absolute;
	top: -9999px;
	left: -9999px;
	visibility: hidden;
}

/* Overlay helper */

.fancybox-lock {
	overflow: hidden;
  .fancybox-overlay {
  	overflow: auto;
  	overflow-y: scroll;
  }
}

.fancybox-overlay {
	position: absolute;
	top: 0;
	left: 0;
	overflow: hidden;
	display: none;
	z-index: 8010;
	background: url('#{$baseImageFolder}/vendor/fancybox/fancybox_overlay.png');
}

.fancybox-overlay-fixed {
	position: fixed;
	bottom: 0;
	right: 0;
}

/* Title helper */

.fancybox-title {
	visibility: hidden;
	font: normal 13px/20px "Helvetica Neue",Helvetica,Arial,sans-serif;
	position: relative;
	text-shadow: none;
	z-index: 8050;
}

.fancybox-opened .fancybox-title {
	visibility: visible;
}

.fancybox-title-float-wrap {
	position: absolute;
	bottom: 0;
	right: 50%;
	margin-bottom: -35px;
	z-index: 8050;
	text-align: center;
  .child {
  	display: inline-block;
  	margin-right: -100%;
  	padding: 2px 20px;
  	background: transparent; /* Fallback for web browsers that doesn't support RGBa */
  	background: rgba(0, 0, 0, 0.8);
  	@include border-radius(15px);
  	text-shadow: 0 1px 2px #222;
  	color: #FFF;
  	font-weight: bold;
  	line-height: 24px;
  	white-space: nowrap;
  }
}

.fancybox-title-outside-wrap {
	position: relative;
	margin-top: 10px;
	color: #fff;
}

.fancybox-title-inside-wrap {
	padding-top: 10px;
}

.fancybox-title-over-wrap {
	position: absolute;
	bottom: 0;
	left: 0;
	color: #fff;
	padding: 10px;
	background: #000;
	background: rgba(0, 0, 0, .8);
}

#fancybox-thumbs {
	position: fixed;
	left: 0;
	width: 100%;
	overflow: hidden;
	z-index: 8050;
  &.bottom {
  	bottom: 2px;
  }
  &.top {
  	top: 2px;
  }
  & ul {
  	position: relative;
  	list-style: none;
  	margin: 0;
  	padding: 0;
    li {
    	float: left;
    	padding: 1px;
    	opacity: 0.5;
      &.active {
      	opacity: 0.75;
      	padding: 0;
      	border: 1px solid #fff;
      }
      &:hover {
        opacity: 1;
      }
      a {
      	display: block;
      	position: relative;
      	overflow: hidden;
      	border: 1px solid #222;
      	background: #111;
      	outline: none;
      }
      img {
      	display: block;
      	position: relative;
      	border: 0;
      	padding: 0;
      }
    }
  }
}

#fancybox-buttons {
	position: fixed;
	left: 0;
	width: 100%;
	z-index: 8050;
  &.top {
    top: 10px;
  }
  &.bottom {
	  bottom: 10px;
  }
  ul {
  	display: block;
  	width: 166px;
  	height: 30px;
  	margin: 0 auto;
  	padding: 0;
  	list-style: none;
  	border: 1px solid #111;
  	border-radius: 3px;
  	@include box-shadow(inset 0 0 0 1px rgba(255,255,255,.05));
  	background: rgb(50,50,50);
  	background: -moz-linear-gradient(top, rgb(68,68,68) 0%, rgb(52,52,52) 50%, rgb(41,41,41) 50%, rgb(51,51,51) 100%);
  	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgb(68,68,68)), color-stop(50%,rgb(52,52,52)), color-stop(50%,rgb(41,41,41)), color-stop(100%,rgb(51,51,51)));
  	background: -webkit-linear-gradient(top, rgb(68,68,68) 0%,rgb(52,52,52) 50%,rgb(41,41,41) 50%,rgb(51,51,51) 100%);
  	background: -o-linear-gradient(top, rgb(68,68,68) 0%,rgb(52,52,52) 50%,rgb(41,41,41) 50%,rgb(51,51,51) 100%);
  	background: -ms-linear-gradient(top, rgb(68,68,68) 0%,rgb(52,52,52) 50%,rgb(41,41,41) 50%,rgb(51,51,51) 100%);
  	background: linear-gradient(top, rgb(68,68,68) 0%,rgb(52,52,52) 50%,rgb(41,41,41) 50%,rgb(51,51,51) 100%);
  	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#444444', endColorstr='#222222',GradientType=0 );
    li {
    	float: left;
    	margin: 0;
    	padding: 0;
    }
  }
  a {
  	display: block;
  	width: 30px;
  	height: 30px;
  	text-indent: -9999px;
  	background-image: url('#{$baseImageFolder}/vendor/fancybox/fancybox_buttons.png');
  	background-repeat: no-repeat;
  	outline: none;
  	opacity: 0.8;
    &:hover {
	    opacity: 1;
    }
    &.btnPrev {
	    background-position: 5px 0;
    }
    &.btnNext {
      background-position: -33px 0;
      border-right: 1px solid #3e3e3e;
    }
    &.btnPlay {
      background-position: 0 -30px;
    }
    &.btnPlayOn {
    	background-position: -30px -30px;
    }
    &.btnToggle {
    	background-position: 3px -60px;
    	border-left: 1px solid #111;
    	border-right: 1px solid #3e3e3e;
    	width: 35px
    }
    &.btnToggleOn {
	    background-position: -27px -60px;
    }
    &.btnClose {
    	border-left: 1px solid #111;
    	width: 35px;
    	background-position: -56px 0px;
    }
    &.btnDisabled {
    	opacity : 0.4;
    	cursor: default;
    }
  }
}