.minimalist{position:relative;width:100%;text-align:left;background-size:cover;display:inline-block;}
.minimalist *{font-weight:inherit;font-family:inherit;font-style:inherit;text-decoration:inherit;font-size:100%;padding:0;border:0;margin:0;list-style-type:none}
.minimalist a:focus{outline:0}
.minimalist video{width:100%}
.minimalist.is-ipad video{-webkit-transform:translateX(-2048px);}
.is-ready.minimalist.is-ipad video{-webkit-transform:translateX(0)}
.minimalist .fp-engine,.minimalist .fp-ui,.minimalist .fp-message{position:absolute;top:0;left:0;width:100%;height:100%;cursor:pointer;z-index:1}
.minimalist .fp-message{display:none;text-align:center;padding-top:5%;}
.minimalist .fp-message h2{font-size:120%;margin-bottom:1em}
.minimalist .fp-message p{color:#666;font-size:95%}
.minimalist .fp-fullscreen,.minimalist .fp-unload,.minimalist .fp-mute,.minimalist .fp-embed{background-image:url("#{$baseImageFolder}/vendor/flowplayer/white.png");}
.color-light.minimalist .fp-fullscreen,.color-light.minimalist .fp-unload,.color-light.minimalist .fp-mute,.color-light.minimalist .fp-embed{background-image:url("#{$baseImageFolder}/vendor/flowplayer/black.png")}
.minimalist .fp-controls{position:absolute;bottom:0;width:100%;}
.no-background.minimalist .fp-controls{background-color:transparent !important;background-color:transparent;background-image:-moz-linear-gradient(transparent,transparent) !important;background-image:-webkit-gradient(linear,0 0,0 100%,from(transparent),to(transparent)) !important}
.is-fullscreen.minimalist .fp-controls{bottom:3px}
.is-mouseover.minimalist .fp-controls{bottom:0}
.minimalist .fp-waiting{display:none;margin:19% auto;text-align:center;}
.minimalist .fp-waiting *{-webkit-box-shadow:0 0 5px #333;-moz-box-shadow:0 0 5px #333;box-shadow:0 0 5px #333}
.minimalist .fp-waiting em{width:1em;height:1em;-webkit-border-radius:1em;-moz-border-radius:1em;border-radius:1em;background-color:rgba(255,255,255,0.8);display:inline-block;-webkit-animation:pulse .6s infinite;-moz-animation:pulse .6s infinite;animation:pulse .6s infinite;margin:.3em;opacity:0;filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=0);}
.minimalist .fp-waiting em:nth-child(1){-webkit-animation-delay:.3s;-moz-animation-delay:.3s;animation-delay:.3s}
.minimalist .fp-waiting em:nth-child(2){-webkit-animation-delay:.45s;-moz-animation-delay:.45s;animation-delay:.45s}
.minimalist .fp-waiting em:nth-child(3){-webkit-animation-delay:.6s;-moz-animation-delay:.6s;animation-delay:.6s}
.minimalist .fp-waiting p{color:#ccc;font-weight:bold}
.is-splash.minimalist .fp-ui,.is-paused.minimalist .fp-ui{background:url("#{$baseImageFolder}/vendor/flowplayer/play_white.png") center no-repeat;background-size:12%;}
.color-light.is-splash.minimalist .fp-ui,.color-light.is-paused.minimalist .fp-ui{background-image:url("#{$baseImageFolder}/vendor/flowplayer/play_black.png")}
.is-fullscreen.minimalist .fp-ui{background-size:auto}
.is-seeking.minimalist .fp-ui,.is-loading.minimalist .fp-ui{background-image:none}
.minimalist .fp-logo{position:absolute;top:auto;left:5px;bottom:25px;cursor:pointer;display:none;z-index:100;}
.minimalist .fp-logo img{width:100%}
.is-embedded.minimalist .fp-logo{display:block}
.minimalist .fp-fullscreen,.minimalist .fp-unload{position:absolute;top:5px;left:auto;right:5px;display:block;width:18px;height:19px;background-position:0 -197px;cursor:pointer;}
.is-fullscreen.minimalist .fp-fullscreen,.is-fullscreen.minimalist .fp-unload{background-position:0 -218px}
.minimalist .fp-unload{background-position:5px -178px;display:none}
.minimalist.is-ready.is-closeable .fp-unload{display:block}
.minimalist.is-ready.is-closeable .fp-fullscreen{display:none}
.minimalist .fp-timeline{height:3px;position:relative}
.minimalist .fp-buffer,.minimalist .fp-progress{position:absolute;top:0;left:auto;height:100%;cursor:col-resize}
.minimalist .fp-volume{position:absolute;top:7.5px;right:5px}
.minimalist .fp-mute{display:block;width:15px;height:15px;float:left;position:relative;top:-5px;left:0;cursor:pointer;background-position:0 -99px}
.minimalist .fp-volumeslider{width:90px;height:5px;cursor:col-resize;float:left}
.minimalist .fp-volumelevel{height:100%}
.minimalist .fp-time{text-shadow:0 0 1px #000;font-weight:bold;font-size:12px;color:#fff;width:100%;}
.minimalist .fp-time.is-inverted .fp-duration{display:none}
.minimalist .fp-time.is-inverted .fp-remaining{display:inline}
.minimalist .fp-time em{width:35px;height:10px;line-height:10px;text-align:center;position:absolute;bottom:5px;font-style:normal}
.minimalist .fp-elapsed{left:5px}
.minimalist .fp-remaining,.minimalist .fp-duration{right:115px;color:#bbb}
.minimalist .fp-remaining{display:none}
.minimalist.color-light .fp-time{color:#222;text-shadow:0 0 1px #fff}
.minimalist.color-light .fp-remaining,.minimalist.color-light .fp-duration{color:#666}
.minimalist.aside-time .fp-time{position:absolute;top:5px;left:5px;bottom:auto !important;width:200px;}
.minimalist.aside-time .fp-time strong,.minimalist.aside-time .fp-time em{position:static}
.minimalist.aside-time .fp-time .fp-elapsed{margin-right:5px}
.minimalist.is-splash{cursor:pointer;}
.minimalist.is-splash .fp-controls,.minimalist.is-splash .fp-fullscreen,.minimalist.is-splash .fp-unload,.minimalist.is-splash .fp-time,.minimalist.is-splash .fp-embed{display:none}
.minimalist.is-loading .fp-waiting{display:block}
.minimalist.is-loading .fp-controls,.minimalist.is-loading .fp-time{display:none}
.minimalist.is-loading .fp-ui{background-position:-9999em}
.minimalist.is-seeking .fp-waiting{display:block}
.minimalist.is-fullscreen{position:fixed !important;top:0 !important;left:0 !important;border:0 !important;margin:0 !important;width:100% !important;height:100% !important;z-index:99999 !important;-webkit-box-shadow:0 !important;-moz-box-shadow:0 !important;box-shadow:0 !important;background-image:none !important;background-color:#333}
.minimalist.is-error{border:2px solid #900;background-color:#fff !important;}
.minimalist.is-error h2{font-weight:bold;font-size:large;margin-top:10%}
.minimalist.is-error .fp-message{display:block}
.minimalist.is-error object,.minimalist.is-error video,.minimalist.is-error .fp-controls{display:none}
.minimalist.is-ready.is-muted .fp-mute{opacity:.5;filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=50)}
.minimalist.is-mouseout .fp-controls{height:0;-webkit-transition:height .15s .3s;-moz-transition:height .15s .3s;transition:height .15s .3s}
.minimalist.is-mouseout .fp-timeline{-webkit-transition:all .15s .3s;-moz-transition:all .15s .3s;transition:all .15s .3s;top:0}
.minimalist.is-mouseout .fp-fullscreen,.minimalist.is-mouseout .fp-unload,.minimalist.is-mouseout .fp-elapsed,.minimalist.is-mouseout .fp-remaining,.minimalist.is-mouseout .fp-duration,.minimalist.is-mouseout .fp-embed,.minimalist.is-mouseout .fp-logo,.minimalist.is-mouseout .fp-volume{opacity:0;filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=0);-webkit-transition:opacity .15s .3s;-moz-transition:opacity .15s .3s;transition:opacity .15s .3s}
.minimalist.is-ready.is-mouseover .fp-controls,.minimalist.fixed-controls .fp-controls{height:20px}
.minimalist.is-ready.is-mouseover .fp-fullscreen,.minimalist.fixed-controls .fp-fullscreen,.minimalist.is-ready.is-mouseover .fp-unload,.minimalist.fixed-controls .fp-unload,.minimalist.is-ready.is-mouseover .fp-time,.minimalist.fixed-controls .fp-time,.minimalist.is-ready.is-mouseover .fp-embed,.minimalist.fixed-controls .fp-embed,.minimalist.is-ready.is-mouseover .fp-logo,.minimalist.fixed-controls .fp-logo,.minimalist.is-ready.is-mouseover .fp-volume,.minimalist.fixed-controls .fp-volume{opacity:1;filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=100)}
.minimalist.is-ready.is-mouseover .fp-timeline,.minimalist.fixed-controls .fp-timeline{top:5px;height:10px;margin:0 155px 0 45px;}
.aside-time.minimalist.is-ready.is-mouseover .fp-timeline,.aside-time.minimalist.fixed-controls .fp-timeline{margin:0 115px 0 5px}
.minimalist.fixed-controls .fp-volume{display:block}
.minimalist.fixed-controls .fp-controls{bottom:-20px;}
.is-fullscreen.minimalist.fixed-controls .fp-controls{bottom:0}
.minimalist.fixed-controls .fp-time em{bottom:-15px;opacity:1;filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=100)}
.minimalist.is-disabled .fp-progress{background-color:#999}
.minimalist .fp-embed{position:absolute;top:6px;left:5px;display:block;width:20px;height:12px;background-position:0 -239px}
.minimalist .fp-embed-code{position:absolute;display:none;top:10px;left:40px;background-color:#333;padding:3px 5px;-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px;-webkit-box-shadow:0 0 3px #ccc;-moz-box-shadow:0 0 3px #ccc;box-shadow:0 0 3px #ccc;font-size:12px;}
.minimalist .fp-embed-code:before{content:'';width:0;height:0;position:absolute;top:2px;left:-10px;border:5px solid transparent;border-right-color:#333}
.minimalist .fp-embed-code textarea{width:400px;height:16px;font-family:monaco,"courier new",verdana;color:#777;white-space:nowrap;resize:none;overflow:hidden;border:0;outline:0;background-color:transparent;color:#ccc}
.minimalist .fp-embed-code label{display:block;color:#999}
.minimalist.is-embedding .fp-embed,.minimalist.is-embedding .fp-embed-code{display:block;opacity:1;filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=100)}
.minimalist.aside-time .fp-embed{left:90px}
.minimalist.aside-time .fp-embed-code{left:120px}
.minimalist.aside-time.is-embedding .fp-time{opacity:1;filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=100)}
@-moz-keyframes pulse{0%{opacity:0}
100%{opacity:1}
}@-webkit-keyframes pulse{0%{opacity:0}
100%{opacity:1}
}@-o-keyframes pulse{0%{opacity:0}
100%{opacity:1}
}@-ms-keyframes pulse{0%{opacity:0}
100%{opacity:1}
}@keyframes pulse{0%{opacity:0}
100%{opacity:1}
}.minimalist .fp-controls{background-color:#333;background-color:rgba(51,51,51,0.6)}
.minimalist.fixed-controls .fp-controls{background-color:#333}
.minimalist .fp-timeline{background-color:#666}
.minimalist .fp-buffer{background-color:#eee}
.minimalist .fp-progress{background-color:#00a7c8}
.minimalist .fp-volumeslider{background-color:#000}
.minimalist .fp-volumelevel{background-color:#fff}
.minimalist.color-light .fp-controls{background-color:rgba(255,255,255,0.6)}
.minimalist.color-light.fixed-controls .fp-controls{background-color:#fff}
.minimalist.color-light .fp-volumeslider{background-color:#ddd}
.minimalist.color-light .fp-volumelevel{background-color:#222}
.minimalist.color-alt .fp-progress{background-color:#fff}
.minimalist.color-alt .fp-buffer{background-color:#999}
.minimalist.color-alt2 .fp-progress{background-color:#900}
.functional{position:relative;width:100%;text-align:left;background-size:cover;display:inline-block;}
.functional *{font-weight:inherit;font-family:inherit;font-style:inherit;text-decoration:inherit;font-size:100%;padding:0;border:0;margin:0;list-style-type:none}
.functional a:focus{outline:0}
.functional video{width:100%}
.functional.is-ipad video{-webkit-transform:translateX(-2048px);}
.is-ready.functional.is-ipad video{-webkit-transform:translateX(0)}
.functional .fp-engine,.functional .fp-ui,.functional .fp-message{position:absolute;top:0;left:0;width:100%;height:100%;cursor:pointer;z-index:1}
.functional .fp-message{display:none;text-align:center;padding-top:5%;}
.functional .fp-message h2{font-size:120%;margin-bottom:1em}
.functional .fp-message p{color:#666;font-size:95%}
.functional .fp-fullscreen,.functional .fp-unload,.functional .fp-mute,.functional .fp-embed{background-image:url("#{$baseImageFolder}/vendor/flowplayer/white.png");}
.color-light.functional .fp-fullscreen,.color-light.functional .fp-unload,.color-light.functional .fp-mute,.color-light.functional .fp-embed{background-image:url("#{$baseImageFolder}/vendor/flowplayer/black.png")}
.functional .fp-controls{position:absolute;bottom:0;width:100%;}
.no-background.functional .fp-controls{background-color:transparent !important;background-color:transparent;background-image:-moz-linear-gradient(transparent,transparent) !important;background-image:-webkit-gradient(linear,0 0,0 100%,from(transparent),to(transparent)) !important}
.is-fullscreen.functional .fp-controls{bottom:3px}
.is-mouseover.functional .fp-controls{bottom:0}
.functional .fp-waiting{display:none;margin:19% auto;text-align:center;}
.functional .fp-waiting *{-webkit-box-shadow:0 0 5px #333;-moz-box-shadow:0 0 5px #333;box-shadow:0 0 5px #333}
.functional .fp-waiting em{width:1em;height:1em;-webkit-border-radius:1em;-moz-border-radius:1em;border-radius:1em;background-color:rgba(255,255,255,0.8);display:inline-block;-webkit-animation:pulse .6s infinite;-moz-animation:pulse .6s infinite;animation:pulse .6s infinite;margin:.3em;opacity:0;filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=0);}
.functional .fp-waiting em:nth-child(1){-webkit-animation-delay:.3s;-moz-animation-delay:.3s;animation-delay:.3s}
.functional .fp-waiting em:nth-child(2){-webkit-animation-delay:.45s;-moz-animation-delay:.45s;animation-delay:.45s}
.functional .fp-waiting em:nth-child(3){-webkit-animation-delay:.6s;-moz-animation-delay:.6s;animation-delay:.6s}
.functional .fp-waiting p{color:#ccc;font-weight:bold}
.is-splash.functional .fp-ui,.is-paused.functional .fp-ui{background:url("#{$baseImageFolder}/vendor/flowplayer/play_white.png") center no-repeat;background-size:12%;}
.color-light.is-splash.functional .fp-ui,.color-light.is-paused.functional .fp-ui{background-image:url("#{$baseImageFolder}/vendor/flowplayer/play_black.png")}
.is-fullscreen.functional .fp-ui{background-size:auto}
.is-seeking.functional .fp-ui,.is-loading.functional .fp-ui{background-image:none}
.functional .fp-logo{position:absolute;top:auto;left:10px;bottom:50px;cursor:pointer;display:none;z-index:100;}
.functional .fp-logo img{width:100%}
.is-embedded.functional .fp-logo{display:block}
.functional .fp-fullscreen,.functional .fp-unload{position:absolute;top:10px;left:auto;right:10px;display:block;width:18px;height:19px;background-position:0 -197px;cursor:pointer;}
.is-fullscreen.functional .fp-fullscreen,.is-fullscreen.functional .fp-unload{background-position:0 -218px}
.functional .fp-unload{background-position:5px -178px;display:none}
.functional.is-ready.is-closeable .fp-unload{display:block}
.functional.is-ready.is-closeable .fp-fullscreen{display:none}
.functional .fp-timeline{height:3px;position:relative}
.functional .fp-buffer,.functional .fp-progress{position:absolute;top:0;left:auto;height:100%;cursor:col-resize}
.functional .fp-volume{position:absolute;top:11px;right:10px}
.functional .fp-mute{display:block;width:15px;height:15px;float:left;position:relative;top:-3.5px;left:0;cursor:pointer;background-position:0 -99px}
.functional .fp-volumeslider{width:90px;height:8px;cursor:col-resize;float:left}
.functional .fp-volumelevel{height:100%}
.functional .fp-time{text-shadow:0 0 1px #000;font-weight:bold;font-size:12px;color:#fff;width:100%;}
.functional .fp-time.is-inverted .fp-duration{display:none}
.functional .fp-time.is-inverted .fp-remaining{display:inline}
.functional .fp-time em{width:35px;height:10px;line-height:10px;text-align:center;position:absolute;bottom:10px;font-style:normal}
.functional .fp-elapsed{left:10px}
.functional .fp-remaining,.functional .fp-duration{right:125px;color:#bbb}
.functional .fp-remaining{display:none}
.functional.color-light .fp-time{color:#222;text-shadow:0 0 1px #fff}
.functional.color-light .fp-remaining,.functional.color-light .fp-duration{color:#666}
.functional.aside-time .fp-time{position:absolute;top:10px;left:10px;bottom:auto !important;width:200px;}
.functional.aside-time .fp-time strong,.functional.aside-time .fp-time em{position:static}
.functional.aside-time .fp-time .fp-elapsed{margin-right:10px}
.functional.is-splash{cursor:pointer;}
.functional.is-splash .fp-controls,.functional.is-splash .fp-fullscreen,.functional.is-splash .fp-unload,.functional.is-splash .fp-time,.functional.is-splash .fp-embed{display:none}
.functional.is-loading .fp-waiting{display:block}
.functional.is-loading .fp-controls,.functional.is-loading .fp-time{display:none}
.functional.is-loading .fp-ui{background-position:-9999em}
.functional.is-seeking .fp-waiting{display:block}
.functional.is-fullscreen{position:fixed !important;top:0 !important;left:0 !important;border:0 !important;margin:0 !important;width:100% !important;height:100% !important;z-index:99999 !important;-webkit-box-shadow:0 !important;-moz-box-shadow:0 !important;box-shadow:0 !important;background-image:none !important;background-color:#333}
.functional.is-error{border:2px solid #900;background-color:#fff !important;}
.functional.is-error h2{font-weight:bold;font-size:large;margin-top:10%}
.functional.is-error .fp-message{display:block}
.functional.is-error object,.functional.is-error video,.functional.is-error .fp-controls{display:none}
.functional.is-ready.is-muted .fp-mute{opacity:.5;filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=50)}
.functional.is-mouseout .fp-controls{height:0;-webkit-transition:height .15s .3s;-moz-transition:height .15s .3s;transition:height .15s .3s}
.functional.is-mouseout .fp-timeline{-webkit-transition:all .15s .3s;-moz-transition:all .15s .3s;transition:all .15s .3s;top:0}
.functional.is-mouseout .fp-fullscreen,.functional.is-mouseout .fp-unload,.functional.is-mouseout .fp-elapsed,.functional.is-mouseout .fp-remaining,.functional.is-mouseout .fp-duration,.functional.is-mouseout .fp-embed,.functional.is-mouseout .fp-logo,.functional.is-mouseout .fp-volume{opacity:0;filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=0);-webkit-transition:opacity .15s .3s;-moz-transition:opacity .15s .3s;transition:opacity .15s .3s}
.functional.is-ready.is-mouseover .fp-controls,.functional.fixed-controls .fp-controls{height:30px}
.functional.is-ready.is-mouseover .fp-fullscreen,.functional.fixed-controls .fp-fullscreen,.functional.is-ready.is-mouseover .fp-unload,.functional.fixed-controls .fp-unload,.functional.is-ready.is-mouseover .fp-time,.functional.fixed-controls .fp-time,.functional.is-ready.is-mouseover .fp-embed,.functional.fixed-controls .fp-embed,.functional.is-ready.is-mouseover .fp-logo,.functional.fixed-controls .fp-logo,.functional.is-ready.is-mouseover .fp-volume,.functional.fixed-controls .fp-volume{opacity:1;filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=100)}
.functional.is-ready.is-mouseover .fp-timeline,.functional.fixed-controls .fp-timeline{top:10px;height:10px;margin:0 170px 0 55px;}
.aside-time.functional.is-ready.is-mouseover .fp-timeline,.aside-time.functional.fixed-controls .fp-timeline{margin:0 125px 0 10px}
.functional.fixed-controls .fp-volume{display:block}
.functional.fixed-controls .fp-controls{bottom:-30px;}
.is-fullscreen.functional.fixed-controls .fp-controls{bottom:0}
.functional.fixed-controls .fp-time em{bottom:-20px;opacity:1;filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=100)}
.functional.is-disabled .fp-progress{background-color:#999}
.functional .fp-embed{position:absolute;top:11px;left:10px;display:block;width:20px;height:12px;background-position:0 -239px}
.functional .fp-embed-code{position:absolute;display:none;top:10px;left:40px;background-color:#333;padding:3px 5px;-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px;-webkit-box-shadow:0 0 3px #ccc;-moz-box-shadow:0 0 3px #ccc;box-shadow:0 0 3px #ccc;font-size:12px;}
.functional .fp-embed-code:before{content:'';width:0;height:0;position:absolute;top:2px;left:-10px;border:5px solid transparent;border-right-color:#333}
.functional .fp-embed-code textarea{width:400px;height:16px;font-family:monaco,"courier new",verdana;color:#777;white-space:nowrap;resize:none;overflow:hidden;border:0;outline:0;background-color:transparent;color:#ccc}
.functional .fp-embed-code label{display:block;color:#999}
.functional.is-embedding .fp-embed,.functional.is-embedding .fp-embed-code{display:block;opacity:1;filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=100)}
.functional.aside-time .fp-embed{left:100px}
.functional.aside-time .fp-embed-code{left:130px}
.functional.aside-time.is-embedding .fp-time{opacity:1;filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=100)}
@-moz-keyframes pulse{0%{opacity:0}
100%{opacity:1}
}@-webkit-keyframes pulse{0%{opacity:0}
100%{opacity:1}
}@-o-keyframes pulse{0%{opacity:0}
100%{opacity:1}
}@-ms-keyframes pulse{0%{opacity:0}
100%{opacity:1}
}@keyframes pulse{0%{opacity:0}
100%{opacity:1}
}.functional .fp-controls{background-color:rgba(85,85,85,0.5);background-image:-moz-linear-gradient(rgba(85,85,85,0.5),rgba(17,17,17,0.8));background-image:-webkit-gradient(linear,0 0,0 100%,from(rgba(85,85,85,0.5)),to(rgba(17,17,17,0.8)))}
.functional.fixed-controls .fp-controls{background-color:#555;background-image:-moz-linear-gradient(#555,#111);background-image:-webkit-gradient(linear,0 0,0 100%,from(#555),to(#111))}
.functional .fp-timeline{background-color:#666}
.functional .fp-buffer{background-color:#eee}
.functional .fp-progress{background-color:#8cc5e6;background-image:-moz-linear-gradient(#8cc5e6,#4da5d8);background-image:-webkit-gradient(linear,0 0,0 100%,from(#8cc5e6),to(#4da5d8))}
.functional .fp-volumelevel{background-color:#fff}
.functional .fp-volumeslider{background-color:#555}
.functional .fp-timeline,.functional .fp-volumeslider{border:1px inset;border-color:#333 #666}
.functional .fp-timeline,.functional .fp-buffer,.functional .fp-progress,.functional .fp-volumeslider,.functional .fp-volumelevel{-webkit-border-radius:10px;-moz-border-radius:10px;border-radius:10px}
.functional.color-light .fp-controls{background-color:rgba(238,238,238,0.5);background-image:-moz-linear-gradient(rgba(238,238,238,0.5),rgba(204,204,204,0.8));background-image:-webkit-gradient(linear,0 0,0 100%,from(rgba(238,238,238,0.5)),to(rgba(204,204,204,0.8)))}
.functional.color-light .fp-timeline,.functional.color-light .fp-volumeslider{border-color:#eee #ccc}
.functional.color-light .fp-timeline,.functional.color-light .fp-volumeslider{background-color:#ccc;font-size:10px}
.functional.color-alt .fp-controls{background-color:#888;background-image:-moz-linear-gradient(#888,#333);background-image:-webkit-gradient(linear,0 0,0 100%,from(#888),to(#333))}
.functional.color-alt .fp-progress{background-color:#999;background-image:-moz-linear-gradient(#999,#111);background-image:-webkit-gradient(linear,0 0,0 100%,from(#999),to(#111))}
.functional.color-alt .fp-timeline,.functional.color-alt .fp-volumeslider{background-color:#111}
.functional.color-alt2 .fp-progress{background-color:#900;background-image:-moz-linear-gradient(#900,#500);background-image:-webkit-gradient(linear,0 0,0 100%,from(#900),to(#500))}
.playful{position:relative;width:100%;text-align:left;background-size:cover;display:inline-block;}
.playful *{font-weight:inherit;font-family:inherit;font-style:inherit;text-decoration:inherit;font-size:100%;padding:0;border:0;margin:0;list-style-type:none}
.playful a:focus{outline:0}
.playful video{width:100%}
.playful.is-ipad video{-webkit-transform:translateX(-2048px);}
.is-ready.playful.is-ipad video{-webkit-transform:translateX(0)}
.playful .fp-engine,.playful .fp-ui,.playful .fp-message{position:absolute;top:0;left:0;width:100%;height:100%;cursor:pointer;z-index:1}
.playful .fp-message{display:none;text-align:center;padding-top:5%;}
.playful .fp-message h2{font-size:120%;margin-bottom:1em}
.playful .fp-message p{color:#666;font-size:95%}
.playful .fp-fullscreen,.playful .fp-unload,.playful .fp-mute,.playful .fp-embed{background-image:url("#{$baseImageFolder}/vendor/flowplayer/playful_white.png");}
.color-light.playful .fp-fullscreen,.color-light.playful .fp-unload,.color-light.playful .fp-mute,.color-light.playful .fp-embed{background-image:url("#{$baseImageFolder}/vendor/flowplayer/playful_black.png")}
.playful .fp-controls{position:absolute;bottom:0;width:100%;}
.no-background.playful .fp-controls{background-color:transparent !important;background-color:transparent;background-image:-moz-linear-gradient(transparent,transparent) !important;background-image:-webkit-gradient(linear,0 0,0 100%,from(transparent),to(transparent)) !important}
.is-fullscreen.playful .fp-controls{bottom:3px}
.is-mouseover.playful .fp-controls{bottom:0}
.playful .fp-waiting{display:none;margin:19% auto;text-align:center;}
.playful .fp-waiting *{-webkit-box-shadow:0 0 5px #333;-moz-box-shadow:0 0 5px #333;box-shadow:0 0 5px #333}
.playful .fp-waiting em{width:1em;height:1em;-webkit-border-radius:1em;-moz-border-radius:1em;border-radius:1em;background-color:rgba(255,255,255,0.8);display:inline-block;-webkit-animation:pulse .6s infinite;-moz-animation:pulse .6s infinite;animation:pulse .6s infinite;margin:.3em;opacity:0;filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=0);}
.playful .fp-waiting em:nth-child(1){-webkit-animation-delay:.3s;-moz-animation-delay:.3s;animation-delay:.3s}
.playful .fp-waiting em:nth-child(2){-webkit-animation-delay:.45s;-moz-animation-delay:.45s;animation-delay:.45s}
.playful .fp-waiting em:nth-child(3){-webkit-animation-delay:.6s;-moz-animation-delay:.6s;animation-delay:.6s}
.playful .fp-waiting p{color:#ccc;font-weight:bold}
.is-splash.playful .fp-ui,.is-paused.playful .fp-ui{background:url("#{$baseImageFolder}/vendor/flowplayer/play_white.png") center no-repeat;background-size:12%;}
.color-light.is-splash.playful .fp-ui,.color-light.is-paused.playful .fp-ui{background-image:url("#{$baseImageFolder}/vendor/flowplayer/play_black.png")}
.is-fullscreen.playful .fp-ui{background-size:auto}
.is-seeking.playful .fp-ui,.is-loading.playful .fp-ui{background-image:none}
.playful .fp-logo{position:absolute;top:auto;left:12px;bottom:60px;cursor:pointer;display:none;z-index:100;}
.playful .fp-logo img{width:100%}
.is-embedded.playful .fp-logo{display:block}
.playful .fp-fullscreen,.playful .fp-unload{position:absolute;top:12px;left:auto;right:12px;display:block;width:18px;height:19px;background-position:0 -197px;cursor:pointer;}
.is-fullscreen.playful .fp-fullscreen,.is-fullscreen.playful .fp-unload{background-position:0 -218px}
.playful .fp-unload{background-position:5px -178px;display:none}
.playful.is-ready.is-closeable .fp-unload{display:block}
.playful.is-ready.is-closeable .fp-fullscreen{display:none}
.playful .fp-timeline{height:3px;position:relative}
.playful .fp-buffer,.playful .fp-progress{position:absolute;top:0;left:auto;height:100%;cursor:col-resize}
.playful .fp-volume{position:absolute;top:12px;right:12px}
.playful .fp-mute{display:block;width:38px;height:38px;float:left;position:relative;top:-4.5px;left:0;cursor:pointer;background-position:0 -99px}
.playful .fp-volumeslider{width:90px;height:11px;cursor:col-resize;float:left}
.playful .fp-volumelevel{height:100%}
.playful .fp-time{text-shadow:0 0 1px #000;font-weight:bold;font-size:12px;color:#fff;width:100%;}
.playful .fp-time.is-inverted .fp-duration{display:none}
.playful .fp-time.is-inverted .fp-remaining{display:inline}
.playful .fp-time em{width:35px;height:11px;line-height:11px;text-align:center;position:absolute;bottom:12px;font-style:normal}
.playful .fp-elapsed{left:12px}
.playful .fp-remaining,.playful .fp-duration{right:152px;color:#bbb}
.playful .fp-remaining{display:none}
.playful.color-light .fp-time{color:#222;text-shadow:0 0 1px #fff}
.playful.color-light .fp-remaining,.playful.color-light .fp-duration{color:#666}
.playful.aside-time .fp-time{position:absolute;top:12px;left:12px;bottom:auto !important;width:200px;}
.playful.aside-time .fp-time strong,.playful.aside-time .fp-time em{position:static}
.playful.aside-time .fp-time .fp-elapsed{margin-right:12px}
.playful.is-splash{cursor:pointer;}
.playful.is-splash .fp-controls,.playful.is-splash .fp-fullscreen,.playful.is-splash .fp-unload,.playful.is-splash .fp-time,.playful.is-splash .fp-embed{display:none}
.playful.is-loading .fp-waiting{display:block}
.playful.is-loading .fp-controls,.playful.is-loading .fp-time{display:none}
.playful.is-loading .fp-ui{background-position:-9999em}
.playful.is-seeking .fp-waiting{display:block}
.playful.is-fullscreen{position:fixed !important;top:0 !important;left:0 !important;border:0 !important;margin:0 !important;width:100% !important;height:100% !important;z-index:99999 !important;-webkit-box-shadow:0 !important;-moz-box-shadow:0 !important;box-shadow:0 !important;background-image:none !important;background-color:#333}
.playful.is-error{border:2px solid #900;background-color:#fff !important;}
.playful.is-error h2{font-weight:bold;font-size:large;margin-top:10%}
.playful.is-error .fp-message{display:block}
.playful.is-error object,.playful.is-error video,.playful.is-error .fp-controls{display:none}
.playful.is-ready.is-muted .fp-mute{opacity:.5;filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=50)}
.playful.is-mouseout .fp-controls{height:0;-webkit-transition:height .15s .3s;-moz-transition:height .15s .3s;transition:height .15s .3s}
.playful.is-mouseout .fp-timeline{-webkit-transition:all .15s .3s;-moz-transition:all .15s .3s;transition:all .15s .3s;top:0}
.playful.is-mouseout .fp-fullscreen,.playful.is-mouseout .fp-unload,.playful.is-mouseout .fp-elapsed,.playful.is-mouseout .fp-remaining,.playful.is-mouseout .fp-duration,.playful.is-mouseout .fp-embed,.playful.is-mouseout .fp-logo,.playful.is-mouseout .fp-volume{opacity:0;filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=0);-webkit-transition:opacity .15s .3s;-moz-transition:opacity .15s .3s;transition:opacity .15s .3s}
.playful.is-ready.is-mouseover .fp-controls,.playful.fixed-controls .fp-controls{height:35px}
.playful.is-ready.is-mouseover .fp-fullscreen,.playful.fixed-controls .fp-fullscreen,.playful.is-ready.is-mouseover .fp-unload,.playful.fixed-controls .fp-unload,.playful.is-ready.is-mouseover .fp-time,.playful.fixed-controls .fp-time,.playful.is-ready.is-mouseover .fp-embed,.playful.fixed-controls .fp-embed,.playful.is-ready.is-mouseover .fp-logo,.playful.fixed-controls .fp-logo,.playful.is-ready.is-mouseover .fp-volume,.playful.fixed-controls .fp-volume{opacity:1;filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=100)}
.playful.is-ready.is-mouseover .fp-timeline,.playful.fixed-controls .fp-timeline{top:12px;height:11px;margin:0 199px 0 59px;}
.aside-time.playful.is-ready.is-mouseover .fp-timeline,.aside-time.playful.fixed-controls .fp-timeline{margin:0 152px 0 12px}
.playful.fixed-controls .fp-volume{display:block}
.playful.fixed-controls .fp-controls{bottom:-35px;}
.is-fullscreen.playful.fixed-controls .fp-controls{bottom:0}
.playful.fixed-controls .fp-time em{bottom:-23px;opacity:1;filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=100)}
.playful.is-disabled .fp-progress{background-color:#999}
.playful .fp-embed{position:absolute;top:13px;left:12px;display:block;width:20px;height:12px;background-position:0 -239px}
.playful .fp-embed-code{position:absolute;display:none;top:10px;left:40px;background-color:#333;padding:3px 5px;-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px;-webkit-box-shadow:0 0 3px #ccc;-moz-box-shadow:0 0 3px #ccc;box-shadow:0 0 3px #ccc;font-size:12px;}
.playful .fp-embed-code:before{content:'';width:0;height:0;position:absolute;top:2px;left:-10px;border:5px solid transparent;border-right-color:#333}
.playful .fp-embed-code textarea{width:400px;height:16px;font-family:monaco,"courier new",verdana;color:#777;white-space:nowrap;resize:none;overflow:hidden;border:0;outline:0;background-color:transparent;color:#ccc}
.playful .fp-embed-code label{display:block;color:#999}
.playful.is-embedding .fp-embed,.playful.is-embedding .fp-embed-code{display:block;opacity:1;filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=100)}
.playful.aside-time .fp-embed{left:110px}
.playful.aside-time .fp-embed-code{left:140px}
.playful.aside-time.is-embedding .fp-time{opacity:1;filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=100)}
@-moz-keyframes pulse{0%{opacity:0}
100%{opacity:1}
}@-webkit-keyframes pulse{0%{opacity:0}
100%{opacity:1}
}@-o-keyframes pulse{0%{opacity:0}
100%{opacity:1}
}@-ms-keyframes pulse{0%{opacity:0}
100%{opacity:1}
}@keyframes pulse{0%{opacity:0}
100%{opacity:1}
}.playful .fp-controls{background-color:#555;background-image:-moz-linear-gradient(#555,#111);background-image:-webkit-gradient(linear,0 0,0 100%,from(#555),to(#111))}
.playful .fp-timeline,.playful .fp-volumeslider{background-color:#000;background-image:-moz-linear-gradient(#000,#777);background-image:-webkit-gradient(linear,0 0,0 100%,from(#000),to(#777))}
.playful .fp-buffer{background-color:rgba(255,255,255,0.5)}
.playful .fp-progress,.playful .fp-volumelevel{background-color:#00b300;background-image:-moz-linear-gradient(#00b300,#008000);background-image:-webkit-gradient(linear,0 0,0 100%,from(#00b300),to(#008000))}
.playful .fp-mute{display:block;width:38px;height:20px;background-position:0 -78px;}
.is-muted.playful .fp-mute{background-position:0 -108px;opacity:.85;filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=85)}
.playful .fp-timeline,.playful .fp-volumeslider{border:1px inset;border-color:#333 #666}
.playful .fp-timeline,.playful .fp-progress,.playful .fp-buffer,.playful .fp-volumeslider,.playful .fp-volumelevel{-webkit-border-radius:7px;-moz-border-radius:7px;border-radius:7px}
.playful.color-light .fp-controls{background-color:#eee;background-image:-moz-linear-gradient(#eee,#aaa);background-image:-webkit-gradient(linear,0 0,0 100%,from(#eee),to(#aaa))}
.playful.color-light .fp-timeline,.playful.color-light .fp-volumeslider{border-color:#eee #ccc}
.playful.color-alt .fp-progress,.playful.color-alt .fp-volumelevel{background-color:#fff;background-image:-moz-linear-gradient(#fff,#999);background-image:-webkit-gradient(linear,0 0,0 100%,from(#fff),to(#999))}
.playful.color-alt2 .fp-progress,.playful.color-alt2 .fp-volumelevel{background-color:#c00;background-image:-moz-linear-gradient(#c00,#900);background-image:-webkit-gradient(linear,0 0,0 100%,from(#c00),to(#900))}