{embed="events_inc/index" page_title="Create an Event"}
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.3/jquery.min.js"></script>
<script type="text/javascript" src="/themes/solspace_themes/calendar/js/jquery-ui.custom.min.js"></script>
{exp:calendar:datepicker_js}
{exp:calendar:datepicker_css}
</head>
<body id="home">
{embed="events_inc/header"}

		<div id="maincolumn">
		
			<h2>Calendar</h2>
			
			<h3>Create an Event</h3>
			
			<p></p>

			<div id="leftcolumn">

				{if segment_3 == "success"}<div class="calendar_success">Event has been successfully created!</div>{/if}

				<h5>Create an Event</h5>
				<hr />

{if logged_in_group_id == "1"}

<div id="calendar_saef">
   {exp:calendar:form weblog="calendar_events" return="events_main/create/success"}
   <p><label>Title:</label><br />
   <input type="text" name="title" value="{title}" size="80" style="width: 600px;" /></p>
   {calendar_date_widget}
   <p><label>Summary:</label><br />
   <textarea name="{event_summary_field_name}" rows="5" cols="65" style="width: 600px; height: 100px;">{event_summary}</textarea>
   <input type="hidden" name="{event_summary_format_name}" value="{event_summary_format_value}" /></p>
   <p><label>Location:</label><br />
   <input type="text" name="{event_location_field_name}" value="{event_location}" size="80" style="width: 600px;" /></p>
   <input type="hidden" name="{event_location_format_name}" value="{event_location_format_value}" /></p>
   <p><input type="submit" name="submit" value="Submit" /></p>
   {/exp:calendar:form}
</div>

{if:else}

   <div class="calendar_error">You do not have sufficient privileges to create a new event.</div>

{/if}

			</div>

			<div id="rightcolumn">

{embed="events_inc/side_column"}

				<div id="aboutcolumn">
		
					<h3>About This Page</h3>
			
					<p>The "Create an Event" page is meant to allow members with appropriate privileges to create new events.</p>

					<p>It makes use of the following function:</p>

					<ul>
						<li><a href="http://www.solspace.com/docs/detail/calendar_form/">Calendar:Form</a> to display the SAEF form for users to create new events.</li>
						<li><a href="http://www.solspace.com/docs/detail/calendar_mini/">Calendar:Cal in Mini mode</a> to display a Mini Calendar that links to days that have events.</li>
						<li><a href="http://www.solspace.com/docs/detail/calendar_calendars/">Calendar:Calendars</a> to display a list of all available Calendars.</li>
					</ul>
		
				</div>

			</div>
	
		</div>
		
{embed="events_inc/footer"}