{html_head}

{metatags}

{exp:seo_lite title_override="Forgot Password |&nbsp;{site_name}"}

{stylesheets}
{js_head}
{html_head_end}

<body id="forgot-password" {exp:nsm_body_class}>

  <div id="content" class="container">
    <!-- Begin Page Content -->
    <section id="logged_out" class="forgot-password row">
      <div class="eight columns centered">
        <div class="row">
          <div class="seven columns">
            <a href="{path='site_index'}" class="rubidoux-logo">Mt. Rubidoux SDA Church</a>
          </div>
          <div class="five columns">
            <h1>Forgot your password?</h1>
            <p>Don't worry! It happens to everyone. Enter your email address and you can reset it.</p>
    
            <form id="forgot_password_form" method="post" action="{site_url}">
              <div class="hiddenFields">
                <?php
                  $this->EE =& get_instance();
                  $action_id = $this->EE->functions->fetch_action_id('Member', 'retrieve_password');
                ?>
              <input type="hidden" name="ACT" value="<?php echo $action_id; //or you could hard code this action id ?>" />
              <input type="hidden" name="XID" value={XID_HASH} />
              <input type="hidden" name="RET" value="-3" /><!-- URL you would like the user to be redirected to -->
              <input type="hidden" name="FROM" value="" />
              <input type="hidden" name="site_id" value="1" />
            </div>
            
            <label for="email">Email</label>
            <div class="row">
              <div class="twelve columns">
                <div class="row collapse">
                  <div class="ten mobile-three columns">
                    <input type="text" id="email" name="email" />
                  </div>
                  <div class="two mobile-one columns">
                    <input type="submit" name="submit" value="Go" class="postfix button expand" />
                  </div>
                </div>
              </div>
            </div>
            
           </form>
           <p>Never mind? <a href="{path='login'}">Sign in</a></p>
         </div>
       </div>
     </div>
   </section>
    
    <!-- End Page Content -->
  </div>
  {js_foot}
  {countdownjs}
{body_html_end}