{html_head}

{metatags}

{exp:seo_lite title_override="Sign In |&nbsp;{site_name}"}

{stylesheets}
{js_head}
{html_head_end}

<body id="login" {exp:nsm_body_class}>

  <div id="content" class="container">
    <!-- Begin Page Content -->
    <section id="logged_out" class="login row">
      <div class="eight columns centered">
        <div class="row">
          <div class="seven columns">
            <a href="{path='site_index'}" class="rubidoux-logo">Mt. Rubidoux SDA Church</a>
          </div>
          <div class="five columns">
            <h1>Sign in to Mt. Rubidoux</h1>
    
            {exp:member:login_form return="site/index"}
              <div class="hiddenFields">
                <input id="checkbox" class="checkbox hide" type="checkbox" checked="checked" name="auto_login" value="1" />
              </div>
            
              <label>Email</label>
              <input type="text" name="username" value="" maxlength="32" class="input" size="25" />
              
              <label>Password <span class="right"><a href="{path='forgot-password'}">Forgot?</a></span></label>
              <div class="row">
                <div class="twelve columns">
                  <div class="row collapse">
                    <div class="ten mobile-three columns">
                      <input type="password" name="password" value="" maxlength="32" class="input" size="25" />
                    </div>
                    <div class="two mobile-one columns">
                      <input type="submit" name="submit" value="Go" class="postfix button expand" />
                    </div>
                  </div>
                </div>
              </div>
              
              
              

              <p></p>
            {/exp:member:login_form}

            <p>Don't have an account? <a href="{path='signup'}">Sign up</a></p>
            
            
            
            
            
            <!-- Brilliant Retail Login Code -->
              {exp:brilliant_retail:show_message}
        
                <div id="main">
        
                	{exp:member:login_form return="account/index" id="login_form"}
                		<h3>Login</h3>
                        <label>Email<br /><input class="txtinp required: email" name="username" type="text" /></label>
                        <label>Password<br /><input class="txtinp required" name="password" type="password" /></label>
                        <p><a href="{exp:brilliant_retail:path src='account/password'}">forgot password</a></p>
                        <div class="btn">
                            <input class="inpbtn" name="" type="submit" value="Login" />
                        </div>
                	{/exp:member:login_form}            
            
                    {exp:brilliant_retail:register_form id="register_form"}
                    	<h3>Register</h3>
                        <label>
                        	First Name *<br />
                        	<input 	class="txtinp required" 
                        			name="br_fname" 
                        			type="text" 
                        			value="{if "{exp:brilliant_retail:form_value for='br_fname'}"}{exp:brilliant_retail:form_value for='br_fname'}{/if}" />
                        </label>
                        <label>
                        	Last Name *<br /> 
                        	<input 	class="txtinp required" 
                        			name="br_lname" 
                        			value="{if "{exp:brilliant_retail:form_value for='br_lname'}"}{exp:brilliant_retail:form_value for='br_lname'}{/if}" 
                        			type="text" />
                        </label>
                        <div class="clearboth"><!-- --></div>
                        <label>
                        	Email Address *<br />
                        	<input 	class="txtinp2 required email" 
                        			name="email" 
                        			value="{if "{exp:brilliant_retail:form_value for='email'}"}{exp:brilliant_retail:form_value for='email'}{/if}" 
                        			type="text" />
                        </label>
                        <div class="clearboth"><!-- --></div>
                        <label>
                        	Password *<br />
                        	<input class="txtinp2 required" id="password" name="password" type="password" />
                        </label>
                        <div class="clearboth"><!-- --></div>
                        <label>
                        	Confirm Password *<br />
                        	<input class="txtinp2 required" name="confirm_password" type="password" />
                        </label>
                        <div class="clearboth"><!-- --></div>
                        {if captcha}
        					<label>
        						Enter the word below: *<br />
        						{captcha}<br />
        						<input type="text" name="captcha" value="" size="20" maxlength="20" class="txtinp2 required" />
        					</label>
        				{/if}
                        <div class="clearboth"><!-- --></div>
                        <div class="btn">
                            <input class="inpbtn" name="" type="submit" value="Register" />
                        </div>
                    {/exp:brilliant_retail:register_form}
                    <div class="clearboth"><!-- --></div>            
        
                </div>
                 <!-- END BRILLIANT RETAIL LOGIN CODE -->
            
            
            
            
            
            
            
            
            
            
          </div>
        </div>
      </div>
    </section>
    <!-- End Page Content -->
  </div>
  {js_foot}
  {countdownjs}
  
  {!-- push the validation into the body close with the js method. !--}

  {exp:brilliant_retail:js}
  	$(function(){
  		$('#login_form').validate();
  		$('#register_form').validate({
  										rules: {
  												password: {minlength : 7},
  												confirm_password : { equalTo: "#password" }
  										}
  									});
  	});
  {/exp:brilliant_retail:js}
  
{body_html_end}