{html_head}

{metatags}

{exp:seo_lite use_last_segment="yes"}

{stylesheets}
{js_head}
{html_head_end}

{embed="global/header"
  entry_id="{last_segment_absolute_id}"
  url_title="{last_segment_absolute}"
  template="index"
  template_group="home"
}

<div id="content">
  
  <!-- Begin Page Content -->











{if logged_out}
{redirect='account/login'}
{/if}



<body>

<!-- Header -->
<header>
    <div class="wrapper">

			{embed='_assets/topbar'}    
        
        <div id="main_menu">
            
            {embed="_assets/menu"}
		
        </div> <!-- main_menu -->
        <div class="clearboth"><!-- --></div>
    
    </div>
</header> <!-- header -->
<!-- end of Header -->

<!-- Account -->
<div id="account" class="page">
	<div class="wrapper">
    
    	{embed='account/_sidebar'}

    	<div id="subject">
			
			{exp:brilliant_retail:show_message}
			
            <h4 id="orders_heading">Orders</h4>
            
            <table id="orders" cellspacing="0">
            	<thead>
                	<tr>
                    	<th>Order</th>
                    	<th>Date</th>
                    	<th>Ship To</th>
                    	<th>Status</th>
                    	<th>Total</th>
                    </tr>
                </thead>
                <tbody>
                	{exp:brilliant_retail:customer_orders}
						{orders}
							<tr>
		                    	<td class="col1">
		                        	<a href="{exp:brilliant_retail:path src='account/order_detail/{order_id}'}">{order_id}</a></td>
		                        <td class="col2">
		                        	{created format="%n/%d/%y"}</td>
		                        <td class="col3">
		                        	{address}
		                        		{shipping_fname} {shipping_lname}
		                        	{/address}</td>
		                        <td class="col4">
		                        	{status}</td>
		                        <td class="col5">
		                        	{currency_marker}{total}</td>
		                    </tr>
						{/orders}
	            	{/exp:brilliant_retail:customer_orders}
                </tbody>
            </table> <!-- orders -->
            

        </div> <!-- subject -->
        <div class="clearboth"><!-- --></div>
    </div>
</div> 
<!-- account -->
<!-- end of Account Page -->

{embed="_assets/footer"}













  <!-- End Page Content -->

</div>
{embed="global/footer"}
{js_foot}
{countdownjs}
{body_html_end}