{html_head}

{metatags}

{exp:seo_lite use_last_segment="yes"}

{stylesheets}
{js_head}
{html_head_end}

{embed="global/header"
  entry_id="{last_segment_absolute_id}"
  url_title="{last_segment_absolute}"
  template="index"
  template_group="home"
}

<div id="content">
  
  <!-- Begin Page Content -->











{if logged_in}
{redirect='account'}
{/if}



<body>
<!-- Header -->
<header>
    <div class="wrapper">

			{embed='_assets/topbar'}    
        
        <div id="main_menu">
            
            {embed="_assets/menu"}
		
        </div> <!-- main_menu -->
        <div class="clearboth"><!-- --></div>
    
    </div>
</header> <!-- header -->
<!-- end of Header -->

<!-- login -->
<div id="login" class="page">
	<div class="wrapper">
    	
    	{exp:brilliant_retail:show_message}
        
        <div id="main">

            {exp:brilliant_retail:forgot_password id="password_form"}
            	<h3>Retrieve Your Password</h3>
                <p>
                	Please enter your e-mail below to retrieve your password. 
                </p>
                <label>Email<br /><input class="txtinp required email" name="email" type="text" /></label>
                <div class="clearboth"><!-- --></div>
                <div class="btn">
                    <input class="inpbtn" name="" type="submit" value="Submit" />
                </div>
            {/exp:brilliant_retail:forgot_password}
            <div class="clearboth"><!-- --></div>            
        
        </div> <!-- main -->
    
    </div>
</div> <!-- login -->
<!-- end of login Page -->


<script type="text/javascript">
	$(function(){
		$('#password_form').validate();
	});
</script>

{embed="_assets/footer"}













  <!-- End Page Content -->

</div>
{embed="global/footer"}
{js_foot}
{countdownjs}
{body_html_end}