{html_head}

{metatags}

{exp:seo_lite title_override="Sign Up |&nbsp;{site_name}"}

{stylesheets}
{js_head}
{html_head_end}

<body id="signup" {exp:nsm_body_class}>

  <div id="content" class="container">
    <!-- Begin Page Content -->
    <section id="logged_out" class="registration row">
      <div class="eight columns centered">
        <div class="row">
          <div class="seven columns">
            <a href="{path='site_index'}" class="rubidoux-logo">Mt. Rubidoux SDA Church</a>
          </div>
          <div class="five columns">
            <h1>Create a Mt. Rubidoux account</h1>
            <p>By created an account you agree to the <a href="{path='terms'}">terms of service</a></p>
            <form id="register_member_form" method="post" action="http://www.mtrubidoux.org/"> 
              <div class="hiddenFields">
                <?php
                    $this->EE =& get_instance();
                    $action_id = $this->EE->functions->fetch_action_id('Member', 'retrieve_password');
                ?>
                <input type="hidden" name="XID" value={XID_HASH} /> 
                <input type="hidden" name="ACT" value="<?php echo $action_id; ?>" />
                <input type="hidden" name="RET" value="{path='site_index'}" /> 
                <input type="hidden" name="FROM" value="" /> 
                <input type="hidden" name="site_id" value="1" /> 
                <input id="checkbox" type='checkbox' name='accept_terms' value='y' checked="checked" class="hide" />
              </div> <!-- closes out hiddenFields -->
      
              <label>Username <i class="foundicon-question has-tip tip-right" data-width="90" title="Usernames must be at least 4 characters long"></i></label>
              <input type="text" name="username" value="" maxlength="32" class="input" size="25" />
      
              <label>Password <i class="foundicon-question has-tip tip-right" data-width="90" title="Passwords must be at least 5 characters long"></i></label>
              <input type="password" name="password" value="" maxlength="32" class="input" size="25" />
      
              <label>Confirm password</label>
              <input type="password" name="password_confirm" value="" maxlength="32" class="input" size="25" />
      
              <label>Full Name <i class="foundicon-question has-tip tip-right" data-width="90" title="If you leave this field blank, your screen name will be the same as your username"></i></label>
              <input type="text" name="screen_name" value="" maxlength="100" class="input" size="25" />
      
              <label>Email</label>
              <input type="text" name="email" value="" maxlength="120" class="input" size="40" />
      
              <label>Confirm Email</label>
              <div class="row">
                <div class="twelve columns">
                  <div class="row collapse">
                    <div class="ten mobile-three columns">
                      <input type="text" name="email_confirm" value="" maxlength="120" class="input" size="40" />
                    </div>
                    <div class="two mobile-one columns">
                      <input type="submit" name="submit" value="Go" class="postfix button expand" />
                    </div>
                  </div>
                </div>
              </div>
              
            </form>
    
            <p>Already on Mt. Rubidoux? <a href="{path='login'}">Sign In</a></p>
          </div>
        </div>
      </div>
    </section>
    
    <!-- End Page Content -->
  </div>
  {js_foot}
  {countdownjs}
{body_html_end}