<div class="row">
  <div class="span9">
    <div class="calendar-page-head">
      {if segment_2 == ""}
        <h4>
          All Events
          <small class="right subscribe"><a href="{path='events/export'}"><i class="icon-calendar"></i> Subscribe to entire calendar</a></small>
        </h4>
      {/if}
      
      {!--
      {if segment_2 == "calendars"}
      {exp:calendar:calendars {if segment_3 != ""}calendar_name="{segment_3}"{/if}}
        <h4><small class="right"><a href="{path='events/export/calendar'}/{calendar_id}/"><i class="icon-calendar"></i><span class="hide">Export this Event to another Application</span></a></small>{calendar_title}</h4>
        {if calendar_summary}<p><b>Description:</b> {calendar_summary}</p>{/if}
      {/exp:calendar:calendars}
      {/if}
  		{if segment_3 == "by_calendar"}
  			<h4{if segment_2 == "day"} class="left"{/if}>
          {exp:calendar:calendars calendar_name="{segment_4}" dynamic="off"}<span>{calendar_title}</span>{/exp:calendar:calendars}:
          {if segment_2 == "month"} {exp:calendar:cal {if segment_3 == ""}date_range_start="year-month-01" date_range_end="year-month-last"{/if} {if segment_3 != ""}{if segment_3 == "by_calendar"}date_range_start="{segment_5}-{segment_6}-01" date_range_end="{segment_5}-{segment_6}-last"{/if} {if segment_3 != "by_calendar"}date_range_start="{segment_3}-{segment_4}-01" date_range_end="{segment_3}-{segment_4}-last"{/if} {/if} dynamic="off"}{display_each_month}{month format="%F %Y"}{/display_each_month}{/exp:calendar:cal} {/if}
        </h4>
  		{/if}
      --}
      {if segment_2 == "calendars" OR segment_3 == "by_calendar" OR segment_2 == "month" OR segment_2 == "day"}
      <h4{if segment_2 == "day"} class="left"{/if}>
        {if segment_2 == "calendars"}
        
        {/if}
        {if segment_2 == "calendars" OR segment_3 == "by_calendar"}
          {exp:calendar:calendars {if segment_2 == "calendars"}calendar_name="{segment_3}"{/if} {if segment_3 == "by_calendar"}calendar_name="{segment_4}"{/if} dynamic="off"}
          {if segment_2 == "calendars"}<small class="right subscribe"><a href="{path='events/export/calendar'}/{calendar_id}/"><i class="icon-calendar"></i> Subscribe to this calendar</a></small>{/if}
          {calendar_title}{if segment_3 == "by_calendar"}: {/if}
          {/exp:calendar:calendars}
        {/if}
    
        {if segment_2 == "month"}
          {exp:calendar:cal {if segment_3 == ""}date_range_start="year-month-01" date_range_end="year-month-last"{/if} {if segment_3 != ""}{if segment_3 == "by_calendar"}date_range_start="{segment_5}-{segment_6}-01" date_range_end="{segment_5}-{segment_6}-last"{/if} {if segment_3 != "by_calendar"}date_range_start="{segment_3}-{segment_4}-01" date_range_end="{segment_3}-{segment_4}-last"{/if} {/if} dynamic="off"}{display_each_month}{month format="%F %Y"}{/display_each_month}{/exp:calendar:cal}
        {/if}
    
        {if segment_2 == "day"}
          {exp:calendar:cal pad_short_weeks="n" {if segment_3 == "by_calendar"}{if segment_5 == ''}calendar_name="{segment_4}" date_range_start="today" date_range_end="today"{/if} {if segment_5 != ''}calendar_name="{segment_4}" date_range_start="{segment_5}-{segment_6}-{segment_7}" date_range_end="{segment_5}-{segment_6}-{segment_7}"{/if} {/if} {if segment_3 != "by_calendar"}{if segment_3 == ''}date_range_start="today" date_range_end="today"{/if} {if segment_3 != ""}date_range_start="{segment_3}-{segment_4}-{segment_5}" date_range_end="{segment_3}-{segment_4}-{segment_5}"{/if} {/if} dynamic="off" event_limit="1"}{display_each_day}{day format="%F %d, %Y"}{/display_each_day}{/exp:calendar:cal}
        {/if}
      </h4>
      {/if}
      {if segment_2 == "day"}
        {exp:calendar:cal pad_short_weeks="n" {if segment_3 == "by_calendar"}{if segment_5 == ''}calendar_name="{segment_4}" date_range_start="today" date_range_end="today"{/if} {if segment_5 != ''}calendar_name="{segment_4}" date_range_start="{segment_5}-{segment_6}-{segment_7}" date_range_end="{segment_5}-{segment_6}-{segment_7}"{/if} {/if} {if segment_3 != "by_calendar"}{if segment_3 == ''}date_range_start="today" date_range_end="today"{/if} {if segment_3 != ""}date_range_start="{segment_3}-{segment_4}-{segment_5}" date_range_end="{segment_3}-{segment_4}-{segment_5}"{/if} {/if} dynamic="off" event_limit="1"}{display_each_day}
        <ul class="pager small right">
          <li class="previous">
            <a href="{path='events/day'}/{if segment_3 == "by_calendar"}by_calendar/{segment_4}/{/if}{prev_day format="%Y/%m/%d"}">&larr; Yesterday</a>
          </li>
          <li class="next">
            <a href="{path='events/day'}/{if segment_3 == "by_calendar"}by_calendar/{segment_4}/{/if}{next_day format="%Y/%m/%d"}">Tomorrow &rarr;</a>
          </li>
        </ul>
        {/display_each_day}{/exp:calendar:cal}
      {/if}
    </div>
  </div>
</div>

{exp:calendar:cal pad_short_weeks="n"
  {if segment_2 == "day"}
    {if segment_3 == "by_calendar"}
       {if segment_5 == ''}calendar_name="{segment_4}" date_range_start="today" date_range_end="today"{/if}
       {if segment_5 != ''}calendar_name="{segment_4}" date_range_start="{segment_5}-{segment_6}-{segment_7}" date_range_end="{segment_5}-{segment_6}-{segment_7}"{/if}
    {/if}
    {if segment_3 != "by_calendar"}
       {if segment_3 == ''}date_range_start="today" date_range_end="today"{/if}
       {if segment_3 != ""}date_range_start="{segment_3}-{segment_4}-{segment_5}" date_range_end="{segment_3}-{segment_4}-{segment_5}"{/if}
    {/if}
  {/if}
  {if segment_2 == "month"}
    {if segment_3 == "by_calendar"}
       {if segment_5 == ''}calendar_name="{segment_4}" date_range_start="year-month-01" date_range_end="year-month-last"{/if}
       {if segment_5 != ''}calendar_name="{segment_4}" date_range_start="{segment_5}-{segment_6}-01" date_range_end="{segment_5}-{segment_6}-last"{/if}
    {/if}
    {if segment_3 != "by_calendar"}
       {if segment_3 == ''}date_range_start="year-month-01" date_range_end="year-month-last"{/if}
       {if segment_3 != ""}date_range_start="{segment_3}-{segment_4}-01" date_range_end="{segment_3}-{segment_4}-last"{/if}
    {/if}
  {/if}
  {if segment_2 == ""}
    date_range_start="{embed:from}"
  {/if}
  {if segment_2 == "calendars"}
    calendar_id="{embed:cal_id}"
    date_range_start="{embed:from}"
  {/if}
  {if segment_1 == "events_inc"}
    event_offset="{embed:offset}"
  {/if}
  {if segment_2 != "day"}
    {if segment_2 != "month"}
      show_months="6"
    {/if}
  {/if}
  event_limit="{embed:limit}"
  dynamic="off"
  paginate="bottom"
}
{if calendar_no_results}end{/if}

{display_each_day}
  {if segment_2 != "day"}
    {if day_event_total > 0}
    <div class="row">
     <div class="span9 calendar-day-wrap">
       <div class="row">
         <div class="span8 calendar-day">
           {events}
           {embed="events_inc/event_preview_inside" event_id="{event_id}" event_date="{date format='%F'} {date format='%d'}, {date format='%Y'}"}
           {/events}
         </div>
         <div class="span1 calendar-day-header-wrap">
           <div class="calendar-day-header-inside">
             <h3><span class="month-header">{date format="%M"}</span><span class="day-header">{date format="%d"}</span><span class="weekday-header">{date format="%D"}</span>{if day_is_today} <span class="today-header">Today</span>{/if}</h3>
           </div>
         </div>
       </div>
     </div>
    </div>
    {/if}
  {/if}
  {if segment_2 == "day"}
    {if day_event_total > 0}
    <div class="row">
      <div class="span9 calendar-day-wrap">
        <div class="row">
          <div class="span9 calendar-day">
           {events}
           {embed="events_inc/event_preview_inside" event_id="{event_id}"}
           {/events}
          </div>
        </div>
      </div>
    </div>
    {/if}
    {if day_event_total == 0}
    <div class="row">
      <div class="span9 calendar-day-wrap">
        <div class="calendar-no-results">
          <p>Sorry, there are no events on the calendar for this{if segment_2 == "day"} day{/if} {if segment_2 == "month"} month{/if}. Try removing a filter on the left.</p>
        </div>
      </div>
    </div>
    {/if}
  {/if}
{/display_each_day}
{if no_results}
<div class="row">
  <div class="span9 calendar-day-wrap">
    <div class="calendar-no-results">
      <p>Sorry, there are no events on the calendar for this{if segment_2 == "day"} day{/if} {if segment_2 == "month"} month{/if}. Try removing a filter on the left.</p>
    </div>
  </div>
</div>
{/if}
{/exp:calendar:cal}