{exp:calendar:events event_id="{embed:event_id}" parse="inward"}
<div class="calendar-day-event">
  <div class="event-promo-image">
    <a href="{path='events/event'}/{event_id}/">{if event_image == ""}
      {if event_video != ""}
        {exp:antenna url='{event_video}' max_width="1920" max_height="1080" cache_minutes="120" wmode="transparent" parse="inward"}
          {!-- normal version --}{exp:ce_img:single src="{video_thumbnail}" width="220" height="124" crop="yes" allow_scale_larger="yes" filename="event_{embed:event_id}_220_124" unique="none"}
          {!-- retina version --}{exp:ce_img:single src="{video_thumbnail}" filename_suffix="@2x" width="440" height="248" output=" " crop="yes" allow_scale_larger="yes" filename="event_{embed:event_id}_220_124" unique="none"}
        {/exp:antenna}
      {if:else}
        {!-- normal version --}{exp:ce_img:single src="/assets/img/media_thumb_no_image.png" width="220" height="124" crop="yes" allow_scale_larger="yes" filename="event_{embed:event_id}_220_124" unique="none"}
        {!-- retina version --}{exp:ce_img:single src="/assets/img/media_thumb_no_image.png" filename_suffix="@2x" width="440" height="248" output=" " crop="yes" allow_scale_larger="yes" filename="event_{embed:event_id}_220_124" unique="none"}
      {/if}
    {if:else}
      {!-- normal version --}{exp:ce_img:single src="{event_image}" width="220" height="124" crop="yes" allow_scale_larger="yes" filename="event_{embed:event_id}_220_124" unique="none"}
      {!-- retina version --}{exp:ce_img:single src="{event_image}" filename_suffix="@2x" width="440" height="248" output=" " crop="yes" allow_scale_larger="yes" filename="event_{embed:event_id}_220_124" unique="none"}
    {/if}</a>
  </div>
  <div class="event-content">
    <h2 class="event-title"><a href="{path='events/event'}/{event_id}/">{event_title}</a></h2>
    <h3 class="event-category"><a href="{path='events/calendars'}/{event_calendar_url_title}/">{event_calendar_title}</a></h3>
    <div class="label-group">
      <div class="label-label">When:</div>
      <div class="label-content">
        {if event_recurs}
          {embed:event_date}
        {if:else}
          {event_start_date format="%F %d, %Y"}{if event_end_date}{if event_start_date != event_end_date} - {event_end_date format="%F %d, %Y"}{/if}{/if}
        {/if}
      </div>
    </div>
    <div class="label-group">
      <div class="label-label">What Time:</div>
      <div class="label-content">
          {if event_all_day}All Day{if:else}{event_start_date format="%g:%i%a"}{if "{event_start_date format='%Y%m%d%g%i%a'}" != "{event_end_date format='%Y%m%d%g%i%a'}"} - {if "{event_start_date format='%Y%m%d'}" != "{event_end_date format='%Y%m%d'}"}{event_end_date format="%l, %F %j, %Y at %g:%i%a"}{if:else}{event_end_date format="%g:%i%a"}{/if}{/if}{/if}
          <small class="hide">This event lasts {event_duration_days} days {event_duration_hours} hours {event_duration_minutes} minutes.</small>
      </div>
    </div>
    {if event_location}
    <div class="label-group">
      <div class="label-label">Where:</div>
      <div class="label-content">
          {event_location}{location}{/event_location}
      </div>
    </div>
    {if:else}
      {if event_location_off_site}<div class="label-group">
        <div class="label-label">Where:</div>
        <div class="label-content">{event_location_off_site}{location_title}<br />{address}<br />{city}, {state} {zipcode}{/event_location_off_site}</div>
      </div>{/if}
    {/if}
 </div>
</div>
{/exp:calendar:events}