<div id="header">

	<div id="logo"></div>

	<div id="smallmenu">
		<ul>
			<li class=""><a href="{site_url}">Site Home</a></li>
		</ul>
	</div>
</div>

<div class="spacer"></div>

<div id="wrapper">

	<div id="mainmenu">
		<ul>
			<li><a href="{path='events_main'}/">Home</a></li>
			<li><a href="{path='events_main/calendars'}/">Calendars</a></li>
			<li><a href="{path='events_main/create'}/">Create an Event</a></li>
			<li><a href="{path='events_main/month'}/">Month Calendar</a></li>
			<li><a href="{path='events_main/week'}/">Week Calendar</a></li>
			<li><a href="{path='events_main/day'}/">Day Calendar</a></li>
		</ul>
	</div>
	
	<div id="content">
	