<aside id="section-nav" class="span2">
  <nav>
    <ul class="nav nav-list">
      {if segment_2 != ""}
      <li class="nav-header">Current Filters:</li>
      {if segment_2 == "calendars" OR segment_3 == "by_calendar"}<li><a href="{if segment_2 == "" OR segment_2 == "calendars"}/events{/if}{if segment_2 == "month"}{path='events/month'}/{if segment_3 == "by_calendar"}{segment_5}/{segment_6}{if:else}{segment_3}/{segment_4}{/if}{if:elseif segment_2 == "day"}{path='events/day'}/{if segment_3 == "by_calendar"}{segment_5}/{segment_6}/{segment_7}{if:else}{segment_3}/{segment_4}/{segment_5}{/if}{/if}"><i class="icon-remove-sign"></i>{exp:calendar:calendars {if segment_2 == "calendars"}calendar_name="{segment_3}"{/if}{if segment_3 == "by_calendar"}calendar_name="{segment_4}"{/if} dynamic="off"}{calendar_title}{/exp:calendar:calendars}</a></li>{/if}
      {if segment_2 == "month"}<li><a href="{path='events/index'}/{if segment_3 == "by_calendar"}calendars/{segment_4}{/if}"><i class="icon-remove-sign"></i>{exp:calendar:cal {if segment_3 == ""}date_range_start="year-month-01" date_range_end="year-month-last"{/if}{if segment_3 != ""}{if segment_3 == "by_calendar"}date_range_start="{segment_5}-{segment_6}-01" date_range_end="{segment_5}-{segment_6}-last"{/if}{if segment_3 != "by_calendar"}date_range_start="{segment_3}-{segment_4}-01" date_range_end="{segment_3}-{segment_4}-last"{/if}{/if} dynamic="off"}{display_each_month}{month format="%F %Y"}{/display_each_month}{/exp:calendar:cal}</a></li>{/if}
      {if segment_2 == "day"}<li><a href="{path='events/index'}/{if segment_3 == "by_calendar"}calendars/{segment_4}{/if}"><i class="icon-remove-sign"></i>{exp:calendar:cal pad_short_weeks="n" {if segment_3 == "by_calendar"}{if segment_5 == ''}calendar_name="{segment_4}" date_range_start="today" date_range_end="today"{/if}{if segment_5 != ''}calendar_name="{segment_4}" date_range_start="{segment_5}-{segment_6}-{segment_7}" date_range_end="{segment_5}-{segment_6}-{segment_7}"{/if}{/if}{if segment_3 != "by_calendar"}{if segment_3 == ''}date_range_start="today" date_range_end="today"{/if}{if segment_3 != ""}date_range_start="{segment_3}-{segment_4}-{segment_5}" date_range_end="{segment_3}-{segment_4}-{segment_5}"{/if}{/if} dynamic="off" event_limit="1"}{display_each_day}{day format="%F %d, %Y"}{/display_each_day}{/exp:calendar:cal}</a></li>{/if}
      <li class="divider"></li>
      {/if}
      <li class="nav-header"><i class="icon-calendar"></i> Calendars</li>
      <li{if segment_2 == "" OR segment_2 != "calendars"}{if segment_3 != "by_calendar"} class="active"{/if}{/if}><a href="{if segment_2 == "" OR segment_2 == "calendars"}/events{/if}{if segment_2 == "month"}{path='events/month'}/{if segment_3 == "by_calendar"}{segment_5}/{segment_6}{if:else}{segment_3}/{segment_4}{/if}{if:elseif segment_2 == "day"}{path='events/day'}/{if segment_3 == "by_calendar"}{segment_5}/{segment_6}/{segment_7}{if:else}{segment_3}/{segment_4}/{segment_5}{/if}{/if}" title="All Events">All Events</a></li>
			{!--{exp:calendar:calendars dynamic="off"}
			<li{if segment_3 == "{calendar_url_title}" OR segment_4 == "{calendar_url_title}"} class="active"{/if}><a href="{if segment_2 == "" OR segment_2 == "calendars"}{path='events/calendars'}/{calendar_url_title}{/if}{if segment_2 == "month"}{path='events/month'}/{if segment_3 == "by_calendar"}by_calendar/{calendar_url_title}/{segment_5}/{segment_6}{if:else}by_calendar/{calendar_url_title}/{segment_3}/{segment_4}{/if}{if:elseif segment_2 == "day"}{path='events/day'}/{if segment_3 == "by_calendar"}by_calendar/{calendar_url_title}/{segment_5}/{segment_6}/{segment_7}{if:else}by_calendar/{calendar_url_title}/{segment_3}/{segment_4}/{segment_5}{/if}{/if}" title="{calendar_title}">{calendar_title}</a></li>
			{/exp:calendar:calendars}--}
      {exp:low_reorder:entries set="calendars" disable="member_data|category_fields"}
			<li{if segment_3 == "{url_title}" OR segment_4 == "{url_title}"} class="active"{/if}><a href="{if segment_2 == "" OR segment_2 == "calendars"}{path='events/calendars'}/{url_title}{/if}{if segment_2 == "month"}{path='events/month'}/{if segment_3 == "by_calendar"}by_calendar/{url_title}/{segment_5}/{segment_6}{if:else}by_calendar/{url_title}/{segment_3}/{segment_4}{/if}{if:elseif segment_2 == "day"}{path='events/day'}/{if segment_3 == "by_calendar"}by_calendar/{url_title}/{segment_5}/{segment_6}/{segment_7}{if:else}by_calendar/{url_title}/{segment_3}/{segment_4}/{segment_5}{/if}{/if}" title="{title}">{title}</a></li>
			{/exp:low_reorder:entries}
    </ul>
  </nav>
  <div id="mini-calendar" class="widget">
    {exp:calendar:cal 
    	{if segment_2 == "calendars"}
    		date_range_start="year-month-01" date_range_end="year-month-last"
    	{/if}
    	{if segment_2 == "edit"}
    		date_range_start="year-month-01" date_range_end="year-month-last"
    	{/if}
    	{if segment_2 == "create"}
    		date_range_start="year-month-01" date_range_end="year-month-last"
    	{/if}
    	{if segment_2 == "event"}
    		date_range_start="year-month-01" date_range_end="year-month-last"
    	{/if}
    	{if segment_2 == ""}
    		date_range_start="year-month-01" date_range_end="year-month-last"
    	{/if}
    	{if segment_2 == "month"}
    		{if segment_3 == ""}
    			date_range_start="year-month-01" date_range_end="year-month-last"
    		{/if}
    		{if segment_3 != ""}
    			{if segment_3 == "by_calendar"}
    				date_range_start="{segment_5}-{segment_6}-01" date_range_end="{segment_5}-{segment_6}-last"
    			{/if}
          {if segment_3 != "by_calendar"}
    				date_range_start="{segment_3}-{segment_4}-01" date_range_end="{segment_3}-{segment_4}-last"
    			{/if}
    		{/if}
    	{/if}
    	{if segment_2 == "day"}
    		{if segment_3 == ""}
    			date_range_start="year-month-01" date_range_end="year-month-last"
    		{/if}
    		{if segment_3 != ""}
    			{if segment_3 == "by_calendar"}
    				date_range_start="{segment_5}-{segment_6}-01" date_range_end="{segment_5}-{segment_6}-last"
    			{/if}
          {if segment_3 != "by_calendar"}
    				date_range_start="{segment_3}-{segment_4}-01" date_range_end="{segment_3}-{segment_4}-last"
    			{/if}
    		{/if}
    	{/if}
     dynamic="off"
    }

      {display_each_month}
      <table class="table-condensed table-bordered table-striped">
         <thead>
            <tr>
               <th colspan="1"><a id="mc_prev_month" class="icon left" href="{path='events'}/month/{if segment_3 == "by_calendar"}by_calendar/{segment_4}/{if:elseif segment_2 == "calendars"}by_calendar/{segment_3}/{/if}{prev_month format="%Y/%m"}/">&laquo;</a></th>
               <th colspan="5"><a href="{path='events/month'}/{if segment_3 == "by_calendar"}by_calendar/{segment_4}/{if:elseif segment_2 == "calendars"}by_calendar/{segment_3}/{/if}{month format="%Y/%m"}/">{month format="%F %Y"}</a></th>
               <th colspan="1"><a id="mc_next_month" class="icon right" href="{path='events'}/month/{if segment_3 == "by_calendar"}by_calendar/{segment_4}/{if:elseif segment_2 == "calendars"}by_calendar/{segment_3}/{/if}{next_month format="%Y/%m"}/"> &raquo;</a></th>
            </tr>
            <tr id="mc_days">
               {display_each_day_of_week}
               <th class="{if day_of_week_is_weekend}weekend{/if} {if day_of_week_is_current}current{/if}"><span>{day_of_week_one}</span></th>
               {/display_each_day_of_week}
            </tr>
         </thead>
         <tbody>
            {display_each_week}
            <tr>
               {display_each_day}
               <td cellpadding="0" cellspacing="0" class="
                  {if !day_in_current_month == FALSE}{/if}
                  {if day_event_total > 0}has_events{/if}
                  {if count == 7}selected{/if}
                  {if day_is_today}today{/if}
               ">{if day_in_current_month}
                  {if day_event_total > 0}<a href="{path='events/day'}/{if segment_3 == "by_calendar"}by_calendar/{segment_4}/{if:elseif segment_2 == "calendars"}by_calendar/{segment_3}/{/if}{day format="%Y/%m/%d"}/">{/if}
                  <span class="day">
                    {if day_is_today}<strong>{/if}
                    {day}
                    {if day_is_today}</strong>{/if}
                  </span>
                  {if day_event_total > 0}</a>{/if}
                  {if:else}
                     <span class="day"><strong class="middot">&middot;</strong></span>
                  {/if}</td>
               {/display_each_day}
            </tr>
            {/display_each_week}
         </tbody>
      </table>
      {/display_each_month}
    {/exp:calendar:cal}
  </div>
  <div id="browse-by-month" class="widget">
    {exp:calendar:month_list date_range_start="today" show_years="1 year"}
    {/exp:calendar:month_list}
    <select name="month-nav" ONCHANGE="location = this.options[this.selectedIndex].value;">
      {exp:calendar:month_list date_range_start="today" show_years="1 year"}
      <option value="{path='events/month'}/{if segment_3 == "by_calendar"}by_calendar/{segment_4}/{if:elseif segment_2 == "calendars"}by_calendar/{segment_3}/{/if}{month format="%Y/%m"}/"{if segment_2 != "calendar"}{if segment_3 == "by_calendar"}{if month == "{segment_6}" AND year == "{segment_5}"} selected="selected"{/if}{/if} {if segment_3 != "by_calendar"}{if month == "{segment_4}" AND year == "{segment_3}"} selected="selected"{/if}{/if}{/if}>{month format="%F, %Y"}</option>
      {/exp:calendar:month_list}
    </select>
  </div>
</aside>