{html_head}

{metatags}

{exp:seo_lite use_last_segment="yes"}

{stylesheets}
{js_head}
{html_head_end}

{embed="global/header"
  entry_id="{last_segment_absolute_id}"
  url_title="{last_segment_absolute}"
  template="index"
  template_group="pages"
  channel_name=""
}
<div id="content" class="container">
  
  <section id="static-page" class="row page-content">
  <!-- Begin Page Content -->
    <div class="span12">
      <section id="static-page-content" class="404">
        <h1>404 file not found</h1> 
        <p>Oops.... The page you are looking for is unavailable. Below are links to some of our popular pages.</p>         
        <ul>
          <li><a href="/">Home Page</a></li>
        </ul>
        <p>Did you find a bug? <a href="mailto:mike@maven20.com" target="_blank">Please report all bugs</a>!</p>
      </section>
    </div>
  <!-- End Page Content -->
  </section>

</div>
{embed="global/footer"}
{js_foot}
{countdownjs}
{body_html_end}