{exp:freeform:form
    form_name="subscribe"
    required="email"
  	inline_errors="yes"
    return="contact/thank-you"

}
	<div class="span3 sign-up fluid-margin-sx">
		Sign-Up For Our Email Updates:
	</div>
	<div class="span3 fluid-margin-sx">
		{freeform:field:email attr:type="email" attr:id="email" attr:class="email required" attr:placeholder="Insert Email..." attr:data-placement="bottom"}
	</div>
	<div class="span2 fluid-margin-sx">
		<button type="submit" class="btn b">Subscribe</button>
	</div>
{/exp:freeform:form}