<ul class="breadcrumb">
  <li itemscope itemtype="http://data-vocabulary.org/Breadcrumb"><a href="/" itemprop="url"><span class="nopad" itemprop="title">Home</span></a> <span class="divider">/</span></li>
  {if segment_1 == "media"}
    {if segment_2 != ""}
      {if segment_2 == "sermons"}
        <li itemscope itemtype="http://data-vocabulary.org/Breadcrumb"{if segment_3 == ''} class="active" itemprop="url"{/if}><a href="/media/sermons"{if segment_3 != ''} itemprop="url"{/if}><span class="nopad" itemprop="title">Sermons</span></a>{if segment_3 != ''} <span class="divider">/</span>{/if}</li>
      {if:else}
        {if segment_2_category_parent_id == "1"}
          <li itemscope itemtype="http://data-vocabulary.org/Breadcrumb"><a href="/media/sermons" itemprop="url"><span class="nopad" itemprop="title">Sermons</span></a> <span class="divider">/</span></li>
        {if:else}
          <li itemscope itemtype="http://data-vocabulary.org/Breadcrumb"><a href="/media" itemprop="url"><span class="nopad" itemprop="title">Media</span></a> <span class="divider">/</span></li>
        {/if}
        <li itemscope itemtype="http://data-vocabulary.org/Breadcrumb"{if segment_3 == ''} class="active" itemprop="url"{/if}><a href="/media/{segment_2}"{if segment_3 != ''} itemprop="url"{/if}><span class="nopad" itemprop="title">{segment_2_category_name}</span></a>{if segment_3 != ''} <span class="divider">/</span>{/if}</li>
      {/if}
      {if segment_3 != ""}
        <li itemscope itemtype="http://data-vocabulary.org/Breadcrumb" class="active" itemprop="url"><a href="/media/{segment_2}/{segment_3}"><span class="nopad" itemprop="title">{exp:channel:entries channel="sermons" limit="1" url_title="{segment_3}"}{title}{/exp:channel:entries}</span></a></li>
      {/if}
    {/if}
  {if:elseif segment_1 == "events"}
    <li itemscope itemtype="http://data-vocabulary.org/Breadcrumb"{if segment_2 == ''} class="active" itemprop="url"{/if}><a href="{path={segment_1}}"{if segment_2 != ''} itemprop="url"{/if}><span class="nopad">Events</span></a>{if segment_2 != ''} <span class="divider">/</span>{/if}</li>
  
    {if segment_2 == "calendars" OR segment_3 == "by_calendar"}
      <li itemscope itemtype="http://data-vocabulary.org/Breadcrumb"{if segment_2 == 'calendars'} class="active" itemprop="url"{/if}>
        <a href="{if segment_2 == "calendars"}{path='events/calendars'}/{segment_3}{if:elseif segment_3 == "by_calendar"}{path='events/calendars'}/{segment_4}{/if}" itemprop="url"><span class="nopad" itemprop="title">{exp:calendar:calendars {if segment_2 == "calendars"}calendar_name="{segment_3}"{/if} {if segment_3 == "by_calendar"}calendar_name="{segment_4}"{/if} dynamic="off"}{calendar_title}{/exp:calendar:calendars}</span></a>
      {if segment_2 != 'calendars'} <span class="divider">/</span>{/if}
    </li>
    {/if}
    
    {if segment_2 == "month"}
      <li itemscope itemtype="http://data-vocabulary.org/Breadcrumb" class="active" itemprop="url">
        <a href="{current_url}" itemprop="url">
          <span class="nopad" itemprop="title">
          {exp:calendar:cal {if segment_3 == ""}date_range_start="year-month-01" date_range_end="year-month-last"{/if} {if segment_3 != ""}{if segment_3 == "by_calendar"}date_range_start="{segment_5}-{segment_6}-01" date_range_end="{segment_5}-{segment_6}-last"{/if} {if segment_3 != "by_calendar"}date_range_start="{segment_3}-{segment_4}-01" date_range_end="{segment_3}-{segment_4}-last"{/if} {/if} dynamic="off"}{display_each_month}{month format="%F %Y"}{/display_each_month}{/exp:calendar:cal}
          </span>
        </a>
      </li>
    {/if}
    
    {if segment_2 == "day"}
      <li itemscope itemtype="http://data-vocabulary.org/Breadcrumb" class="active" itemprop="url">
        <a href="{current_url}" itemprop="url">
          <span class="nopad" itemprop="title">
            {exp:calendar:cal pad_short_weeks="n" {if segment_3 == "by_calendar"}{if segment_5 == ''}calendar_name="{segment_4}" date_range_start="today" date_range_end="today"{/if}{if segment_5 != ''}calendar_name="{segment_4}" date_range_start="{segment_5}-{segment_6}-{segment_7}" date_range_end="{segment_5}-{segment_6}-{segment_7}"{/if}{/if}{if segment_3 != "by_calendar"}{if segment_3 == ''}date_range_start="today" date_range_end="today"{/if}{if segment_3 != ""}date_range_start="{segment_3}-{segment_4}-{segment_5}" date_range_end="{segment_3}-{segment_4}-{segment_5}"{/if}{/if} dynamic="off" event_limit="1"}{display_each_day}{day format="%F %d, %Y"}{/display_each_day}{/exp:calendar:cal}
          </span>
        </a>
      </li>
    {/if}
    
    {if segment_2 == "event"}
      {exp:calendar:events orderby="title" sort="asc" event_id="{segment_3}" date_range_start="99 months ago" show_months="999" dynamic="off"}
      <li itemscope itemtype="http://data-vocabulary.org/Breadcrumb" class="active"><a href="{path='events/event'}/{segment_3}" itemprop="url"><span class="nopad">{event_title}</span></a></li>
      {/exp:calendar:events}
    {/if}
  {if:else}
    {if segment_2 != ""}
      <li itemscope itemtype="http://data-vocabulary.org/Breadcrumb"><a href="{path={segment_1}}" itemprop="url"><span class="nopad" itemprop="title">{exp:channel:entries channel="pages" dynamic="no" url_title="{segment_1}"}{title}{/exp:channel:entries}</span></a> <span class="divider">/</span></li>
      <li itemscope itemtype="http://data-vocabulary.org/Breadcrumb" class="active"><a href="{path={segment_2}}" itemprop="url"><span class="nopad">{exp:channel:entries channel="pages" limit="1"}{title}{/exp:channel:entries}</span></a></li>
    {if:elseif segment_2 == ""}
      <li itemscope itemtype="http://data-vocabulary.org/Breadcrumb" class="active"><a href="{path={segment_1}}" itemprop="url"><span class="nopad">{exp:channel:entries channel="pages" limit="1"}{title}{/exp:channel:entries}</span></a></li>
    {/if}
  {/if}
</ul>