</div><!-- End #wrap -->
{if segment_1 == "giving"} {!-- Hide footer margin if on giving page--}
<div id="copyright" style="margin-top:0 !important;">
{if:else}
<div id="copyright">
{/if}
  <div class="container">
    <div id="subscribe" class="row">
      {embed="global/_footer_form"}
    </div>
    <div class="row">
      <div class="span9">
        <nav>
          <ul class="link-list">
    					<li><a href="{site_url}">Home</a></li>
  						<li><a href="{site_url}about">New Here?</a></li>
  						<li><a href="{site_url}media/sermons">Watch</a></li>
  						<li><a href="{site_url}events">Services &amp; Events</a></li>
  						<li><a href="{site_url}giving">Giving</a></li>
  						<li><a href="{site_url}ministries/kids">RubiTown</a></li>
  						{!--<li><a href="{site_url}ministries">Ministries</a></li>
  						<li><a href="{site_url}serve">Serve</a></li>--}
  						<li><a href="{site_url}contact">Contact</a></li>
  						{!--<li><a href="{site_url}shop">Shop</a></li>--}
							<li><a href="{site_url}ministry-forms">Ministry Forms</a></li>	
              <li><a href="{site_url}reports">Church Reports</a></li>
              <li class="hidden-desktop"><a href="https://secure.accessacs.com/access/login.aspx" target="_blank">Member Login</a></li>
          </ul>
        </nav>
        <p>&copy; {if {current_time format="%Y"} == "2012"}{current_time format="%Y"}{if:else}2012 &ndash; {current_time format="%Y"}{/if} Mt. Rubidoux SDA Church. All rights reserved.</p>
      </div>
      <div class="span3">
        <div class="right">
          <h6>&#8594; Connect with Us</h6>
          {embed="global/social_icons" class="right"}
        </div>
      </div>
    </div>
  </div>
</div>