<body id="{embed:template_group}" {exp:nsm_body_class}>
  <div id="fb-root"></div>
  <script>
    window.fbAsyncInit = function() {
      // init the FB JS SDK
      FB.init({
        appId      : '372239736185702',
        channelUrl : '{site_url}channel.html',
        status     : true,
        xfbml      : true
      });
    };
    // Load the SDK asynchronously
    (function(d, s, id){
       var js, fjs = d.getElementsByTagName(s)[0];
       if (d.getElementById(id)) {return;}
       js = d.createElement(s); js.id = id;
       js.src = "//connect.facebook.net/en_US/all.js";
       fjs.parentNode.insertBefore(js, fjs);
     }(document, 'script', 'facebook-jssdk'));</script>
  <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
  <script type="text/javascript">
    (function() {
      var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
      po.src = 'https://apis.google.com/js/plusone.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
    })();
  </script>

<div id="top" class="navbar navbar-inverse navbar-static-top">
  <div class="inner">
    <div class="container-fluid">
      <div class="top-counter pull-left">
        <div id="countdownLabel">Watch Live Services at </div>
        <a class="btn rubitv" href="http://www.rubitv.tv">Rubi TV</a>
        {!--<div id="countdownWrapper">
          <div id="countdown"></div>
          <div id="countdownlayout">
            <div class="countdownBlock countdownDays"><span>{d1}</span> Days</div>
            <div class="countdownBlock countdownHours"><span>{h10}{h1}</span>Hrs</div>
            <div class="countdownBlock countdownMinutes"><span>{m10}{m1}</span> Min</div>
            <div class="countdownBlock countdownSeconds"><span>{s10}{s1}</span> Sec</div>
          </div>
        </div>--}
        <div id="counter">
          
        </div>
      </div>
      <div class="visible-desktop">{widget_login}</div>
    </div>
  </div>
</div>
<div id="wrap">
	<div {if segment_1 != ''}class="wrap-head"{/if}>
		<header id="masthead" class="container">
			<div class="navbar clearfix">
				<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse" href="#">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</a>
				<a href="{site_url}" class="logo">Mt. Rubidoux Seventh Day Adventist Church</a>
				<div class="nav-collapse collapse">
					<nav>
						<ul>
							<li{if segment_1 == "about"} class="current"{/if}><a href="{site_url}about">New Here?</a></li>
							<li{if segment_1 == "media"} class="current"{/if}><a href="{site_url}media/sermons">Watch</a></li>
							<li{if segment_1 == "events"} class="current"{/if}><a href="{site_url}events">Services &amp; Events</a></li>
							<li{if segment_1 == "giving"} class="current"{/if}><a href="{site_url}giving">Giving</a></li>
							<li{if segment_1 == "ministries" AND segment_2 == "rubitown"} class="current"{/if}><a href="{site_url}ministries/kids">RubiTown</a></li>
							{!--<li{if segment_1 == "ministries"} class="current"{/if}><a href="{site_url}ministries">Ministries</a></li>
							<li{if segment_1 == "serve"} class="current"{/if}><a href="{site_url}serve">Serve</a></li>--}
							<li{if segment_1 == "contact"} class="current"{/if}><a href="{site_url}contact">Contact</a></li>
              <li><a href="https://squareup.com/market/mt-rubidoux-sda-church">Store</a></li>
							{!--<li{if segment_1 == "shop"} class="current"{/if}><a href="{site_url}shop">Shop</a></li>--}
						</ul>
					</nav>
				</div>
			</div>
		</header>	
	</div>	