<div class="social_buttons">
  <div class="social_button facebook">
    <div id="fb-root"></div>
    <div class="fb-like" data-action="like" data-font="arial" data-href="{current_url}" data-layout="{if embed:format == "wide"}button_count{if:else}box_count{/if}" data-send="false" data-show-faces="false" data-width="38"></div>
  </div>
  <div class="social_button twitter">
    <a href="https://twitter.com/share" class="twitter-share-button" {if embed:format == "wide"}{if:else}data-count="vertical"{/if} data-counturl="" data-related="" data-text="{embed:title}" data-via="mtrubidoux" data-url="{current_url}"></a>
  </div>
  <div class="social_button google_plus">
    <div class="g-plusone" data-href="{current_url}" data-size="{if embed:format == "wide"}medium{if:else}tall{/if}"></div>
  </div>
</div>