<ul class="link-list social{if embed:class} {embed:class}{/if}">
  <li><a href="http://www.facebook.com/mtrubidoux" class="facebook" title="Mt. Rubidoux SDA on Facebook" target="_blank"><span class="glyph social">d</span></a></li>
  {!--<li><a href="https://plus.google.com/113879753451199909451" rel="publisher" class="gplus" title="Mt. Rubidoux SDA on Google+" target="_blank"><span class="glyph social">l</span></a></a></li>--}
  <li><a href="http://twitter.com/mtrubidoux" class="twitter" title="Mt. Rubidoux SDA on Twitter" target="_blank"><span class="glyph social">e</span></a></a></li>
</ul>