<script src="{exp:cache_buster file="/assets/js/libs.js" separator="?"}"></script>
<script src="/global/counter"></script>
<script src="{exp:cache_buster file="/assets/js/app.js" separator="?"}"></script>

{if '{global:env}' == 'prod'}<script type="text/javascript">var _gaq = _gaq || []; _gaq.push(['_setAccount', 'UA-1963140-6']); _gaq.push(['_trackPageview']); _gaq.push(['b._setAccount','UA-5777923-1']); _gaq.push(['b._trackPageview']); _gaq.push(['c._setAccount','{global:google_analytics}']); _gaq.push(['c._trackPageview']); (function() { var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true; ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js'; var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s); })();</script>{/if}