<script src="/assets/js/vendor/modernizr.custom.79639.js"></script>
<script> (function(f,b){ var c; f.hj=f.hj||function(){(f.hj.q=f.hj.q||[]).push(arguments)}; f._hjSettings={hjid:24195, hjsv:3}; c=b.createElement("script");c.async=1; c.src="//static.hotjar.com/c/hotjar-24195.js?sv=3"; b.getElementsByTagName("head")[0].appendChild(c);  })(window,document); </script>
