<script src="http://www.appstudio.piksel.com/kickFlash/scripts/swfobject2.js?2" type="text/javascript"></script>
  <script type="text/javascript">
    (function(){
      var width = "546";
      var height = "272";
      var uuid = "dab9zex1";
      var swfURL = "http%3A//appasset.appstudio.piksel.com/compiled/mediasuite_STATIC_0/AppShell_dab9zex1.swf?timestamp=1348000956180";
      var jsonURL = "http%3A//player.multicastmedia.com/templates/AppStudio/CustomPlayer/0/0/dab9zex1/dab9zex1.json";
      var autoPlay = "false";
      var deliveryType = "protocol_rtmp";
      var htmlvars = 'mediaSuiteURL=http://player.multicastmedia.com/ws/get_asset_project/asset/1654595/'+deliveryType+'/api_f4d84551-2e85-103a-a1ba-00e08655b9fc/apiv_3.5/gft_0/1654595.xml&amp;autoPlay='+autoPlay+'&amp;revision=1&amp;scaleMODE=letterbox&amp;width='+width+'&amp;height='+height+'&amp;getEmbed=http%3A//player.multicastmedia.com/ws/get_single_asset_embed/a_1654595/p_'+uuid+'/h_'+height+'/w_'+width+'/ap_'+autoPlay+'/dt_'+deliveryType+'&amp;src='+swfURL;
      var flashvars ={
        mediaSuiteURL:"http%3A//player.multicastmedia.com/ws/get_asset_project/asset/1654595/"+deliveryType+"/api_f4d84551-2e85-103a-a1ba-00e08655b9fc/apiv_3.5/gft_0/1654595.xml",
        autoPlay:autoPlay,
        revision:"1",
        scaleMODE:"letterbox",
        width:width,
        height:height,
        getEmbed:"http%3A//player.multicastmedia.com/ws/get_single_asset_embed/a_1654595/p_"+uuid+"/h_"+height+"/w_"+width+"/ap_"+autoPlay+"/dt_"+deliveryType,
        src:swfURL,
        analyticsConfigURL:"http%3A//player.multicastmedia.com/templates/MediaAnalytics/MediaSuiteProdOnDemand.xml",
        akamaiConfigData:"" 
      },
      params ={movie:'"'+swfURL+'"',pluginspage:"http%3A//www.adobe.com/go/getflashplayer",align:"middle",allowscriptAccess:"always",quality:"high",allowFullScreen:"true",wmode:"transparent",bgcolor:"#FFFFFF",menu:"false"},
      expressInstallURL = "http://www.appstudio.piksel.com/kickFlash/scripts/expressInstall2.swf?2",
      swfURL = "http://appasset.appstudio.piksel.com/compiled/mediasuite_STATIC_0/AppShell_dab9zex1.swf?timestamp=1348000956180",
      attributes={id :"kickWidget_mediasuite_"+uuid, name:"kickWidget_mediasuite_"+uuid},
      callback = function(e){ if (e.success==false){ document.getElementById("altContentDiv_eke4oo79").innerHTML ='&lt;iframe src="http://www.appstudio.piksel.com/kickFlash/js/compiler/v2/iframe.html?affiliateSiteId=mediasuite_73&amp;'+htmlvars+'&amp;widgetId='+uuid+'&amp;widgetHost=http%3A//www.appstudio.piksel.com&amp;src=http%3A//player.multicastmedia.com/ws/get_appstudio_player_json/callback/KickUtils.scriptLoadCallbacks%5b0%5d/'+uuid+'.json&amp;referralUrl='+escape(window.location.href)+'height="'+height+'" width="'+width+'" frameborder="0" scrolling="no" style="border:none;overflow:hidden;width:'+width+'px;height:'+height+'px"&gt;&lt;/iframe&gt;' } };
      swfobject.embedSWF(swfURL, "altContentDiv_eke4oo79", width, height, "10", expressInstallURL, flashvars, params, attributes, callback);
    })();
  </script>
  <object width="100%" height="272" type="application/x-shockwave-flash" id="kickWidget_mediasuite_dab9zex1" name="kickWidget_mediasuite_dab9zex1" data="http://appasset.appstudio.piksel.com/compiled/mediasuite_STATIC_0/AppShell_dab9zex1.swf?timestamp=1348000956180"><param name="pluginspage" value="http%3A//www.adobe.com/go/getflashplayer"><param name="align" value="middle"><param name="allowscriptAccess" value="always"><param name="quality" value="high"><param name="allowFullScreen" value="true"><param name="wmode" value="transparent"><param name="bgcolor" value="#FFFFFF"><param name="menu" value="false"><param name="flashvars" value="mediaSuiteURL=http%3A//player.multicastmedia.com/ws/get_asset_project/asset/1654595/protocol_rtmp/api_f4d84551-2e85-103a-a1ba-00e08655b9fc/apiv_3.5/gft_0/1654595.xml&amp;autoPlay=false&amp;revision=1&amp;scaleMODE=letterbox&amp;width=546&amp;height=272&amp;getEmbed=http%3A//player.multicastmedia.com/ws/get_single_asset_embed/a_1654595/p_dab9zex1/h_272/w_546/ap_false/dt_protocol_rtmp&amp;src=http%3A//appasset.appstudio.piksel.com/compiled/mediasuite_STATIC_0/AppShell_dab9zex1.swf?timestamp=1348000956180&amp;analyticsConfigURL=http%3A//player.multicastmedia.com/templates/MediaAnalytics/MediaSuiteProdOnDemand.xml&amp;akamaiConfigData="></object>
