<div class="pull-right">
  <ul class="nav pull-right">
    {!--
    {if logged_in}
    <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">Welcome, {screen_name} <b class="caret"></b></a>
      <ul class="dropdown-menu">
        <li><a href="{path='settings'}"><i class="icon-cog"></i> Preferences</a></li>
        <li class="divider"></li>
        <li><a href="{path='logout'}"><i class="icon-off"></i> Logout</a></li>
      </ul>
    </li>
    {/if}
    {if logged_out}
    <li><a href="{path=user_main/register}">Sign Up</a></li>
    <li class="divider-vertical"></li>
    <li class="dropdown">
      <a class="dropdown-toggle" href="#" data-toggle="dropdown">Sign In <strong class="caret"></strong></a>
      <div class="dropdown-menu" style="padding: 15px; padding-bottom: 0px;">
        {exp:member:login_form return="{current_uri}"}
          <input style="margin-bottom: 15px;" type="text" placeholder="Username" id="username" name="username">
          <input style="margin-bottom: 15px;" type="password" placeholder="Password" id="password" name="password">
          <input style="float: left; margin-right: 10px;" type="checkbox" name="auto_login" id="auto_login" value="1">
          <label class="string optional" for="auto_login"> Remember me</label>
          <input class="btn btn-custom btn-block" type="submit" id="sign-in" value="Sign In">
          <label style="text-align:center;margin-top:5px">or</label>
          <a href="http://rubi.maven20.com/?ACT=40&provider=facebook&RET={current_uri}" class="btn btn-custom btn-block" id="sign-in-facebook">Sign In with Facebook</a>
          <a href="http://rubi.maven20.com/?ACT=40&provider=twitter&RET={current_uri}" class="btn btn-custom btn-block" id="sign-in-twitter">Sign In with Twitter</a>
        {/exp:member:login_form}
      </div>
    </li>
    {/if}
    --}
    <!-- <li><a href="https://www.surveymonkey.com/s/Q6TQM78" target="_blank">Ministry Placement Team Survey</a></li> -->
    <li><a href="https://mtrubidouxsda.ccbchurch.com" target="_blank">Member Login</a></li>
    
  </ul>
</div>