{exp:ce_cache:it id="homepage"}
{html_head}

{metatags}

{exp:seo_lite use_last_segment="yes"}

{stylesheets}
{js_head}
{html_head_end}

{embed="global/header"
  entry_id="{last_segment_absolute_id}"
  url_title="{last_segment_absolute}"
  template="index"
  template_group="home"
}

<div id="content">
  
  <!-- Begin Page Content -->
  {exp:channel:entries channel="home"}
  <div id="homepage">
    <div id="homepage-top" class="row-fluid">
			<div class="container">
				<div class="span12">
					{if "{jumbotron:total_rows}" >= 1}
					<div id="jumbotron" class="carousel slide" data-pause="hover">
						<div class="carousel-inner">
							{jumbotron}
							<div class="item{if row_count == '1'} active{/if}">
								{if link}<a href="{link}" title="{text}">
									{/if}{exp:ce_img:pair src="{image}" filename_suffix="_928_375" width="1856" height="750" crop="yes" allow_scale_larger="yes" unique="none"}<img src="{made}" alt="" width="100%" height="375" />{/exp:ce_img:pair}
								<div class="carousel-caption">
									<h4>{text}</h4>
								</div>{if link}
								</a>{/if}
							</div><!-- end .item -->
							{/jumbotron}
						</div>
						{if "{jumbotron:total_rows}" >= 2}
						<a class="left carousel-control" href="#jumbotron" data-slide="prev">‹</a>
						<a class="right carousel-control" href="#jumbotron" data-slide="next">›</a>
						{/if}
					</div><!-- end #jumbotron -->
					{if:else}
					<div id="jumbotron" class="carousel empty">
						<div class="item active">
							<img src="/assets/img/default-home.jpg">
							<div class="carousel-caption">
								<h4>Creating intimacy with God, fellowship with believers, and influence with our community.</h4>
							</div>
						</div>
					</div>
					{/if}
					{if "{promo_boxes:total_rows}" >= 3}<div id="homepage-promos" class="row-fluid">
						{promo_boxes}
						<div class="fluid-margin-md {if '{total_rows}' == '3'}span4{if:else}span3{/if}">
							<a href="{link}" class="thumbnail first">
								{if '{total_rows}' == '3'}
									{!-- normal version --}{exp:ce_img:single src="{image}" filename_suffix="_290_130" width="290" height="130" crop="yes" allow_scale_larger="yes" unique="none"}{!-- retina version --}{exp:ce_img:single src="{image}" filename_suffix="_290_130@2x" width="580" height="260" output=" " crop="yes" allow_scale_larger="yes" unique="none"}
								{if:else}
									{!-- normal version --}{exp:ce_img:single src="{image}" filename_suffix="_210_98" width="210" height="98" crop="yes" allow_scale_larger="yes" unique="none"}{!-- retina version --}{exp:ce_img:single src="{image}" filename_suffix="_210_98@2x" width="420" height="196" output=" " crop="yes" allow_scale_larger="yes" unique="none"}
								{/if}
								<h4>{title}</h4>
							</a>
						</div>
						{/promo_boxes}
					</div><!-- end #homepage-promos -->{/if}
				</div><!-- end .span12 -->
			</div>	
    </div><!-- end #homepage-top.row -->

    <div id="homepage-bottom" class="container">
			<div class="row-fluid">
				<div class="span12">
					<div id="homepage-tabs" class="tabbable tabs-left">
						<ul id="homepage-tab-nav" class="nav nav-tabs">
							{tabs}
							<li{if row_count == "1"} class="active"{/if}><a href="#tab{row_count}" class="btn" data-toggle="tab"><i class="icon-chevron-right"></i>{name}</a></li>
							{/tabs}
						</ul><!-- end #homepage-tab-nav.nav-tabs -->
						<div id="homepage-tab-content" class="tab-content">
							{tabs}
							<div class="tab-pane fade in{if row_count == "1"} active{/if}" id="tab{row_count}">
								{content}
							</div><!-- end #tab{row_count}.tab-pane -->
							{/tabs}
						</div><!-- end #homepage-tab-content.tab-content -->
						</div><!-- end .tabbable -->
						
				</div><!-- end .span12 -->
			</div><!-- end #homepage-bottom.row -->
		</div><!-- end .container -->
  {/exp:channel:entries}
  <!-- End Page Content -->

</div>
{embed="global/footer"}
{js_foot}

<script>
  $(function() {
    var tabHoverConfig = { over: showTabContent, timeout: 500, out: nothing };
    function showTabContent(){
      if($(this).hasClass('hoverblock'))
        return;
      else
        $(this).find('a').tab('show');
    };
    function nothing(){};
    
    $('#jumbotron').carousel();
    
    if (Modernizr.touch){
      // TOUCH SCREENS
      $("#jumbotron img").swipe( {
        swipeLeft:function(event, direction, distance, duration, fingerCount) {
          $("#jumbotron").carousel('pause').carousel('next');
        },
        swipeRight:function(event, direction, distance, duration, fingerCount) {
          $("#jumbotron").carousel('pause').carousel('prev');
        },
        threshold:0
      });
    } else {
      // DESKTOPS
      
      $('.nav-tabs > li ').hoverIntent(tabHoverConfig);
    };
    
    $('.nav-tabs > li').find('a').click( function(){
      $(this).parent().siblings().addClass('hoverblock');
    });
  });
</script>

{countdownjs}
{body_html_end}
{/exp:ce_cache:it}