{html_head}

{metatags}

{exp:seo_lite use_last_segment="yes"}

{stylesheets}
{js_head}
{html_head_end}

{embed="global/header"
  entry_id="{last_segment_absolute_id}"
  url_title="{last_segment_absolute}"
  template="index"
  template_group="home"
}

<div id="content">
  
  <!-- Begin Page Content -->












<body>
<!-- Header -->
<header>
    <div class="wrapper">

			{embed='_assets/topbar'}    
        
        <div id="main_menu">
            
            {embed="_assets/menu"}
		
        </div> <!-- main_menu -->
        <div class="clearboth"><!-- --></div>
    
    </div>
</header> <!-- header -->
<!-- end of Header -->

<!-- Checkout -->
<div id="general" class="page">
	<div class="wrapper">
    
	    <div id="main">
	            
	    	{exp:brilliant_retail:checkout_thankyou}         
		        <h1>Thank you for your order (#{order_id})</h1>
	
	    		<p>
	    			We sent a copy of the order to your email and you
	    			can review the order at anytime in your <a href="{exp:brilliant_retail:path src='customer'}">customer account</a>.
	    			<br />
	    			<br />
	    			If you have any questions please <a href="{path=contact}">contact us</a> or call us at {exp:brilliant_retail:store}{phone}{/exp:brilliant_retail:store}.
	    			<br />
	    			<br />
	    			Sincerely,<br />
	    			{site_name}
	    		</p>
	    	{/exp:brilliant_retail:checkout_thankyou}         
	
		</div> <!-- main -->

    </div>
</div> <!-- general -->
<!-- end of Checkout Page -->

{embed="_assets/footer"}













  <!-- End Page Content -->

</div>
{embed="global/footer"}
{js_foot}
{countdownjs}
{body_html_end}