//
// Responsive: Landscape phone to desktop/tablet
// --------------------------------------------------


@media (max-width: 980px) {
  //Stretch btns to full length of span
  .btn-lg {
    width: 100% !important;
    margin-top: 10px !important;
  }
}
@media (max-width: 767px) {
  /* styles for mobile */

  //Stretch widgets to full length of span
  .sidebar {
    width: 100% !important;
    padding: 0 !important;
  }
  //Allow more space for copy in span
  .tab-content {
    padding: 5px !important;
  }
  //Remove carets from homepage subnav
  .nav-tabs > li.active > a:after {
    border: 0 !important;
  }
  //Center Sermon items
  .sermon-item {
    width: 220px !important;
    margin: 0 auto !important;
  }
  //Giving Page
  #gnav {
    font-size: 13px !important;
  }
  .ch1 {
    font-size: 30px !important;
  }
  #givingWrap {
    h1 {font-size: 26px !important;} 
    h2 {font-size: 22px !important;}
    .pull-right {
      float: left !important;
    }
    .causes {
      font-size: 15px !important;
    }
    p, #serve p {
     font-size: 16px !important;
    }
    #outer {
      padding: 10% 5px !important;
    }
  }
  #subscribe {
    .sign-up {
      text-align: center !important;
    } 
    .btn {
      font-size: 12px;
      font-weight: bold;
      width: 100% !important;
    }
    input {
      width: 100% !important;
    }
   } 
  // Padding to set content in a bit
  body {
//    padding-left: 20px;
//    padding-right: 20px;
    overflow-x: hidden !important;
  }
	section#events {
		background: none !important;
		border: 0 !important;
		nav, ul {
			width: 100% !important;
		}
	}
  #masthead {
    padding-top: 20px;
    nav ul li {
      padding: 0;
    }
  }
  //Keep main logo proportional
  .logo {
    background-size: 100% auto;
    width: 228px !important;
  }
  //Text wrap for giving page
  .text-wrap {  
    width: 100% !important;
  }


	.nav-tabs {
		min-width: 20px !important;
		a {
			font-size: 13px !important;
			i {
				line-height: 2em !important;
			}
		}
	}
  .span9 {
    width: 100% !important;
  }
  // Negative indent the now static "fixed" navbar
  .navbar-fixed-top,
  .navbar-fixed-bottom,
  .navbar-static-top {
    margin-left: -20px;
    margin-right: -20px;
  }
  // Remove padding on container given explicit padding set on body
  .container-fluid {
    padding: 0;
  }

  // TYPOGRAPHY
  // ----------
  // Reset horizontal dl
  .dl-horizontal {
    dt {
      float: none;
      clear: none;
      width: auto;
      text-align: left;
    }
    dd {
      margin-left: 0;
    }
  }

  // GRID & CONTAINERS
  // -----------------
  // Remove width from containers
  .container {
    width: auto;
  }
  // Fluid rows
  .row-fluid {
    width: 100%;
  }
  // Undo negative margin on rows and thumbnails
  .row,
  .thumbnails {
    margin-left: 0;
  }
  .thumbnails > li {
    float: none;
    margin-left: 0; // Reset the default margin for all li elements when no .span* classes are present
  }
  // Make all grid-sized elements block level again
  [class*="span"],
  .row-fluid [class*="span"] {
    float: none;
    display: block;
    width: 100%;
    margin-left: 0;
    @include box-sizing(border-box);
  }
  .span12,
  .row-fluid .span12 {
    width: 100%;
    @include box-sizing(border-box);
  }

  // FORM FIELDS
  // -----------
  // Make span* classes full width
  .input-large,
  .input-xlarge,
  .input-xxlarge,
  input[class*="span"],
  select[class*="span"],
  textarea[class*="span"],
  .uneditable-input {
    @include input-block-level();
  }
  // But don't let it screw up prepend/append inputs
  .input-prepend input,
  .input-append input,
  .input-prepend input[class*="span"],
  .input-append input[class*="span"] {
    display: inline-block; // redeclare so they don't wrap to new lines
    width: auto;
  }
  .controls-row [class*="span"] + [class*="span"] {
    margin-left: 0;
  }

  // Modals
  .modal {
    position: fixed;
    top:   20px;
    left:  20px;
    right: 20px;
    width: auto;
    margin: 0;
    &.fade.in { top: auto; }
  }

}



// UP TO LANDSCAPE PHONE
// ---------------------

@media (max-width: 480px) {

  // Smooth out the collapsing/expanding nav
  .nav-collapse {
    -webkit-transform: translate3d(0, 0, 0); // activate the GPU
  }

  // Block level the page header small tag for readability
  .page-header h1 small {
    display: block;
    line-height: $baseLineHeight;
  }

  // Update checkboxes for iOS
  input[type="checkbox"],
  input[type="radio"] {
    border: 1px solid #ccc;
  }

  // Remove the horizontal form styles
  .form-horizontal {
    .control-label {
      float: none;
      width: auto;
      padding-top: 0;
      text-align: left;
    }
    // Move over all input controls and content
    .controls {
      margin-left: 0;
    }
    // Move the options list down to align with labels
    .control-list {
      padding-top: 0; // has to be padding because margin collaspes
    }
    // Move over buttons in .form-actions to align with .controls
    .form-actions {
      padding-left: 10px;
      padding-right: 10px;
    }
  }

  // Modals
  .modal {
    top:   10px;
    left:  10px;
    right: 10px;
  }
  .modal-header .close {
    padding: 10px;
    margin: -10px;
  }

  // Carousel
  .carousel-caption {
    position: static;
  }

}
