{html_head}

{metatags}

{exp:seo_lite use_last_segment="yes"}

{stylesheets}
{js_head}
{html_head_end}

{embed="global/header"
  entry_id="{last_segment_absolute_id}"
  url_title="{last_segment_absolute}"
  template="index"
  template_group="home"
}

<div id="content">
  
  <!-- Begin Page Content -->













<body>
<!-- Header -->
<header>
    <div class="wrapper">

			{embed='_assets/topbar'}    
        
        <div id="main_menu">
            
            {embed="_assets/menu"}
		
        </div> <!-- main_menu -->
        <div class="clearboth"><!-- --></div>
    
    </div>
</header> <!-- header -->
<!-- end of Header -->

<!-- General -->
<div id="wishlist" class="page">
	<div class="wrapper">

    {exp:brilliant_retail:wishlist_public hash="{segment_2}"}

		{no_results}			
			<h4 id="wishlist_heading">Wishlist</h4>
			<div id="wishlist_noresult">There are no items in your wishlist</div>
		{/no_results}
		
		<div id="wishlist_left">
			<div id="wishlist_customer">
				<img src="{theme}/images/profile-pic.jpg" alt="" />
				<div>
					<h3>{screen_name}</h3>
					{br_fname} {br_lname}<br />
					{br_billing_city}, {br_billing_state}
				</div>
			</div>
			<img src="{theme}/images/sample_ad.jpg" id="wishlist_ad" />
		</div>
		
    	<div id="subject">

		    	<h4 id="wishlist_heading">Wishlist</h4>
		    		
		    		<table id="wishlist" cellspacing="0">
		            	<thead>
		                	<tr>
		                    	<th class="col1">Image</th>
		                    	<th class="col2" colspan="2">Product</th>
		                    </tr>
		                </thead>
		                <tbody>
							{results}
								<tr>
									<td>
										<input type="hidden" name="product_id[]" value="{product_id}" />
										<a href="/product/{url}">{exp:brilliant_retail:image src="{image_thumb}" width="144" height="120"}</a></td>
									<td>
										<a href="/product/{url}">{title}</a><br />
										{notes}<br />
										</td>
									<td>
										{form_open}
											<input type="hidden" name="product_id" value="{product_id}" />
											<div class="btn">
												<input type="submit" value="Add to Cart" class="inpbtn" />
											</div>
										{form_close}</td>
								</tr>			
							{/results}
						</tbody>
					</table>
			{/exp:brilliant_retail:wishlist_public}
        </div> <!-- subject -->
        <div class="clearboth"><!-- --></div>
    </div>
</div> 
<!-- account -->
<!-- end of Account Page -->

{embed="_assets/footer"}













  <!-- End Page Content -->

</div>
{embed="global/footer"}
{js_foot}
{countdownjs}
{body_html_end}