{html_head}

{metatags}

{exp:seo_lite use_last_segment="yes"}

{stylesheets}
{js_head}
{html_head_end}

{embed="global/header"
  entry_id="{last_segment_absolute_id}"
  url_title="{last_segment_absolute}"
  template="index"
  template_group="home"
}

<div id="content">
  
  <!-- Begin Page Content -->












<body>
<!-- Header -->
<header>
    <div class="wrapper">

			{embed='_assets/topbar'}    
        
        <div id="main_menu">
            
            {embed="_assets/menu"}
		
        </div> <!-- main_menu -->
        <div class="clearboth"><!-- --></div>
    
    </div>
</header> <!-- header -->
<!-- end of Header -->

<div id="catalog" class="page">
	<div class="wrapper">
	
{exp:brilliant_retail:catalog}

    <p id="crumbs"><a href="{exp:brilliant_retail:path src=''}">Home</a> &nbsp;&gt;&nbsp; {category_title} 
    {result_filter_set}
	    &nbsp;&gt;&nbsp;
	    <b>{filter_set_section}:</b> {filter_set_label}&nbsp;<a href="{exp:brilliant_retail:path src='{filter_set_remove}'}" class="remove_filter">X</a>
    {/result_filter_set}</p>
    
<!-- Catalog -->

        <div id="sidebar">
            <h3>Shop by</h3>
            {exp:brilliant_retail:catalog_layered}
            	<h4>{result_layered_label}:</h4>
            	<ul class="shopby">
            		{result_layered_item}
            			<li><a href="{exp:brilliant_retail:path src='{result_layered_link}'}">{result_layered_title} {result_layered_count}</a></li>
            		{/result_layered_item}
            	</ul>
            {/exp:brilliant_retail:catalog_layered}
        </div> <!-- sidebar -->
        
        
        <div id="subject">
			
			{if '{category_image}' != ''}
	            <div id="banner">
	            	<img src="{category_image}" alt="" />
	            </div> <!-- banner -->
			{/if}
			
			{category_detail}
			
			<p class="items">
            	{result_paginate}
            		{if '{show_paginate}' == 'yes'}
	            		{result_range} of {total_results} Items | 
	            		{back} <a href="{exp:brilliant_retail:path src='{link_back}'}">&laquo;</a> {/back}
	            	{if:else}
	            		{total_results} Items | 
					{/if}
						
						{pages}
							<a href="{exp:brilliant_retail:path src='{link_page}'}" {if '{link_active}' == 'yes'}class="active"{/if}>{page_number}</a>
						{/pages}
            		
            		{if '{show_paginate}' == 'yes'}
	            		{next}<a href="{exp:brilliant_retail:path src='{link_next}'}">&raquo;</a> {/next}| 
						<a href="{exp:brilliant_retail:path src='{link_show_all}'}">Show All</a> 
					{/if}
            	{/result_paginate}
            </p>
            <p class="sort">
            	<b>View:</b>  
            	<a href="{exp:brilliant_retail:path src='{link_grid}'}" {if '{mode}' == 'grid'}class="active"{/if}>Grid</a> | 
            	<a href="{exp:brilliant_retail:path src='{link_list}'}" {if '{mode}' == 'list'}class="active"{/if}>List</a>
            	&nbsp;
            	&nbsp;
            	<b>Sort by: </b> 
            	<a href="{exp:brilliant_retail:path src='{link_sort_relevance}'}" {if '{sort_selected}' == 'relevance'}class="active"{/if}>Relevance</a> | 
            	<a href="{exp:brilliant_retail:path src='{link_sort_price}'}" {if '{sort_selected}' == 'price'}class="active"{/if}>Price</a> | 
            	<a href="{exp:brilliant_retail:path src='{link_sort_name}'}" {if '{sort_selected}' == 'name'}class="active"{/if}>Name</a>
            </p>
            <div class="clearboth"><!-- --></div>
				
				{no_results}
					<div id="br_alert">This category contains no products</div>	
				{/no_results}

			    <div id="{mode}">
	                <ul>
	                   	{results}
							<li id="product_{product_count}">
								{form_open}
									{!-- 
										Show the results. By default the system will show in grid mode.
									!--}
									{if '{mode}' == 'grid'}
				                   	    	<a href="{exp:brilliant_retail:path src='product/{url}'}"><img class="overlay" src="{theme}/images/0.gif" alt="" /></a>
					                        <div>
					                        	<a href="{exp:brilliant_retail:path src='product/{url}'}" style="height:200">{exp:brilliant_retail:image src="{image_thumb}" width="175" height="210"}</a>
					                        </div>
					                        	<p class="title"><a href="{exp:brilliant_retail:path src='product/{url}'}">{exp:snippet total="60"}{title}{/exp:snippet}</a></p>
					                        	{!-- 
					                        		You can use the {in_stock} variable to test if a product is available 
					                        		or test in_stock == FALSE as shown below to see if it is out of stock. 
					                        	!--}
					                        	{if in_stock == FALSE}
					                        		<p style="font-size:12px;color:#CCC">Out of Stock</p>
					                        	{/if}
					                        {price_html}
					                {/if}
					                {if '{mode}' != 'grid'}
				                   	    	<div class="pic">
					                    		<a href="{exp:brilliant_retail:path src='product/{url}'}">{exp:brilliant_retail:image src="{image_thumb}" width="75" height="90"}</a></div>
					                        <div class="desc">
					                        	<h5><a href="{exp:brilliant_retail:path src='product/{url}'}">{title}</a></h5>
					                            <p>{exp:snippet total="200"}{detail}{/exp:snippet}</p>
					                            <p><a href="{exp:brilliant_retail:path src='product/{url}'}">+Add to cart</a></p>
					                        </div>
					                        <div class="price">{price_html}</div>
					                        <div class="clearboth"><!-- --></div>
					                {/if}
								{form_close}
							</li>
						{/results}
	                </ul>
	                <div class="clearboth"><!-- --></div>
	            </div> <!-- grid -->
           	
           	            <p class="items">
            	{result_paginate_bottom}
            		{if '{show_paginate}' == 'yes'}
	            		{result_range} of {total_results} Items | 
	            		{back}<a href="{exp:brilliant_retail:path src='{link_back}'}">&laquo;</a> {/back}
	            	{if:else}
	            		{total_results} Items | 
					{/if}
						
						{pages}<a href="{exp:brilliant_retail:path src='{link_page}'}" {if '{link_active}' == 'yes'}class="active"{/if}>{page_number}</a>&nbsp;{/pages}
            		
            		{if '{show_paginate}' == 'yes'}
	            		{next}<a href="{exp:brilliant_retail:path src='{link_next}'}">&raquo;</a> {/next}| 
						<a href="{exp:brilliant_retail:path src='{link_show_all}'}">Show All</a> 
					{/if}
            	{/result_paginate_bottom} 
            </p>
            <p class="sort">
            	<b>View:</b>  
            	<a href="{exp:brilliant_retail:path src='{link_grid}'}" {if '{mode}' == 'grid'}class="active"{/if}>Grid</a> | 
            	<a href="{exp:brilliant_retail:path src='{link_list}'}" {if '{mode}' == 'list'}class="active"{/if}>List</a>
            	&nbsp;
            	&nbsp;
            	<b>Sort by: </b> 
            	<a href="{exp:brilliant_retail:path src='{link_sort_relevance}'}" {if '{sort_selected}' == 'relevance'}class="active"{/if}>Relevance</a> | 
            	<a href="{exp:brilliant_retail:path src='{link_sort_price}'}" {if '{sort_selected}' == 'price'}class="active"{/if}>Price</a> | 
            	<a href="{exp:brilliant_retail:path src='{link_sort_name}'}" {if '{sort_selected}' == 'name'}class="active"{/if}>Name</a>
            </p>
            <div class="clearboth"><!-- --></div>
        
        </div> <!-- subject -->        
        <div class="clearboth"><!-- --></div>        

{/exp:brilliant_retail:catalog}
        
    </div>
</div> <!-- catalog -->
<!-- end of Catalog Page -->

{embed="_assets/footer"}













  <!-- End Page Content -->

</div>
{embed="global/footer"}
{js_foot}
{countdownjs}
{body_html_end}