{html_head}

{metatags}

{exp:seo_lite use_last_segment="yes"}

{stylesheets}
{js_head}
{html_head_end}

{embed="global/header"
  entry_id="{last_segment_absolute_id}"
  url_title="{last_segment_absolute}"
  template="index"
  template_group="home"
}

<div id="content">
  
  <!-- Begin Page Content -->












<body>
<!-- Header -->
<header>
    <div class="wrapper">

			{embed='_assets/topbar'}    
        
        <div id="main_menu">
            
            {embed="_assets/menu"}
		
        </div> <!-- main_menu -->
        <div class="clearboth"><!-- --></div>
    
    </div>
</header> <!-- header -->
<!-- end of Header -->

<!-- Home Page -->
<div id="home" class="page">
	<div class="wrapper">
    
        <div id="promos">
            <div class="hp_slider" style="position:absolute;">
                <a href="{exp:brilliant_retail:path src='catalog/products'}"><img src="/media/images/home_promo_01.jpg" alt="" /></a>
            </div>
            <div class="hp_slider" style="position:absolute;">
                <a href="{exp:brilliant_retail:path src='catalog/services'}"><img src="/media/images/home_promo_02.jpg" alt="" /></a>
            </div>
            <div class="hp_slider" style="position:absolute;">
                <a href="{exp:brilliant_retail:path src='catalog/downloads'}"><img src="/media/images/home_promo_03.jpg" alt="" /></a>
            </div>
            <p class="ctrl" id="promo_control"></p>   
        </div> <!-- promos -->
    </div>
</div> <!-- home -->
<!-- end of Home Page -->

{embed="_assets/footer"}













  <!-- End Page Content -->

</div>
{embed="global/footer"}
{js_foot}
{countdownjs}
{body_html_end}