{exp:ce_cache:it id="page"}
{html_head}

{metatags}

{exp:seo_lite title_override="Events Calendar:  |&nbsp;{site_name}" default_keywords="mt rubidoux events, mt rubidoux sda events" default_description="Mt. Rubidoux SDA Church events calendar."}
<meta name="robots" content="index, follow" />

{stylesheets}
{js_head}
{html_head_end}

{embed="global/header"
  entry_id="{last_segment_absolute_id}"
  url_title="{last_segment_absolute}"
  template="index"
  template_group="events"
}

<div id="content" class="container">
  {embed="global/breadcrumbs"}
  
  <!-- Begin Page Content -->
  <section id="events" class="row page-content">
    {embed="events_inc/side_column"}
    <div id="events-listing" class="span9">
      <section id="upcoming-events" class="calendar-event-list filter-calendar" data-begin="today" data-end="1 year" data-start-at="15" data-increment-by="15">
        {exp:calendar:calendars {if segment_3 != ""}calendar_name="{segment_3}"{/if}}
        {embed="events_inc/event_preview" cal_id="{calendar_id}" from="today" limit="15"}
        {if no_results}
        <div class="row">
          <div class="span9 calendar-day-wrap">
            <div class="calendar-no-results">Sorry, no calendar matching your search was found.</div>
          </div>
        </div>
        {/if}
        {/exp:calendar:calendars}
      </section>
    </div>
  </section>
  <!-- End Page Content -->

</div>
{embed="global/footer"}
{js_foot}
{countdownjs}
{body_html_end}
{/exp:ce_cache:it}