{exp:ce_cache:it id="page"}
{html_head}

{metatags}

<meta name="description" content="Description goes here" />
<title>Title goes here</title> 

{stylesheets}
{js_head}
{html_head_end}

{embed="global/header"
  entry_id="{last_segment_absolute_id}"
  url_title="{last_segment_absolute}"
  template="index"
  template_group="events"
}

<div id="content" class="container">
  {embed="global/breadcrumbs"}
  
  <!-- Begin Page Content -->
  <section id="events" class="row page-content">
    {embed="events_inc/side_column"}
    <div id="events-listing" class="span9">
      <section id="upcoming-events" class="calendar-event-list filter-day{if segment_3 == "by_calendar"} filter-calendar-day{/if}" data-start-at="15" data-increment-by="15">
				{embed="events_inc/event_preview" limit="15"}
      </section>
    </div>
  </section>
  <!-- End Page Content -->

</div>
{embed="global/footer"}
{js_foot}
{countdownjs}
{body_html_end}
{/exp:ce_cache:it}