{exp:ce_cache:it id="page"}
{html_head}

{metatags}

{if segment_1 == "media" AND segment_2 == ""}
  {exp:seo_lite title_override="Media |&nbsp;{site_name}"}
{if:elseif segment_2 == "sermons"}
  {exp:seo_lite title_override="Sermons |&nbsp;{site_name}"}
{if:elseif segment_2 != "sermons" AND segment_2 != ""}
  {exp:seo_lite title_override="{last_segment_category_name} |&nbsp;{site_name}"}
{if:else}
  {exp:seo_lite use_last_segment="yes"}
{/if}

{stylesheets}
{js_head}
{html_head_end}

{embed="global/header"
  entry_id="{last_segment_absolute_id}"
  url_title="{last_segment_absolute}"
  template="index"
  template_group="events"
}
<div id="content" class="container">
  {embed="global/breadcrumbs"}

  <section class="row page-content" id="calendar-event">
    <div class="span7">
      <div id="calendar-event-promo-header">
        {exp:calendar:events orderby="title" sort="asc" event_id="{segment_3}" date_range_start="99 months ago" show_months="999" dynamic="off" parse="inward"}
        <h1>{event_title}</h1>
        {!--{if event_hosted_by}<h2>{event_hosted_by}</h2>{/if}--}
        <h2>
          <i class="icon-calendar"></i> 
    			{if event_all_day}{event_first_date format="%l, %F %j, %Y"}{if:else}{event_first_date format="%l, %F %j, %Y at %g:%i%a"}{/if}
    			{if event_never_ends}{if:else}
    				{if "{event_first_date format='%Y%m%d%g%i%a'}" != "{event_last_date format='%Y%m%d%g%i%a'}"} <b>-</b>
    					{if "{event_first_date format="%Y%m%d"}" != "{event_last_date format="%Y%m%d"}"}
    						{if event_all_day}{event_last_date format="%l, %F %j, %Y"}{if:else}{event_last_date format="%l, %F %j, %Y at %g:%i%a"}{/if}
    					{if:else}
    						{event_last_date format="%g:%i%a"}
    					{/if}
    				{/if}
    			{/if}
        </h2>
        {if event_location}<h2><i class="icon-map-marker"></i> {event_location}{location}{/event_location}</h2>{if:else}{if event_location_off_site}<h2><i class="icon-map-marker"></i> {event_location_off_site}{location_title}, {address}, {city}, {state} {zipcode}{/event_location_off_site}</h2>{/if}{/if}
        <p class="add-to-calendar"><a href="{path='events/export/event'}/{segment_3}/"><i class="icon-calendar"></i> Add to my calendar</a></p>
        {/exp:calendar:events}
      </div>
      <div id="calendar-event-promo">
        {exp:calendar:events orderby="title" sort="asc" event_id="{segment_3}" date_range_start="99 months ago" show_months="999" dynamic="off" parse="inward"}
        {if event_video != ""}
        <div id="calendar-event-video-player">
          {exp:antenna url='{event_video}' max_width="540" max_height="405" cache_minutes="120" wmode="transparent" youtube_rel='0' vimeo_byline='false' vimeo_title='false' vimeo_portrait='false'}
          {if embed_code}{embed_code}{if:else}<div class="no-video">Sorry, there was a problem displaying this video.</div>{/if}
          {/exp:antenna}
        </div>
        {/if}
        
        {if event_summary}
        <div id="calendar-event-details" class="calendar-event-section">
          <h4 class="event-description-title">Event Details</h4>
          <div class="calendar-event-section-content">
            {event_summary}
          </div>
        </div>
        {/if}
        
        <div class="row">
          <div class="span7 calendar-event-section">
            <div class="row">
              {if event_downloads}<div id="calendar-event-downloads" class="span3 calendar-event-section">
                {event_downloads}
              </div>{/if}
          
              {if event_contact != "" OR event_hosted_by != ""}
              <div class="span3{if event_downloads} offset1{/if} calendar-event-sub-section">
                <h4>Organizer</h4>
                <div class="calendar-event-section-content">
                  {if event_hosted_by}<p>Hosted by: {event_hosted_by}</p>{/if}
                  {if event_contact}<p>Contact: {event_contact}</p>{/if}
                </div>
              </div>
              {/if}
            </div>
          </div>
        </div>
        
        
        
        
        {/exp:calendar:events}
      </div>
    </div>
    <div id="calendar-event-details" class="span5">
      {if logged_in_group_id == "1"}
      <div class="admin hide">
        {if segment_4 == "success"}<div class="calendar_success">Event has been successfully created!</div>{/if}
        {if segment_4 == "updated"}<div class="calendar_success">Event has been successfully updated!</div>{/if}
        <p><b>Admin:</b> <a href="{path='events/edit'}/{segment_3}/">Update this Event</a></p>
        <hr />
      </div>
      {/if}
      
      {exp:calendar:events orderby="title" sort="asc" event_id="{segment_3}" date_range_start="99 months ago" show_months="999" dynamic="off"}
      
      {if event_image}
      <div id="calendar-event-promo-image">
        {!-- normal version --}{exp:ce_img:single src="{event_image}" max_width="540" allow_scale_larger="yes" filename="event_{segment_3}_540" unique="none"}
        {!-- retina version --}{exp:ce_img:single src="{event_image}" filename_suffix="@2x" max_width="1080" output=" "  allow_scale_larger="yes" filename="event_{segment_3}_540" unique="none"}
      </div>
      {/if}
      
      
      <div id="calendar-event-when-where" class="calendar-event-section">
        <h4>When &amp; Where</h4>
        <div class="calendar-event-section-content">
          {if event_location}
          <p>{event_location}{location}{if "{show_map}" == "y"}<a href="#campusMapModal" class="btn btn-mini btn-map" role="button" data-toggle="modal">View Campus Map</a>{/if}{/event_location}</p>
          {if:else}
          {if event_location_off_site}
          <div id="calendar-event-map"></div>
          <p>{event_location_off_site}{location_title}<br />{address}<br />{city}, {state} {zipcode}{/event_location_off_site}</p>{/if}
          {/if}

    			<p>
          {if event_all_day}{event_first_date format="%l, %F %j, %Y"}{if:else}{event_first_date format="%l, %F %j, %Y at %g:%i%a"}{/if}
    			{if event_never_ends}{if:else}
    				{if "{event_first_date format='%Y%m%d%g%i%a'}" != "{event_last_date format='%Y%m%d%g%i%a'}"} <b>-</b>
    					{if "{event_first_date format="%Y%m%d"}" != "{event_last_date format="%Y%m%d"}"}
    						{if event_all_day}{event_last_date format="%l, %F %j, %Y"}{if:else}{event_last_date format="%l, %F %j, %Y at %g:%i%a"}{/if}
    					{if:else}
    						{event_last_date format="%g:%i%a"}
    					{/if}
    				{/if}
    			{/if}
          </p>
        </div>
      </div>
      
      
      

      {exp:calendar:events orderby="title" sort="asc" event_id="{segment_3}" date_range_start="99 months ago" show_months="999" dynamic="off"}
      <div id="media-witness" class="calendar-event-section">
        <h4>Share This Event:</h4>
        {embed="global/social_buttons" title="You're invited to {event_title}"}
      </div>
      {/exp:calendar:events}
        
        
      {if event_recurs}
      <div class="event-occurrences calendar-event-section">
        <div class="event-occurrences-upcoming">
          <h4 class="occurrences">Upcoming Occurrences:</h4>
          <ul>
             {exp:calendar:occurrences event_id="{segment_3}" date_range_start="today" date_range_end="3 months" upcoming_occurrences_limit="5" prior_occurrences_limit="0" dynamic="off"}
             <li>{occurrence_start_date format="%D, %M %j, %Y at %g:%i%a"}{if "{occurrence_start_date format='%Y%m%d%g%i%a'}" != "{occurrence_end_date format='%Y%m%d%g%i%a'}"} - {if "{occurrence_start_date format='%Y%m%d'}" != "{occurrence_end_date format='%Y%m%d'}"}{occurrence_end_date format="%D, %M %j, %Y at %g:%i%a"}{if:else}{occurrence_end_date format="%g:%i%a"}{/if}{/if} &nbsp; <small><a href="{path='events/day'}/{occurrence_start_date format="%Y/%m/%d"}/">View other events on this day</a></small></li>
             {if no_results}
             <li>No upcoming occurrences in the timeframe specified for this event.</li>
             {/if}
             {/exp:calendar:occurrences}
          </ul>
        </div>
    
        <div class="event-occurrences-past hide">
          <h4 class="occurrences">Past Occurrences:</h4>
          <ul>
             {exp:calendar:occurrences event_id="{segment_3}" date_range_start="3 months ago" date_range_end="today" upcoming_occurrences_limit="0" prior_occurrences_limit="3" dynamic="off"}
             <li>{occurrence_start_date format="%D, %M %j, %Y at %g:%i%a"}{if "{occurrence_start_date format='%Y%m%d%g%i%a'}" != "{occurrence_end_date format='%Y%m%d%g%i%a'}"} - {if "{occurrence_start_date format='%Y%m%d'}" != "{occurrence_end_date format='%Y%m%d'}"}{occurrence_end_date format="%D, %M %j, %Y at %g:%i%a"}{if:else}{occurrence_end_date format="%g:%i%a"}{/if}{/if} &nbsp; <small><a href="{path='events/day'}/{occurrence_start_date format="%Y/%m/%d"}/">View other events on this day</a></small></li>
             {if no_results}
             <li>No prior occurrences in the timeframe specified for this event.</li>
             {/if}
             {/exp:calendar:occurrences}
          </ul>
        </div>
      </div>
      {/if}
    {/exp:calendar:events}
  
    </div>
  </section>



</div>
{embed="global/footer"}
{js_foot}
<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>
<script type="text/javascript" src="/themes/third_party/mx_google_map/mxgooglemap.js"></script>
{exp:calendar:events orderby="title" sort="asc" event_id="{segment_3}" date_range_start="99 months ago" show_months="999" dynamic="off" parse="inward"}
{if event_location}
<div id="campusMapModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="campusMapModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Mt. Rubidoux Campus Map</h3>
  </div>
  <div class="modal-body">
    <img src="/assets/img/map_campus.jpg">
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">OK</button>
  </div>
</div>
{if:else}{if event_location_off_site}<script type="text/javascript">
marker_icons_path = "/themes/third_party/mx_google_map/maps-icons/";

$(document).ready(function() { 
   $("#calendar-event-map").mxgoogleMaps({
  latitude:  {event_location_off_site}{latitude}{/event_location_off_site},
  longitude:  {event_location_off_site}{longitude}{/event_location_off_site},
     zoom:  16,
     markers: [{event_location_off_site}
{marker_id : {point_id},
      latitude: {latitude},
      longitude: {longitude},
      draggable: false,
      icon: "{icon}",
   //infowindows template:
      infow:"<strong>{location_title}</strong><br/>{address}<br>{city}, {state} {zipcode}"
},
{/event_location_off_site}]

     ,mapTypeId: google.maps.MapTypeId.ROADMAP
     ,navigationControl: true
     ,scaleControl: true
     ,mapTypeControl: true
     ,mapTypeControlOptions: {style: google.maps.MapTypeControlStyle.DROPDOWN_MENU}
     ,scrollwheel:false
     ,disableDoubleClickZoom:true
    }
   ); 

 //marker_list begin
  side_bar_html ="";
  for ( var gmarker in $.mxgoogleMaps.marker)  {
        side_bar_html += '<a  href="javascript:myclick('+gmarker+')">' + $.mxgoogleMaps.marker[gmarker].opts.icon + '<\/a><br>';
  }
  //jQuery("#side_bar").html(side_bar_html);
 //marker_list end

  }); 

 function myclick(i) {
   google.maps.event.trigger($.mxgoogleMaps.marker[i], "click");
 }

</script>{/if}{/if}
{/exp:calendar:events}
{countdownjs}
{body_html_end}
{/exp:ce_cache:it}