{exp:ce_cache:it id="page"}
{html_head}

{metatags}

{exp:seo_lite default_title="Events Calendar" default_keywords="mt rubidoux events, mt rubidoux sda events" default_description="Mt. Rubidoux SDA Church events calendar."}
<meta name="robots" content="index, follow" />

{stylesheets}
{js_head}
{html_head_end}

{embed="global/header"
  entry_id="{last_segment_absolute_id}"
  url_title="{last_segment_absolute}"
  template="index"
  template_group="events"
}

<div id="content" class="container">
  {embed="global/breadcrumbs"}
  
  <!-- Begin Page Content -->
  <section id="events" class="row page-content">
    {embed="events_inc/side_column"}
    <div id="events-listing" class="span9">
      <section id="upcoming-events" class="calendar-event-list calendar-main" data-begin="today" data-end="1 year" data-start-at="15" data-increment-by="15">
        {embed="events_inc/event_preview" from="today" limit="15"}
      </section>
    </div>
  </section>
  <!-- End Page Content -->

</div>
{embed="global/footer"}
{js_foot}
{countdownjs}
<script>
  var Scroll_class = {
    init: function(){
      var self = this;
      
      //container holding articles
      self.$container = $('#upcoming-events');

      //variables usded for counting and loading articles
      self.begin_date = self.$container.data('begin');
      self.end_date = self.$container.data('end');
      self.start_at = self.$container.data('start-at');
      self.increment_by = self.$container.data('increment-by');
      self.current_index = self.start_at;

      //fuses that tell us to stop the ajax calls
      self.at_end = false;
      self.error = false;

      //the actual endless scroll event
      $(document).endlessScroll({
        bottomPixels: 200,
        fireDelay: 500,
        fireOnce: true,
        callback:function(){
          self.get_new_content();
        }
      });
    },
    get_new_content: function(){
      var self = this;

      if(self.at_end || self.error){
        $(document).unbind('scroll');
        return false;
      }

      $.ajax({
        type: "POST",
        url: "/events_inc/main_ajax",
        data: {
          from: self.begin_date,
          to: self.end_date,
          offset: self.current_index,
          limit: self.increment_by
        },
        success: function(data){
          data = $.trim(data);
          if(data == "error"){
            self.error = true;
            return false;
          } else if(data == "end") {
            self.at_end = true;
            return false;
          }

          //add new code to container
          //self.$container.append(data);

          //increment counter
          self.current_index += self.increment_by;
          alert(self.current_index)
        }
      });
    }
  }

  $(document).ready(function(){
    //Scroll_class.init();
  });
</script>
{body_html_end}
{/exp:ce_cache:it}