{exp:ce_cache:it id="page"}
{html_head}

{metatags}

{exp:seo_lite use_last_segment="yes" default_title="Events Calendar" default_keywords="mt rubidoux events, mt rubidoux sda events" default_description="Mt. Rubidoux SDA Church events calendar."}
<meta name="robots" content="index, follow" />

{stylesheets}
{js_head}
{html_head_end}

{embed="global/header"
  entry_id="{last_segment_absolute_id}"
  url_title="{last_segment_absolute}"
  template="index"
  template_group="events"
}

<div id="content" class="container">
  {embed="global/breadcrumbs"}
  
  <!-- Begin Page Content -->
  <section id="events" class="row page-content">
    {embed="events_inc/side_column"}
    <div id="events-listing" class="span9">
      <section id="upcoming-events" class="calendar-event-list filter-month{if segment_3 == "by_calendar"} filter-calendar-month{/if}" data-start-at="15" data-increment-by="15">
        {embed="events_inc/event_preview" limit="15"}
      </section>
    </div>
  </section>
  <!-- End Page Content -->

</div>
{embed="global/footer"}
{js_foot}
{countdownjs}
{body_html_end}
{/exp:ce_cache:it}